[2019-09-09 13:16] toryhaavik commented on #1953
Ah okay. you have to generate a Personal Access Token, and grant it access to 'repo', then use that as the password on the CLI. I'm going to leave this open until I document it in the (upcoming) maintenance guide.

[2019-09-09 14:41] xmnlab commented on #1959
@niviksha could you provide the version of ibis you are using?
if you are not using from master, could you try to install it from that? I think it is already working on master ...

[2019-09-09 15:31] toryhaavik commented on #1956
@xmnlab that gist is great! I think there are two separate sections here, one is documenting how to maintain the codebase and the other is a how-to guide to implement a backend. #1960 will do the first, and then we should move the parts of your gist that talk about philosophy of how to create a backend (string-generated vs expression-generating, etc) into a new section.

[2019-09-09 19:48] #1956 closed

[2019-09-10 21:49] #1954 closed

[2019-09-11 00:02] xmnlab commented on #1920
@mikehinchey for some reason the error you have seems to be related to pandas backend (`ibis/pandas/client.py `)

I am working now on a PR that adds execution_type support to `execute` method .. and I fixed some issues there and it seems your problem doesn't show up. https://github.com/ibis-project/ibis/pull/1964

so probably it will be fixed!

[2019-09-11 20:06] xmnlab commented on #1920
@mikehinchey actually I could reproduce the error here. I am investigating that now.

[2019-09-11 20:41] xmnlab commented on #1920
ibis is treating this column as a category .. and it seems cudf is not allowing this conversion.

probably related: https://github.com/rapidsai/cudf/issues/1664

I am trying to install the new cudf 0.9 to check if the problem was fixed

[2019-09-12 17:57] toryhaavik opened #1966 "Add CI steps to check that formatting/linting is correct"
We have the pre-commit hook, but we should go further and add a step to the CI pipeline that fails if black would try to make formatting changes to a proposed PR.

[2019-09-12 21:00] sgolod opened #1968 "ClickHouse: UnsupportedBackendType: LowCardinality(String)"
Latest version of ibis doesn't has a support of LowCardinality type in ClickHouse.

/usr/local/lib/python3.7/dist-packages/ibis/clickhouse/client.py in __init__(self, typename, nullable)
     52         base_typename = m.groups()[0]
     53         if base_typename not in _clickhouse_dtypes:
---> 54             raise com.UnsupportedBackendType(typename)
     55         self.typename = base_typenam

[2019-09-13 13:54] toryhaavik commented on #1966
Do you know the exact reason we pin to such a specific version of black in the pre-commit hook? We'll need to change the requirements.txt to match that specific version if we want to implement this.

[2019-09-13 13:59] cpcloud commented on #1966
Because black was incorrectly adding a trailing comma to `**kwargs` in function signatures, which isn't valid syntax in Python 3.5. It is however valid syntax in 3.5 to add a trailing comma to `**kwargs` at the call site.

[2019-09-13 14:02] toryhaavik commented on #1966
ah, right, i remember now

[2019-09-13 14:03] toryhaavik commented on #1966
i think the best place to put this is in linux.yml around here ```- bash: docker-compose run ibis flake8
      displayName: 'Lint'```

I don't quite understand how the `docker-compose run` thing works though

[2019-09-18 17:12] icexelloss opened #1970 "bug: filter() followed by drop() fails with Csv backends"
This line fails with Csv backend:

https://github.com/ibis-project/ibis/pull/1967/files#diff-365b389d018694086c2001fa6cfe0d4fR39

Stacktrace:

[code]

[2019-09-21 23:55] xmnlab opened #1975 "question: percent_rank vs cume_dist"
It seems the Ibis percent_rank operation is in fact the `cume_dist` SQL operation as explained at [1].

So how could we implement `percent_rank` SQL operation?

Suggestion 1:
- maybe ibis `percent_rank` could have one optional argument like `cume_dist` (default: True)
- and if it is false maybe we can test that using [2], but it means that we should add `scipy` as a dependence.

any thoughts about

[2019-09-22 21:44] xmnlab commented on #1975
suggestion 2:

- propose a change on pandas github to handle these 2 cases: percent rank cume_dist

maybe related to this file: https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/algos_rank_helper.pxi.in

I really don't know if this topic was discussed before, maybe @jreback could give us some information/feedback

[2019-09-25 14:06] xmnlab opened #1979 "'PostgreSQLClient' object has no attribute 'engine'"
hey everyone!

`create_table` with postgres backend is raising an error:

[code]

the code used is:

[code]

env:

[code]

[2019-09-25 14:22] xmnlab commented on #1979
it seems it just happens when I pass the arg `database`. As I am using the same dataabase I used for the connection. I think it shouldn't raise this error.

[2019-09-25 15:34] toryhaavik opened #1980 "Azure pipeline is flaky"
The `wait for databases` stage seems to timeout randomly. I have no idea how to get this more stable.

See https://dev.azure.com/ibis-project/ibis/_build/results?buildId=1489&view=logs for an example

[2019-09-25 19:37] xmnlab commented on #1980
maybe we can start with a log when any service doesn't work

I can open a PR for that.

[2019-09-27 15:13] #1957 closed

[2019-09-30 23:44] xmnlab opened #1985 "TypeError: 'IntegerColumn' object is not subscriptable"
[code]

[2019-10-02 20:36] #1944 closed

[2019-10-03 22:35] ian-r-rose opened #1989 "docs: documentation and user experience around the test suite"
@xmnlab encouraged me to open this issue around the user experience for contributors working with the test suite. I'd like to open this by saying, testing against the number of backends that ibis supports, with all of the docker orchestration and n^2 complexity is a *really* hard problem, and I'm kind of amazed that it works at all. So I mean this all as constructive feedback.

As a relative newco

[2019-10-04 00:00] xmnlab commented on #1989
thanks @ian-r-rose  for all the details and explanation in your feedback.

just some comments about the workflow I am using here locally:

- I just start the backend servers I am working, example: `docker-compose up omniscidb postgres`
- to load the test data into the backend, for example:
  - `python ci/datamgr.py download`
  - `python ci/datamgr.py omniscidb`
  - `python ci/datamgr.py postgres`

[2019-10-04 15:39] ian-r-rose commented on #1989
Thanks for the information @xmnlab.

This workflow is really good information, and I would love to see it in the docs. I *mostly* was able to get here, but it took me a lot of time to work it out, and I spent too much time messing with the Makefile and the various other support scripts (e.g. `load_data`) in the CI system. Having this well described (along with a description of the various availabl

[2019-10-04 16:20] xmnlab opened #1990 "The exposed port for MySQL service is not the default 3306"
It seems the port exposed for MySQL service on docker-compose was changed from the default 3306 to 3307 (https://github.com/ibis-project/ibis/blob/master/ci/docker-compose.yml#L16).

Is there any reason? (cc @cpcloud )

Internally it uses 3306 .. but if we want to play with that without `ibis` docker container we need to use `IBIS_TEST_MYSQL_PORT=3307`

so maybe would be good 1) change back the ex

[2019-10-04 17:31] cpcloud commented on #1990
I believe this is because azure fires up MySQL on the image using the default port thus creating a conflict if we start a container externally exposing itself on that same port.

[2019-10-04 22:21] xmnlab commented on #1990
thanks @cpcloud for the feedback!

oh I see .. I will check if it is possible to stop this previous mysql ... or I will open a PR to change the port to 3307 inside the container too

[2019-10-04 22:30] #1966 closed

[2019-10-07 20:58] costrouc opened #1992 "`_get_schema_using_query` not implemented on SQLite backend"
[code]

Does this need to be implented for the SQL backends?

[2019-10-08 01:15] xmnlab commented on #1992
hey @costrouc yes it was not implemented for sqlite backend.

if you want to implement that you can use omniscidb [1] or impala as references ;)

[1] https://github.com/ibis-project/ibis/blob/master/ibis/omniscidb/client.py

[2019-10-08 22:45] xmnlab opened #1993 "Question: Upload a conda package with master branch to a development channel periodically (ibis-dev)"

[2019-10-12 22:11] xmnlab opened #1994 "Default Decimal Precision and Scale for Ibis Expressions"
Allow a custom decimal precision and scale for backend.

Currently ibis uses the default used by Impala (precision=9 and scale=0). It would be good to allow custom parameters for each backend.

[2019-10-12 22:12] xmnlab commented on #1994
see #1969

[2019-10-12 22:43] xmnlab opened #1995 "First Ibis-dev meeting"
That would be great if we could organize a ibis-dev meeting.

I propose for or first meeting October 23rd (Wednesday) at 3 PM EST.

Maybe for the first meeting we can use google hangout and we can discuss about it in our meeting.

If this time doesn't work please propose another time. Also we can try to use some tool to help us to find the best time for this meeting.

Initial agenda: https://hackm

[2019-10-14 21:34] icexelloss opened #1998 "ENH: Pandas backend doesn't handle udf with two parameters correctly with trailing_window"
Reproduce:
[code]

This throws exception:
[code]

[2019-10-16 17:36] toryhaavik commented on #1995
sounds great! that time works for me. i think probably quarterly cadence is good.

[2019-10-17 01:09] xmnlab commented on #1995
link for the meeting time and hangout link: https://arewemeetingyet.com/New%20York/2019-10-23/15:00/Ibis%20dev%20meeting#eyJ1cmwiOiJodHRwczovL2hhbmdvdXRzLmdvb2dsZS5jb20vY2FsbC85Rk9nUVBZcnhCdnQwYnFITk1WUEFFRUU/bm9fcmQifQ==

[2019-10-17 15:06] scottcode commented on #806
@costrouc Steps 1 and 2 mentioned by @cpcloud (writing the client and translation rules) include adding a `sql_server` folder under `ibis/ibis/sql` with `api.py`, `client.py`, and `compiler.py` modules that mimic the corresponding modules found in the other `ibis/ibis/sql` backend folders.

[2019-10-17 15:17] costrouc commented on #806
@scottcode here is the PR that I am working on https://github.com/ibis-project/ibis/pull/1997. Right now limitting the supported operations to get the Pr merged

[2019-10-18 00:39] hjoo opened #2000 "BUG: Pandas, CSV, and Parquet backends do not have inclusive preceding window bound"
According to [documentation](https://docs.ibis-project.org/generated/ibis.window.html?highlight=window#ibis.window), ibis window preceding and following bounds are inclusive.

Pandas, CSV, and Parquet backends have exclusive preceding window boundaries.

Example (taken from ibis/all/test_window.py):
[code]

[2019-10-18 06:58] yhOliver opened #2002 "'MySQLClient' object has no attribute '_get_schema_using_query'"
[code]

[2019-10-18 18:52] jreback opened #2003 "register Enums for inference"
We should register the enum class for inference

[code]

if we register
[code]

[2019-10-18 18:59] toryhaavik commented on #1980
The timeout seems to be waiting for port `21050` (see https://dev.azure.com/ibis-project/ibis/_build/results?buildId=1586&view=logs)

that port is impala, which i don't know much about, so i'm not sure how to debug it

[2019-10-22 12:25] scottcode commented on #1995
I should be able to join as well. Thanks for setting this up!

[2019-10-22 20:32] xmnlab opened #2005 "Conflicts with clickhouse-driver 0.1.2"
First it raises an error requesting tzlocal. after install tzlocal it raises the follow error:

[code]

with clickhouse-driver 0.1.1 works fine.

[2019-10-23 02:35] be-rock commented on #1752
thrift_sasl==0.2.1 appears to force a downgrade in python 3.7.x environments to 3.6.x which introduces challenges of its own

[2019-10-23 13:53] #2005 closed

[2019-10-23 15:16] icexelloss commented on #1998
I looked into this issue a little,

Current findings, in https://github.com/ibis-project/ibis/blob/master/ibis/pandas/aggcontext.py#L327,

* currently the grouped_data is a SeriesGroupBy that only has the first parameter of the UDF.
* Similar, `grouped = grouped_frame[name]` only has the first parameter of the UDF
* The current code translate the rolling udf to `df.groupby(key).rolling(...)[col].a

[2019-10-23 19:03] icexelloss commented on #1995
I try to join but it says I am not allowed to join.

[2019-10-23 19:03] xmnlab commented on #1995
https://hangouts.google.com/call/_Q9xhtir028v0bqhURjEAEEE?no_rd

[2019-10-23 19:31] jreback opened #2007 "TST: disable impala backend"
seems that this is causing numerous CI issues, we should disable this.

[2019-10-23 19:34] jreback commented on #1145
we should create a repo and update the docs.

[2019-10-23 20:21] #1995 closed

[2019-10-23 20:24] xmnlab opened #2008 "2nd Ibis-dev meeting"
With a cadence quarterly our next meeting would be January 22nd 2020 a Wednesday.

We can initially define that to the same date time: 3 PM EST.
Close that date we can check if it works for everyone or if we should create a doodle to find a better time.

[2019-10-23 20:31] xmnlab commented on #2008
calendar available: https://calendar.google.com/calendar?cid=N3RocXYwdmNma2ltNDM2YTgyNG51a2FkMG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2019-10-24 14:20] hjoo commented on #2000
Pandas behavior is also incorrect for `ibis.trailing_window`. The argument to `ibis.trailing_window()` is a `preceding` inclusive window bound. Currently the tests in pandas backend treat the argument as a window size.

Rather, this is the expected behavior:

`ibis.trailing_window(preceding=2)` is equivalent to `pandas.DataFrame.rolling(3)` where 3 is the window size.

`ibis.trailing_window(preced

[2019-10-24 14:21] hjoo commented on #2000
@jreback @toryhaavik: let me know if you disagree. I'll be working on a PR with updated tests and the behavior described above.

[2019-10-25 15:09] toryhaavik commented on #2007
We should really look into what the issues are. I'd rather not disable the whole test suite if we can avoid it.

[2019-10-25 15:10] toryhaavik commented on #2002
ref #1992

[2019-10-25 15:11] xmnlab commented on #2007
@toryhaavik could you work on this?

[2019-10-25 15:21] xmnlab opened #2011 "Docstrings checking"
Accordingly pydocstyle, currently there are 3445 docstings issues inside the project.

I have started to fix that #1996

I will open one PR for each backend dosctring fixing

[2019-10-25 21:47] xmnlab commented on #2007
as it is causing troubles .. I think the best thing here would be disable that until we have a PR to fix that.

[2019-10-25 22:54] xmnlab commented on #2007
one current issue related to disable impala I found is that it is used for the tutorial notebooks:
`Ping the impala host used in the tutorial notebooks`.

if we disable impala .. also we should disable that for now or change the notebooks to use another backend ..

I will take some time to check the problem related to impala ...

[2019-10-26 00:00] xmnlab commented on #2007
It seems that the problem is around here:

[code]

the entire impala docker log is here: https://pastebin.com/ei7ZeXZ2

[2019-10-26 00:10] xmnlab commented on #2007
and this is the postgresql docker log: https://pastebin.com/ev2RY6PX

[2019-10-26 02:40] xmnlab commented on #2007
https://github.com/ibis-project/ibis/pull/2012 is done for review!

[2019-10-27 14:33] #2007 closed

[2019-10-28 10:46] xmnlab opened #2013 "Docker recipes"
Currently Ibis CI uses a image for postgresql with a recipe stored at https://github.com/autoscott/ibis-docker-postgres/tree/master/9.5-2.5

maybe would be good to move that inside ibis-project.

Ibis also has more 2 docker recipes (impala and kudu) https://github.com/search?q=topic%3Adocker+org%3Aibis-project&type=Repositories

@jreback commented that would be good have all these recipes inside a

[2019-10-29 20:37] scottcode opened #2016 "ENH: Allow window functions to not specify preceding/following/order_by"
Currently the window function implementation for Postgres automatically adds the unbounded preceding/following language if you don't specify. This causes it to fail if you don't specify an ordering, even if the aggregate function you are using doesn't require an ordering (e.g. `count`). This might be a problem for all `sqlalchemy` based backends; I'm not sure.

It would be nice to not have to spec

[2019-10-30 12:32] jreback commented on #2000
This just seems wrong. Why would you expect this? or maybe I am misunderstanding the meaning of preceding. the argument to rolling is the window size.

[2019-10-30 13:05] hjoo commented on #2000
That's what's expected in other backends. The argument to pandas rolling is window size. The argument to ibis trailing_window is not size but an inclusive `preceding` row bound. 0 indicates current row, 1 indicates row before, etc.

[2019-10-30 13:55] scottcode commented on #2016
Upon testing some different versions of postgres, this may only be a problem for Postgres versions at least as old as 8.3.

[2019-10-30 15:16] hjoo commented on #2000
Updated docs and release notes in PR #2009. Let me know if I used the right convention.

Re: window size vs window boundary - I agree it's a bit confusing, but I'd prefer to separate the issue from this one because I think that will need a longer API discussion. If we want to change the Ibis trailing_window API altogether to take a window size (like pandas) rather than `preceding` window bound, `w

[2019-10-30 16:14] scottcode opened #2017 "feat: warn when limit reached in expr.execute()"
When executing an expression a limit is silently applied to what is returned (unless you pass `limit=None`). A user could accidentally continue with local analysis on an arbitrary subset without realizing it's a subset. I'd like an optional parameter/setting that causes it to write a warning to `stderr` or raise an exception if the limit was exceeded.

Since the limit is currently implemented by a

[2019-10-30 16:20] ian-r-rose commented on #2017
I very much agree with this.

[2019-10-31 22:31] xmnlab commented on #2011
Currently there are a lot of docstrings issue inside ibis. Accordingly pydocstyle, currently there are 3064 docstrings error inside the project.

Ibis CI now is checking just files at ibis/ and ibis/omniscidb but for the other backends, a "precise" validation should be done locally using pydocstyle. and it takes times.

My point of view is that a docstring validations is similar to code validation

[2019-10-31 22:41] xmnlab commented on #2011
Following the discussion on https://github.com/ibis-project/ibis/pull/2018 :

There are a lot of functions and method inside Ibis with no docstrings or with docstrings that doesn't fit in the numpy specifications.

it is an evidence that it is hard for reviewers to check that manually also maybe it also not clear for reviewers that ibis use numpy docstring standard for docstrings.

[2019-10-31 22:46] jreback commented on #2011
pls show a sample of the warnings

the linters oftentimes show IMHO a lot of useless things that simply should be ignored

we already do quite a lot of linking so need to be quite mindful of adding baggage

[2019-10-31 22:47] xmnlab commented on #2011
in the PR #2018 also I am proposing to keep as private functions that don't need to be visible to end-users.

But if that functions need to be visible to these functions should be very well documented and the documentation should be updated.

https://docs.ibis-project.org/api.html seems to be out of date.

[2019-10-31 22:50] xmnlab commented on #2011
here is the current log from pydocstyle: https://pastebin.com/uUsRHkhP

[2019-10-31 22:52] xmnlab commented on #2011
the problem is do it in a subjective approach .. also my opinion could be different than yours.

using something objective makes the review workflow easier and it guarantees at least a minimum standard level for the code.

[2019-10-31 22:57] jreback commented on #2011
you are missing the point

the linters check for too much stuff here

you are going to cause massive changes for IMHO not much gain and a lot of pain from contributors

[2019-10-31 23:04] xmnlab commented on #2011
the checks just contemplate the numpy docstring specification.

I think all these changes will have a good impact, for the documentation, for new contributors, for reviewers, for users ...

as I am proposing that .. I am working to fix these issues .. I am trying to work on one backend each week.

[2019-10-31 23:07] jreback commented on #2011
what exactly is the problem with the current lint checks?

[2019-10-31 23:13] xmnlab commented on #2011
currently on CI pydocstyle just run for `ibis/` and `ibis/omniscidb/` .. the docstrings there were already fixed.

related to #2018 these are the current docstring errors: https://pastebin.com/pB7Qgc4y

as you can see numpy docstring specification specify that all public functions methods or classes need a docstring.

[2019-11-01 15:16] hjoo opened #2019 "ENH: `closed=` parameter to control the inclusivity of window bounds"
Currently, `preceding` and `following` window bounds in ibis are always inclusive.

Creating a `closed=` parameter to control inclusivity will help users produce window bound behavior they may be more familiar with.

For example, currently `ibis.trailing_window(2)` is the same as `pandas.DataFrame.rolling(3)` because the argument to trailing_window is an inclusive preceding row bound whereas the a

[2019-11-01 15:17] hjoo commented on #2019
Exact API and default behavior may need further discussion.

[2019-11-01 16:48] isofer opened #2020 "Case statement when aggregating"
Thank you for this wonderful module! I'm looking to start using this for my work and was wondering if you could help me with a problem I have.

I'm trying to write the following code in one line:

[code]

I've tried:
[code]

But this results in the following error:
[code]

If I brake it to two lines I can make it work (see below), but I was wondering if there is a cleaner way to do it:

[code]

[2019-11-01 16:57] xmnlab commented on #2011
@toryhaavik @scottcode @cpcloud any thought about this?

[2019-11-03 21:33] scottcode commented on #2011
@xmnlab I appreciate your enthusiasm for docstrings as well as automated style checkers. I especially like our use of `black` and `isort`, because they impose some consistency without any added burden to the developer. If something doesn't fit the style for those two, they automatically fix them. The fixes are pretty uncontroversial: for example, reorder the import statements or change whitespace/

[2019-11-03 21:36] scottcode commented on #2011
Also, I think using pydocstyle in the way you have with fixing docstrings for the Pyspark backend can lead to unintended consequences, like making a bunch of methods private just so the style checker will ignore them. I don't think all those methods that you changed to private in #2018 really ought to be private.

[2019-11-03 23:34] xmnlab commented on #2011
hey @scottcode thanks for the feedback :)

personally I don't worry also if the summary ends with period or not too ... but it is good to be consistent on the entire docstring/documentation .. some places that ends with period .. and other places that doesn't end with period seems to be inconsistent (I am using the period here just as an example).

Currently we use numpydoc style as our default st

[2019-11-03 23:59] saulshanabrook commented on #2011
@datapythonista was telling me about a lot of work they are doing in Pandas to automate and standardize their docstrings. @datapythonista do you have a link that summarizes that work that might be useful for ibis to learn from?

[2019-11-04 00:31] datapythonista commented on #2011
numpydoc master will have a `python -m numpydoc --validate foo.Bar` that you can use to get a list of "errors"

So far can just be called from Python, see this PR: https://github.com/numpy/numpydoc/pull/238

Let me know if you have any question, I'll probably put together a blog post when everything is in place.

[2019-11-04 11:53] xmnlab commented on #2011
thanks @datapythonista ! It looks interesting! I will play with that!

[2019-11-04 13:21] xmnlab commented on #2011
@datapythonista is pandas using already this new feature of numpydoc?
I think it makes sense using the same/similar approach used by pandas.

[2019-11-04 18:10] xmnlab commented on #2011
@datapythonista also could you give an overview about the decisions you made on pandas group related to docstrings verification? it would be good to learn more about the experience you had and implement good practices also here.

[2019-11-04 18:30] datapythonista commented on #2011
pandas has been adding new validations for around two years while building that script. Now we're moving it to numpydoc so the rest of the community can also use it. There is still some discussion, because numpydoc allows several options here and there, and we are more strict and want "one and only one way to do things". But the points under discussion are minimal, and you can ignore the errors yo

[2019-11-04 20:08] xmnlab commented on #2011
thanks @datapythonista for the details !

@jreback @scottcode @cpcloud any thoughts about using the same/similar approach used by pandas?

[2019-11-04 20:18] jreback commented on #2011
@xmnlab +1 in having some doc string validations

there are currently pretty good validations in place. sure i think some of this can be improved

but let’s go slow with a POC and not wholesale just change things

for example having copy pasted doc strings is actually a big -1; this causes a lot of maintenance costs

so happy for you or others to propose things

but as i said let’s go step by step

[2019-11-04 20:24] xmnlab commented on #2011
@jreback  not sure I am following you ... could you give more details/examples?

[2019-11-04 21:12] xmnlab commented on #2011
and how people are dealing with these cases in pandas?

by the other hand, a good documentation could avoid contribution costs (eg: https://github.com/ibis-project/ibis/issues/1989)

it is not related but, for example, pyopensci review requires that `all external package functions, classes, and methods should be fully documented with examples`. https://www.pyopensci.org/dev_guide/packaging/packagi

[2019-11-05 15:33] scottcode commented on #2020
Hi @isofer,

You can combine your second (working) approach into a single expression as below using the `pipe` method. At the core, the challenge you've pointed out is how to refer to an intermediate `TableExpr` when method-chaining. This is something I'd also like to figure out how to do without using the verbose `pipe` construction. @xmnlab do you know how to accomplish that?

Ideally, there wou

[2019-11-05 16:09] scottcode commented on #2020
What I'd like to be able to do would be something like the following, where `column()` is a function that defines a column expression, and at compilation time it figures out what TableExpr is in its closest scope to be able to bind to it. Does anyone know if this is possible? @xmnlab

[code]

[2019-11-05 16:51] xmnlab opened #2021 "Release workflow"
A release workflow discuss shows up at https://github.com/ibis-project/ibis/pull/2015

The current workflow uses https://github.com/ibis-project/ibis/issues/1606

@jreback propose to add that manually.

So changing this workflow we probably should:

- ensure that the previous notes should be included into the releases note probably using the script
- update documentation https://docs.ibis-project.

[2019-11-05 17:39] ian-r-rose opened #2022 "BUG: Graphviz repr should escape HTML"
The current notebook graphviz repr breaks when there are unintentional HTML characters in column names or types. An example of this is array types, which includes angle brackets, so a type like `array<string>` fails to render because it produces invalid HTML.

The fix is fairly straightforward: names and columns should be escaped. I should be able to submit a PR.

[2019-11-05 22:39] jreback commented on #2020
@scottcode you can create an intermediate result by saving the aggregate then using that in the next expression

[2019-11-05 22:50] jreback commented on #2011
how so? what exactly is problematic about the current docs / documentation?

[2019-11-06 01:52] isofer commented on #2020
@scottcode thank you for taking the time to answer my question.
I wasn't aware of the pipe function. I'll check it out.
@jreback I have a two-line solution (see at the end of my question). The question was regarding a single-line solution.

[2019-11-06 01:52] #2020 closed

[2019-11-06 21:45] xmnlab commented on #2011
@jreback good point. I am analyzing the documentation (at least an overview) and I will share some points here today or tomorrow.

[2019-11-07 01:37] datapythonista commented on #2011
Probably worth sharing our experience with pandas. We've got around 1,600 docstrings, and many of them could benefit from.having better content (too short descriptions, lack of examples...).

There is no way senior people can fix all those, there are just too many. So we encourage first time contributors to help us. But that takes a lot of our of time reviewing code, and most of that commenting ab

[2019-11-08 00:28] xmnlab opened #2025 "Documentation improvements"
This is an overview about documentation current state:

1. https://docs.ibis-project.org/

- it is missing some backends

2. https://docs.ibis-project.org/api.html

- it is missing some backends
- some functions don't have the types of parameters
- some functions don't have the type of return
- some functions don't have any description
- some docstring inconsistencies, eg:
    - `str`/`string`

[2019-11-08 00:31] xmnlab commented on #2025
@jreback @scottcode could you give some feedback / ideas about these points? also maybe add more points?

[2019-11-08 20:33] scottcode commented on #2025
**Module Aliases**

One thing that made joining the project hard for me was all the module aliases that get used. It took me forever to figure out and remember what all these refer to, many of which are not intuitive: `rlz`, `ir`, `sch`, `L`, and `com`. I think it would be great to change those aliases (longer yet intuitive is better than short and opaque in my opinion). Or if not change them, pro

[2019-11-08 22:18] scottcode opened #2026 "ENH: Add VIEW functionality to sqlalchemy-based backends"
I tried using `client.table(name_of_view)` to treat an existing view like a table in Postgres, but I got a `NoSuchTableError`. It appears that creating new views--or even referring to existing ones--is not supported in `sqlalchemy`-based backends. It is supported in Impala.

It would be nice to add the ability to refer to as well as create views within `ibis`. Interface ideas:

For using/referring

[2019-11-08 22:27] ian-r-rose commented on #2026
I fairly regularly use ibis to connect to existing views with the PostgreSQL backend (both materialized and regular). So at least in some circumstances it works as is with `client.table`.

[2019-11-08 23:24] scottcode commented on #2026
Ack! I think I know what happened. The view was created after instantiating the client, so its cache of the schema info might have been old. I haven't verified this, just a hunch. Easy refresh/cache invalidation like suggested in #1768 would be helpful in such a case.

[2019-11-08 23:41] scottcode commented on #2026
Yeah, I was able to `client.table()` on the view using a newly-created client connection. Looks like it was something about ibis cache of the DB state. I'll close this issue. Thanks @ian-r-rose for chiming in.

[2019-11-08 23:41] #2026 closed

[2019-11-09 03:28] xmnlab commented on #2011
I created an issue to organize some points related to documentation.

@datapythonista thank you for your feedback. You are doing a very nice job related to the docstrings. the validation option looks very nice.

In the case of ibis ... I think that probably we could fix and organize the docstrings texts and validations soon. There are a lot of internal functions that don't need docstrings or their

[2019-11-09 03:57] xmnlab opened #2027 "CI/BUG: LinuxBuildDocs failing"
Initially reported at https://github.com/ibis-project/ibis/pull/2024#issuecomment-550143737

[code]

[2019-11-09 14:03] scottcode commented on #1870
#1871 provides this functionality and has been merged.

[2019-11-09 14:03] #1870 closed

[2019-11-09 14:05] scottcode commented on #1768
It would also be nice if any schema-related exceptions automatically triggered a refresh

[2019-11-09 14:11] scottcode commented on #1853
#1871 included pointing to an updated Postgres image that supports pl/python as well as postgis

[2019-11-09 14:11] #1853 closed

[2019-11-11 20:03] scottcode commented on #2027
I'm trying to reproduce this locally (still in docker) but am getting a Timeout error (see [this gist](https://gist.github.com/scottcode/7f3354b6fa4085e986a671964c2d2de5) for the full error output)

`nbsphinx.NotebookError: TimeoutError in notebooks/tutorial/8-More-Analytics-Helpers.ipynb:
Cell execution timed out`

[2019-11-11 20:37] jreback opened #2028 "RLS: 1.3"
we should do a release soon, as last was in mid-summer.

anyone interested in being release manager? also an opportunity to update docs on how-to-release.

[2019-11-11 21:28] xmnlab commented on #2028
I am interested :)

[2019-11-11 22:32] scottcode commented on #2027
I increased the timeout limit to 60 seconds using the configuration described in the [nbsphinx docs](https://nbsphinx.readthedocs.io/en/0.3.5/timeout.html). It got further, but then I ran into this error `HiveServer2Error: Failed after retrying 3 times` (see [full error](https://gist.github.com/scottcode/9c379c2093354fc18d22e0be3757c5ae)). I'm not sure yet what causes the `HiveServer2Error` or how

[2019-11-11 22:50] scottcode commented on #2013
In principle I think keeping the recipes in one place would be good, and keeping them directly in the main repo sounds enticing. However, I outline below a practical issue that I don't have an answer for yet.

If we want to continue to use Docker Hub for the automated builds and image hosting, keep in mind that [build triggers](https://docs.docker.com/docker-hub/builds/) are based on the combinati

[2019-11-11 23:37] scottcode commented on #2027
The `HiveServer2Error` is occurring in `notebooks/tutorial/8-More-Analytics-Helpers.ipynb`

[2019-11-11 23:56] scottcode commented on #2027
Tracking the local `HiveServer2Error`. Debugging it, I see that the exception it gets each time is below:

[code]

[2019-11-12 01:16] jreback commented on #2013
does this take extra time in the build?

no conceptual problem putting them in another repo though makes coordination slightly harder

[2019-11-13 18:36] xmnlab commented on #2028
not sure if it is helpful but maybe it could give us an idea for our own guideline
https://cwiki.apache.org/confluence/display/ARROW/Release+Management+Guide

is there already an estimate date for the release?

[2019-11-13 19:07] jreback commented on #2028
we should be able to release any time

if you want to see what is needed
great

i wouldn’t reference the arrow release guidelines they are much different / complicated

[2019-11-14 03:04] xmnlab commented on #2028
ok sounds good! do you have any other reference you think could be similar that could be similar to ibis?

[2019-11-14 03:20] jreback commented on #2028
https://github.com/pandas-dev/pandas/wiki/Release-Checklist

is a bit out of date and ibis doesn’t need to do a lot of this (no need for wheels)

iirc there is already a release checklist

[2019-11-14 03:21] jreback commented on #2028
better is here: https://github.com/pandas-dev/pandas-release

[2019-11-14 04:06] xmnlab commented on #2028
Aswesome. Thanks I will review that

[2019-11-14 14:57] xmnlab commented on #2028
does make sense for ibis to have also a repo for release like pandas?

[2019-11-14 15:54] xmnlab commented on #2028
maybe we can use rever (https://regro.github.io/rever-docs/) it seems it is a very nice tool for  software release

[2019-11-14 15:56] jreback commented on #2028
before trying to reinvent the wheel

look at how the previous releases were done; i am sure there are docs / wiki

i is has been released many times and @cpcloud likely wrote it down

[2019-11-14 15:57] xmnlab commented on #2028
mm you're right ... there is a wiki about that https://github.com/ibis-project/ibis/wiki/Releasing-Ibis

[2019-11-14 16:07] xmnlab commented on #2028
maybe we can define a date for the release (Nov, 21st, sounds good?) and we can try to fix #2027 and maybe finish some PR that depends on this fix.

how does it sound?

[2019-11-14 16:10] xmnlab commented on #2027
@scottcode I am trying to debug that here too. I will post here any update

[2019-11-14 20:54] scottcode commented on #2028
Good call on not re-inventing the wheel.

At the least we need to fix #2027. Anything else would be icing on the cake.

[2019-11-14 22:00] icexelloss opened #2029 ""make init" fails before generating test data"
I usually run "make init" to create test data under /tmp/ibis/ibis-testing-data, however, it now starts to fail before generating the test data:

[code]

I wonder if other people have this issue as well?

[2019-11-14 22:03] icexelloss commented on #2029
I can work around this by "make load", but curious if this is just me or a broader issue.

[2019-11-15 12:20] scottcode commented on #2029
@icexelloss The error looks similar to the one in conda issue https://github.com/conda/conda/issues/7614. The problem there was the VM/container ran out of memory. Try `docker system prune --all` and `docker volume prune`. Does that fix the problem?

[2019-11-15 12:21] scottcode commented on #2029
If so, the reason `make load` still worked was that it was using the latest already-built ibis image.

[2019-11-15 21:29] xmnlab commented on #2027
issue related: https://github.com/bitprophet/releases/issues/84

[2019-11-16 16:20] xmnlab commented on #2029
@icexelloss I tried that using these changes (https://github.com/ibis-project/ibis/pull/2030/files) and it worked.

[2019-11-16 20:36] scottcode opened #2033 "Unpin semantic_version once sphinx-releases fixed"
A change in `semantic_version` caused a problem in `sphinx-releases`, which we depend on. The issue in `sphinx-releases` is https://github.com/bitprophet/releases/issues/84

Ibis ran up against this problem as documented in #2027.

Once the underlying issue in `sphinx-releases` gets fixed, we should remove the pin that was put in `ci/requirements-docs.yml` in PR #2030.

[2019-11-16 22:06] #2027 closed

[2019-11-17 20:54] #2022 closed

[2019-11-18 21:11] icexelloss commented on #2029
@scottcode @xmnlab Thanks! Unfortunately still no luck for me. I will look around.

[2019-11-19 20:16] xmnlab commented on #2028
would be good to add a deprecation warning when it is running on python 3.5? (https://github.com/ibis-project/ibis/issues/1911)

[2019-11-20 13:19] koka0901 commented on #197
df = spark.sql("SELECT * FROM dbname_.table_name")
df will be a spark dataframe
to write df again as a table:
df.write.insertInto('some_table')
this table needs to exist first.

[2019-11-21 02:24] jreback commented on #2028
it would be fine also to remove 3.5 for this release

most other packages have dropped it already or next release will

[2019-11-21 03:35] xmnlab commented on #2028
Sounds good. I can work on that.

[2019-11-21 15:20] xmnlab opened #2036 "SUPP: Add support for Python 3.8"
Would be good to add support for Python 3.8 (update CI).

[2019-11-22 15:20] xmnlab commented on #1975
@jreback do you know someone who could help in this discussion?

[2019-11-22 15:21] xmnlab commented on #1975
I also opened an issue on pandas github: https://github.com/pandas-dev/pandas/issues/28975

[2019-11-23 04:51] scottcode commented on #1975
I don’t know much about the specific feature in question, but I wanted to chime in with a thought about functionalities in various backends.

It seems like ibis is meant to provide a unifying abstraction over many backends. The different backends may have varying functionality, but is it really ibis’s scope to fill in capabilities that are missing in a particular backend? Some functionality might

[2019-11-23 17:35] xmnlab commented on #1975
hey @scottcode related to your question ..

IMHO

In general I think that creates an operation just inside a particular backend directly would be dangerous because another person could add the same operation in a future with different name or any small unnecessary differences ... so  it would be inconsistent ..

I think the users should have a way to use the functions they need using ibis expressi

[2019-11-25 15:20] xmnlab commented on #2028
maybe some PRs for release 1.3

#2037
#2034
#2024
#1964

[2019-11-26 04:38] scottcode commented on #2028
@xmnlab I just rebased and re-pushed #2024

[2019-11-26 12:55] jreback commented on #1911
closed by #2037

[2019-11-26 12:55] #1911 closed

[2019-11-27 21:30] icexelloss opened #2040 "CI Broken on master"
We started to see CI failure recently, for example:
https://dev.azure.com/ibis-project/ibis/_build/results?buildId=1702

The builds fails in Spark/PySpark test with this exception:
[code]

[2019-11-27 21:32] icexelloss commented on #2040
I am looking into this. I can reduce the CI failure by running the spark tests with docker-compose:

[code]

However, it works when I run tests outside docker container
[code]

[2019-11-27 21:35] icexelloss commented on #2040
Creating SparkSession directly (without pytest) in container also works:

[code]

[2019-12-02 13:21] xmnlab commented on #2040
@icexelloss I will also take a look into that.

[2019-12-02 22:53] icexelloss commented on #2040
Thanks! @xmnlab

Update:

I have ping down the issue to be this line in pyspark:
https://github.com/apache/spark/blob/v2.4.4/python/pyspark/java_gateway.py#L98

It appears that the subprocess exited with 127 and the stderr of the subprocess is:
"/usr/bin/env: ‘bash’: No such file or directory"

The subprocess command is:
['/opt/conda/envs/ibis-env/lib/python3.6/site-packages/pyspark/./bin/spark-su

[2019-12-02 23:25] icexelloss commented on #2040
I have traced the issue to be related to the env gets used when call Popen:
When running with pytest, the `PATH` has an additional value, somehow this is causing Popen to fail.

Here is a min reproduce:

[code]

[code]

[2019-12-02 23:29] icexelloss commented on #2040
Actually, there is a `;` in the `PATH` when calling with pytest 5.2.4

[2019-12-02 23:34] icexelloss commented on #2040
Verified `;` is not a typo by me, but some how added by pytest:

[code]

[2019-12-03 00:16] xmnlab commented on #2040
oh I see .. thanks for the updates .. I checked it out on pytest github issues .. I didn't find anything directly related to that ... maybe we can just pin the latest version of pytest or a previous version ..

also it seems there is an issue on linuxbuilddocs ... not sure yet what is the problem ...

[2019-12-03 03:16] xmnlab commented on #2040
I run this test file inside the root folder .. and it worked ... so maybe it is related to something related to `conftest` ... not sure yet .. I am playing with that

[2019-12-03 04:24] xmnlab commented on #2040
it seems the problem could be related to ibis/__init__.py ..
if I remove ibis/__init__.py file .. the new ibis/test_pyspark.py worked ...

[2019-12-03 20:08] icexelloss commented on #2040
geopandas is the culprit!

[code]

[2019-12-03 20:38] icexelloss commented on #2040
Update: The actual culprit is rtree, filed https://github.com/Toblerity/rtree/issues/126 with rtree devs.

I am going to try to ping rtree version to see if ci works

[2019-12-03 21:28] xmnlab commented on #2040
great news! I hope it fix the issue :) thanks @icexelloss for work on that!

[2019-12-03 21:55] jreback commented on #2040
closed by #2043

[2019-12-03 21:55] #2040 closed

[2019-12-04 15:16] icexelloss commented on #2029
This works for me now. Thanks!

[2019-12-04 15:16] #2029 closed

[2019-12-04 15:18] icexelloss commented on #2000
@hjoo @jreback Can this be closed?

[2019-12-04 15:29] icexelloss opened #2045 "Revisit input types for rolling window UDFs in pandas backend"
Currently, rolling window UDFs in pandas backend takes numpy array as input,
Per https://github.com/ibis-project/ibis/pull/2035/files#r349403578, we want to revisit the choice between numpy array and pd.Series.

numpy array gives better performance (microbenchmark shows about 5-6x speed up with a rolling mean UDF), but it's not type preserving.

[2019-12-04 20:04] hjoo commented on #2000
Yep, will close.

[2019-12-04 20:04] #2000 closed

[2019-12-04 21:06] sambit19 commented on #978
I had the same issue and fixed it by uninstalling and reinstalling using the command below:

[code]
It works now.

[2019-12-05 21:39] icexelloss opened #2048 "DISCUSS: Top level vectorized python UDF api"
I'd like to introduce a top level vectorized python UDF api. Currently the UDF api is defined under each backends, e.g., ibis.pandas.udf, ibis.spark.udf. As a result, ibis exprs that contains UDFs can only be executed with a single backend, i.e., an ibis exprs that contains ibis.pandas.udf can only be executed with the pandas backend.

The goal of introducing a top level python UDF api is that now

[2019-12-05 21:41] icexelloss commented on #2048
This is a draft PR to lift ibis.pandas.udf to top level:
https://github.com/ibis-project/ibis/pull/2047

[2019-12-06 20:54] gshimansky opened #2049 "datamgr.py fails if IBIS_TEST_OMNISCIDB_DATABASE=omnisci"
If I try to use default omniscidb database name `omnisci`, then variable database doesn't get initialized in line 377 and I get an exception like this:

[code]

Suggested fix is to initialize `database` variable:
[code]

[2019-12-26 04:40] jreback commented on #1156
https://github.com/pandas-dev/pandas/pull/30479  PR to pandas for adding a sql parser, but i think more appropriate for a front-end to create an ibis expression

[2020-01-23 16:25] xmnlab commented on #2028
@jreback maybe would be good to plan a new release for next week. what do you think ?

[2020-01-23 16:29] ian-r-rose commented on #2028
A release would be very appreciated!

[2020-01-27 17:22] xmnlab opened #2053 "BUG: [omniscidb] add OSError as an possible exception when importing GPUDataFrame"
When using ibis where cudf is installed, but if it is not running on GPU, it raises this error:

[code]

[2020-01-27 21:24] qi-liao opened #2054 "DateTruncate does not support starting day of the week"
Impala timestamp truncation supports day, week as well as starting day of the week as the unit argument. (https://docs.cloudera.com/documentation/enterprise/latest/topics/impala_datetime_functions.html#datetime_functions__trunc)

WW, W: Same day of the week as the first day of the month.
DDD, DD, J: Day.
DAY, DY, D: Starting day of the week. (Not necessarily the current day.)

In our use case, sta

[2020-01-29 18:47] #2053 closed

[2020-01-29 19:48] anmyachev commented on #1998
I think the issue can be closed

[2020-01-29 19:54] anmyachev commented on #2008
@xmnlab the PR is no longer relevant. Maybe you can share some notes from this meeting here before closing it. Thanks!

[2020-01-29 20:01] anmyachev opened #2058 "[FEAT] Implement analytics and aggregation UDFs (currently defined under `ibis.pandas.udf`) in `ibis.udf.vectorized` namespace"
for more information see #2047

[2020-01-29 20:03] #1998 closed

[2020-01-29 20:04] anmyachev opened #2059 "[DOC] update documentation to reflect changes from #2047 PR"

[2020-01-29 20:10] anmyachev commented on #2048
Next issues were added: #2058 #2059, so the issue can be closed now I suppose

[2020-01-29 20:21] #2048 closed

[2020-01-29 21:18] xmnlab commented on #2008
actually it was a initial date proposal ... not sure if anyone attend that because no one comment that here or in the gitter channel ...

if anyone attended the meeting feel free to add notes here :)

[2020-01-29 22:36] jreback commented on #2028
ok this is what I think we need for the release.

- 3.8 support: https://github.com/ibis-project/ibis/issues/2036

@xmnlab you are volunteering as release manager? ok then

I think there are some instructions about how to release somewhere. when we are ready you should follow them (and update as you go if anything is unclear). It might be desirable to put the release scripts in something like this

[2020-01-29 23:00] xmnlab commented on #2028
@jreback that sounds good. I will work on issue #2036 :) thanks!

[2020-01-30 14:42] xmnlab opened #2063 "CI: Fix currently issues after new pandas release"
Currently CI is falling, according to the errors message it seems it was caused by the new pandas release.

[2020-01-30 22:37] emilyreff7 opened #2064 "bug: different treatment of int columns in Pandas vs. Pyspark backend"
If I create an ibis TableExpr that I mutate with an `IntegerColumn` `(dype=int8)`, the dtype of the resulting materialized pandas DataFrame is different between the Pandas backend and the Pyspark backend. For example:

`import pandas as pd`
`df = pd.DataFrame({'value': [1, 2, 3]})`
`client = ibis.pandas.connect({'table': df})`
`table = client.table('table')`
`expr = table.mutate(v=7)`
`expr.schema

[2020-01-30 23:21] xmnlab commented on #2063
Also after the changes made by https://github.com/ibis-project/ibis/pull/2061
the tests is raising 2 errors:

[code]

I was debugging the first one ... and for some reason `meta_kwargs` doesn't have the key `rhs` used by the udf `my_corr` https://github.com/ibis-project/ibis/blob/master/ibis/pandas/udf.py#L94

@jreback

any idea how to fix that issue?

or should we just skip this 2 tests for now t

[2020-01-31 11:24] anmyachev commented on #2063
Maybe we should skip these tests for now, add issues for them and mark as `Blocker` for next release? So we can continue working on other backends ...

[2020-01-31 14:14] xmnlab commented on #2063
@anmyachev that makes sense to me

[2020-01-31 18:29] jrbourbeau opened #2065 "Failing UDF tests"
In #2061 we marked two tests with `xfails`, `ibis/pandas/tests/test_udf.py::test_udaf_groupby` and `ibis/pandas/tests/test_udf.py::test_udaf_window_nan`, which started failing after the recent Pandas 1.0 release. We should go back to determine why those tests are failing and fix them

[2020-02-01 23:11] anmyachev opened #2067 "[CI] BigQuery backend isn't be checked in PRs"
[code]

The main problem is that `GCLOUD_SERVICE_KEY` var define only for master branch.

Is it possible define the var for PRs?
Or is there a better solution?

@cpcloud @xmnlab

[2020-02-02 00:41] #2049 closed

[2020-02-03 06:00] dhirschfeld commented on #1690
Just giving `ibis` a go for the first time and hit this issue with our postgres database.

[2020-02-03 15:09] ian-r-rose commented on #1690
@dhirschfeld #1963 (not published yet, I think) doesn't add function support for JSON, but it does add a type stub for it, allowing tables that contain JSON/JSONB fields to be loaded.

[2020-02-03 20:39] dhirschfeld commented on #1690
I'm on a slightly older version. So do plan on testing the latest...

[2020-02-04 11:40] dhirschfeld commented on #1690
I might have to wait for the next release as conda wants to downgrade too many deps:
[code]

[2020-02-04 15:26] ian-r-rose commented on #1690
To be clear, I think the JSON/JSONB type stub isn't in any published releases right now. It should be installable from master with `pip`, though.

[2020-02-04 20:27] icexelloss commented on #2063
I am taking a look at this

[2020-02-04 21:22] xmnlab commented on #2063
Thanks @icexelloss !

[2020-02-05 19:49] icexelloss commented on #2065
This is because change of behavior in Pandas 1.0.0:
https://github.com/pandas-dev/pandas/issues/31719

[2020-02-05 19:55] xmnlab commented on #2063
it seems now CI is failing on windows for postgresql tests ...

[2020-02-06 19:29] icexelloss commented on #2065
Also related:
https://github.com/pandas-dev/pandas/issues/31754

[2020-02-06 21:30] icexelloss opened #2073 "Pre commit hooks are broken"
https://github.com/ibis-project/ibis/pull/2072

[2020-02-06 23:38] jreback commented on #2063
any idea whats goin on here @icexelloss @xmnlab

need to have a green CI before merging things.

[2020-02-07 13:20] anmyachev commented on #2063
@jreback all the last PRs were green before merging to the master. But they fall on the master. This is because testing on PR and on the master are not equivalent due to this line: `condition: eq(variables['System.PullRequest.IsFork'], 'False')` which is in `./ci/azure/linux.yml` - this is `Setup BigQuery credentials`  step

[2020-02-09 22:33] jreback commented on #2063
happy to take a PR to temporarily xfail what needs on the failing builds (and open an issue for this).. we generally won't merge on non-green.

[2020-02-09 22:34] jreback commented on #2067
this *was* working before? and just recently broke?

[2020-02-10 20:30] icexelloss opened #2076 "ci: re-add Postgres CI on Windows"
This is disabled in #2075 due to failures. However, we should fix it.

[2020-02-10 21:35] xmnlab commented on #2076
I am testing that locally on a virtual machine .. but I couldn't reproduce the postgresql connection issue.

this was the errors found locally during the tests:

[code]

[2020-02-10 22:50] icexelloss commented on #2073
Fixed in #2075

[2020-02-10 22:50] #2073 closed

[2020-02-11 22:13] anmyachev commented on #2067
The backend has not been checked in the PRs for 8 months (only checked on the wizard). The tests of this backend started to fall already at least from #2034 (most likely from #2044 but the CI build was not preserved)

Most likely, the tests started to fall after this BigQuery update:
https://github.com/googleapis/google-cloud-python/tree/bigquery-1.23.0

[2020-02-12 02:31] icexelloss commented on #2065
I think the root cause of these are identified in #2074 . We should wait for the upstream fix. Let's close this?

[2020-02-12 02:41] jreback commented on #2065
no you don’t close an upstream issue when it’s strict=False xfailed as otherwise it would be fixed and no one sees it or it’s not fixed

either way need a resolution at some point

[2020-02-12 02:50] icexelloss commented on #2065
Got it. I will keep this open until those xfail are removed.

[2020-02-12 12:48] icexelloss commented on #2067
I looked at this yesterday. And noted, there are two orthogonal issues:
(1) BigQuery is not run as part of PullRequest CI
(2) BigQuery CI is broken

I not sure what's going on with (1) but for (2) I think it's because the newer version of bigquery library requires a higher version of PyArrow then we currently have (0.13). And we are not able to upgrade to PyArrow > 0.13 because pymapd https://gith

[2020-02-12 12:50] icexelloss commented on #2067
I think maybe for now we should ping BigQuery to a lower version to get the CI to pass and in the meantime work with pymapd folks to lift the PyArrow version ping from their side.

[2020-02-12 12:52] icexelloss commented on #2067
Pymapd issue: https://github.com/omnisci/pymapd/issues/292

[2020-02-12 13:25] jreback commented on #2067
sounds reasonable

[2020-02-12 16:49] xmnlab opened #2080 "SUPP: Check formatting conflicts of new isort with black"
isort 4.3.21 has some formatting conflicts with black 19.10b0

[2020-02-20 16:02] xmnlab commented on #2028
hey everyone. another question for the next release. currently we have 4 backends as experimental: OmniSciDB, MySQL, Spark and Pandas.

what is the criteria to move from experimental to stable?

[2020-02-21 01:14] jreback commented on #2028
ok to move pandas to stable
mysql not sure
omnisci ? your call
spark - @icexelloss

[2020-02-21 01:18] xmnlab opened #2085 "TST: doctest in ibis.bigquery.udf.api is failing for python 3.8"
A doctest in ibis.bigquery.udf.api is failing for python 3.8

[code]

[2020-02-21 01:20] xmnlab commented on #2085
https://github.com/ibis-project/ibis/issues/2085 proposes to skip this doctest

[2020-02-21 11:25] anmyachev commented on #2080
@xmnlab this issue should be closed :)

[2020-02-21 13:56] xmnlab commented on #2080
Thanks @anmyachev !

[2020-02-21 13:56] #2080 closed

[2020-02-21 16:01] xmnlab commented on #2028
@jreback thanks for the answer.
IMHO omnisci is stable at this point.

[2020-02-21 20:22] icexelloss opened #2087 "[BUG] Unable to select/filter/mutate after join"
[code]

[2020-02-21 20:23] icexelloss commented on #2087
cc @jreback @emilyreff7

This looks like a bug, right?

[2020-02-21 20:43] xmnlab commented on #2087
not sure .. but maybe this PR could be related: https://github.com/ibis-project/ibis/pull/1375

[2020-02-21 21:10] icexelloss commented on #2087
Yeah If this is not a bug then it's *really* surprising behavior :)

[2020-02-21 21:59] jreback commented on #2087
try this
[code]

[2020-02-23 22:19] anmyachev opened #2088 "BUG: load test datasets CI step failed"
[code]

[2020-02-24 01:08] xmnlab opened #2090 "CI: pymapd conda package is not compatible with Ibis on Python3.8"
As pymapd/omniscidb doesn't have support to pyarrow>0.13 it is raising compatible conflicts.

pymapd/omniscidb should add support to pyarrow 0.15 in the next few weeks.

ref #2066

[2020-02-24 01:22] xmnlab opened #2091 "CI: pyspark 2.* doesn't work on Python 3.8"
The current version of pyspark (2.*) doesn't work on Python 3.8 (https://github.com/apache/spark/pull/26194#issuecomment-566592265).

The next version of pyspark (3.0) will support Python 3.8

[2020-02-26 14:20] #2088 closed

[2020-02-26 15:15] xmnlab commented on #2028
@icexelloss is spark already stable?

[2020-02-26 15:48] xmnlab opened #2098 "TST: bigquery UDF tests are not working on Python 3.8"
[code]

[2020-02-26 15:53] xmnlab commented on #2098
also related to https://github.com/ibis-project/ibis/issues/2085

[2020-02-26 15:55] xmnlab commented on #2098
As CI already skips tests for udf, bigquery udf tests could have also an extra mark like:

`pytestmark = [pytest.mark.bigquery, pytest.mark.udf]`

[2020-02-27 12:45] #2036 closed

[2020-02-27 12:51] jreback commented on #2028
@xmnlab I think ok to start the release process. Please follow the instructions; if any changes pls add to the documentation later.

[2020-02-27 16:21] xmnlab commented on #2028
sounds great! I will work on that today! thanks @jreback !

[2020-02-27 17:01] icexelloss commented on #2028
Spark backend is still new and I prefer to keep it experimental.

[2020-02-27 17:02] icexelloss commented on #2028
I actually prefer not to move pandas to stable either, as there are some changes I am thinking about that might or might not break backward compatibility.

[2020-02-27 17:25] xmnlab commented on #2028
thanks for the information @icexelloss !

[2020-02-27 21:22] xmnlab commented on #2028
@jreback currently, according to the releasing documentation, we should use `dev/genrelease.py` and it will create create a release note for every PR merged. is it OK to mix that with the current release notes? if yes, should I add all release notes (bug, supp, feat)?

[2020-02-28 01:20] #1919 closed

[2020-02-28 01:20] #1920 closed

[2020-02-28 01:22] jreback commented on #2028
you can try that but will have to filter to avoid duplicated ones

[2020-02-28 15:22] ienkovich opened #2103 "Wrong SQL is generated for join"
Hi,

I noticed wrong code generated for join when used OmniSci backend. I reduced my test to the following:

<pre>
con = ibis.omniscidb.connect(
   host='localhost', port=6001, user='admin', password='HyperInteractive')

table = ibis.table([('id_1', 'int64'), ('val_1', 'date'),
                    ('dummy', 'date')], 'ibis_bug')

table = table.mutate(table['val_1'].name(
    'val_1_new'))
table =

[2020-02-28 15:54] icexelloss commented on #2091
Thanks for looking into this. Anything we should do now? (Other than stating the fact in the doc?)

[2020-02-28 20:04] #2028 closed

[2020-02-28 20:58] xmnlab commented on #2028
@jreback  I already created the tag. but it seems I don't have rights to upload to pypi

[code]

could you give permission to that?

[2020-02-28 22:04] jreback commented on #2028
@xmnlab you need a pypi login (use the same username). once you have that ping me and will add you.

[2020-02-28 22:09] xmnlab commented on #2028
I already have one, the same name as on github: xmnlab, thanks!

[2020-02-28 23:14] jreback commented on #2028
ok, update PyPi; you should be able to upload now!

[2020-02-28 23:19] xmnlab commented on #2028
great! thanks! I will work on that.

[2020-02-28 23:23] xmnlab commented on #2028
done!

[2020-03-01 22:34] anmyachev opened #2105 "BUG: OmniSciDBTable rewrites the method: `drop` inherited from TableExpr with behavior change"
**Problem**:
- `TableExpr.drop` is used for drop columns, but `OmniSciDBTable.drop` can be only used for drop the table from database.

**Workaround**:
- `table[table].drop(fields)` where `type(table) = <class 'ibis.omniscidb.client.OmniSciDBTable'>`.

**Proposed solutions**:
- rename `OmniSciDBTable.drop` -> `OmniSciDBTable.drop_table`
- remove `drop` method from `OmnisciDBTable` class and using

[2020-03-02 15:42] jreback commented on #2028
start with an email to the mailing list

pls post a draft here

[2020-03-02 22:59] xmnlab commented on #2028
sounds good! I will work on that between today and tomorrow and I will post it here to be reviewed.

what mailing list do you have in mind?

[2020-03-02 23:27] xmnlab opened #2109 "CI: pymapd creates package conflicts during installation on Python 3.8"

[2020-03-03 02:25] xmnlab commented on #2028
[code]

PS:
- I got the data from `git shortlog 1.2.0..1.3.0`
- I counted the entries on the release webpage and I found 102.
  - it doesn't have `Add release notes for release 1.3.0 (#2100)` (expected)
  - it seems it is missing the release note for the PR #1964 (lost in #2100).

[2020-03-04 19:55] xmnlab commented on #2028
@jreback any feedback?

[2020-03-05 15:21] xmnlab opened #2115 "Schema output doesn't show if the field is non-nullable"
The current schema doesn't show if the field is non-nullable

[code]

*Desired behavior*:

The output should show if the type is non-nullable, eg:

[code]

[2020-03-05 15:23] xmnlab commented on #2115
suggestion: change `DataType.__str__` method:

[code]

[2020-03-05 15:32] xmnlab opened #2116 "BUG: OmniSciDB backend doesn't honor non-nullable fields"
OmniSciDB backend doesn't honor non-nullable fields for creation table and when it get the schema table.

[2020-03-05 16:32] xmnlab opened #2118 "Update Release Documentation"
Previously the release note was generated just using `dev/genrelease.py`
The release v1.3 mixed the result of `dev/genrelease.py` and some manual notes into `release.rst`

`dev/genrelease.py` generate notes for FEAT, SUPP and BUG PRs automatically using as input information like PR's title.

Continuing using the approach of adding notes manually that is important to the end user, would we need to

[2020-03-05 22:40] xmnlab commented on #2116
Also it seems that Impala, PySpark, Spark don't get the "not-nullable" information from the database.
not sure if the creation also didn't work. Need more investigation.

[2020-03-06 11:18] burakongun opened #2120 "UnicodeEncodeError: 'latin-1' codec can't encode character '\u011f' in position 75: ordinal not in range(256)"
I want to export pandas data-frame as an Impala table but Turkish characters in data are causing an encoding problem.

[code]

I tried changing **encode('latin-1')** to **encode('utf-8')** in **/anaconda3/envs/jupyter/lib/python3.7/http/client.py** but the python kernel on Jupyter could not start.

Appreciate any help.

**Error trace:**

------------------------------------------------------------

[2020-03-06 11:49] Data-drone opened #2121 "create a kudu backed table?"
How can I create a kudu backed table from a pandas frame?

[2020-03-06 21:48] xmnlab commented on #2121
@Data-drone I didn't find a documentation for that, maybe this could help you: https://github.com/ibis-project/ibis/blob/master/ibis/impala/kudu_support.py#L83

let me know if it helped you

[2020-03-06 21:58] xmnlab commented on #2120
@burakongun what is the version of hdfs you are using? pls check if this issue is related to https://github.com/mtth/hdfs/issues/127
thanks!

[2020-03-06 23:58] xmnlab commented on #2091
sorry for the delay @icexelloss
I think for now we just need to write something about that in the docs.

[2020-03-07 00:16] xmnlab commented on #2103
@ienkovich I think it is not incorrect because the result represent well the expression you created. the naming maybe is not what you expected because maybe it needed to resolve the `a` first than `table`.

I don't have the exact answer right now for that ... but as I could check the result, it represents the expression you created.

[code]

let me know if I am missing anything pls

[2020-03-09 02:39] jreback commented on #2028
look on pydata@googlegroups.com

for ANN subjects eg pandas 1.0.0

we can do something really simple

[2020-03-09 16:18] xmnlab commented on #2028
how about?

Hi all,

I'm pleased to announce that Ibis 1.3.0 is now available, after 8 months of development.

Highlights include

Renaming "mapd" backend to "omniscidb"
Improvement of documentation, added new backends and geospatial methods to the documenation
Improvement of geospatial support
Addition of PySpark backend
Addition of JSON, JSONB and UUID data types
Support for Python 3.5 dropped.

[2020-03-09 16:28] jreback commented on #2028
@xmnlab yep that looks good (just use bullet points for the highlites)

fire away

[2020-03-09 16:48] xmnlab commented on #2028
thanks! done!

[2020-03-10 01:15] xmnlab opened #2123 "FEAT: DDL/Update"
It seems currently no backend has implemented a DDL/update method.

I have worked in proof of concept for this implementation https://gist.github.com/xmnlab/257070144639b5a2af1aad2d6eaa75ec

If anyone has any feedback that would be great.

I will work on a PR for that soon.

[2020-03-10 01:20] xmnlab commented on #2123
maybe compiling the expression for getting some information is not too robust ... wondering if anyone could give some alternatives

[2020-03-10 10:03] ienkovich commented on #2103
The problem is that this query fails to pass parsing by Calcite because of join condition. Outer select is done for t1 and t2 and therefore I expect join condition to be 'ON t1."id_1" = t2."id_2"', not 'ON t0."id_1" = t2."id_2"'. And Calcite seems to expect the same, query executes OK if I fix this condition manually.

[2020-03-10 11:12] burakongun commented on #2120
Hadoop version is 2.6.0-cdh5.14.2
I don't think it's related to that issue.

Is there any way to change latin-1 encoding to utf-8 when making requests?

[2020-03-10 15:17] xmnlab opened #2124 "Geospatial API functions"
Currently the geospatial functions are available on API using `geo_` prefix, for example `geo_x`.

I think would be good to organize all this functions inside just one module called `geo` or `geospatial`
and remove the `geo_` prefix.

Here is a POC about this implementation: https://github.com/Quansight/ivan-sandbox/blob/master/ibis/poc/ibis-api-geo.ipynb

[2020-03-10 15:32] xmnlab commented on #1924
Example about `ST_DFULLYWITHIN`, `ST_POINT` and `ST_WITHIN`

https://github.com/Quansight/ivan-sandbox/blob/master/ibis/poc/ibis-omniscidb-geospatial-1924.ipynb

[2020-03-10 18:22] xmnlab commented on #2118
@jreback any thoughts about this?

[2020-03-11 21:04] xmnlab opened #2128 "bug(SQLite): TopK as filter memory issue"
I was trying to use TopK as filter using sqlite backend

[code]

the execution time runs for a lot of time, I couldn't wait it finish because it was consuming all the memory available.

[2020-03-11 21:47] xmnlab opened #2129 "[Parquet] ParquetClient.table "path" parameter default value"
Checking the method ParquetClient.table

[code]

it seems `path` should have a default value `None`. Similar approach used by `CSVClient.table`: https://github.com/ibis-project/ibis/blob/master/ibis/file/csv.py#L57

[2020-03-11 23:08] xmnlab opened #2130 "feat(pyspark): no translation rule for `<class 'ibis.expr.operations.TopK'>`"
It seems PySpark backend doesn't have a rule for TopK. I tried the follow code

[code]

it raises the follow error: `No translation rule for <class 'ibis.expr.operations.TopK'>`

PS: it works for Spark backend.

[2020-03-11 23:28] xmnlab commented on #2130
Additionally, for expression using topk as filter it raises an error:

[code]

code used:

[code]

[2020-03-11 23:38] xmnlab opened #2131 "bug(MySQL): TopK as filter is failing"
The TopK operation used as filter is raising the follow error:

[code]

the code used is:

[code]

[2020-03-11 23:41] xmnlab opened #2132 "bug(PostgreSQL): TopK used as filter is failing"
TopK used as filter is failing:

[code]

The code used is:

[code]

[2020-03-11 23:46] xmnlab opened #2133 "feat: add left semi join support to clickhouse"
When TopK is used as filter it uses Semi Left Join. It seems Clickhouse doesn't implement Semi-Lef-Join, so it raises the follow error:

[code]

the code used was:

[code]

Maybe could be related to #512

[2020-03-12 10:32] burakongun commented on #2120
I worked around it.

[code]

I changed line 469 to;
`data = (c.encode("utf-8") for c in _data)`

You can also add `**kwargs` to all methods through **self.hdfs.put** and add encoding argument as
`db.create_table("test_ibis", data, encoding="utf-8")`;

[2020-03-12 10:33] #2120 closed

[2020-03-12 15:22] xmnlab opened #2135 "TopK filter improvement"
**Context**

As reported at #2130 #2131 #2132 #2133 it seems TopK filter should be improved.

#2154 Used left-semi-join as inner join to workaround the problem for omniscidb.
#512 proposes that is important to improve TopK filter

#512 is still valid?

[2020-03-14 02:25] #1450 closed

[2020-03-14 02:31] #2105 closed

[2020-03-14 15:40] #1924 closed

[2020-03-14 15:40] #1918 closed

[2020-03-14 15:40] #2129 closed

[2020-03-16 14:03] icexelloss opened #2136 "bug(pyspark): Fix PySpark error when doing alias after selection"
The following code will throw exception when executing with PySpark.

[code]

[2020-03-16 14:04] icexelloss commented on #2136
https://github.com/ibis-project/ibis/pull/2127

[2020-03-16 20:30] xmnlab opened #2137 "Impala non-nullable fields"
It seems Impala doesn't honor non-nullable fields

input:

[code]

output:

[code]

Checking impala documentation https://impala.apache.org/docs/build/html/topics/impala_create_table.html#create_table

it is not clear if impala has `not null`  attributes or just when it uses `kudu` table.

what would be the correct behavior here?

[2020-03-16 20:42] xmnlab opened #2138 "Spark/PySpark non nullable fields"
It seems it is not possible to create a table field with `not null` restriction on `Spark`.

Would be useful to raise a warning when `create_table`  on `pyspark`/`spark` backend receive any schema with a `non-nullable` attribute?

[2020-03-17 01:58] #2115 closed

[2020-03-17 21:10] xmnlab opened #2139 "CI: Fatal Python error: config_init_hash_seed: PYTHONHASHSEED must be "random" or an integer in range [0; 4294967295]"
I had an issue with `PYTHONHASHSEED` when I was working on #2086 2086

[code]
To fix that I needed to change from `"random"` to `random` on `linux.yml` and `Makefile`

[2020-03-17 21:30] xmnlab commented on #2139
actually the change on `linux.yml` looks not necessary.

[2020-03-18 06:01] deepkset opened #2141 "feat: add support for trigonometric functions (sin, cos, tan)"
Trigonometric Functions / Unary Operations like sin,cos,tan are missing from variable **_operation_registery** in file **_ibis\impala\compiler.py_**.

_operation_registry = {
    # Unary operations
    ops.NotNull: _not_null,
    ...
    **ops.Sin: unary('sin'),
    ops.Cos: unary('cos'),
    ops.Tan: unary('tan'),**
    # Unary aggregates
    ops.CMSMedian: _reduction('appx_median'),
    ...
}

K

[2020-03-18 06:51] kvemani commented on #806
@stonebig @costrouc @scottcode Hi folks, I work in Microsoft SQL Server group, and I am interested in contributing to this project. Will be great if you can let me know where to start, issues I can start contributing to, etc. Excited to be part of this!

[2020-03-18 10:11] jreback commented on #2141
@deepkset ibis is all volunteer

if you want these then best way is to propose a pull request.

[2020-03-18 15:34] costrouc commented on #806
@kvemani thanks for your interest in contributing to the sql server backend to ibis! I am currently trying to get https://github.com/ibis-project/ibis/pull/1997 merged. It is close but I will admit in the past month I haven't been pushing this PR as much. This PR only covers basic SQL with SQL Server. There is a lot of work that can be done once this PR is merged. These include more complete suppo

[2020-03-18 20:18] #2139 closed

[2020-03-19 06:19] kvemani commented on #806
@costrouc  Thanks for letting me know. Great work so far! I'll be happy to contribute to the features you have planned after #1997 is merged. Meanwhile, if there is anything I can do to help you move faster with #1997, please let me know.

[2020-03-19 14:31] datapythonista opened #2144 "Conda installing an old version if pandas is found"
Running `conda install -c conda-forge ibis-framework` seems to be installing (in Linux) Ibis 0.14, not the latest. This only happens when pandas is already installed in the environment.

CC: @xmnlab

[2020-03-19 15:14] xmnlab commented on #2144
@datapythonista thank for catching that up.
just to check, what is the version of the Python of your environment?

[2020-03-19 15:16] datapythonista commented on #2144
I'm using Miniconda, with Python 3.7.5.

[2020-03-19 17:24] scopatz commented on #2144
Does this happen when you create a new environment? Or only when you try to add to an existing one? A `conda update --all` might help

[2020-03-19 17:58] datapythonista commented on #2144
Something weird is going on. If install `ibis-framework` in a clean environment, it installs the latest version without problems. But if `pandas` is already installed, then version 0.13 or 0.14 are installed (depending if pandas is from `defaults` or `conda-forge`). If then I try to force version 1.3 to be installed, I get this error:
[code]

I see that the latest Ibis should be compatible with `p

[2020-03-19 18:25] xmnlab commented on #2144
I think we should pin pandas to >=1.0 into ibis-framework
also not sure if pandas <1.0 will work 100% with ibis as we worked in some issues when pandas 1.0 was released

[2020-03-19 20:49] scopatz commented on #2144
What is going on is that your current environment & the new updated needed by ibis-framework have incompatible pins somewhere in the stack. Conda doesn't know which ones are more important, so it tries to tell you what the conflicts are and then dies. You can try mamba, but usually just creating a new environment works

[2020-03-19 22:29] datapythonista commented on #2144
I agree, but more than a problem in my environment, seems to be a problem with any environment that has pandas. In a clean environment where I only install pandas (any version), conda will install an old version of Ibis. At least that's the behavior I've been experiencing in all my tests.

[2020-03-20 13:55] scopatz commented on #2144
Also, have you tried `conda update` rather than conda install in these situations?

[2020-03-20 16:56] datapythonista commented on #2144
I'm not really concerned about my own environment. I think the problem is that anyone installing Ibis in a conda environment with pandas (most people installing Ibis I guess?), will get an old version.

May be someone can try to reproduce this, to make sure there is nothing in my computer (I don't think it should). And I guess the solution is updating the version of an Ibis dependency in the next

[2020-03-20 21:46] xmnlab opened #2148 "TST: Add temp_table and temp_view fixture"
Currently there is no fixture for temp_table or temp_view.

It allows us to create tests simpler avoiding the needs of dropping the temporary table/view inside each test.

this issue i a follow up of https://github.com/ibis-project/ibis/pull/2086/files#r395833595

[2020-03-23 12:45] #2116 closed

[2020-03-23 12:45] #2148 closed

[2020-03-24 19:55] xmnlab opened #2151 "DISCUSSION: DDL create_table from a dataframe"
`create_table` could create a table from a inferred pandas schema

This issue is a follow up of https://github.com/ibis-project/ibis/pull/1981#pullrequestreview-294435851

[2020-03-30 15:11] datapythonista opened #2155 "Interactive mode doesn't work in Jupyter"
Running the next code in the terminal works as expected, `.count()` returns the number of rows as an `int`, since the option `interactive` is set to `True`:
[code]
But running the same exact code in a notebook returns the expression visualization instead:

![ibis_interactive_bug](https://user-images.githubusercontent.com/10058240/77928929-f7720500-72a0-11ea-9ffb-080eb810c10a.png)

[2020-03-30 15:12] datapythonista commented on #2155
@xmnlab do you mind having a quick look and let me know if this is indeed a bug, or am I missing something? I'll have a look if it's a bug. Thanks!

[2020-03-30 15:39] xmnlab commented on #2155
@datapythonista it looks a bug. I tried here and I saw the same behavior.

[2020-03-30 19:26] xmnlab opened #2156 "SQLite millisecond operation result can be a little bit different (+1) due a round function applied internally by "strftime""

[2020-03-30 20:23] emilyreff7 opened #2158 "feat: support complex Arrow dtypes"
Ibis does not currently support conversion from complex Arrow dtypes, such as Date32 and Date64.

[2020-03-31 00:40] xmnlab opened #2159 "BUG: Spark millisecond extraction from timestamp doesn't work"
Spark millisecond extraction from timestamp doesn't work

Probably it is inheriting the operation from impala.

The code and the output are below:

[code]

[2020-04-01 01:41] xmnlab opened #2162 "SUPP: MySQL CI MYSQL_INITDB_SKIP_TZINFO"
In the past, to fix an issue when running MySQL service locally on a HDD we needed to set `MYSQL_INITDB_SKIP_TZINFO: 1` (see https://github.com/ibis-project/ibis/pull/2030)

Currently this bugfix is already available for 10.4.12 (see https://github.com/docker-library/mariadb/issues/262#issuecomment-570243214)

removing `MYSQL_INITDB_SKIP_TZINFO: 1` will allow us adding more tests related to dateti

[2020-04-01 02:45] xmnlab opened #2164 "FEAT: OmniScidb - Add "method" parameter to OmniSciDB load_table"
Add to OmniSciDB load_data the paramter "method" (see https://pymapd.readthedocs.io/en/latest/api.html#pymapd.Connection.load_table)

method: string {‘infer’, ‘columnar’, ‘rows’, ‘arrow’}

Method to use for loading the data. Three options are available

- pyarrow and Apache Arrow loader
- columnar loader
- row-wise loader

The Arrow loader is typically the fastest, followed by the columnar loader,

[2020-04-01 15:38] xmnlab opened #2166 "BUG: [PostgreSQL] Millisecond extraction rounds up the result"
Currently the millisecond extraction is rounding up the result.

Using the same approach used by pandas (for example for microsecond), it should use a `floor` method to round it down.

[2020-04-01 16:03] xmnlab opened #2167 "BUG: OmniSciDB Millisecond extraction doesn't work"
OmniSciDB Millisecond doesn't work, probably because it is using the Impala translation.

[code]

[2020-04-01 16:23] xmnlab opened #2168 "BUG: Pandas Millisecond extraction doesn't work"
Pandas backend uses the follow expression for ExtractTemporalField:

`return getattr(data.dt, field_name).astype(np.int32)`

as `dt` doesn't have `millisecond` it raises an error.

[2020-04-01 16:43] xmnlab opened #2169 "BUG: MySQL Millisecond extraction doesn't work"
MySQL Millisecond extraction doesn't work:

[code]

it seems MySQL doesn't have `millisecond` extraction, but as it has `microsecond` extraction, it can be used with `% 1000`

[2020-04-01 22:13] xmnlab opened #2172 "CI: [Clickhouse] clickhouse-server:18.12 doesn't have toDayOfYear support"
The PR https://github.com/ClickHouse/ClickHouse/pull/3146 adds toDayOfYear support was merged at Sep 17th, so the docker image tag more close to this date is v18.14

would be good this tag to allow support for toDayOfYear operation.

[2020-04-06 18:19] #2172 closed

[2020-04-06 23:09] #2162 closed

[2020-04-08 14:45] tswast opened #2179 "[BigQuery] Missing OAuth Developer Verification"
Sub-tasks

- [x] verify domain in Google Search Console
- [x] add privacy policy docs to ibis docs set
- [x] submit app for approval to Google

---

I received the following email from Google:

We'll need to verify that the docs.ibis-project.org domain is associated with the `ibis-gbq` project and submit the application for verification.

[2020-04-08 21:09] tswast commented on #2179
Google is now requiring DNS verification for domains. I don't think the old URL prefix verification can be used to verify apps anymore.

![image](https://user-images.githubusercontent.com/247555/78833848-2c720c00-79b3-11ea-8ad1-1a85c29d8f47.png)

Could someone who has the ability to add `TXT` records to the `ibis-project.org` domain do the following steps?

1. Sign in to your domain name provider

[2020-04-08 23:18] jreback commented on #2179
cc @cpcloud

[2020-04-09 00:03] datapythonista opened #2180 "Permission denied error in ibis-docs container"
I'm having problems running the docs. Things were working few days ago, but I'm having a permission denied error when running the docs. I deleted all containers and images, started from zero in Ibis master, and still the same problem.

The error happens when executing:
[code]

But could also reproduce it by opening a terminal manually with the `ibis-docs` image:
[code]

[2020-04-09 13:14] #2166 closed

[2020-04-09 13:14] #2167 closed

[2020-04-09 13:14] #2168 closed

[2020-04-09 13:14] #2169 closed

[2020-04-09 13:15] jreback commented on #2166
@xmnlab if you can label issues when you create would be great.

[2020-04-09 14:01] xmnlab commented on #2166
sure, I will do it! thanks!

[2020-04-09 16:09] jreback commented on #2179
cc @wesm (Phil said he doesn't have access here either :->)

[2020-04-09 23:44] jreback opened #2181 "failing CI"
seems running out of space on the CI
though recent pushes were ok

[2020-04-10 14:55] jreback commented on #2181
cc @xmnlab

[2020-04-10 16:55] xmnlab commented on #2181
@jreback I can work on that today at the end of the day (some deadline here today of another project)

[2020-04-13 10:52] datapythonista commented on #2181
I guess this is the cause for this error: https://dev.azure.com/ibis-project/ibis/_build/results?buildId=2306&view=logs&j=8f09edc2-e3b7-52de-126a-0225c4f3efa1&t=ee6b35f3-eb84-567b-2649-3343bed41b12&l=1962

[2020-04-16 19:38] xmnlab commented on #2181
windows jobs are also failing: `Windows fatal exception: access violation` https://dev.azure.com/ibis-project/ibis/_build/results?buildId=2323&view=logs&j=a729dcb5-12ec-5e84-56cf-ed9028c16680&t=01bf3f77-bc94-5d91-05c1-58d17e42c42d&l=782

[2020-04-20 13:17] emilyreff7 opened #2188 "feat: create rule for tuples"
ibis.expr.rules does not contain a rule for tuples, and there is no 'infer' rule registered for tuples in expr.datatypes.

[2020-04-22 18:04] datapythonista commented on #2181
@jreback looks like the CI is failing with 3 independent errors:

- **Windows** with an `access violation` error, which seems to be caused by new `arrow-cpp` conda builds (there are new builds of the same 0.16.0 version, not sure why). I'm checking in #2190 if this hypothesis is correct, and a pin to the specific builds in Windows fixes the error for now.

- The **docs, build and benchmarks** buil

[2020-04-22 19:36] datapythonista opened #2191 "Access to Twitter account"
Does anyone have access to the Ibis Twitter account? https://twitter.com/IbisData

I added a link in the website, that I should remove if the account is not active anymore. Also, @saulshanabrook is giving a talk on Ibis, and would be great to mention that Twitter account when promoting it, and to use the Ibis account to promote it too.

CC: @wesm

[2020-04-23 00:18] datapythonista opened #2192 "CI: Unpin arrow builds"
Arrow 0.16.0 builds in conda-forge were causing `access violation` errors on Windows builds in our CI. In #2190 we pinned to older builds of the same version to fix the problem. When new builds that work correctly are uploaded to conda-forge, we should revert the commit pinning the builds.

[2020-04-24 21:35] tswast commented on #2179
I'll try with the "URL Prefix" version in my docs PR #2184 to add required privacy policy, but I'm pretty sure we'll still need the DNS TXT tag `google-site-verification=IVqzkYiD5E35oD4kkVOcTYCTfqWKU1f6zOHCnLIPkUU` on ibis-project.org in order to go through the full app verification process.

[2020-05-01 07:35] mikehinchey opened #2197 "mutate geo column causes TypeError: geo_equals() got an unexpected keyword argument 'cache'"
Using `mutate` with the same GEO column more than once causes an error.  The error happens when printing or using `compile()`.  If I only reference the same column once, the result is correct.

I'm using this with omniscidb.

The `geo_equals` function does not have a cache arg: https://github.com/ibis-project/ibis/blob/cc0ebb6242e75670d282476d6ea10bf5b8583fc4/ibis/expr/api.py#L1845

[code]

[code]

[2020-05-06 20:20] emilyreff7 opened #2199 "ENH: Register dtype rule for ibis Timestamp to Spark TimestampType"
A rule is already registered for converting Spark timestamp to Ibis timestamp dtype, but the converse rule does not exist.

[2020-05-07 11:55] rd5802 opened #2200 "ibis.impala.connect has no krb_host parameter as impala.dbapi.connect"
In my environment KrbHostFQDN host is different than Impala host. When connecting with Impyla (```impala.dbapi.connect```), specifying ```krb_host``` parameter solves this separation. Can you add this parameter to ```ibis.impala.connect ``` function? Or maybe there is another solution?

For now connecting with Ibis doesn't work when with Impyla does:

Impyla:
[code]
Ibis:
[code]

[2020-05-07 12:46] datapythonista opened #2201 "Restore spark tests"
To fix the CI, it was needed to temporary remove the tests for spark and omnisci, in #2194.

The original problem was that the CI was using more than the 10Gb of available disk space. After splitting the tests in two groups, to avoid downloading too much backend stuff in a single build, omnisci and spark give problems.

In the case of omnisci, the problem is that installing `pymap` on top of the r

[2020-05-07 12:51] jreback commented on #2201
cc @icexelloss @xmnlab

[2020-05-07 14:16] rd5802 commented on #2200
Similar to https://github.com/cloudera/impyla/pull/248

[2020-05-07 19:37] waldenrt opened #2203 "Issue with Kerberized Cluster with HDFS Connection"
All,

When I'm creating a connection to a secured (kerberos/ssl/tls) cluster to write into a table via Impala and turn off the verify_ssl in the HDFS_Connect step, everything seems to work fine other than warnings that come up.  When I set verify to true, it fails with the following error:

SSLError: HTTPSConnectionPool(host='10.52.132.51', port=14000): Max retries exceeded with url: /webhdfs/v1/t

[2020-05-07 20:05] waldenrt commented on #2203
Here is the warning I am getting when I set verify to false:

/home/cdsw/.local/lib/python3.6/site-packages/urllib3/connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

[2020-05-07 20:23] xmnlab opened #2204 "Sync ibis conda-feedstock dependencies with ibis dependencies"
https://github.com/conda-forge/ibis-framework-feedstock/pull/43 added some pinnings to the conda package recipe. The pinnings were:

- numpy >=1.15
- pandas >=0.25.3
- pyarrow >=0.15
- pymapd >=0.22.0
- thrift >=0.11

the current requirement file  for development (eg. https://github.com/ibis-project/ibis/blob/master/ci/requirements-3.7-dev.yml), related to these packages, differs for pymapd, thrif

[2020-05-15 20:58] tswast commented on #2179
Since we are having trouble tracking down a domain owner, and I see @datapythonista is working on retooling the website (#2147), maybe it's time for a new domain too? I see several ibis related domains available.

[2020-05-19 20:01] vnlitvinov commented on #2201
@datapythonista can you give a link to read on why tests were turned off? I only see there were some "space concerns"... I'm interested in bringing back OmniSci testing, can I help with something here?

[2020-05-20 10:30] datapythonista commented on #2201
I don't have a particular link, we got the CI red, and we had to merge 6 or 7 PRs to fix it, since there were several problems going on at the same time.

There were two different things affecting omnisci tests, disk space and the conda solver.

For disk space, the approach was to split them in groups, so not all docker images were loaded in the same build. #2194 was the initial fix to that proble

[2020-05-22 06:54] xyliutw opened #2215 "ImpalaClient.close() function doesn't work"
All,

After creating a connection to HDFS/Impala and do the function exists_table(), I usually use close() to clean all connecting session. But I noticed that if I close the connection first, the function create_table() still works. It means the function ImpalaClient.close() doesn't work and the connecting session will be stored in the pool. How do I clear these connections indeed?

Thanks,

Eric

[2020-05-22 21:41] kvignesh1420 commented on #1063
I still get this exception while creating kudu backed impala tables:
[code]

impyla==0.15.0
ibis-framework==1.3.0.

Is there any workaround for this ?

[2020-05-22 22:54] kvignesh1420 opened #2217 "HiveServer2Error: AnalysisException: Kudu tables must be specified using 'STORED AS KUDU'."
I still get this exception while creating kudu backed impala tables:

Code:
[code]

[code]

impyla==0.15.0
kudu-python==1.12.0
ibis-framework==1.3.0.
cloudera cluster 6.3.x

Is there any workaround for this ?

[2020-05-26 12:38] #2155 closed

[2020-05-26 19:28] datapythonista opened #2219 "DOC: Highlight syntax in home page code"
In the home page, we have a simple Ibis example: https://docs.ibis-project.org/#example

Would be nice if we could have the Python syntax highlighted.

I guess we need two things:
- Adding Markdown extension to the [pysuerga config](https://github.com/ibis-project/ibis/blob/master/docs/web/config.yml#L7), so it adds classes to the html
- Adding a css with the syntax colors

Didn't research myself,

[2020-05-26 23:28] #1979 closed

[2020-05-27 14:49] dchigarev opened #2220 "Impala: hash works incorrect with ints '0' and '1', interprets them as bool"
It seems that there is a bug in Impala hash implementation.

We could see Impala docs with sample hash functions outputs: https://docs.cloudera.com/documentation/enterprise/6/6.3/topics/impala_math_functions.html#math_functions__fnv_hash

### Code to reproduce:
[code]
The output would be:
[code]
as we see the actual output of hash function is hash value of `True`.
Passing to it `L(0, type="int64")

[2020-05-28 20:34] xmnlab commented on #1975
maybe we can use a similar approach used for `ntile` (#2146). In this case, the tests can compare ibis `cume_dist` with (pure) pandas `percent_rank` and we can create an ibis pandas `percent_rank` operation and use it to check other backends `percent_rank` operation.

[2020-05-28 20:34] timothydijamco opened #2222 "Upgrade pyarrow version"
For the PySpark and Spark tests to succeed, pyarrow must be pinned to be at 0.14.1 or below. Ideally, we want to use the latest (or a higher) pyarrow version.

[2020-06-01 15:04] xmnlab opened #2225 "docs: automate addition/deletion/updating of api docs"
It seems the current documentation workflow doesn't recognize new operations, so we need to include  new operations manually https://github.com/ibis-project/ibis/blob/master/docs/source/api.rst

[2020-06-01 20:25] xmnlab opened #2226 "TST: MySQL window operations tests are not running on CI"
The MySQL backend test class check if the version of MySQL server support or not window functions.

The current algorithm doesn't recognize different formats of version string from sqlalchemy[1] and the tests are not executed:

`SKIPPED [22] /ibis/ibis/tests/all/test_window.py:185: Backend MySQL does not support window operations` [2]

some examples of format of version string from sqlalchemy can

[2020-06-01 20:40] xmnlab opened #2227 "MySQL window tests failing"
There are some mysql window tests that are failing:

[code]

the error is:

[code]

ref #2226

[2020-06-02 18:05] zbrookle opened #2229 "BUG: Multiple aliases on the same column not behaving as expected"
[code]

I think the expected behavior would be a table expression with:
[code]

However, the result I'm getting is:
[code]

[2020-06-02 18:09] zbrookle opened #2230 "ENH: No implementation for sql intersect"
There's currently no implementation of a set intersection between tables, which seems like it would be needed in the future for compatibility with sql interfaces, for example

SELECT column1 [, column2 ]
FROM table1 [, table2 ]
[WHERE condition]

INTERSECT

SELECT column1 [, column2 ]
FROM table1 [, table2 ]
[WHERE condition]

I would imagine the syntax would be along the lines of (with table bein

[2020-06-02 21:17] xmnlab opened #2231 "ENH: Add support for window operation to ibis.sqlite"
Currently ibis.sqlite doesn't support window operations but sqlite supports such functions (https://www.sqlitetutorial.net/sqlite-window-functions/).

[2020-06-03 13:32] timothydijamco commented on #2199
this has been fixed in #2223

[2020-06-05 23:17] xmnlab commented on #1934
@saulshanabrook it seems the float issue was fixed. I tested it locally and I didn't have the problem any more (https://github.com/omnisci/omniscidb/issues/305).

feel free to reopen this issue if you still have this problem.

[2020-06-05 23:17] #1934 closed

[2020-06-06 21:34] zbrookle opened #2235 "BUG: Pandas backend missing float16 and float32 type"
This is a really easy fix, the entries
[code]
are just missing from the IBIS_TYPE_TO_PANDAS_TYPE dictionary

[2020-06-07 20:49] zbrookle opened #2236 "ENH/DOC: sql_to_ibis package"
I've just finished making a package which parses sql into ibis expressions. The link to the repo is here https://github.com/zbrookle/sql_to_ibis. I was wondering if there was any interest in merging the work that I've done with the current ibis. I understand if there isn't because it is a lot of work to maintain a sql parser, and if so would it be possible to maybe link my package in your document

[2020-06-09 12:52] timothydijamco opened #2238 "Configure pep8speaks"
pep8speaks flagged a line that was OK as "too long" in https://github.com/ibis-project/ibis/pull/2198#issuecomment-640723544

It may need to be configured

[2020-06-09 22:23] zbrookle opened #2240 "BUG: Can't perform having without group by clause"
Is there a reason that ibis doesn't allow having without a group by clause? I know that ibis is supposed to have first class sql support, so it in theory should be able to mimic the behavior of a statement such as

[code]

However, I found this code, while experimenting, making it seem like this behavior was explicitly not allowed

[code]

Is there a reason that this functionality doesn't exist? I

[2020-06-10 22:48] #2226 closed

[2020-06-10 22:48] #2227 closed

[2020-06-10 23:22] xmnlab opened #2241 "AttributeError: module 'google.api_core' has no attribute 'gapic_v1'"
`ERROR  - AttributeError: module 'google.api_core' has no attribute 'gapic_v1'`

ref: https://github.com/googleapis/python-api-core/issues/47

[2020-06-11 14:49] chapmanbe opened #2243 "Working with TimeDeltas with Postgres Backend Fails"
I'm trying learn Ibis by using it to query a postgres database. I read in two timestamps and then create an IntervalValue by computing the difference

[code]
I then try to extract the number of days in the interval

[code]

This produces an error:

[code]

With the following description of the attempted execution

[code]

Are these time manipulations simply not yet implemented for Postgres?

[2020-06-11 16:39] zbrookle opened #2245 "ENH: Dask backend"
Are there any plan to create a dask backend? I imagine the implementation would be near identical to the pandas one that already exists

[2020-06-11 16:41] zbrookle commented on #1156
Just realized this issue was here, issue #2236 has a package listed in it that I've created to perform solve this issue, either as an internal parser or an external package listed in documentation

[2020-06-11 16:44] jreback commented on #2245
would surely take this, and agree its pretty darn straightforward to do.

[2020-06-11 20:25] #2008 closed

[2020-06-11 20:34] xmnlab commented on #1993
I am wondering if would be good to upload a conda package with master branch changes to a development channel periodically (ibis-dev), maybe weekly, or for each PR merged.

There are some people that would be happy if a ibis-dev package would be available.

[2020-06-12 18:09] #2241 closed

[2020-06-14 22:24] jreback commented on #2236
yes let's start with a link (and in-line example would be nice). I think will need some time to look at the package itself .

[2020-06-14 22:31] #1491 closed

[2020-06-16 15:11] zbrookle commented on #2236
@jreback Ok sounds good. I don't see any kind of partners/third-party library pages, so where should I add the link?

[2020-06-18 22:18] #2231 closed

[2020-06-19 07:14] mikehinchey opened #2255 "bug: infer_numpy_scalar() got an unexpected keyword argument 'allow_overflow'"
Using a numpy.int64 type in this expression causes an error.  Using a literal works correctly, and using `int(x)` in the expression also fixes the problem.  I ran into this because my first query returns a count as int64, then that is used in the equation in my second query.

The caller uses a param
https://github.com/ibis-project/ibis/blob/2aaa4a050e920f1a14c474a98e40f1dc20a544a4/ibis/expr/rules.

[2020-06-21 13:00] datapythonista commented on #2181
This was fixed.

[2020-06-21 13:00] #2181 closed

[2020-06-27 19:43] edgarrmondragon commented on #2231
Finally closes #1597

[2020-06-29 22:20] tswast opened #2258 "bug(pandas): TypeError: pipe() missing 1 required positional argument: 'f' when calling `.seconds()` on Interval"
If I to subtract two timestamp columns to get an interval, it works and I'm able to execute on the pandas backend. If I then try to call `.seconds()` or `.milliseconds()` on that interval, the pandas backend fails with `TypeError: pipe() missing 1 required positional argument: 'f'`

Working code:

[code]

Output:

[code]

Broken code:

[code]

Output:

[code]

[2020-06-30 23:54] #2235 closed

[2020-07-02 13:14] datapythonista commented on #2191
@wesm, @jreback any of you have access to the Ibis domain (ibis-project.org) and twitter account?
- If you have access to the domain, can you please change the redirect, so docs.ibis-project.org redirects to ibis-project.org, and not the other way round? I think that makes more sense now that there is a website.
- If you have access to the Twitter account, can you share the password, so we can ann

[2020-07-02 13:26] datapythonista opened #2262 "Represent Selection operation in expression graph"
When we have a expression like the next, the graph representing the expression (`_repr_png_`) show an expression box:
[code]
Then, if we have a calculated column, Ibis represent with the appropriate chart, for example a `Divide` operator or a table column and a literal:
[code]
But putting both things together, results in just the `Selection` box, and the `Divide` part gets lost:
[code]

**Would it

[2020-07-02 13:28] datapythonista opened #2263 "Clean up of GitHub labels"
I don't find the labels of the project particularly useful, half of the issues I create or triagge end up without label. And I think half of the labels haven't been used.

I'm thinking on cleaning up a bit, including creating a `core` label for the things related to expressions/operations. And also prefixing all the backends with `backend - XXX`.

Please let me know if you have any objection.

[2020-07-02 18:18] xmnlab commented on #2262
@datapythonista
I think it makes total sense ... but not sure how much effort would be necessary for that.

[2020-07-02 18:20] xmnlab commented on #2263
I don't have any objection

[2020-07-02 19:08] jreback commented on #2263
ok by me

[2020-07-02 21:59] datapythonista commented on #2263
I did some changes to the labels:
- Remove the ones that were not being useful, to make it easier to find the rest
- Standardized the backends labels, starting all them by `backends - XXX`, and having the same color, to see faster that they are a backend label
- Made the `docs` and `good first issue` labels the same color as in pandas

I guess those changes should make our lives easier, but let me

[2020-07-02 21:59] #2263 closed

[2020-07-02 22:04] datapythonista commented on #2240
Thanks @zbrookle, I think this is a not well known feature of SQL (at least I didn't know about it). I guess that's the reason this was implemented. If you want to give a try at removing that condition, and see if everything works as expected, a PR would surely be welcome.

[2020-07-02 22:06] datapythonista commented on #2243
@xmnlab do you know if this is indeed a bug?

[2020-07-02 22:29] datapythonista commented on #2200
I see that in Ibis you set up the kerberos client, but you're not using it in `connect`. Did you try to pass `krb_host=http://impala_host:14000` to `connect`?

[2020-07-02 23:44] xmnlab commented on #2243
@chapmanbe what is the version you are using?

I tried your example and it worked here (using master branch) https://github.com/Quansight/ivan-sandbox/blob/master/ibis/issues/psql-time-interval.ipynb

also I tried the same notebook (without "load_data") using version 1.3.0 and it worked too

[2020-07-06 20:09] ZeroCool2u opened #2267 "Impala pandas_interop.py DataFrameWriter.write_csv() fails with PermissionError on Windows Platforms"
pandas_interop.py DataFrameWriter.write_csv() fails with PermissionError on Windows Platforms due to how Pythons [tempfile.NamedTemporaryFile()](https://docs.python.org/3/library/tempfile.html#tempfile.NamedTemporaryFile) works.

Specifically, if the OS is Windows and the NamedTemporaryFile delete parameter is True, the IO operation will fail, because Python will open the file and then Pandas will

[2020-07-07 15:53] zbrookle commented on #2240
@datapythonista I'll definitely give a try!

[2020-07-07 17:38] zbrookle commented on #2240
@datapythonista While working on this issue, I've found some limitation in the way that .aggregate is implemented. Unlike most other ibis classes, it has parameter having, rather than an attribute/method .having(). I think it's a bit confusing and messy for it to be structured like that and also prevents the user from having a field called "having". I think an attribute would probably be better su

[2020-07-07 17:41] datapythonista commented on #2240
Not so familiar with that part of the code yet. @jreback, thoughts on this?

[2020-07-09 02:49] #2219 closed

[2020-07-10 09:23] datapythonista opened #2271 "Conda takes too long to solve for the CI (again)"
Builds in the CI are failing again, apparently conda couldn't solve in one hour (the timeout for builds).

See for example: https://dev.azure.com/ibis-project/ibis/_build/results?buildId=2697&view=logs&j=9e44c89c-30a9-51db-3587-8ac019948434&t=6577b211-5bee-5bb8-9b94-e94e42a9e8f4&l=688

[2020-07-10 10:49] jreback commented on #2271
can u show the diff in the package list?

[2020-07-10 10:53] datapythonista commented on #2271
I think it's again related to `pymapd`. Removing it makes the solver finish in 4 minutes. They released a new version couple of days ago, I'm still testing.

I don't think our requirements list changed. And I'm not sure how to get a diff of what's resolved if I can't make the solver finish first. If I'm not understanding you let me know. Otherwise I'll keep testing and see if I can narrow the prob

[2020-07-10 10:56] jreback commented on #2271
let’s let’s pin pymapd

[2020-07-10 14:18] MarcSkovMadsen commented on #806
Listening in. I’m also interested in support for sql server. Especially in connection with HoloViews https://github.com/holoviz/holoviews/pull/4517#issuecomment-656688109

[2020-07-12 05:13] goodwanghan commented on #2245
Hey, can you also add the support for Ray (modin?) and Rapids AI? I think they are all similar

[2020-07-12 16:44] #2271 closed

[2020-07-13 16:51] timothydijamco opened #2275 "CI: Jobs failing on "Run tests" step"
The `Run tests` step of our `LinuxTest` CI jobs fails with this error:

[code]

Example (#2270)
https://dev.azure.com/ibis-project/ibis/_build/results?buildId=2752&view=logs&j=9e44c89c-30a9-51db-3587-8ac019948434&t=2f867097-be10-5329-eb9f-67e8713aae27

Example (#2269)
https://dev.azure.com/ibis-project/ibis/_build/results?buildId=2753&view=logs&j=9e44c89c-30a9-51db-3587-8ac019948434&t=2f867097-be1

[2020-07-13 17:07] xmnlab opened #2276 "BUG: OmniSciDB - Fix the default `else_` for the `when` operation"
Currently, the default omniscidb `else_` operation, combined with `when`, is given a wrong translation `CAST(NULL AS STR)`.
maybe it is an old implementation and it should be updated. IIRC, OmniSciDB didn't have literal NULL support some years ago.

probably, it can be translated directly to NULL.

Current behavior:

[code]

[2020-07-13 19:16] timothydijamco commented on #2275
Could be the version of `pytest`

The last successful CI run's `Run tests` step:
[code]

vs the first failing CI run's `Run tests` step:
[code]

[2020-07-13 20:11] timothydijamco commented on #2275
I think the reason why the CI run for `88d7054` didn't have _all_ jobs failing is because [`pytest` `6.0.0rc1` was uploaded to `conda-forge` around the same time that CI run was happening](https://anaconda.org/conda-forge/pytest/files)

[2020-07-13 20:21] timothydijamco opened #2278 "CI: Undo pytest<6.0.0rc1 pin when higher version works with CI"
`pytest` is pinned to be <=6.0.0rc1 in #2277 to fix the CI (see #2275)

We should unpin when higher versions of pyarrow work with the CI

[2020-07-13 22:47] timothydijamco commented on #2275
Fixed!

[2020-07-13 22:47] #2275 closed

[2020-07-14 09:38] datapythonista commented on #2278
Is this a duplicate of #2222 or #2192?

[2020-07-14 10:57] timothydijamco commented on #2278
Oops, this is for `pytest` not `pyarrow`

[2020-07-14 21:26] tswast opened #2280 "TST: BigQuery tests fail with latest google-cloud-bigquery package"
After removing `pymapd`, I'm able to run the BigQuery tests locally. Several tests currently fail:

[code]

[2020-07-15 14:07] tswast commented on #2280
I filed https://github.com/googleapis/python-bigquery/issues/168 for the `ibis/bigquery/tests/test_client.py::test_large_timestamp` failure, as that will require a fix upstream to fallback to datetime objects (or maybe provide fletcher as an option) to be able to handle these ranges of values.

[2020-07-15 20:42] datapythonista opened #2281 "DOC: Improve and standardize backends documentation"
I think the documentation of the backends can be clearer. We can have a `Backends` section in the top directory, with a child for every backend. Every backend page could have:
- The quick start instructions (e.g. https://docs.ibis-project.org/docs/getting-started.html#bigquery-quickstart)
- The API reference for the backend (e.g. https://docs.ibis-project.org/docs/api.html#bigquery-client)
- Any o

[2020-07-17 00:01] jreback commented on #2229
reverting the PR

[2020-07-20 14:22] zbrookle opened #2286 "feat: add cast as category support for sql backends"
I just made a pull request for adding this to the pandas backend, I'm fairly certain that category isn't a data type in any sql dialects, but this is just a note to check if those need to be added and to add them if they do. For reference, in code this is just support for

[code]

[2020-07-20 21:39] kvemani commented on #806
Firstly, thanks again @costrouc for the significant work on SQL Server backend. It has been a few months since our last touchpoint here, so I wanted to check with you. Are you close to merging your changes into ibis main? If you are short on time, will it be okay for me to work on merging your changes?

@costrouc @cpcloud @scottcode @stonebig Please let me know what is the best practice for this i

[2020-07-21 17:00] jreback opened #2288 "DEPS: drop 3.6"
its time.

[2020-07-21 17:00] jreback opened #2289 "TST: 3.9 support"
3.9 in beta now, should be easy to support once released.

[2020-07-22 05:03] westurner opened #2290 "DOC,BUG: ibis-project.org is 404'ing, broken links, HTTPS, Read the docs?"
http://ibis-project.org/ is 404'ing

https://docs.ibis-project.org/

[2020-07-23 07:24] joosbuijsNL commented on #2290
Seems to work again! :D

[2020-07-23 13:49] westurner commented on #2290
I suppose I'll leave this open pending an explanation?

[2020-07-23 13:56] westurner opened #2294 "docs(marketing): homepage > comparison to other tools"
Suggestions for updates to the homepage:

- [ ] Update comparison to SQLAlchemy
- ~~[ ] Add blaze / dask~~

SQLAlchemy is one back end that Ibis can compile expressions using.

https://github.com/ibis-project/ibis/blob/master/ibis/sql/alchemy.py

Current:
http://ibis-project.org/

Suggested:

use to compile Python expressions to SQL expressions. Ibis is one of a number of analytics tools built ato

[2020-07-23 14:50] westurner commented on #2294
Ibis compared with Blaze + Dask would also be useful
https://blaze.pydata.org/

[2020-07-23 14:53] jreback commented on #2294
@westurner blaze, DyND, odo, datashape are long abandonware :-<

[2020-07-23 15:07] westurner commented on #2290
A new sitemap.xml (and stable, versioned URLs) might be helpful for search results:

- https://www.google.com/search?q=ibis+dask
  - https://docs.ibis-project.org/roadmap.html -> 404

ReadTheDocs generates sitemaps, HTTPS redirection, custom domains, does stable versioned URLs, etc
https://readthedocs.org/

[2020-07-23 15:58] jreback commented on #2290
@datapythonista was updating how we build the docs, so this is all patched now.

[2020-07-23 15:58] #2290 closed

[2020-07-23 16:08] datapythonista commented on #2290
Thanks for the heads up @westurner. We changed the domain from docs.ibis-project.org to ibis-project.org, and the CNAME file in the GitHub pages repo was being overwritten from a template in a repo that was not maintained, and we couldn't change. That part has been refactored in #2291, #2292 and #2293. Now all the files for publishing the website are in this repo, and that won't happen again. But

[2020-07-23 16:32] westurner commented on #2290
What about HTTPS and HSTS support? (And serving past versions of the docs?)

"HTTPS for Custom Domains"
https://blog.readthedocs.com/https-for-custom-domains/

"Optional HSTS support"
https://github.com/readthedocs/readthedocs.org/issues/4135

...

"Custom domains on GitHub Pages gain support for HTTPS"
https://github.blog/2018-05-01-github-pages-custom-domains-https/

https://github.com/ammaraska

[2020-07-23 21:06] LeeTZ opened #2297 "feat: implement following for window for pandas backend"
For pandas backend, `window` allows `following` as a param but implementation is missing:
https://github.com/ibis-project/ibis/blob/master/ibis/pandas/execution/window.py#L180

[2020-07-24 20:07] amueller commented on #806
I just had a conversation with @datapythonista about having the backend in a separate repo. I think it would make sense if MS/@kvemani would own that, what do you think? @costrouc are you still working on this as a separate backend and/or would you be ok with @kvemani putting your changes in a stand-alone repo and building on it?

[2020-07-28 05:57] acivitillo commented on #2245
One difference between pandas and dask is that in dask you can build a computational graph programmatically. We use this pattern to create an extract graph to run ETL jobs from various backends (Redshift, Salesforce, etc.). We define the columns and other attributes in a .json and then pass that to an Extract() to generate and submit the graph to a cluster. Since we are planning to support various

[2020-07-31 16:56] datapythonista commented on #2191
Got access, and updated the account data.

[2020-07-31 16:56] #2191 closed

[2020-08-03 18:35] achapkowski opened #2307 "docs: extending/adding backends"
Hello,

Let's say I want to add a new database backend, is there an existing implementation I should follow to extend it?

I looked at the doc: http://ibis-project.org/docs/user_guide/sql.html but it is a bit lacking.

Thank you

[2020-08-03 18:47] datapythonista commented on #2307
Thanks for the interest @achapkowski. We don't have much documentation at the moment unfortunately. [This](https://ibis-project.org/docs/user_guide/extending.html#adding-a-new-backend) is the relevant section, but there is not much there.

You can check these pages that can help a bit:
- To understand the classes of backends: https://ibis-project.org/docs/backends/index.html#classes-of-backends
-

[2020-08-03 19:41] xmnlab commented on #2307
@achapkowski the information @datapythonista is a good start point.

I think the third-party approach used by @costrouc is very good because you can isolate your backend CI infrastructure.
As currently, there are no tests exclusive for a third-party approach, probably you would need to create your own tests. it would be good to have a separated repo just for tests that could be reused for any thir

[2020-08-03 20:44] costrouc commented on #806
@amueller I am not currently working anymore on a separate backend and would be happy for you and @kvemani putting the changes in a stand alone repo and maintaining that. I am so happy to see this moving forward as a supported backend. Thank you!

[2020-08-04 19:51] jreback opened #2309 "DOC: add asof_join to TableExpr docs"
should be here  http://ibis-project.org/docs/api.html#api-table

[2020-08-04 21:42] tswast opened #2310 "ENH: Hash function for BigQuery"
I'd like to implement the [hash function](https://ibis-project.org/docs/generated/ibis.expr.api.ValueExpr.hash.html#ibis.expr.api.ValueExpr.hash) for BigQuery (specifically, I'd like to use the [BigQuery SHA256 hash function](https://cloud.google.com/bigquery/docs/reference/standard-sql/hash_functions#sha256)), but I see a couple of questions that need to be answered before implementing.

- Curren

[2020-08-07 22:39] jaketf opened #2315 "ENH: Persistent UDFs for BigQuery"
It's very nice to have a python interface for [defining UDFs](https://github.com/ibis-project/ibis/tree/master/ibis/bigquery/udf) that are compiled to javascript as temporary functions.
It would be even more useful if these UDFs could be registered as [persistent UDFs](https://cloud.google.com/bigquery/docs/reference/standard-sql/user-defined-functions#temporary-udf-syntax) (which can be used in l

[2020-08-10 21:56] marianoteehan opened #2318 "feat: option to cache query results to disk locally"
Hello, I'm finding I often run the same queries over and over again while I work on a project and it would be nice if ibis had the option of caching query results, any chance of supporting this as a configurable option?

I hacked together a solution for this via monkey-patching, I've started adding this to my notebooks -- it's a bit ugly, but the speedup is worth it for me, even if the queries onl

[2020-08-11 13:05] datapythonista commented on #2318
Thanks for the report @marianoteehan. Do you think #1274 will help with this?

[2020-08-11 14:08] jreback opened #2319 "DOCS: documentation links are broken"
http://ibis-project.org/docs/ leads to a 404

http://ibis-project.org/index.html lands but then clicking on Documentation at the top fails.

[2020-08-11 15:05] datapythonista commented on #2319
Looks like the docs build was cancelled after one hour (the conda solver took 40 minutes). The weird part is that the sphinx build [was cancelled at 67%](https://dev.azure.com/ibis-project/ibis/_build/results?buildId=2956&view=logs&j=8f09edc2-e3b7-52de-126a-0225c4f3efa1&t=e3ba5a33-21a6-5484-d0be-59baf122f79c&l=1106) but the next steps that push the docs were still executed by pipelines.

[2020-08-11 15:30] jreback opened #2321 "RLS: 1.4"
we should do a release for all of the recent updates.

[2020-08-11 20:16] marianoteehan commented on #2318
Not certain, it looks like that's a way of serializing the expression?  If so I think that could make caching slightly easier, but I think you'd still need to implement most of what I wrote above to actually cache query results, no?

[2020-08-12 02:01] marianoteehan commented on #1780
+1, this is a big usability annoyance.

So far I end up doing this:

    t1.join(t2, t1.id==t2.id)[[t1] + t2.get_columns([c for c in t2.columns if c not in t1.columns])

That gives you the set of non-overlapping column names in one query, but, yikes, it's cumbersome.

Perhaps there could be convenience functions for this?

    t1.join(t2, 'id')[t1.col_intersect(t2)]  # return all of t1's columns,

[2020-08-12 08:13] datapythonista commented on #2319
The last documentation build finished in 53 minutes, and the docs were complete. The next merge to master should be the one changing the dependencies and speeding up conda, so the docs build shouldn't take that long anymore in master. Closing.

[2020-08-12 08:13] #2319 closed

[2020-08-12 23:05] datapythonista opened #2324 "CI: Building the conda package in the CI takes too long"
The step `feedstock` in the GitHub actions job `Lint, package and benchmark` is taking longer than it should.

The last run took around 20 minutes. Most of the time is spent in solving two conda environments, around 7 minutes each. This seems excessive, I didn't check the requirements files being installed, but I guess limiting the versions of the packages (e.g. `ibis` -> `ibis>=1.3`) should limit

[2020-08-12 23:58] datapythonista opened #2325 "CI: Add Bigquery credentials to GitHub secrets"
@tswast do you have the credentials for the Bigquery tests? If you can send it to me via email that would be great. I moved the bigquery job to GitHub actions, and will fail until we add the credentials as a secret. Thanks!

[2020-08-13 15:45] tswast commented on #2325
@datapythonista I've granted you access to the ibis-gbq project. You should be able to create a key for the system-tests service account now.

[2020-08-13 16:22] datapythonista commented on #2325
Thanks @tswast, I added the existing key to GitHub. Tested it, but looks like we're missing an environment variable for the big query tests to run. Opened #2327 for it.

[2020-08-14 12:49] datapythonista commented on #2325
@tswast do you know why the json key was encoded as base64? Not a big difference, but I don't see the value compared to simply use `cat "${{ secrets.KEY}}" > key.json` (instead of `base64 --decode --ignore-garbage <<< "${{ secrets.KEY }}" > key.json`).

[2020-08-14 12:56] datapythonista opened #2330 "CI: Bigquery backend failing to load data"
@tswast can you have a look at [this CI error](https://github.com/ibis-project/ibis/runs/984884965#step:4:1418) please?

Not sure what's the problem, I'd say that I'm calling the loading of data for bigquery in the same exact way as it was before.

[2020-08-14 13:48] tswast commented on #2325
I think it's because at one point the encrypted contents were set to an environment variable, so it was best to avoid non-ascii characters.

[2020-08-14 14:18] tswast commented on #2330
Oops. Looks like I never added the schema file to the testing data repo. https://github.com/ibis-project/testing-data/pull/3

Alternatively, I could create the equivalent DDL statements and put a bigquery.sql file in https://github.com/ibis-project/ibis/tree/master/ci/schema Would you prefer that?

[2020-08-14 14:28] datapythonista commented on #2330
Not so familiar with that part. Would be having a `bigquery.sql` file the approach used by the other backends? I'd prefer that if that's the case.

[2020-08-14 14:36] tswast commented on #2330
Yes, that seems to be what the other backends are doing

[2020-08-17 18:32] #2325 closed

[2020-08-18 15:32] datapythonista opened #2337 "BUG: Test interactive default limit failing"
This test is failing. xfailing for now, to make the CI in #2335, but we should fix the bug.
[code]

[2020-08-18 15:43] datapythonista opened #2338 "BUG: Omnisci string length error, Cast from dictionary-encoded string to none-encoded would be slow"
Omnisci is failing in `test_strings.py::test_string[length]` with the next error: `omnisci.thrift.ttypes.TOmniSciException: TOmniSciException(error_msg='Exception: Cast from dictionary-encoded string to none-encoded would be slow')`

This test is failing. xfailing for now, to make the CI in #2335, but we should fix the bug.

Full error:
<details>
2020-08-18T11:50:03.4754023Z ______________________

[2020-08-18 20:54] mariano-recurve opened #2339 "feat: standardize APIs for creating tables from expressions"
A common pattern for me is to build up a SQL expression, execute it against the database backend and save the results as a database table.  I think it's not currently possible to do this entirely in Ibis?  What I generally do is compile the expression to SQL and then execute that using either the BigQuery web interface or the Python client, both of which have options to save the query as a table.

[2020-08-19 16:26] datapythonista opened #2341 "CI: Run udf tests depending on the backend, not the marker"
Currently, when calling pytest, we use `-m "not udf" to skip backends with missing or broken udf support. For all other features, we've been using a decorator `@pytest.mark.skip_backends([SQLite], reason='not supported')` instead.

It would be good to skip udf tests for backends that don't implement them with the decorator. So, calling the tests for a backend skips them automatically if the backen

[2020-08-19 17:56] datapythonista commented on #2330
@tswast looks like something is still broken, do you mind having a look: https://github.com/ibis-project/ibis/runs/1004194744?check_suite_focus=true#step:4:1380

[2020-08-19 18:54] ZeroCool2u opened #2342 "BUG: Dependencies for Impala and Kerberos are insufficient in setup.py"
There exists a situation in which after installing ibis with both the kerberos and impala extras, auth to a kerberized cluster will fail. I have confirmed this on Windows, I'm not sure if the issue is limited to Windows though. The issue can be reproduced by doing the following after creating a new venv:

[code]

[code]

This will throw a ```ModuleNotFoundError```, which originates from the [impyl

[2020-08-19 19:53] tswast commented on #2330
Ah, that one will require some new test data (or actually, just uploading the test data I must have created a couple years ago) https://github.com/ibis-project/testing-data/pull/4

[2020-08-20 20:43] #2330 closed

[2020-08-24 18:36] tswast commented on #229
What's the issue for Impala support?

[2020-08-25 21:48] niviksha opened #2344 "feat: pass error param to approx_nunique"
In OmniSciDB's implementation for `approx_nunique` I see the code has this translation for the operator
[code]

and the ibis operator itself is
`ColumnExpr.approx_nunique(where=None)`

in OmniSciDB we can pass a precision parameter that allows you to tradeoff speed vs accuracy for this operation e.g.
[code]
is it possble to have a variation of this operation so we can pass this additional param to

[2020-08-27 00:31] niviksha commented on #2339
this is an interesting request - I'd asked for something similar where any `expr.execute` could support an `as` parameter, which would leverage the underlying engine's support `create table` (or even the `select ...INTO` variant supported by sql server and the like)

so something like
[code]

[2020-08-27 02:14] #2236 closed

[2020-08-27 02:15] #2230 closed

[2020-09-01 06:10] grooverdan commented on #2162
FYI the upstream docker library packages have been fixed wrt to TZ initialization.

[2020-09-01 21:01] #1462 closed

[2020-09-02 16:53] timothydijamco opened #2349 "test: broken Spark backend test: test_array_return_type_reduction"
The Spark backend test [`test_array_return_type_reduction`](https://github.com/ibis-project/ibis/blob/10d40305defc7337d217b595c4b6b74e66d153da/ibis/spark/tests/test_udf.py#L350) is currently expected to fail with a `Py4JJavaError`, since the operation it tests is not supported.

If we upgrade `pyspark` to `3.0.0`, this _will_ be supported by Spark ([SPARK-28422](https://issues.apache.org/jira/brow

[2020-09-03 17:25] tswast opened #2354 "BigQuery: cast to `dt.binary` results in invalid datatype in compiled SQL"
It appears that casting to `ibis.expr.datatypes.binary` results in `BINARY` as the data type. The correct [name for this data type in BigQuery is `BYTES`](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#bytes_type)

**Code example**

[code]

**Output**

[code]

This results in a `Type not found: BINARY at [1:48]` error when you paste this query in the BigQuery UI.

[2020-09-03 17:57] tswast commented on #2280
`test_large_timestamp` error was fixed in `google-cloud-bigquery`. Tracking the rest of the failures in #2353

[2020-09-03 17:57] #2280 closed

[2020-09-03 23:30] datapythonista opened #2356 "Move OmniSciDB to a separate repo"
I think it can be a good idea to move the OmniSciDB to a separate GitHub repo. The main reason is https://github.com/ibis-project/ibis/pull/2348#issuecomment-686782863, seems like `pymapd` has strict dependencies, and it's not the first time we have problems solving environments when including this.

Since we're increasingly having new backends, and some of them are already in separate repos (Arro

[2020-09-04 00:55] jreback commented on #2356
yep all this sounds ok

the tricky part with other repos is that there needs to be published packages - so need a little more effort to do this

i am still +1 on only have the ibis namespace but can just have it import the other repo packages eg ibis-omnisci
so the user xp would be the same

[2020-09-05 02:49] #2267 closed

[2020-09-05 03:20] srinathh commented on #2310
There are hash functions that return both bytes & ints (farm_fingerprint) in the bigquery api. It would be great to have both forms supported

https://cloud.google.com/bigquery/docs/reference/standard-sql/hash_functions

[2020-09-07 11:00] datapythonista opened #2358 "Failing Impala udf tests"
xref #2352

Looks like impala udf tests were unintentionally skipped from the CI, and we've got several failures now:
[code]

We'll be xfailing them for now, so we can restore the CI for the rest of impala udf tests, but we should fix them eventually.

[2020-09-07 12:05] #2341 closed

[2020-09-07 15:53] timothydijamco opened #2361 "Enable UDF tests for PySpark and Spark backends"
This issue is to enable UDF testing on the PySpark and Spark backends so that we can test changes such as #2348

#2359 was a prerequisite to this

Now to successfully enable the UDF tests for the PySpark and Spark min build:
- Pin `pyspark` to some version <3.0.0 and `pyarrow` to some version <=0.14.1 in `pyspark-min.yml` and `spark-min.yml` such that UDF tests succeed
- Add dep on `doubleconversi

[2020-09-07 15:59] timothydijamco opened #2362 "Test PySpark backend and Spark backend on both PySpark 2 and PySpark 3"
Testing on both versions will ensure compatibility with both

#2359 was a prerequisite to this (merged)
#2361 also should be done before this to make sure UDF tests work when working on the changes described in this issue

Once both of the above are merged, here's what needs to be done to successfully test on `pyspark` 3.0:
- Fix some tests in the Spark backend that will start to not `xfail` due t

[2020-09-08 13:04] #2361 closed

[2020-09-08 15:16] timothydijamco opened #2365 "Make behavior of `nullif` consistent across backends"
Currently the kind of null value returned by `nullif` differs across backends (and versions of packages). We should make the behavior consistent.

`nullif` returns `None` on these backends:
 - BigQuery
 - Clickhouse
 - MySQL
 - OmniSciDB
 - Postgres
 - Spark (if using `pyspark==3.0.0`)
 - SQLite
 - PySpark (if using `pyspark==3.0.0`)

`nullif` returns `np.nan` on these backends:
 - Csv
 - Pandas

[2020-09-09 20:47] tswast opened #2367 "BigQuery Covariance operator compilation includes string representation of table instead of table ID"
**Failing test**

https://github.com/ibis-project/ibis/blob/a70d443c7931cb8bb47c52f97999589566e03cb2/ibis/tests/all/test_aggregation.py#L165-L169

**Test output**

[code]

Output:

<details>

[code]

</details>

**Thoughts on fix**

I believe this is the relevant source:

https://github.com/ibis-project/ibis/blob/4f110e1fcfb36e5763a1ed44b1e1ceaa5b5e30b2/ibis/bigquery/compiler.py#L556-L576

Perhaps

[2020-09-09 20:48] tswast commented on #2367
Found in #2353

[2020-09-10 14:25] tswast opened #2369 "BigQuery: groupby can generate LEFT SEMI JOIN, which is not supported syntax"
**Failing test**

https://github.com/ibis-project/ibis/blob/a70d443c7931cb8bb47c52f97999589566e03cb2/ibis/tests/all/test_aggregation.py#L266-L293

**Test output**

[code]

Output:

<details>

[code]

</details>

[2020-09-10 14:37] tswast opened #2370 "[BigQuery] `test_array_concat` is failing"
**Failing test**

https://github.com/ibis-project/ibis/blob/a70d443c7931cb8bb47c52f97999589566e03cb2/ibis/tests/all/test_array.py#L11-L15

**Test output**

[code]

**Thoughts on fix**

I suspect the query is returning correct results, but arrays are now coming back as numpy arrays. This is probably because `google-cloud-bigquery` is now using Arrow as an intermediate format before converting to a

[2020-09-10 14:38] tswast commented on #2369
Found in #2353

[2020-09-10 14:45] tswast opened #2371 "[BigQuery] test_fillna_nullif is failing -- NULL values returned as nan in integer columns"
**Failing test**

https://github.com/ibis-project/ibis/blob/a70d443c7931cb8bb47c52f97999589566e03cb2/ibis/tests/all/test_generic.py#L25

**Test output**

[code]

[2020-09-10 15:13] tswast opened #2372 "[BigQuery] test_string[split] is failing"
**Failing test**

https://github.com/ibis-project/ibis/blob/master/ibis/tests/all/test_string.py#L230-L234

**Test output**

[code]

[2020-09-10 15:13] tswast commented on #2372
Found in #2353

As with #2370, I think this failure is probably due to using Arrow as an intermediate format in the google-cloud-bigquery library.

[2020-09-10 15:27] tswast opened #2373 "[BigQuery] test_scalar_param_nested is failing"
[code]

Found in #2353

As with #2370, I think this failure is probably due to using Arrow as an intermediate format in the google-cloud-bigquery library.

[2020-09-10 15:29] tswast opened #2374 "[BigQuery] test_scalar_param_array is failing"
[code]

Found in #2353

As with #2370, I think this failure is probably due to using Arrow as an intermediate format in the google-cloud-bigquery library.

[2020-09-11 18:14] tswast commented on #2371
Duplicate of https://github.com/ibis-project/ibis/issues/2365

[2020-09-11 18:14] #2371 closed

[2020-09-11 18:17] tswast commented on #2365
BigQuery actually reports `nan` on the latest versions of `google-cloud-bigquery`, at least when `pyarrow` is also installed.

[2020-09-12 00:01] #2362 closed

[2020-09-12 20:58] #2367 closed

[2020-09-13 12:25] #2288 closed

[2020-09-14 15:28] tswast opened #2377 "Use Arrow for nested (struct / list) types"
Currently, Ibis tests assume Python objects as representation for lists and structs.

Especially for backends that already represent intermediate results as Arrow ([BigQuery](https://cloud.google.com/bigquery/docs/reference/storage), [PySpark](https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html)), it would be more performant to use Arrow as the native format.

**Resources**

-

[2020-09-14 15:41] timothydijamco opened #2378 "feat: make behavior of `ibis.window(order_by=xxxx)` consistent across backends"
See https://github.com/ibis-project/ibis/pull/2376#issuecomment-692116716 (quoted below):

[More info on Spark's behavior behavior](https://stackoverflow.com/questions/47130030/whats-the-default-window-frame-for-window-functions)
[More info on Impala's window behavior](https://docs.cloudera.com/documentation/enterprise/6/6.3/topics/impala_analytic_functions.html#over)

--

Most likely we should ch

[2020-09-14 17:47] datapythonista opened #2380 "CI: Split linting and benchmarks job"
Currently, there is a single job that runs the linting and the benchmarks. This is the slowest job in the CI (in GitHub actions, azure jobs are slower but will be migrated soon). It would be beneficial to split both tasks in two jobs, so the results of the CI are available faster.

This is the job: https://github.com/ibis-project/ibis/blob/master/.github/workflows/main.yml#L165

[2020-09-14 20:53] timothydijamco opened #2381 "feat: make behavior of `ibis.window()` (empty window spec) consistent across backends"
When applying an analytic op (like `lag` or `lead`) over an empty window spec (`ibis.window()`), the Spark backend implicitly changes the window spec to have an `ORDER BY` clause. This causes it to produce different results from other backends.

The Spark backend actually inherits from the Impala backend for this behavior. This is the relevant code:
https://github.com/ibis-project/ibis/blob/3a3b46

[2020-09-15 16:37] noklam opened #2382 "Does this library support Window?"
I am sorry to ask this obvious question, I cannot find the doc mention Window support. Is it Linux only? I seem to have trouble using it in Window for impala

[2020-09-16 00:06] datapythonista commented on #2382
It does work in Windows, we test most of the features in Windows in the continuous integration. We don't test impala, since it's tricky, but I think it should work.

If you open a new issue with the exact error and steps to reproduce it, and we'll have a look.

[2020-09-16 00:06] #2382 closed

[2020-09-16 02:03] noklam commented on #2382
OK, I will file another issue for this later, thanks!

[2020-09-16 02:23] noklam opened #2383 "Impala Connection, AttributeError: module 'ibis.impala' has no attribute 'connect'"
Fails to connect.

OS: Window 10
ibis: 1.3.0

ibis.impala.connect
`AttributeError: module 'ibis.impala' has no attribute 'connect'`

ibis.api.impala.connect
`AttributeError: module 'ibis.impala' has no attribute 'api'`

I am trying to run this example
http://ibis-project.org/docs/generated/ibis.impala.api.connect.html

[code]

[2020-09-16 06:52] noklam commented on #2383
`pip install ibis-framework[impala]`

The solution is to run this command. It seems that the error is suppressed so it does not show error but import the wrong module, as a result it cannot find the connect() method.

[2020-09-16 14:13] datapythonista commented on #2383
This is a bit strange, in theory if impala is not installed, it should give the error that `ibis` has no attribute `impala`. If you share what's the value of `ibis.impala` and `dir(ibis.impala)` when you get those exceptions I'll have a look.

But that code is anyway being refactored in #2379, will have a look to see if this is still happening in that PR.

[2020-09-16 15:32] noklam commented on #2383
I try this on another laptop, and I can reproduce the same error
[code]

![image](https://user-images.githubusercontent.com/18221871/93359100-cb5d3700-f874-11ea-8cbb-0387a92a02a6.png)
![image](https://user-images.githubusercontent.com/18221871/93359123-d1531800-f874-11ea-9538-4cd19399542c.png)

[2020-09-16 16:41] noklam opened #2384 "Impala connnection hangs, dependency on impyla"
# Description
Connection freeze forever, Python console freeze forever, CTRL+C cannot escape.

# Code to reproduce

[code]

I saw ibis actually install `impyla` too, so I guess it will suffer from the same problem on Window. The connection will just hang forever without throwing any error.

Related issue:
https://github.com/cloudera/python-sasl/issues/19

# Environment
[code]

[2020-09-16 16:52] noklam commented on #2384
![image](https://user-images.githubusercontent.com/18221871/93368053-fa2cda80-f87f-11ea-9652-836bc42cae4c.png)
Supplement, I actually find a ibis_table is created in the db, so I guess it is connected but something went wrong and it never respond.

[2020-09-16 21:11] datapythonista opened #2388 "CI: Impala image not starting in GitHub actions"
Ideally we'd like to move the Impala/Clickhouse job to GitHub actions, with the rest. But for some reason, the same docker image that works in Azure, is not working in GitHub actions (the container starts, but the Impala service is not accessible).

The job is already implemented, once the Impala service starts with the container, we simply need to stop skipping the build: https://github.com/ibis-

[2020-09-16 21:17] datapythonista opened #2389 "CI: Make GitHub Actions builds compatible with Windows"
GitHub actions support executing bash script in Windows. But currently, our bash script to setup the environment doesn't work, because the path to conda is not set correctly for Windows (only for Linux): https://github.com/ibis-project/ibis/blob/master/ci/setup_env.sh#L10 (the conda location is defined in GitHub actions with the env variable `$CONDA` if I'm not wrong).

We should fix the script so

[2020-09-16 22:58] datapythonista commented on #2281
/take

[2020-09-16 23:01] datapythonista commented on #2281
This has been addressed in #2287, #2300 and #2360.

[2020-09-16 23:01] #2281 closed

[2020-09-17 17:18] #2342 closed

[2020-09-18 13:15] timothydijamco opened #2397 "CI: `feedstock` job is failing"
Example of failure:
https://github.com/ibis-project/ibis/pull/2395/checks?check_run_id=1133810073
https://github.com/ibis-project/ibis/pull/2395/checks?check_run_id=1131556647

[code]

[2020-09-18 13:16] timothydijamco commented on #2397
This looks related to https://github.com/ibis-project/ibis/pull/2392, however, the CI was working fine after this was merged and only started failing a few hours later

[2020-09-18 17:07] ZeroCool2u commented on #2388
I looked into this a bit, but I'm not super familiar with Impala and its setup, so I wasn't able to ID the root cause at the time. [This comment](https://github.com/ibis-project/ibis/pull/2268#issuecomment-659542112) may be helpful. If I have some spare time I'll take a look at this, because it's still really bothering me that it's working on Azure and not anywhere else.

[2020-09-18 22:26] jreback opened #2399 "remove requests dep"
https://github.com/ibis-project/ibis/pull/2385/files#r491220098

should just move the import inside

[2020-09-21 12:56] datapythonista commented on #2397
Thanks for reporting @timothydijamco, not so familiar with that build, not sure what's the problem. But having a look now.

[2020-09-21 14:07] #2399 closed

[2020-09-23 17:03] datapythonista opened #2403 "ci: benchmarks don't fail the CI when asv crashes"
See for example this: https://github.com/ibis-project/ibis/runs/1128924525?check_suite_focus=true#step:10:67

For some reason, asv doesn't seem to exit with an exit code different than 0 when something goes wrong. Ideally we'd like to contribute a patch to asv, so they fix it for everybody.

But in the meantime, we may want to fix it in our end, with the same approach as pandas: https://github.com

[2020-09-23 22:07] #2397 closed

[2020-09-24 02:25] gerrymanoim commented on #2403
Apologies if I'm missing something, but looking at https://github.com/airspeed-velocity/asv/pull/865, that seems to be what `--strict` should do?

[2020-09-24 09:46] datapythonista commented on #2403
Thanks for having a look @gerrymanoim, I think that's exactly what we need. We've got a sprint next week, this seems like a great good first issue (even if we'll have to fix the failures first).

[2020-09-24 12:33] #2380 closed

[2020-09-24 21:02] zbrookle commented on #1156
@jreback @mrocklin You can probably close this if you'd like with my package linked externally now

[2020-09-25 00:07] #1156 closed

[2020-09-26 17:06] gerrymanoim commented on #2403
Ah - looks like that hasn't been released yet, the last release (v0.4.2) is from May.

[2020-09-30 12:48] dharhas commented on #1993
conda-forge has some guidance on some best practices to do this.

https://github.com/conda-forge/cfep/blob/master/cfep-05.md

Having a dev release mechanism would go a long way in smoothing our experience using Ibis. It would reduce some of the pressure to release often and help with testing downstream packages with new features that have been added to Ibis.

Case in point, we are getting ready to

[2020-09-30 12:58] jreback commented on #1993
not averse to having a nightly conda package if you would like to help setup a github action (or other mechanism) to do this.

[2020-09-30 13:15] datapythonista opened #2411 "CI: Add job to publish nightly development builds"
We'd like to have development packages of Ibis deployed to conda in a nightly job (could also be weekly, or after every merge, but that's easy to change later on).

We already got a packaging job in the CI, where we build the packages to test that everything is all right. See https://github.com/ibis-project/ibis/blob/master/.github/workflows/main.yml#L206

There is some information about it here:

[2020-09-30 13:17] datapythonista commented on #1993
I created #2411, let's see if someone can work on it tomorrow at the sprint.

@jreback I'm also thinking on working on a release after the entry point system for the backends is merged. Is there anything else you'd like to see before a release?

[2020-09-30 13:17] #1993 closed

[2020-09-30 13:19] dharhas commented on #2411
I'm not completely sure if we can publish a nightly build on conda-forge. They have guidance for dev releases but we may need to make an ibis-dev channel on anaconda.org if we are publishing nightly. I can check with some conda-forge devs.

[2020-09-30 13:44] datapythonista commented on #2411
There is a [CFEP about dev releases](https://github.com/conda-forge/cfep/blob/master/cfep-05.md), but doesn't mention frequency. I'm not an expert, but I guess we can overwrite the previous nightly build, and then I think it should be ok.

I've also seen some projects having a separate nightly package (e.g. `conda install ibis-nightly`). But would be great to have guidance from the conda-forge dev

[2020-09-30 13:55] jreback commented on #1993
no happy to release whenever

[2020-09-30 14:28] gerrymanoim commented on #2388
I took some time to look into this, both locally and in Github Actions. Unfortunately I didn't make too much progres.

On GHA, everything starts up correctly and we can connect, but once we go to test `can_write_to_hdfs` in the imapalamgr, we end up having `Temporary failure in name resolution` errors (on attempting to connect to http://9996ae25f815:50075/webhdfs/v1/__ibis/ibis-testing-data/8ff0f2

[2020-09-30 14:52] LeeTZ opened #2412 "BUG: Same window op with different window size on table lead to incorrect results for pyspark backend"
Currently, this test in `window.py` will fail
[code]
The compiled result in `result_pd` is wrong and the two columns of different window sizes are the same. This is due to a bug in compiling window ops in pyspark backend.

[2020-09-30 14:55] xmnlab commented on #2411
sometime ago I was investigating that, not sure if there is recent information about that.
at that time, IIRC, it needs a "release" to be triggered by conda-forge bot.
this GH action (https://github.com/brettcannon/release-often) helps to release a new pypi package after every relevant merged PR, not sure if it can be useful for this case, because a release for every PR merged could be too much.

[2020-09-30 17:09] jreback opened #2413 "fix bigquery version"
https://dev.azure.com/ibis-project/ibis/_build/results?buildId=3396&view=logs&j=8f09edc2-e3b7-52de-126a-0225c4f3efa1&t=78a72aec-b398-558e-7c0d-2d33604b9e53

I think we need to limit the upper bound of bigquery library here.

[2020-09-30 17:10] jreback commented on #2413
cc @tswast (IIRC you just did this for pandas-gbq)

[2020-09-30 20:58] ZeroCool2u commented on #2388
@gerrymanoim That's interesting that you managed to get stuff running locally. For me, the docker compose file technically starts, but the impala container never becomes responsive. It just pipes out a continuous error stream. What platform are you running Docker on? Maybe it has something to do with Docker itself?

[2020-09-30 21:37] gerrymanoim commented on #2388
I'm on macOS 10.14.6 with:

[code]
and I ran `docker-compose up -d` in the root dir of `docker-impala`.  After a little bit I'll get the correct webpage at http://localhost:25000/. Then I have:

[code]

What seems to happen is that sometimes the `put` call will work fine:

[code]

and then sometimes fail with a network error:

[code]

Turning debugging up a bunch, a successful request:

[code]

wh

[2020-09-30 21:54] gerrymanoim commented on #2388
Oh also make sure you've stopped any postgressql service you have running locally. That may prevent the postgres container from starting (since it can't bind to the port) which will then cause the impala container to misbehave.

[2020-10-01 10:07] datapythonista opened #2415 "DOC: Add link to the Ibis repository in contributing instructions"
In the [contributing guide](https://ibis-project.org/contribute.html) it mentions a fork of the Ibis repository needs to be done:

`Create a fork of the Ibis repository, and clone it.`

Would be good to make `Ibis repository` a link to the Ibis repository, since it may not be obvious for new users what the repo is.

[2020-10-01 10:36] datapythonista opened #2416 "Move SPARK backend to the backends/ directory"
**Move the `spark/` backend to `backends/spark`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to maintain. Als

[2020-10-01 10:37] datapythonista opened #2417 "Move BIGQUERY backend to the backends/ directory"
**Move the `bigquery/` backend to `backends/bigquery`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to maintai

[2020-10-01 10:37] datapythonista opened #2418 "Move CLICKHOUSE backend to the backends/ directory"
**Move the `clickhouse/` backend to `backends/clickhouse`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to mai

[2020-10-01 10:38] datapythonista opened #2419 "Move IMPALA backend to the backends/ directory"
**Move the `impala/` backend to `backends/impala`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to maintain. A

[2020-10-01 10:59] datapythonista opened #2420 "Move SQLITE backend to the backends/ directory"
**Move the `sql/sqlite/` backend to `backends/sqlite`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to maintai

[2020-10-01 10:59] datapythonista opened #2421 "Move POSTGRES backend to the backends/ directory"
**Move the sql/postgres/` backend to `backends/postgres`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to main

[2020-10-01 11:01] datapythonista opened #2422 "Move MYSQL backend to the backends/ directory"
**Move the `sql/mysql/` backend to `backends/mysql`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to maintain.

[2020-10-01 11:03] datapythonista opened #2423 "Move PANDAS backend to the backends/ directory"
**Move the `pandas/` backend to `backends/pandas`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to maintain. A

[2020-10-01 11:07] jreback commented on #2423
fyi the text inside these issues says spark -> pandas (in this case)

nbd

[2020-10-01 11:35] datapythonista commented on #2423
Thanks, I'll update them, I missed that.

[2020-10-01 11:35] datapythonista opened #2424 "Move PYSPARK backend to the backends/ directory"
**Move the `pyspark/` backend to `backends/pyspark`.**

The current Ibis directory structure is a bit confusing, since backends are mixed with core modules. For example, it's not obvious to know if `pandas/` is a backend, or core functionality. Many of the backends live in the root directory, and some are grouped, like in a directory `sql/`. This makes things even harder and difficult to maintain.

[2020-10-01 13:59] saurabhsjain commented on #2415
@datapythonista This came to my mind when I was cloning it. I would like to work on this issue.

[2020-10-01 14:00] saurabhsjain commented on #2415
/take

[2020-10-01 14:16] saurabhsjain commented on #2415
@datapythonista I have pushed my changes. Can you please take a look?

[2020-10-01 14:20] datapythonista commented on #2415
Where are your changes? You should open a pull request in this repo, and add `Close #2415` at the beginning of the description, so this issue is automatically closed when we merge it.

[2020-10-01 14:20] saurabhsjain commented on #2424
/take

[2020-10-01 14:21] joy-rosie commented on #2423
/take

[2020-10-01 14:36] tswast commented on #2413
Yes, `google-cloud-bigquery` 2.0 made some breaking changes in the `google.cloud.bigquery_v2` package, though I wasn't expecting the stacktrace you've linked to. It appears there are incompatible versions of protobuf.

Makes sense to add an upper bound / pin on BQ in at least the test sessions that use any version of pandas-gbq older than the version 0.13.3 that I released yesterday.

[2020-10-01 15:21] datapythonista opened #2427 "bug: filters not applied to joined tables"
Given, two tables, if they are joined, and then a filter is applied, the filter is actually being ignored:

[code]
Intuitively, the result should only contain the rows with `year == 2017`, but the filter is not applied.

The database in this example can be found at: https://github.com/datapythonista/ibis/tree/tutorial/docs/source/tutorial/data

The SQL compiled from the expression, can be obtained

[2020-10-01 15:31] #2415 closed

[2020-10-01 15:47] saurabhsjain commented on #2424
@datapythonista The location in the last step

doesn't contain `pyspark.rst`. How is that file generated? Am I missing anything?

[2020-10-01 16:29] ZeroCool2u commented on #2388
@gerrymanoim I feel like an idiot right now. I've spent a bunch of time trying to figure out what's going wrong and all this time it was just metasploit's postgres instance running in the background and somehow I didn't see any reference to the port being in use. Will give it a try with metasploit shutdown and report back.

[2020-10-01 17:00] gerrymanoim commented on #2388
Happy to help - I was lucky enough to be actively working on something that required postgres locally and randomly spotted the message in all the logs.

[2020-10-01 17:29] EdAbati commented on #2416
/take

[2020-10-01 17:58] matthewmturner commented on #2238
/take

[2020-10-01 18:04] baogianghoangvu commented on #2420
/take

[2020-10-01 18:53] jelitox commented on #2422
/take

[2020-10-01 18:57] vijoin commented on #2417
/take

[2020-10-01 19:01] matthewmturner commented on #2419
\take

[2020-10-01 19:03] matthewmturner commented on #2419
/take

[2020-10-01 19:11] datapythonista commented on #2238
Looks like the pep8speaks error is correct, the project is set up to limit to 79 chars: https://github.com/ibis-project/ibis/blob/master/setup.cfg#L11

[2020-10-01 19:11] #2238 closed

[2020-10-01 19:34] EdAbati commented on #2418
\take

[2020-10-01 19:36] EdAbati commented on #2418
/take

[2020-10-01 21:25] EdAbati commented on #2418
Hi @datapythonista ,

I am a bit unsure regarding `clickhouse_driver` in the line below:
https://github.com/ibis-project/ibis/blob/8f7c048a6161c0d2712d65b8593147e04b823344/ibis/clickhouse/client.py#L6

I could not find its origin, could you tell me where it is defined?

Thanks,

[2020-10-01 21:46] datapythonista commented on #2418
I guess you found it, the clickhouse driver seems to be an external dependency: https://github.com/ibis-project/ibis/blob/master/ci/deps/clickhouse.yml#L3

[2020-10-01 22:07] EdAbati commented on #2418
Yes, thank you very much I found it!

[2020-10-01 22:26] timothydijamco opened #2438 "Clean up potentially unreachable code in Window.agg (Pandas backend)"
There is logic in `Window.agg` (in the Pandas backend) that I believe is unreachable:
https://github.com/ibis-project/ibis/blob/master/ibis/pandas/aggcontext.py#L459-L483

If `group_by` and `order_by` are both `None`, then a `Window` aggcontext **should not exist in the first place** because of this upstream logic that creates a `Summarize` aggcontext instead of a `Window` aggcontext:
https://gith

[2020-10-02 19:26] #2412 closed

[2020-10-02 23:18] #2413 closed

[2020-10-04 01:41] cacrespo commented on #2427
Hola! Me gustaría tomar este issue. No estoy seguro de poder resolverlo pero quiero intentarlo 😋

[2020-10-05 09:43] datapythonista commented on #2427
Thanks @cacrespo, feel free to give it a try.

[2020-10-05 12:26] datapythonista opened #2448 "build: create independent conda-forge packages to backends separately of the main one"
We've been having problems with the dependencies of one backend conflicting with the dependencies of other backends. This has created conflicts (see #2426) and also makes the resolving of the dependencies very slow (see #2324).

One of the solutions is to move some of the backends to separate repos, and package them independently of the Ibis core (see #2356). Regardless of whether we move backends

[2020-10-06 17:29] #2418 closed

[2020-10-06 21:43] LeeTZ opened #2453 "BUG: chain mutate() for window op and non window op throws error for pyspark backend"
Currently, chain mutate() for window will fail for pyspark backend:
[code]
failed with AnalysisException:
[code]

[2020-10-07 10:23] datapythonista opened #2454 "DEPS: Increase minimum pandas version and remove old compatibility functionality"
xref: https://github.com/ibis-project/ibis/pull/2450/files#r500471390

We are currently [supporting pandas 0.21+](https://github.com/ibis-project/ibis/blob/master/requirements.txt#L3), which was released in 2017. And we've got some functionality to support moved APIs in `ibis/compat.py`. We can increase the version of pandas, so that compatibility stuff is not needed anymore. Not sure what version

[2020-10-07 12:14] #2416 closed

[2020-10-07 14:18] #2421 closed

[2020-10-07 16:20] jreback opened #2455 "BENCH: cleanup errors around benchmarks"
we are showing some errors in the benchmark suite: https://github.com/ibis-project/ibis/pull/2451/checks?check_run_id=1220781799

would be nice to have these run fully w/o errors.

[2020-10-07 16:23] datapythonista commented on #2455
asv doesn't fail when there are exceptions, see #2403

[2020-10-07 16:30] EdAbati commented on #2454
/take

[2020-10-07 21:25] LeeTZ opened #2457 "FEAT: Adjust context properly for mixed rolling window, cumulative window and non window ops for pyspark backend"
Overview
=======
With context adjustment implemented, the time context will be adjusted accordingly for every op. User may mix rolling window (adjust time context), cumulative window(doesn't adjust time context), and non-window ops (doesn't adjust time context) in one single `mutate` operation.

We should make sure:
 1. The sematic and the behavior is well-defined.
 2. The results are the same for

[2020-10-07 21:57] EdAbati commented on #2454
Hi @datapythonista ,

I did some digging and (if I understood correctly) it seems that all those functions and classes were moved in the current location in version 0.20:
 - `pandas.tseries.tools.to_datetime` and `to_time` were moved to `pandas.core.tools.datetimes` in https://github.com/pandas-dev/pandas/pull/16040
- `pandas.types.dtypes.CategoricalDtype`, `DatetimeTZDtype` and `infer_dtype` were

[2020-10-07 23:59] jreback commented on #2454
yep sounds right

[2020-10-08 14:32] #2420 closed

[2020-10-08 18:20] matthewmturner commented on #2455
/take

[2020-10-09 15:00] matthewmturner commented on #2455
I've been looking into this. Quick question - should I be able to replicate the errors that occur during benchmarking locally with asv? I'm not familiar with asv so I'm looking into both how that works and the ibis implementation.

Thanks!

[2020-10-09 15:42] datapythonista commented on #2455
You can install asv with `pip install asv` and simply run:
[code]

[2020-10-09 17:13] matthewmturner commented on #2455
Thanks @datapythonista

For the impala compile errors I think it's due to there being ImportError of ibis.impala.api because impyla is missing.

Would we add impyla as dependency for benchmarking or is there another approach?

[2020-10-09 17:22] joy-rosie opened #2460 "ibis/backends/pandas/execution/__init__.py: Change `from x import *` to specific imports for the public API"
When moving ibis/pandas to ibis/backends/pandas, we came across a problem in `ibis/backends/pandas/execution/__init__.py`:

[code]

We need to change the `from x import *` to import specific parts for the public API.

Reference: https://github.com/ibis-project/ibis/pull/2440#discussion_r502410021

[2020-10-09 17:22] joy-rosie commented on #2460
@jreback

[2020-10-09 18:20] matthewmturner commented on #2455
For the PandasBackend errors it looks like the functions low_card_grouped_rolling_udf and high_card_grouped_rolling_udf weren't implemented in the PandasBackend class.

Do they simply need to be implemented, if so what type of function should be implemented? Or is there something else going on?

Thanks!

[2020-10-09 21:09] #2454 closed

[2020-10-12 11:28] datapythonista commented on #2455
If the benchmarks are testing against impala, then we can't get them working until #2388 is fixed. The benchmarks job is not using the impala docker image, and can't use it until that problem is fixed.

[2020-10-12 13:21] #2423 closed

[2020-10-12 13:26] esamuel1 opened #2461 "ibis.postgres table expressions dont recognize macaddr datatype"
Impacts ibis 1.3.0

Ibis doesn't appear to recognize macaddr data types in postgres when trying to build an ibis table expression. A simple reproduction of the issue is below:

[code]

[code]

Looking at the sqlalchemy docs, it seems they do support macaddr for postgres.

[2020-10-12 13:50] datapythonista commented on #2461
Thanks for the report @esamuel1, I don't think this should be difficult to add. If you want to have a look at the code, and try to submit a pull request, that would be great.

[2020-10-12 13:51] esamuel1 opened #2462 "ibis.postgres table expressions dont recognize inet datatype"
xref #2461

Impacts ibis 1.3.0

Ibis doesn't appear to recognize inet data types in postgres when trying to build an ibis table expression. A simple reproduction of the issue is below:

[code]

[code]

[2020-10-12 14:10] datapythonista opened #2463 "Move Impala operation registry to base_sql backend"
For historical reasons, some code shared among backends live in the Impala backend. An important part of the shared code has been moved to a new `base_sql` backend in #2449.

What is pending to move in a similar way is the operation registry (and its dependencies). Each backend has a registry of the operations it defines. And many backends are using the [impala one](https://github.com/ibis-project

[2020-10-12 22:56] #2461 closed

[2020-10-12 23:00] jreback opened #2465 "enable MacAddr / INET for pandas backend"
note that we can use this package to enable these for pandas: https://cyberpandas.readthedocs.io/en/latest/ (by @TomAugspurger) and uses pandas extension arrays. happy to take a PR for that.

_Originally posted by @jreback in https://github.com/ibis-project/ibis/pull/2464#issuecomment-707385882_

[2020-10-13 05:22] matthewmturner commented on #2463
/take

[2020-10-13 05:27] matthewmturner commented on #2455
Okay looks like there are people working on that already - will check in there.  What about for the pandas backend errors i referenced above? Do `low_card_grouped_rolling_udf` and `high_card_grouped_rolling_udf` need to be implemented?

thx!

[2020-10-13 05:33] matthewmturner commented on #2388
hi @gerrymanoim @ZeroCool2u
Im looking into #2455 and it looks like one of the issues is due to impala benchmarks not running against impala docker image.  Consequently, I was directed here.  Has there been any progress on this issue?
Thx!

[2020-10-13 09:08] datapythonista opened #2466 "Move ibis/sql to ibis/backends/base_sqlalchemy"
We're working on having the backends in a more standardized and structured way. We are finishing moving backends to the `backends/` directory, and moving shared code among backends to `backends/base_*`. The backends based on SQLAlchemy historically lived in `ibis/sql`. We moved them (MySQL move is still not merged at the time of writing this, see #2446), and after all backends are moved, would be

[2020-10-13 09:14] datapythonista commented on #2455
Not as part of this issue I would say. Not so familiar with those functions, but if they are not implemented for the pandas backend, I'd simply have an `if` to not run them for that backend. May be @jreback has more info on why that is failing.

[2020-10-13 15:04] matthewmturner opened #2467 "Move impala imports out of global namespace into tests where its used"
In Ibis `filesystems` means actually `hdfs`, and `hdfs` is only supported with Impala afaik. I thought on moving it inside the backend, but it's part of the public API, so users may be using it, so it requires more thought, discussion, and probably a deprecation warning first.

In any case, we should be calling pytest with `not hdfs`, and that should prevent `test_filesystems` from running. But I

[2020-10-13 15:04] matthewmturner commented on #2467
/take

[2020-10-13 15:28] matthewmturner commented on #2467
@datapythonista

`IbisTestEnv` is currently used as below:

[code]

Would the idea be to move the global `ENV = IbisTestEnv()` and `from ibis.impala.tests.conftest import IbisTestEnv` into an `__init__` method for each of those classes with a variable like `self.ENV = IbisTestEnv()` and then update references to `cls.ENV` to `self.ENV`?

Thanks!

[2020-10-13 20:48] renato2099 commented on #2466
hey @datapythonista  I made this change in https://github.com/ibis-project/ibis/pull/2468 but I am unsure how to run test to verify that the change didn't break anything, I'd appreciate any suggestions :) thanks!

[2020-10-14 10:31] datapythonista commented on #2467
I think should be as easy as replacing this:
[code]
By
[code]

And then removing the import and the initialization of `IbisTestEnv` from the global namespace.

[2020-10-14 14:50] matthewmturner commented on #2467
That makes sense and is much simpler...thx

I created #2470

[2020-10-14 14:50] xmnlab opened #2471 "docs: improve doc-strings for the operations available on expr/api.py"
As a follow-up from https://github.com/ibis-project/ibis/pull/2224#discussion_r504622533

It would be nice to improve the doc-strings for the operations defined in expr/api.py

[2020-10-15 12:23] #2422 closed

[2020-10-16 14:48] zbrookle commented on #2389
@datapythonista You may want to look into the Miniconda_setup GitHub action, it can do all of the setup for the Conda environment and it also makes it pretty easy to cache the environment to speed up builds. It's pretty easy to set up and I have it in a lot of my repos so I'd be happy to set that up if it's something you'd like

[2020-10-16 14:53] datapythonista commented on #2389
I personally find it simple to just have to call a script to set up the environment for every build. Bash is supported by Windows builds on GitHub actions, so I don't think it should be that difficult. But apparently there are some issues with that (not sure which). There is some work to set up the GitHub action in #2408. I'm ok with the action, even if I think it's more verbose, since it has a de

[2020-10-16 15:03] zbrookle commented on #2389
Ah ok got it, yeah, I know the windows build can actually be added into the matrix on the action so I figured that would simplify this a bit by taking out the possible complexity of building a bash script. Also it looks like that PR actually has windows in the matrix already, so maybe it should be linked to this?

[2020-10-16 15:06] datapythonista commented on #2389
That issue has a `Closes #2389`, they are linked already. :)

Not sure if we'll be able to use a matrix in all cases. If we still want to test mysql/postgres (or other backends) in Windows, I don't think we can use the same approach. GitHub Actions don't implement the `services` (docker containers) in Windows afaik.

[2020-10-17 19:31] matthewmturner opened #2475 "Avoid repetitive code among backends"
Some functions seem to be very similar accross backends:

base_sql
[code]

clickhouse
[code]

Originally, many backends were build on top of the Impala backend. And the ones that didn't, like clickhouse, seem to have copied code from it. We are now moving the code reused from backends to a base backend `base_sql` and `base_sqlalchemy` mainly. Once that is done, would be good to not have code repea

[2020-10-18 01:05] cacrespo commented on #2427
I have not been able to fix it. 😞
So I'll let someone with more experience take it.

[2020-10-18 05:15] matthewmturner commented on #2427
I'm interested in this.

@cacrespo anything you can share about your approach or what you found?

[2020-10-18 14:55] datapythonista opened #2477 "SQL tests not being executed"
There is something I don't understand going on with the tests. Checking the files in `ibis/tests`, this is what we've got:
[code]

So, when we execute pytest for that dir, the files in `all`, `sql` and `expr` besides the files in the root should be executed. But for some reason the tests in `sql` are not being executed, see:

[code]

[2020-10-18 15:15] matthewmturner commented on #2427
from what i see i get the correct results when updating `WHERE base.gdp.year = ?` to `WHERE t0.year = ?`

im not too familiar with internals of sql execution. but from looking at the expr tree...are filters applied on the inner join (i.e. the `WHERE` should pick up gdp.year or on the materializedjoin where it would be t0).  if the latter i would think that means the SQL is compiling incorrectly an

[2020-10-18 15:20] datapythonista opened #2478 "Remove magic in tests"
As identified in #2477, seems like some of the tests are not being executed. One of the files is `ibis/tests/sql/test_compiler.py`.

Checking at that file, we've got the impala backend imported at the top (see [the code](https://github.com/ibis-project/ibis/blob/master/ibis/tests/sql/test_compiler.py#L9)):
[code]

And then, we've got some calls to its `compile` method, for example this call (see [

[2020-10-18 15:29] datapythonista commented on #2427
No idea how that part works in detail unfortunately. You'll have to check the code.

[2020-10-18 23:29] matthewmturner commented on #2478
/take

[2020-10-18 23:47] matthewmturner commented on #2478
I think its because in `ibis/__init__.py` we have:
[code]
If you remove the `suppress(ImportError)` there is an `ImportError` when importing ibis
[code]
I think its backstopping to `ibis/impala` instead of `ibis/impala/api.py` hence the error.

I know we had issues with impyla in #2435 but im still not exactly clear whats going on here.

naively it looks were missing impyla from the environment bu

[2020-10-19 01:27] matthewmturner commented on #2427
Just to confirm - should the code work the way that you had it? i.e.
[code]

I was reviewing the documentation (http://ibis-project.org/docs/tutorial/02-Aggregates-Joins.html) and came across the same scenario implemented as follows:

[code]

So im just trying to confirm that being able to apply a filter after a join is done on one of the original tables is actually expected behavior.

Separately

[2020-10-19 10:18] datapythonista commented on #2427
I wrote that tutorial recently, and I implemented it that way because I faced this issue. I think the example in this issue should apply the filter.

Materialization is a bit tricky, I think filtering before materializing should be possible. If it's not, then making the example work may be a feature, and the bug is that no error is being reported in the issue example.

[2020-10-19 10:47] datapythonista commented on #2478
Thanks for the research @matthewmturner. I think those are very good points, and I think they are related, but I don't think they explain why the `impala` in `from ibis import impala` ends up being the `impala/api.py` file. At least I still don't understand.

When `impyla` is installed, the example in the issue still fails, and the tests work. So, even when that `suppress` is not triggered, the er

[2020-10-19 13:20] matthewmturner commented on #2427
thx for clarification. makes sense.  will look into it further.

this one will likely take more time as i try to understand internals / expressions.  when is next release / did you want this included?

[2020-10-19 13:25] datapythonista commented on #2427
I would like to release after finishing the refactoring of the backends. Whenever that happens, but I think it'll probably be in one week or two. If this is implemented by then it can surely be released, but I don't see this as a blocker.

[2020-10-19 13:54] datapythonista commented on #2388
@jreback do you know why the Impala docker container requires postgres? It doesn't look like the Impala backend should require postgres, not sure if I'm missing something.

Btw, do you have the password of the `ibisproject` user in Docker hub? Or do you know who has it?

[2020-10-19 14:19] jreback opened #2481 "CLN: investigate combining base_sql and base_sqlalchemy"
these ATM are orthogonal. That's good if they are truly this way. We should document the current state (e.g. what should come from each one)

Possibly it make sense to share code between these , change the relationship. This should likely be after all sql based backends are actually using one or the other of the backends.

[2020-10-19 14:39] jreback commented on #2388
no idea :-<

will ping @cpcloud offline

[2020-10-19 16:22] icexelloss opened #2484 "Consider changing get_name to return None instead of throwing exception for unnamed expressions"
As part of https://github.com/ibis-project/ibis/pull/2473, we noticed any if/else code needs to be added when extracting names from a list of expressions because `get_name()` currently throws exception for unnamed expressions.

We should consider changing the behavior of `get_name()` to simply the code.

[2020-10-20 01:56] matthewmturner commented on #2478
There is the following which when removed results in test failure instead of skipping.

https://github.com/ibis-project/ibis/blob/fe04a29325f1316a4e6992f8369636a52c7af325/ibis/tests/sql/test_compiler.py#L14

Is the objective to remove this so that error / failure is raised and we get full test report for `tests/sql`?

[2020-10-20 04:41] matthewmturner commented on #2427
i got the expected results when doing the following:

[code]

The sql for this `str(expr[countries, gdp].filter(gdp['year'] == 2017).compile())`

[code]

Does it make sense that `expr[countries, gdp]` would be required before `.filter()` in order to make it work?

[2020-10-20 10:07] datapythonista commented on #2478
That makes sense, but it may be a bit more complicated. So far, what has been done is that some modules can be imported even if impyla is not installed, but the specific functions that use it fail if called. This is implemented by simply having the imports of impyla inside the functions that use it.

Those `importorskip` are related, and skip those when impyla is not installed. If the backends are

[2020-10-20 10:15] datapythonista commented on #2427
I think specifying the columns materialize the join, so the behavior makes kind of sense, but I don't think it's the one we want. The filter shouldn't be ignored, if there is any reason why it can be applied an exception should be raised.

But unless there are repeated columns or any other reason for the operation to not be able to be executed, I think the code in the issue description should work

[2020-10-20 13:15] matthewmturner commented on #2478
Ok, makes sense.

For this issue should we limit it to removing the `importorskip` to at least get the `sql/tests` running and then work on a separate one for moving the tests to `ibis/backends/impala/tests`?

[2020-10-20 13:19] datapythonista commented on #2478
Not sure if removing the import alone will fix the original error of this issue. But seems like a good first step. If you want to open a PR for that, and reference this issue but not close it, that would be great.

[2020-10-21 04:43] #2467 closed

[2020-10-21 04:43] matthewmturner commented on #2467
closed via #2470

[2020-10-21 04:55] matthewmturner commented on #2427
Ok. Im going to take a shot in the dark at this.  First guess is to see if i can figure out why the `WHERE` in the sql in the issue description is on `base.gdp.year` instead of `t1.year`.  My assumption being that since the filter is applied after the join, and the filter is using a table from the join, that it should have mapped to the joined table (`t1`).

Does this sound reasonable?

[2020-10-21 10:47] datapythonista commented on #2427
Not so familiar with that code to know, but sound reasonable to me.

[2020-10-21 22:07] ZeroCool2u opened #2488 "BUG: Add support for pandas new StringDtype"
As of v1.3 Impala does not yet support the new pandas StringDtype. This is problematic, because for pandas versions > ~1.0, DataFrame.convert_types() will cast strings to this datatype and cause upload/insertion failures.

[2020-10-21 22:18] ZeroCool2u commented on #2488
Note for anyone else encountering this issue, you can still use `DataFrame.convert_types()` and side step this issue like this

[code]

[2020-10-22 09:42] datapythonista commented on #2488
Is it Impyla that doesn't support the string dtype? I guess we can use `convert_string=False` for now to fix the bug.

[2020-10-22 11:41] datapythonista opened #2489 "Conda solver taking too long"
xref: https://github.com/ibis-project/ibis/pull/2476#issuecomment-714429790

Looks like the conda package build is taking too long (2 hours in some cases).

That build is installing all the dependencies of all the backends, which seem to be causing the problem. `pymapd` has been in the past the main source of conda solving time, so #2356 (moving omnisci to a separate repo should help). Also, for t

[2020-10-22 15:19] LeeTZ opened #2490 "bug: fix set_value behavior for scope when timecontext is None"
What is the Problem
=============
When `timecontext` is `None`, `set_value` method of scope will not override and set value.

Currently in `set_value` :
[code]
While when `timecontext` is `None` and if `op` is already in `scope`,  `self.get_value(op, timecontext)` will return the value stored in `scope`, which is not `None` probably. Then `set_value` will not update `scope`.

The correct behavior

[2020-10-22 20:38] ZeroCool2u commented on #2488
That's a good question. I believe it's on our end, because Ibis is throwing the error. Also, from what I can tell, the only pandas related code in Impyla is just converting the impala response to a dataframe, which is just a few lines.

Here's the [documentation for the introduction of the new Pandas StringDtype](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html), which is consider

[2020-10-23 11:33] EdAbati commented on #2424
Hi @datapythonista , is this issue still available?

[2020-10-23 11:39] datapythonista commented on #2424
No, this was closed by #2479.

All the moving has been done now, the only thing that is pending are couple of files left of #2466. If you want to move that, it would be great.

Something else that would be very valuable, and I think it shouldn't be so complex is #2389. There is a PR open, but the approach ended up not being great. So working on the original approach of making the scripts work on w

[2020-10-23 11:39] #2424 closed

[2020-10-23 11:40] datapythonista commented on #2417
Closed via #2436

[2020-10-23 11:40] #2417 closed

[2020-10-24 16:53] EdAbati commented on #2466
/take

[2020-10-26 04:29] matthewmturner opened #2493 "Windows CI build error related to conda"
The Windows error seems to be a new genuine error. Unrelated to this PR, but we'll have to fix it before merging. If you want to open an issue, that would be great.

The Impala error seems to be the error we've experienced several times, I guess it'll go away after a rerun or two.

_Originally posted by @datapythonista in https://github.com/ibis-project/ibis/pull/2491#issuecomment-715308115_

[2020-10-26 04:31] matthewmturner commented on #2493
Errors from azp.

1.
[code]

2.
[code]

[2020-10-26 17:12] datapythonista commented on #2493
Thanks @matthewmturner, I think this was fixed in #2486. Can you rebase the PR where you found this, and let me know if it still happens (and you can close if it doesn't).

[2020-10-26 17:30] datapythonista opened #2494 "Add test to avoid unwanted dependencies among backends"
Ibis had some interdependencies among backends that have been causing some issues, besides making the codebase unnecessarily complicated.

We are finishing a major refactoring to make the dependencies more reasonable. Mainly, to avoid unrelated backends to depend among them (bigquery or spark depending on impala), and creating some base backends with the code shared among them.

I think it would b

[2020-10-26 19:01] matthewmturner commented on #2494
this would be good to get in the next release along with the refactoring, right?

i was thinking the following:

1. new `tests` folder in `ibis/backends`
2. move `ibis/backends/conftest.py` to `ibis/backends/tests`
3. create `test_dependencies.py` in `ibis/backends/tests` with implementation of the logic you provided

I can try to do this in parallel to operation registry move to confirm expected

[2020-10-26 21:19] datapythonista commented on #2494
Thanks @matthewmturner that sounds like good ideas. But I don't think we can do number 2. If you move the `conftest.py` file, I think it won't be applied to the backend tests then, which is it's goal.

This is a nice to have, but surely not a blocker, and lower priority than the refactoring itself, but if you feel like working on it, it'll be useful to know when we're done with the refactoring. :)

[2020-10-26 21:27] icexelloss opened #2496 "refactor: remove coerce_to_dataframe from execute_udaf_node_groupby in pandas backend"
In https://github.com/ibis-project/ibis/pull/2487, we added a this to execute_udaf_node_groupby to coerce the output to the right shapes when executing struct UDF, however, this is not great because this does similar things to `pandas.execution.util.coerce_to_output` but we cannot use `pandas.execution.util.coerce_to_output` because we are in the inner loop. (`pandas.execution.util.coerce_to_outpu

[2020-10-26 22:45] #2164 closed

[2020-10-27 15:01] EdAbati commented on #2389
Hi @datapythonista ,
(I am quite new to GitHub Actions but) I had a look at this one:
My idea is that I could add an extra argument when executing `./ci/setup_env.sh` in order to pass the OS name (ubuntu-latest or windows-latest)
An if-else statement in the `setup_env.sh` file will check which OS is executing the script and set the `CONDA_PATH` accordingly.
(I am also not a Windows user but from [

[2020-10-27 15:53] datapythonista commented on #2389
Yes, that sounds right. Just couple of small comments. I think GitHub actions has an environment variable pointing where conda is available. I think in Windows and Linux it's not the same subdirectories that need to be added to the `PATH`, there are subdirectories `bin` and `Scripts` if I'm not wrong, and executables are in different places. Also, not sure how in Windows you add things to the `PAT

[2020-10-27 16:10] EdAbati commented on #2389
Ok Thanks! :) I will give it a try.
Very basic question: is there a way to test GitHub Actions before submitting a PR? is there any best practise?

[2020-10-27 16:38] datapythonista commented on #2389
You could run it in your fork by just opening the PR against your fork master, instead of the main repo master. You can also remove the builds and steps you don't need if you are going to do lots of tests. But it's fine to open a normal PR and keep testing here. If you do that you can prefix the title with `WIP` so we know it's not yet ready.

[2020-10-27 17:20] datapythonista opened #2499 "DOC: Use SQLite instead of Impala in docs"
Our docs currently requires an Impala instance to be built. At least in the last tutorials (the first 3 were written recently and don't use it), and in the Impala docs.

It's not ideal to require Impala running for the docs. There are two things we can do to avoid this:
- For generic (all backends) docs, we can simply use the SQLite backend, which doesn't require anything, not even dependencies.
-

[2020-10-28 14:26] #2466 closed

[2020-10-28 21:54] matthewmturner commented on #2427
was thinking about this more after your description from #2485 .  Since sqlite uses sqlalchemy compiler does that mean in theory i should be able to reproduce this error with pure sqlalchemy?

[2020-10-29 11:14] datapythonista commented on #2427
I'm not familiar enough with that code to know exactly. But my guess is that you are right. I guess the fix is probably changing how we call sqlalchemy (I doubt the error is in sqlalchemy).

[2020-10-29 16:10] xmnlab opened #2502 "Improve tests for pandas rank based/window functions"
As pandas is used to check the other backends results, it would be good to add tests for rank based and window functions for pandas that compares with fixed results.

Follow-up of https://github.com/ibis-project/ibis/pull/2224/files#r514197533

ref: https://github.com/ibis-project/ibis/blob/master/ibis/backends/pandas/tests/execution/test_window.py

[2020-10-30 05:25] matthewmturner opened #2503 "Move base_sql functionality that inherits from base_sqlalchemy"
Not in this PR, but feels like it could make sense to move these few methods and attributes to their parent classes in base_sqlalchemy, and just use those. If you think this can make sense and is worth having a look, can you create an issue for it please?

_Originally posted by @datapythonista in https://github.com/ibis-project/ibis/pull/2501#discussion_r514599759_

[2020-10-30 07:24] olszewskip opened #2504 "broken link to tutorials"
Hi!
The link to tutorials at the bottom of https://ibis-project.org/getting_started.html
takes me to 404 under https://hub.gke2.mybinder.org/user/ibis-project-ibis-tr9c47u4/tree/docs/source/notebooks/tutorial

[2020-10-30 14:04] datapythonista commented on #2504
Thanks a lot for letting us know @olszewskip. If you want to submit a contribution to fix it, that would be great. You have documentation on how to contribute here: https://ibis-project.org/contribute.html

[2020-10-30 15:03] #2389 closed

[2020-10-30 15:28] tswast commented on #2321
Do we have thoughts on when we cut this release? I see there are still a few refactoring PRs open by @datapythonista so maybe we wait for the `base_sql` changes to be complete?

[2020-10-30 15:41] datapythonista commented on #2321
I think we're almost done with the refactoring. I'm planning to release next week, if all the next PRs are merged (all are ready or almost ready):

- #2501
- #2485
- #2435
- #2497

[2020-10-30 15:58] jreback commented on #2321
yep +1 when ready @datapythonista

also wouldn't be averse to calling this 2.0

[2020-10-30 16:03] datapythonista commented on #2321
I think the next release will be a bigger change, if we start using entrypoints, and move omnisci and possibly other backends out. Maybe 2.0 is a good number for that one, since it's probably a bigger change. But no strong preference.

[2020-10-30 16:26] datapythonista opened #2505 "Drop hdfs functions from Ibis top-level module"
In #2497, `ibis.HDFS`, `ibis.hdfs_connect`... have been moved to the Impala backend where they belong, and started to raise a `FutureWarning` if called directly from the top `ibis` module.

After releasing (maybe more than once, not sure what will make sense), we should drop them them complete from `ibis` and leave them only in `ibis.impala`.

[2020-10-30 16:56] jreback commented on #2321
do we warn in the import change now? eg ibis.omnisci )

[2020-10-30 17:16] ZeroCool2u opened #2507 "BUG: Update Impyla and Thrift_Sasl Dependencies"
I'll work on the PR for this issue. The new Impyla release upgrades to a specific version of thrift_sasl, which should have some bug fixes and may have the added side effect of improving the run speed of the conda solver by eliminating some options.

[2020-10-30 18:38] jreback commented on #2388
@datapythonista what do we need here?

[2020-10-30 18:44] datapythonista commented on #2388
I need to continue working on #2480, and researching what's the problem connecting to Impala. I managed to make it start, but Ibis was failing to connect. Will be back to that PR after the release.

[2020-10-30 21:33] jreback commented on #2388
ok I have access to the dockerhub images now, let me add you as well @datapythonista

[2020-10-30 23:18] jreback commented on #2321
yea will add

[2020-10-31 14:14] olszewskip commented on #2504
Thanks for letting me in on the process, @datapythonista! I've never done anything like that before, but here I go trying
/take
I'm going to assume, that swapping the broken link to binder for one to the tutorial section in the documentation would be helpful.

[2020-10-31 19:26] jreback commented on #2321
@datapythonista added you to pypi (you should see an invite)

[2020-10-31 23:17] #2504 closed

[2020-11-01 21:12] renato2099 commented on #2477
the problem seems to be that `pytest.importorskip('impala.dbapi')` fails and all the tests are skipped.
the solution is also quite simple, just do `pip install impyla` and then tests are no longer skipped.
regarding CI, we might want to add it to the `environment.yaml` file. I put a PR on this here https://github.com/ibis-project/ibis/pull/2510
let me know what you think @datapythonista

[2020-11-02 11:12] datapythonista commented on #2321
Great, accepted it.

[2020-11-02 11:23] datapythonista commented on #2477
Thanks @renato2099. I expected pytest to run the files and show them there in that log, and then show them as skipped. Which I think it's not true when the skip is at the beginning of the file.

Impala shouldn't be required there, but it's being removed in #2501 after some refactoring. This is fixed there, just checked its CI.

Thanks for researching this!

[2020-11-02 20:03] tswast opened #2512 "FEAT: support SipHash as "how" type for support in pandas backend"
Pandas supports hashes that output int64 values (corresponding to the hash function) https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.util.hash_pandas_object.html?highlight=hash#pandas.util.hash_pandas_object

This appears to be implemented as a version of the SipHash algorithm.

https://github.com/pandas-dev/pandas/blob/de9c771e0bcea5119a7a69f331cd3d6c5bc4a5be/pandas/_libs/hashing.p

[2020-11-02 22:15] renato2099 commented on #2477
sounds good @datapythonista!
yeah I wasn't sure what you meant, and I thought that we couldn't simply run the sql tests, and in my case it was because I was missing `impyla` package, once I installed, those tests were no longer skipped. But if that is fixed by the refactorings in #2501 that is even better!

[2020-11-04 16:51] #2310 closed

[2020-11-07 06:22] matthewmturner commented on #2489
@datapythonista @jreback tying back to the issues on #2435 with CI / conda.

I can make a PR for this if youd like.  I assume we would be removing some of the run requirements form `ci/recipe/meta.yaml`.  If thats the case do you already have in mind what should be removed?

[2020-11-07 12:00] jreback commented on #2489
yes remove spark omnisc impala bigquery

[2020-11-07 13:09] datapythonista commented on #2489
Can we release next week with all backends for the last time, and soon after release with the entry points, and each backend separately (with omnisci in a separate repo, and maybe others)?

I think having separate conda packages that work and that don't work with entrypoints will make things complicated.

[2020-11-08 05:58] matthewmturner commented on #2494
ive been looking into this.  from what ive seen there isnt a way to unload a module(i.e. what `importlib.unload` from your example was representing).  The closest i saw was `del sys.modules["module"]`.  i suppose we could loop through the known deps and delete them that way.  or do you think it makes sense to just add a `test_dependencies.py` to each backend and do the appropriate test?

[2020-11-08 06:00] matthewmturner commented on #2463
this can be closed. sry i didnt link to my PR.

[2020-11-09 23:53] datapythonista commented on #2494
If `del sys.modules...` works I'd go for that. Adding tests for each backends is very repetitive, and we'll end up missing backends in the future.

[2020-11-09 23:54] datapythonista commented on #2463
Closed via #2469

[2020-11-09 23:54] #2463 closed

[2020-11-10 11:56] jreback commented on #2448
see my comments elsewhere

this is a massive increase in operational complexity

spitting a single package and seeing how it goes is probably ok (omnisc) - and just to be clear this is just a recipe split - or are you proposing a separate repo?

we don't want anything manual

[2020-11-10 11:58] datapythonista commented on #2448
I thought you proposed this one (having multiple conda-forge packages). What would you do then?

[2020-11-10 12:00] datapythonista commented on #2321
@jreback I think we are ready to release. Mentioned in other issues, but what I'd do is to release what we've got as 1.4, in the same way as we've been doing until now. Including one single conda package for everything.

After the release, I'll create an issue to discuss what what to do next (entrypoints, move omnisci package out...).

Does this sound good?

[2020-11-10 12:15] jreback commented on #2321
ok sounds good to me

[2020-11-10 12:17] jreback commented on #2448
yeah multiple conda forge packages but a single repo (as we have now)

we already split the testing so the conda packages should mirror this

docs should also only have the ibis core packages (otherwise cannot solve easily)

but i don't really see this as a problem - you don't need the specific backends for the docs

[2020-11-10 15:53] datapythonista commented on #2448
Ok, didn't know a single conda-forge repo could generate several packages, but much better if that's the case.

I'll have a look at the docs. Would be great if we have a way to build the docs without having to import all the dependencies. If we find it, maybe it can also work for adding docs from external repos. In any case, not really important I think.

[2020-11-10 20:35] tswast opened #2516 "Pandas: case() statement when() does not match null values"
The `when()` function in a case statement does not match `NULL` values (at least not in the Pandas backend).

[code]

Output:

[code]

But I would expect

[code]

[2020-11-10 20:38] tswast commented on #2516
This is more of a problem when trying to apply functions like `re_replace`, which do not handle `NULL` values as well as string concatenation. Replacing the `else_(...)` above with `.else_(string_col.re_replace(r"\\", r"\\\\"))` raises the following exception:

[code]

[2020-11-10 20:41] tswast commented on #2516
The same behavior is observed if I use `ibis.null()` or `None` instead of `ibis.NA`.

`float("nan")` fails with `TypeError: Base expression and passed case are not comparable`, which probably makes sense.

[2020-11-11 06:18] matthewmturner commented on #2494
Something i found interesting.  When importing `ibis.backends.sqlite` i end up with `ibis.backends.impala`,  `ibis.backends.spark`,  and `ibis.backends.pyspark` modules in `sys.modules`.  Havent gotten to the bottom of this yet but let me know if you have any ideas.

Also, i assume pandas is fine is a known backend for all backends?  and what about the file based backends (base_file, csv, parquet,

[2020-11-11 14:37] datapythonista commented on #2494
I think we probably need to merge #2379 before this can work. At the moment, all backends that don't fail to load (in theory because of missing dependencies) are loaded in `ibis/__init__.py`. So I think this is what you're seeing here.

[2020-11-11 14:42] datapythonista commented on #2321
@jreback @ibis-project/ibis-owners will be releasing Ibis 1.4 today. Please don't merge any PR until I'm done. Thanks!

[2020-11-11 14:54] matthewmturner commented on #2494
ah got it. makes sense. thanks.

[2020-11-11 16:02] datapythonista commented on #2321
pip package release, working on the conda-forge one now

[2020-11-11 19:21] jreback commented on #2321
great i think we have docs in the release process - can u update if you find anything different

[2020-11-11 20:15] datapythonista commented on #2321
Yes, I'll make few changes once I'm done. Things are mostly correct, but I'll remove the docs part that is not needed anymore.

Let's see if the CI at https://github.com/conda-forge/ibis-framework-feedstock/pull/51 ends green, and I think we're done after merging it.

[2020-11-11 20:22] jreback commented on #2321
sure ping when ready

[2020-11-12 02:11] matthewmturner opened #2517 "refactor: remove `_impala_signature()` from base_sql"
Not so concerned about `_impala_signature()`. There is clearly something not right there, but it's probably not causing any bug or any problem. Feel free to have a look, but I'd close this, and maybe create an issue for that for now.

_Originally posted by @datapythonista in https://github.com/ibis-project/ibis/pull/2485#issuecomment-725457184_

[2020-11-12 17:26] datapythonista opened #2520 "TST: import ibis takes more than 2 seconds in Windows"
We have a test that checks that `import ibis` doesn't take more than 2 seconds to run. It fails somehow often in Windows.

This will probably be fixed once we start using entrypoints (see #2379), since all backends will be loaded lazily. If it doesn't, we should benchmark what is taking so long to be executed just when importing the module.

[code]

[2020-11-12 18:11] matthewmturner commented on #2309
Is this as simple as adding the file `ibis.expr.api.TableExpr.asof_join` to `docs/source/generated`?  Or does the generated imply that it needs to be done elsewhere and its auto added to that directory?

[2020-11-12 18:21] matthewmturner commented on #2419
this can be closed via #2435

[2020-11-12 18:36] datapythonista commented on #2309
The `generated` directory shouldn't be in git, and it's generated automatically when the docs are built. The API pages are created automatically from the autosummary tables in the `api/` directory (or any other docs file, but there is where we have them).

[2020-11-12 18:41] datapythonista commented on #2321
@jreback not sure if you've seen the ping in https://github.com/conda-forge/ibis-framework-feedstock/pull/51, but the PR for the conda-forge package should be ready.

[2020-11-12 18:50] matthewmturner commented on #2455
@jreback checking on the above.  do you have preference for adding those functions (`low_card_grouped_rolling_udf` and `high_card_grouped_rolling_udf` to pandas backend vs simply not running them?

[2020-11-12 18:50] matthewmturner commented on #2309
Ok - should i add that directory to `.gitignore` as well with a PR for this?

[2020-11-12 19:03] datapythonista commented on #2309
It's there already: https://github.com/ibis-project/ibis/blob/master/.gitignore#L49 :)

[2020-11-13 02:28] jreback commented on #2455
ideally running them

[2020-11-13 02:30] jreback commented on #2321
just merged
thanks a lot @datapythonista

[2020-11-13 11:45] datapythonista opened #2523 "Update conda-forge recipe from released version"
We introduced some changes to the recipe to release 1.4. We need to copy the recipe to this repo (`ci/recipe/meta.yaml`), so the packaging build uses those changes.

[2020-11-13 11:48] datapythonista opened #2524 "Update release instructions"
The release instructions in the wiki are quite accurate, but they require minor updates, mainly:

- Remove the part of rendering the release notes, which sphinx does automatically now
- Add the part of copying the recipe from the feedstock back to this repo  is there are changes.

The release instructions can be moved to the "Contribute" section of the web. So changes to it follow normal developme

[2020-11-13 11:51] datapythonista opened #2525 "Update milestones"
We currently have several milestone in GitHub (next major release, next bugfix release, next feature release...).

Afaik we're not using them, just one for the next release. I'd prefer to just have a milestone `Next release` for now, get rid of the rest, so we can label what we'd like to see in the next release. If in the future we start doing major, minor... we can add them back as needed.

@jreb

[2020-11-13 11:52] jreback commented on #2525
yep that's fine

[2020-11-13 11:57] datapythonista commented on #2321
Release complete.

Installing the `ibis-framework` package in a clean environment takes 6 minutes in Python 3.8 (where pymapd is no installed) and 12 minutes in Python 3.7.

I'm aiming at releasing 2.0 in just few weeks, after we start using entrypoints, and we release all backends as conda subpackages. I'll also be moving the omnisci backend out before releasing 2.0.

[2020-11-13 11:57] #2321 closed

[2020-11-13 12:02] datapythonista opened #2526 "RLS: 2.0"
Next release, 2.0.

Issues that need to be closed before the release:
- #2379 Entrypoints
- #2448 Backends as conda subpackages
- #2356 Move omnisci backend to another repo

Will be setting the milestone of these issues and any other after #2525 is discussed.

xref: https://github.com/ibis-project/ibis/issues/2321#issuecomment-726724955