[2018-02-02 19:00] cpcloud commented on #1244
This already exists as `ibis.options.impala.temp_db` for the temporary database name, and `ibis.options.impala.temp_hdfs_path` for the temporary HDFS location.

[2018-02-02 19:00] #1244 closed

[2018-02-05 01:59] cpcloud commented on #1174
Closed by #1306

[2018-02-05 01:59] #1174 closed

[2018-02-05 02:02] cpcloud commented on #1297
Closed by #1322

[2018-02-05 02:02] #1297 closed

[2018-02-05 02:04] cpcloud commented on #1159
We might be able to work around this. I will look into this for 0.13

[2018-02-05 17:32] #1164 closed

[2018-02-05 17:32] #1224 closed

[2018-02-05 17:32] #1249 closed

[2018-02-05 17:32] #1251 closed

[2018-02-05 17:32] #1260 closed

[2018-02-05 17:32] #1262 closed

[2018-02-05 17:32] #1323 closed

[2018-02-05 17:41] seibs opened #1331 "BUG: Unable to add column based on a scalar parameter"
If I first cast the parameter to a different type, the expression compiles.

For example, this works
[code]

but, this fails
[code]

[2018-02-05 18:00] cpcloud commented on #1331
Thanks, will take a look

[2018-02-05 19:36] cpcloud opened #1333 "Missing BigQuery operations"
See the list here that we are currently skipping:

https://github.com/ibis-project/ibis/pull/1332/files#diff-57418510fe1d988e5cb1614da6247204R251

[2018-02-05 21:38] wesm commented on #1328
This is a big project to do in generality -- this is what the Dremio project does (Federated SQL https://github.com/dremio/dremio-oss). If we could enable this to work at a small scale (i.e. similar to what is possible in Blaze project https://github.com/blaze/blaze) that would be quite useful

[2018-02-05 22:50] cpcloud opened #1334 "Projection pushdown"
We can probably use some of the machinery in `lineage.py` to help with this.

[2018-02-05 23:01] wesm commented on #1327
For the moment, it's unclear whether it would be useful with the backends we support (until we have something that's only accessible via ODBC). For example, psqlodbc has pretty bad performance as I recall (it would be cool to have native Arrow-libpq bindings at some point, similar to https://github.com/MagicStack/asyncpg but not dependent on Python)

[2018-02-06 16:41] #1193 closed

[2018-02-07 10:51] kszucs commented on #1221
@cpcloud I think You can close this.

[2018-02-07 16:32] #1221 closed

[2018-02-07 20:03] kszucs commented on #1077
@cpcloud schedule it to 0.14?

[2018-02-07 20:04] cpcloud commented on #1077
@kszucs Sounds good.

[2018-02-07 20:05] kszucs commented on #923
@cpcloud 0.14?

[2018-02-07 20:06] kszucs commented on #1218
With `lineage.traverse` it should not be so hard.

[2018-02-07 20:07] kszucs commented on #1063
@cpcloud is it still valid?

[2018-02-07 20:11] kszucs commented on #1201
AFAIK currently ibis disallows that https://github.com/ibis-project/ibis/blob/master/ibis/client.py#L324

@cpcloud 0.14?

[2018-02-07 20:13] cpcloud commented on #1218
Agree, though not sure if this will make it into 0.13.

[2018-02-07 20:14] cpcloud commented on #1063
@kszucs This is still valid, though we'd need to get kudu into the impala image to test this so we can fix it.

[2018-02-07 20:16] kszucs commented on #1218
Agree, if nothing depends on physical columns we might delay it.

[2018-02-07 20:17] cpcloud commented on #1201
Right, I want to remove the limitation that prevents at least *exploring* expressions that contain multiple backends.

[2018-02-07 20:17] cpcloud commented on #1201
Whether or not they can be executed should be decided somewhere else I think. I need to play with this a bit before deciding on an interface.

[2018-02-07 20:19] cpcloud commented on #1218
Nothing except #1334 :)

[2018-02-07 20:26] kszucs commented on #1218
0.14?

[2018-02-07 20:31] kszucs commented on #990
@cpcloud @jreback

Actually we now have intervals and multidispatched inference system.

[code]
How can I get the `freq`/ `unit` information for the column?

[2018-02-07 20:33] kszucs commented on #1201
BTW I'd really like to see this feature implemented.

[2018-02-07 20:35] kszucs commented on #1063
Ouch. This might help: https://github.com/parrot-stream/docker-impala-kudu/blob/latest/Dockerfile

[2018-02-07 20:39] #1308 closed

[2018-02-07 20:43] cpcloud opened #1340 "Fix inconsistency between context_class and translator"
https://github.com/ibis-project/ibis/pull/1303#discussion_r164882320

[2018-02-07 20:43] cpcloud commented on #1307
@kszucs I'm going to take a crack at this.

[2018-02-07 23:42] #1300 closed

[2018-02-07 23:42] #1331 closed

[2018-02-08 20:21] #1307 closed

[2018-02-08 22:01] kszucs commented on #1330
0.14? :)

As a workaround You can setup the hostnames in `/etc/hosts` to point to the host machine, because all of the required ports are exposed. Also doesn't seem like a platform independent solution https://github.com/mageddo/dns-proxy-server/issues

[2018-02-08 22:27] cpcloud commented on #1330
Moved to future since this isn't essential at all

[2018-02-08 22:28] kszucs commented on #1286
These can be ported to full backend tests:
- cases containing [assert_series_equal](https://github.com/ibis-project/ibis/search?utf8=%E2%9C%93&q=assert_series_equal&type=)
- cases containing [assert_frame_equal](https://github.com/ibis-project/ibis/search?utf8=%E2%9C%93&q=assert_frame_equal&type=)

[2018-02-08 22:42] cpcloud opened #1344 "Collapsing filters generates incorrect code for subqueries"
[code]

[2018-02-09 03:18] cpcloud commented on #1326
Yeah, this is a good idea. There isn't much point is spending this much time on testing something that is not in use.

[2018-02-09 03:18] cpcloud commented on #1326
Marking for 0.14, we'll remove it right after the 0.13 release.

[2018-02-09 10:58] tdna opened #1346 "Simple table reduction uses window operation instead of aggregation"
### Actual behaviour
[code]
![download](https://user-images.githubusercontent.com/2520839/36024096-edcc250e-0d8e-11e8-8fd9-690853a42aac.png)
mysql compiles to
[code]

### Expected behaviour
`expr1` should aggregate instead of using window operation like the following expression
[code]
![image](https://user-images.githubusercontent.com/2520839/36024187-42a18560-0d8f-11e8-84be-6a8b27138634.png)
mysq

[2018-02-09 11:02] kszucs commented on #1326
Great!

[2018-02-09 15:25] cpcloud commented on #1346
@tdna The actual behavior you describe here is the expected behavior.

I couldn't find any explicit documentation for this behavior, but there's a blurb that hints at it here: http://docs.ibis-project.org/sql.html#window-functions

Since `t[...]` is a non-aggregate context (projecting without an explicit `aggregate` call) an `OVER (...)` clause is generated.

[2018-02-09 15:25] cpcloud commented on #1346
I'll add some documentation to explicitly show this difference

[2018-02-09 16:33] #306 closed

[2018-02-09 16:38] #1346 closed

[2018-02-09 17:34] wesm commented on #1346
Can we elide the window clause in this case (I didn't think so but maybe you can in some databases)?

[2018-02-09 17:51] wesm commented on #1344
This might have to do with the correlated subquery code path

[2018-02-09 17:52] cpcloud commented on #1346
We could think about making the window operations only happen in the case that there's at least one selection that contains a `ColumnExpr`. This would be a backwards incompatible change. If we made this change, we'd bump the version of ibis to 0.1.0 to indicate such a break.

[2018-02-09 17:53] cpcloud opened #1348 "Consider making projections of scalar aggregates behave like a call to .aggregate() instead of generating window function clauses"
This can be surprising given the cosmetic similarity between the two different expressions.

See this issue: https://github.com/ibis-project/ibis/issues/1346

[2018-02-09 17:55] cpcloud commented on #1344
Yep, it's a bit tricky. I looked into it a bit yesterday right as I was leaving the office. I'm going to get this fixed for 0.13 but a couple of other PRs need to be merged before this happens.

[2018-02-09 18:03] cpcloud opened #1349 "Support the RANGE window specification"
BigQuery and PostgreSQL (probably others as well) support the `RANGE` specification when constructing window functions.

The difference between `ROWS` and `RANGE` is that `ROWS` references other rows based on row number, whereas `RANGE` references other rows based on the current row's membership in an interval defined by the `start_of_interval PRECEDING AND end_of_interval FOLLOWING`.

[2018-02-09 21:44] kszucs commented on #1346
As an end user I'd definitely expect

[code]

for

[code]

[2018-02-12 08:56] kszucs opened #1354 "Deprecate infer_literal_type"

[2018-02-12 09:47] kszucs commented on #1354
infer_literal_type is not exposed in the public API so I'll delete it.

[2018-02-12 12:01] kszucs opened #1355 "Separate temporal Diff and Sub operations"
- `timestamp - timestamp -> TimestampDiff`
- `timestamp - interval -> TimestampSub`
- `date - date -> DateDiff`
- `date - interval -> DateSub`

[2018-02-12 16:05] tsdlovell opened #1356 "BQ: lead/lag should sanity check its input"
`expr.column.lag(-1)` is invalid
[code]

[2018-02-13 13:18] kszucs opened #1358 "More informative RelationError in case of overlapping keys"
'Joined tables have overlapping names ...' -> 'Joined tables `table1` and `table2` have overlapping names ...'

[2018-02-13 13:21] kszucs opened #1359 "More informative IntegrityError on duplicate columns"
[code]

List the particular columns at least.

[2018-02-13 16:06] kszucs opened #1360 "Setup binderhub - formerly binder"
See https://github.com/jupyterhub/binderhub
E.g. for the tutorial resource

[2018-02-13 16:48] cpcloud commented on #1360
That's pretty neat.

[2018-02-13 16:52] kszucs commented on #1360
We could initialize with data about pandas' git history in parquet format - 5+ tables :)

[2018-02-14 18:00] cpcloud commented on #1230
Added in https://github.com/ibis-project/ibis/pull/1309

[2018-02-14 18:00] #1230 closed

[2018-02-14 20:09] cpcloud commented on #990
I think the only way is to parse the metadata string in `str(df.A.dtype)`:

[code]

[2018-02-14 20:09] cpcloud commented on #990
@kszucs Do we have a test for this? If so, I'll close the issue.

[2018-02-15 10:10] vladserkoff opened #1363 "Current documentation is built with errors"
See [here](http://docs.ibis-project.org/impala.html#database-and-table-objects). Seems like the `client` object failed to be defined, thus causing other examples to throw errors.

[2018-02-16 09:53] kszucs commented on #1344
On alchemy backends the compiling expression above fails with infinite recursion.

[2018-02-16 12:22] kszucs commented on #1344
The predicates got fused in [analysis._filter_selection](https://github.com/ibis-project/ibis/blob/master/ibis/expr/analysis.py#L534).
I had a couple of desperate hack attempts to `block` a `Selection` in case predicates containing reductions. While that makes the above test case pass, breaks multiple others with `doent's fully originate from` error.

This is a really highly coupled part of the co

[2018-02-17 17:33] cpcloud commented on #1363
Great! Fixing now, thanks for the report.

[2018-02-23 21:56] FedericoV opened #1365 "feat: quantile support for postgres/redshift"
Hi,

Currently, attempting to use the .quantile() command while using the postgres driver gives this error:

[code]

Any chance this could be added in a future release?

[2018-02-23 23:25] FedericoV commented on #1365
I'm taking a stab at implementing this following: http://docs.ibis-project.org/notebooks/tutorial/9-Adding-a-new-expression.html but I'm running into a few errors.

If any core devs are available for some pointers, I'm happy to work on this myself.

[2018-02-23 23:40] kszucs commented on #1365
Hey @FedericoV ! What kind of errors are You running into?

[2018-02-23 23:48] FedericoV commented on #1365
I first tried to familiarize myself a bit with the postgres back end, and tried this:

[code]

And if I apply it, I get this:

[code]

[2018-02-23 23:50] FedericoV commented on #1365
If I do the logical thing and remove the comma (since it's only unpacking a single argument) I get this other error instead:
[code]
ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'DecimalColumn' [SQL: 'SELECT encode(digest(%(digest_1)s, %(digest_2)s), %(encode_1)s) AS tmp \nFROM fba_pricing.fee_imp_xch_mm AS t0']

[2018-02-23 23:58] kszucs commented on #1365
Could You please print `avg_price.dumb_mean()`?

[2018-02-24 00:02] FedericoV commented on #1365
[code]

[2018-02-24 00:04] kszucs commented on #1365
The issue is probably the input signature defined [here](https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations.py#L659). So the length of `expr.op().args` will be two, first the argument You're expected, and second the optional where condition passed [here](https://github.com/ibis-project/ibis/blob/master/ibis/expr/api.py#L548).

Would You try the following in `compile_approx_quant

[2018-02-24 01:02] FedericoV commented on #1365
Nice catch.  I tried that, and I still get this error:

[code]

[2018-02-24 02:07] cpcloud commented on #1365
You have to call translate on arg

[2018-02-24 02:09] cpcloud commented on #1365
Your function also doesn't reduce, so it will fail with a strange error from sqlalchemy most likely

[2018-02-24 02:18] cpcloud commented on #1365
If what I said doesn't make sense let me know and I can elaborate.

[2018-02-24 08:58] FedericoV commented on #1365
I have a vague intuition of what you are saying (average is an operation that maps an array to a scalar) but I'm not very sure about how that's expressed in the function.  I tried digging into the codebase a bit, but I couldn't find many stand alone implementations of reduce functions for the SQL back end.

[2018-02-24 09:00] FedericoV commented on #1365
I also wanted to get around to exposing to IBIS the approx percentile function, which involves mapping an array of reals to an array of categorical values - I just thought starting with mean would be easier :)

[2018-02-26 14:15] cpcloud commented on #1365
@FedericoV can you go to the ibis gitter chat: https://gitter.im/ibis-dev/Lobby

[2018-02-26 14:18] cpcloud commented on #1365
Here's what I mean by the `translate on arg` comment:

Your code:

[code]

does not call `translator.translate(arg)`. That's why you're seeing an error message with the ibis expression as a bound parameter.

Change your code to include that call. You may still get errors because `encode`/`decode` probably do not work on numbers.

[2018-02-26 14:20] #1355 closed

[2018-02-26 18:42] cpcloud opened #1367 "Make use of @compiles more often"
This is to make it easier for people to understand how to extend ibis as well as contribute to its development.

[2018-02-26 18:44] cpcloud commented on #1367
cc @FedericoV

[2018-02-27 21:08] kszucs opened #1370 "Impala DDL for S3"
https://www.cloudera.com/documentation/enterprise/5-9-x/topics/impala_s3.html

[2018-03-01 18:33] kszucs commented on #1370
@cpcloud should We use a public or a private bucket? If the latter could You give me credentials?

[2018-03-04 07:22] kszucs opened #1373 "Don't flatten joins for clickhouse backend"

[2018-03-04 07:22] kszucs opened #1374 "Don't raise overlapping column names when only equality predicates are used"

[2018-03-07 23:11] cpcloud commented on #990
Closing as fixed.

[2018-03-07 23:11] #990 closed

[2018-03-11 02:22] kszucs commented on #1370
@cpcloud ping

[2018-03-11 02:24] kszucs commented on #1250
Let's roll out 0.13 :)

[2018-03-11 21:39] cpcloud commented on #1159
@John-Boik Is this still an issue for you? I'm having trouble reproducing your problem. Here's how I'm going about it:

[code]

then, in IPython

[code]

That results looks fine to me.

Is there something else I should be doing to trigger the error?

[2018-03-12 01:32] #1363 closed

[2018-03-12 15:58] cpcloud commented on #1295
This isn't a release blocker because it's not a blocker for any functionality, so I'm moving it to 0.14

[2018-03-13 12:53] #1250 closed

[2018-03-14 11:34] elvainch opened #1383 "Error JSONDecodeError"
I have this code

def insert_df_impala(df):
    hdfs = ibis.hdfs_connect(host='hadoophost', port=8020)
    client = ibis.impala.connect(host='impalahost', port=21050, hdfs_client=hdfs,user='myuser', password='mypassword')
    db = client.database('default')
    db.create_table('tablename',df)

and it fails in the last line. If I commented it out the connection works well.

Here is the stacktrace:

[2018-03-14 19:56] cpcloud commented on #1310
0.13 is coming up shortly.

[2018-03-14 19:56] #1310 closed

[2018-03-15 00:19] sushant3 commented on #856
I'm having similar issue. Can you explain what is the cause or how to resolve this?

[2018-03-16 14:30] kszucs opened #1384 "Support for sqlalchemy >= 1.2?"
@cpcloud I've manually installed the dependencies and it took me fair amount of time to figure out that the problem is newer sqlalchemy than `1.1`. Only SQLite tests were breaking.

How much effort would it be to support newer sqlalchemy too?

[2018-03-16 15:15] cpcloud commented on #1384
I'm not sure, I haven't had a chance to look into why this breaks sqlite tests. We should look into it for 0.14.

[2018-03-20 17:34] cpcloud opened #1386 "BUG: Alias generation is not aware of overlapping table names"
Discovered in https://github.com/ibis-project/ibis/pull/1385.

Not necessarily a bug since the engine should be able to disambiguate, but it *does* make for a confusing read.

[2018-03-20 18:17] #974 closed

[2018-03-20 18:17] #1344 closed

[2018-03-20 18:24] cpcloud opened #1387 "bug: Selecting unambiguous columns with strings raises an exception"
[code]

[2018-03-20 18:31] cpcloud opened #1388 "DOC/ENH: Add example of extending ibis with a reduction operation to the notebook"
@FedericoV asked about this. We should add an example for it to our documentation.

[2018-03-20 22:44] tsdlovell opened #1390 "ENH: BigQuery backend should default `/` to `IEEE_DIVIDE`"
else you can get a failure regarding divide by zero in the middle of your query execution

https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#special-cases-for-ieee_dividex-y

[code]

[2018-03-21 14:09] cpcloud opened #1391 "ENH/CI/BLD: Remove conda recipes from the repo"
We've been building on conda-forge for quite a while now. There's no reason to maintain two slightly different recipes for ibis (or any of the other recipes in `conda-recipes` AFAICT).

[2018-03-25 09:02] kszucs commented on #1160
@John-Boik with the current master (soon to be released) the following should be possible:

[code]

@cpcloud If this verified we might close this issue.

[2018-03-25 09:06] kszucs commented on #1157
Which one should we use: DataFrame API or  Spark SQL?

[2018-03-25 09:09] kszucs commented on #1270
This should probably be a spark standalone cluster running in a docker container. However we couldn't test that on appveyor.

[2018-03-25 15:02] kszucs commented on #1241
At operation level this would be just simple as the following?

[code]

I guess It's an oversimplification :)

[2018-03-25 15:02] kszucs commented on #1236
WIP https://github.com/ibis-project/ibis/pull/1377

[2018-03-25 15:07] kszucs commented on #1168
How about a function in `analysis` using `lineage.traverse`?

Expressions already have a lot of methods, when I was learning ibis I've found `_root_tables` a bit confusing too.

[2018-03-25 15:15] kszucs commented on #1119
Is this like the following just globally implemented for `Client`?

https://github.com/ibis-project/ibis/blob/d1b1f7de9a0b66f1fe726f2b8783e85cf1b1ac99/ibis/pandas/core.py#L117-L138

What would the purpose of it?

[2018-03-25 15:18] kszucs commented on #93
@cpcloud This issue seems a bit outdated, should we still revisit?

[2018-03-25 16:12] kszucs commented on #1268
What's the priority level of this feature? Asking because we might schedule it to 0.15 in order to have a smaller milestone.

[2018-03-25 16:17] kszucs commented on #502
What's the status of this? Are nested types supported by impyla?

[2018-03-25 16:20] kszucs commented on #588
@wesm What would be the desired API for this?

[2018-03-25 16:21] kszucs commented on #1313
Depends on #502

[2018-04-01 08:08] kszucs opened #1396 "Use signature bind instead custom function calling"
Bind arguments using `inspect.signature` in signature.py so we don't have to recreate Python's calling convention algorithm.

For python 2 and 3 compatibility there is [funcsigs](https://pypi.python.org/pypi/funcsigs) package.

[2018-04-02 14:00] #1326 closed

[2018-04-02 16:06] cpcloud commented on #1227
Hi @pteehan, we'll add support for this in the next release (0.14.0).

[2018-04-02 16:09] cpcloud commented on #93
This is really a backlog issue, that we may or may not get to after other higher priority issues are done. We can still leave it open though.

[2018-04-02 21:52] cpcloud opened #1397 "BUG: BigQuery scalar parameters aren't properly named"
This raises an exception:

[code]
Fix up shortly.

[2018-04-02 22:28] cpcloud opened #1399 "ENH: Support DISTINCT in aggregate functions"
Things like:

[code]

[2018-04-02 22:45] nmcclure opened #1400 "ImpalaClient.table() returning ValueError: too many values to unpack"
After successfully connecting to an impala database, database.table('tablename') returns ValueError: too many values to unpack. I'm able to create an ImpalaClient.database, and list the tables in it, but any table I try to create with either client.table or database.table return the same value error.

[code]

I'm using Anaconda Python 2.7.14, ibis 0.13, and impyla 0.14.1
Any hints/tips on what cou

[2018-04-02 22:47] jreback commented on #1399
count of this as well = nunique in pandas

[2018-04-02 23:12] cpcloud commented on #1399
@jreback That already exists in ibis as `nunique` :)

[2018-04-02 23:13] cpcloud commented on #1400
@nmcclure Can you try this?

[code]

If that doesn't work can you try downgrading to `impyla==0.14.0` and see if that resolves the issue?

[2018-04-02 23:14] jreback commented on #1399
yes i c u wrote array_agg - retract my comment

[2018-04-02 23:18] cpcloud commented on #1399
Yeah this is about supporting it more generally, in every aggregation that we can.

[2018-04-03 00:03] nmcclure commented on #1400
Hi @cpcloud, thanks for your response.
I tried the method you suggested (table = db.TABLENAME), and downgraded impyla to 0.14.0. After each, I tried to create an impalaclient.tableand got the same 'ValueError: too many values to unpack" error.

[2018-04-03 00:17] cpcloud commented on #1400
Oh sorry I misread the path there. That's actually an issue in ibis, let me have a look

[2018-04-03 00:21] #1391 closed

[2018-04-03 14:47] #1397 closed

[2018-04-05 06:49] kszucs commented on #1289
@cpcloud What should be the promotion logic for operation involving both nullable and non-nullable operands?

I guess if any of the operands are nullable then the result should be nullable, please confirm.

[2018-04-05 07:08] kszucs commented on #1289
Ohh, the implicit casting already nicely handles that.

[2018-04-05 07:18] kszucs commented on #968
#1366 will resolve it

[2018-04-05 07:19] kszucs commented on #969
#1366 will resolve it

[2018-04-05 17:33] cpcloud opened #1402 "BUG/BLD/CI: conda build tests should run against master commit"
Right now these are cloning the conda-forge repo and building that. We should rewrite the hash in the metadata and attempt to build that instead. We will probably also need to change the source directory.

[2018-04-05 22:37] jasonhouzz opened #1404 "ImportError: cannot import name config"
I'm having trouble connecting using below

[code]

it returns the following error

[code]

Config is available in the directory.

[2018-04-06 16:48] ebmilleriii opened #1406 "Support for TLS1.2 protocol secured Cloudera environment"
[code]

Deconstructing call to urllib3  determined that need to specify `ssl_version='PROTOCOL_TLSv1_2'`
Can this attribute be added in to the hdfs or impala.connect function

[2018-04-06 16:56] cpcloud commented on #1406
Slated for 0.14

[2018-04-09 15:24] cpcloud commented on #1404
@jasonhouzz Do you have a file called `ibis.py` in that directory?

[2018-04-09 22:31] cpcloud commented on #1404
@jasonhouzz How are you running this script? Relative imports are getting you into trouble here because of the way Python resolves modules. You should rename your module to something other than `config` or use an absolute import.

[2018-04-09 22:50] jasonhouzz commented on #1404
Running in jupyter within a virtualenv.  Will try absolute paths

[2018-04-10 15:16] cpcloud opened #1408 "ENH/BUG: BigQuery UNION requires ALL or DISTINCT"
[code]
is not a valid BigQuery query. `ALL` or `DISTINCT` must follow the `UNION` keyword.

[2018-04-10 16:26] #1408 closed

[2018-04-10 23:10] xmnlab commented on #1367
Hi all, I am trying to apply @compiles on a new backend that I am working using step 3 as references (
https://github.com/ibis-project/ibis/blob/master/docs/source/notebooks/tutorial/9-Adding-a-new-expression.ipynb
)

But my module hasn't this function. Where should I create this function? Is there a documentation about that?

[2018-04-10 23:36] xmnlab commented on #1367
@cpcloud great! thank you!

In my case, the backend is a String Generating type, should I also use `ibis.sql.compiler.ExprTranslator`?

[2018-04-11 00:35] xmnlab opened #1411 "RecursionError when creating new function backend"
Hi all,

I am trying to create a new function for a new backend [ibis-mapd](https://github.com/xmnlab/ibis/tree/master/ibis/mapd).

I need to create some function like sin, cos, tan, etc

I create a Sin class:

https://github.com/xmnlab/ibis/blob/master/ibis/mapd/operations.py#L556

[code]
I added this new class to _operation_registry dictionary:

https://github.com/xmnlab/ibis/blob/master/ibis/ma

[2018-04-11 14:38] cpcloud commented on #93
@xmnlab This looks like a bug since the types you've written in your example are perfectly valid.

[2018-04-11 14:38] cpcloud commented on #93
I'm going to move your example to a separate issue.

[2018-04-11 14:39] cpcloud opened #1412 "BUG: Precedence computation of case statements fails"
[code]

[2018-04-11 14:45] xmnlab commented on #1412
@cpcloud

i can help with this issue .. I just need some orientations.

[2018-04-11 15:04] cpcloud commented on #1400
@nmcclure Can you show the output of `conda list`?

[2018-04-11 15:11] cpcloud commented on #1390
Seems reasonable.

[2018-04-11 15:42] cpcloud commented on #1411
This looks like an issue with the way we are raising an exception.

[2018-04-11 15:43] cpcloud commented on #1411
Definitely a bug on our side.

If you set `ibis.config.interactive` to `False` you should get a reasonable error message.

[2018-04-11 16:03] nmcclure commented on #1400
Hi Phil, sorry about this...I wiped the VM I was trying to get ibis working on and can't get the list of packages anymore. I'll close this issue.

[2018-04-11 16:03] #1400 closed

[2018-04-11 16:09] xmnlab commented on #1411
great! thanks!

[2018-04-11 21:59] #1390 closed

[2018-04-12 20:28] xmnlab commented on #893
We already make a own version for trigonometric functions:

https://github.com/Quansight/ibis/blob/master/ibis/mapd/operations.py#L565

We can move this to `ibis` operations

[2018-04-12 22:11] xmnlab opened #1418 "The best approach to implement PI() function"
Hi all,

I am implement a function called `PI()` that will return a float number (the value of pi).

how would be a better approach to do that? Could anybody appoint me some references?

maybe could be called such as:

`t[t['val'] * ibis.my_backend.pi]`

and it should return something like that:

[code]

Thanks!

[2018-04-13 09:30] kszucs commented on #1354
Resolved with https://github.com/ibis-project/ibis/commit/9394436c86ed860c0735cc622c8128aa49dd58cd

[2018-04-13 09:30] #1354 closed

[2018-04-13 19:27] xmnlab commented on #1418
great! thank you @cpcloud !

[2018-04-15 20:34] cpcloud opened #1426 "ENH: make it easy to spell type conversions from ibis to system X and back"

[2018-04-16 16:24] tswast commented on #1319
I think https://github.com/ibis-project/ibis/pull/1424 should help with this. Later versions of `google-cloud-bigquery` use the `requests` library to make HTTP calls, which has better support for proxies than `httplib2` used by older versions of `google-cloud-bigquery`.

[2018-04-16 16:31] tswast opened #1427 "BigQuery: Allow cross-project queries"
It would be great if there was a way to submit query jobs to one project, but allow querying jobs in another project.

I tried querying the StackOverflow public dataset like this:

[code]

and got the following error:

[code]

Note: I also tried:

[code]

but I got this error:

[code]

I'd actually expect this second one as I do not have permission to charge queries to the bigquery-public-data pro

[2018-04-16 17:00] cpcloud commented on #1427
This is up next after the 1.0.0 merge

[2018-04-16 23:26] tswast commented on #1427
I wonder if `project_id` in the `ibis.bigquery.connect` becomes ambiguous if we do this? One way to disambiguate might be to have folks pass in a `google.cloud.bigquery.Client` object in the cases when they want the `project_id` of the tables they query to be different from the project they want to charge queries to.

[2018-04-18 21:54] cpcloud opened #1429 "ENH: multiple client compilation"
I say "client" instead of "backend" specifically because we may want to allow clients from the same backend to be used together. Notably, bigquery allows cross-project queries where you a can, for example, join a table in one project with another.

More generally, there's the issue of how compliation works at the moment.

Right now, when you call `compile` on an `Expr`, ibis will traverse the tree

[2018-04-18 22:49] tswast commented on #1429
Over at https://github.com/ibis-project/ibis/pull/1428#discussion_r182590739

My thoughts on this relating to BigQuery: this restriction on a single backend makes sense if you think about client/backend as the project that is getting charged for running queries: there should always be one.

The problem arises when there is an assumption that the data queried must be in a single GCP project. A quer

[2018-04-19 15:46] xmnlab opened #1430 "Add new units for date/time"
mapd has new date/time units (https://www.omnisci.com/docs/v4.0.0/5_dml.html):

Supported date_part types:

DATE_TRUNC [YEAR, QUARTER, MONTH, DAY, HOUR, MINUTE, SECOND, MILLISECOND,  MICROSECOND, NANOSECOND, MILLENNIUM, CENTURY, DECADE, WEEK, QUARTERDAY]

EXTRACT    [YEAR, QUARTER, MONTH, DAY, HOUR, MINUTE, SECOND, MILLISECOND,  MICROSECOND, NANOSECOND, DOW, ISODOW, DOY, EPOCH, QUARTERDAY, WEEK, D

[2018-04-20 04:24] xmnlab opened #1431 "Radians and Degrees operations"
I am creating two new operations radians and degrees. At this moment these two are on backend code, but I think it would be good to put them to `ibis.core`.

`numpy` has to names for these functions: `radians` or `deg2rad` and `degrees` or `rad2deg`

1) should I move this operations to `ibis` core?
2) should I create `radians`/`degrees` or `rad2deg`/`deg2rad` or both?

[2018-04-20 05:51] kszucs commented on #1430
@xmnlab Here are the [units currently supported](https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations.py#L2207), which covers most of the options.

IMHO You should start with implementing those, and collecting the unsupported ones. Then we'd have a clearer picture how to incorporate new units in the expression system.

What do You think?

[2018-04-20 05:54] kszucs commented on #1430
There are [test cases](https://github.com/ibis-project/ibis/blob/master/ibis/tests/all/test_temporal.py) You can easily hook after specifying a MapD backend [here](https://github.com/ibis-project/ibis/blob/master/ibis/tests/backends.py)

[2018-04-20 05:56] kszucs commented on #1431
That should go to `ibis.expr.operations`. I like `radians` and `degrees`.

@cpcloud What do You think?

[2018-04-20 05:59] kszucs commented on #1429
@cpcloud related https://github.com/ibis-project/ibis/issues/1328

[2018-04-20 11:43] cpcloud commented on #1431
Sounds good to me. Could have degrees/radians/deg2rad/rad2deg all in api.py and corresponding ops in operations.py

[2018-04-20 16:05] xmnlab commented on #1431
great! I'm moving the operations to there!

[2018-04-20 19:35] #1427 closed

[2018-04-20 19:59] xmnlab opened #1432 "Correlation and Covariation operations"
I am adding correlation and covariation operations for mapd backend.

I think it would be good be the on the `ibis` core.

I am using pandas name for this operations:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.cov.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html

Does it make sense?

[2018-04-20 20:01] cpcloud commented on #1432
@xmnlab Yep, makes sense. We are definitely interested in adding these.

[2018-04-20 20:22] xmnlab opened #1433 "ILIKE operation"
Hi all!

I need to implement a ILIKE operation (`StringSQLILike`) for mapd backend.

Could be better to put this new operation to `ibis` core?

[2018-04-20 20:36] xmnlab commented on #1430
Thanks @kszucs  I will take a look!

Would be a good idea a generic extract operation for date and timestamp that could receive a timestamp/date argument and an unit? maybe something like: `t['timestamp'].extract('year')` ?

[2018-04-20 21:18] xmnlab opened #1434 "Add distance operation"
Add a new operation called `distance`

It should receive 4 arguments `from_lon, from_lat, to_lon, to_lat` and return a float.

[2018-04-22 17:45] cpcloud commented on #1404
@jasonhouzz Is this still a problem? Can you close if not?

[2018-04-23 17:25] levent-dinckal opened #1437 "Random sample from an Impala table"
Hi all,

I am trying to download a random sample from an Impala table as a pandas dataframe. I could not find a sampling function in the documentation so I wanted to build my own, but it seems like there is no random number generation function either. Am I missing anything or is this just not implemented yet?

[2018-04-25 22:58] #1404 closed

[2018-04-27 11:33] kszucs commented on #1360
@cpcloud So binderhub requires a [kubernetes cluster]https://binderhub.readthedocs.io/en/latest/create-cloud-resources.html). Do we have gcloud resources for that?

[2018-04-27 11:39] kszucs commented on #1325
[member_of](https://github.com/ibis-project/ibis/blob/master/ibis/expr/rules.py#L136) rule supports enums on a certain level. Is that what You have in mind?

[2018-05-15 17:21] kszucs opened #1444 "Setup code coverage integration"
@cpcloud what do You think?

[2018-05-15 17:25] cpcloud commented on #1444
+1 from me, this would be great to have

[2018-05-15 17:26] kszucs commented on #1444
Which service do You prefer?

[2018-05-15 17:30] cpcloud commented on #1444
we can try coveralls.io, and if that's not working we can try something else

[2018-05-15 17:30] cpcloud commented on #1444
if you have any thoughts feel free to share them here

[2018-05-15 17:31] kszucs commented on #1444
I don't have any preference regarding to coverage services (at least yet).

[2018-05-15 17:32] kszucs commented on #1360
@cpcloud Can You get resources for this?

[2018-05-15 19:55] cpcloud opened #1446 "ENH/REF: Use post_execute on Series/DataFrame to call reset_index"
This could potentially allow customization of when (or at all) and on what operations `reset_index` is called.

[2018-05-17 20:37] tsdlovell opened #1448 "ibis.bigquery.client.BigQueryClient._execute: superfluous `results` kwarg"
https://github.com/ibis-project/ibis/blob/master/ibis/bigquery/client.py#L382

[code]

[2018-05-17 22:47] tsdlovell opened #1449 "add a "rerwite_stop" operator that prevents rewrites that cross the boundary"
There's a bug in ibis that causes it to effectively ignore a modification of a column via `.mutate`.  Issues like this could be worked around if we had such an operator.

[2018-05-18 21:53] cpcloud opened #1450 "Support for RANDOM-like function"
The various backend spell this function slightly differently.

[2018-05-21 14:28] tsdlovell opened #1451 "identical_to fails to ensure OR precedence"
[code]

Output should look like
[code]

[2018-05-21 14:30] tsdlovell commented on #1451
Workaround is to use `.isin`
[code]

[2018-05-22 00:15] cpcloud commented on #1451
Fix coming up shortly.

[2018-05-22 11:38] ddonetskov commented on #978
I came across the same issue when trying to use ibis for Impala. What has helped is to install the framework in the proper way (see below, it's also in the [documentation](http://docs.ibis-project.org/getting-started.html), the 'Impala Quickstart' section). I suggest outlining in the documentation that there are several options how to install ibis.

`pip install ibis-framework[impala]`

[2018-05-22 12:00] ddonetskov commented on #197
I'd like to support this suggestion. I am starting to work with Kudu (via Impala) with most of my data processing being done with pandas. I'd be happy to be able to read and write data directly to/from a pandas data frame. Thank you!

[2018-05-22 12:10] ddonetskov commented on #1400
I have got the same issue. Could you please help to resolve it?

[code]

[2018-05-22 14:19] cpcloud commented on #1400
@ddonetskov please show the output of `conda list` as well as the schemas of your tables.

[2018-05-22 16:12] ddonetskov commented on #1400
@cpcloud, thank you very much for helpin with it!

The table was created in the Impala WebIU with the following command

[code]

I don't use 'conda' but 'pip', the list of installed packages is attached.

[pip_freeze.txt](https://github.com/ibis-project/ibis/files/2027525/pip_freeze.txt)

[2018-05-22 20:29] #1451 closed

[2018-05-22 22:27] cpcloud opened #1454 "feat: expose APIs for constructing SortExprs using asc/desc functions and methods"
This will enable sort expr specifications without having to pass an `ascending` argument or have a function like `to_sort_expr` which makes assumptions about the meaning of its second argument.

Moreover, it becomes a lot less cumbersome to specify multiple sort exprs in a function like `array_agg` that, in some backends supports an `ORDER BY` clause.

[2018-05-23 02:39] missing-semicolon opened #1455 "Implement Strpdate as `to_datetime` for BigQuery"
Create a Strpdate operation and implement for BigQuery

[2018-05-23 19:25] tsdlovell opened #1456 "filter rewrite results in incorrect compiled sql"
I'm expecting the second thing, but I'm getting the first
[code]

[2018-05-30 18:02] cpcloud opened #1459 "Timezone information is not passed from datetime objects through to ibis.literal"

[2018-05-30 20:17] cpcloud opened #1460 "Generated tables and aliases should have distinct name generation schemes"
Right now, both are using `'t{}'.format(next(counter))`, but they should both have prefixes that indicate what they are generating so it's clear what kinds of things the aliases are referring to.

[2018-05-31 20:44] tsdlovell opened #1461 "bigquery partition column renamed to PARTITIONTIME"
[rename_partitioned_column](https://github.com/ibis-project/ibis/blob/cf8c5cff8ee5a0e3c408756532cf06901edee0e9/ibis/bigquery/client.py#L246) should only be called in [BigQueryClient.table](https://github.com/ibis-project/ibis/blob/cf8c5cff8ee5a0e3c408756532cf06901edee0e9/ibis/bigquery/client.py#L352) (or only mutate the table) if the name is NATIVE_PARTITION_COL.

[2018-06-01 11:33] tsdlovell commented on #1449
I think something like this should suffice

[code]

[2018-06-01 14:24] xmnlab opened #1462 "RowId operation"
I am trying to implement `MapD` `rowid` operator and I found `row_number()` operation on ibis.

row_number is a window operation ... but for MapD, it could be a normal operation.

This is an example using rowid: `select rowid, * from diamonds limit 10;`

Should we create a new operation? Is `RowId` a good name?

[2018-06-01 14:25] tsdlovell opened #1463 "BigQueryClient.sql doesn't work, has no method `_get_schema_using_query`"
[code]

[2018-06-01 23:28] cpcloud opened #1465 "ENH/CI: Add pandas 0.20, 0.22 to ci builds"
After https://github.com/ibis-project/ibis/pull/1458 we want to make sure that we don't break backwards compatibility with at least a few versions of pandas.

[2018-06-04 18:19] tsdlovell opened #1469 "bigquery udf insists ARRAY<INT64> was specified as ARRAY<FLOAT64>"
(with `client` already defined)

This fails
[code]
and prints
[code]

Whereas this works
[code]
and prints
[code]

[2018-06-04 18:58] tsdlovell opened #1470 "bigquery udf: len is undefined"
workaround is to use javascript notation in the udf

[code]

which will transpile to

[code]

[2018-06-04 19:06] cpcloud commented on #1469
The reason it automatically converts `ARRAY<INT64>` to `ARRAY<FLOAT64>` is because of this documentation: https://cloud.google.com/bigquery/docs/reference/standard-sql/user-defined-functions#supported-external-udf-data-types

and specifically this line:

It looks like BigQuery doesn't actually behave that way if "unsupported" is interpreted to mean "will raise an error" since this works (silently

[2018-06-04 19:17] tsdlovell commented on #1469
alternatives to the current state
1. raise on the creation of the expression with a udf that is being passed incompatible types
1. coerce the types passed to the udf if possible, else raise on the creation of the expression
1. warn that the type will be coerced

[2018-06-04 19:35] tsdlovell commented on #1470
same is true of `zip` and probably a lot of other builtins, so maybe [this phrasing](http://docs.ibis-project.org/udf.html#bigquery) should change or be caveated

[2018-06-04 19:38] cpcloud commented on #1470
Most of the *language* is supported, builtin functions are not part of the language, they are part of the standard library. I'll make that distinction more clear there.

[2018-06-04 19:39] cpcloud commented on #1470
Pull requests always welcome to add builtins

[2018-06-04 19:42] cpcloud commented on #1470
@tsdlovell Are there any particular builtins you'd like to see other `len`? Happy to implement any high priority ones alongside `len`.

[2018-06-04 19:46] cpcloud commented on #1469
@tsdlovell @tswast looks like I was mistaken: a more complex test case reveals that bigquery appears to cast inputs to string:

[code]
returns `12`.

[2018-06-04 20:01] tsdlovell commented on #1470
For enumerate
[code]
transpiles to
[code]

[2018-06-04 20:03] cpcloud commented on #1470
`enumerate` yields `index, element` you probably want to write that as `lambda x: x.map(lambda e, i: (i, e))`

[2018-06-04 20:08] cpcloud commented on #1470
If you are feeling adventurous you can add the rewrites yourself without having to wait on me to implement them. See here for some examples: https://github.com/ibis-project/ibis/blob/master/ibis/bigquery/udf/core.py#L83-L117

[2018-06-04 20:17] tsdlovell commented on #1470
@cpcloud , can you point me to any snippets where a more complicated statement is substituted?

[2018-06-04 20:23] tsdlovell commented on #1470
I might be able to start from [visit_ListComp](https://github.com/ibis-project/ibis/blob/master/ibis/bigquery/udf/core.py#L507)

[2018-06-05 13:53] tsdlovell opened #1472 "bigquery udf: repeated use of same udf causes "BadRequest: 400 Duplicate definition of function bq_sum""
(with `client` already defined)
If I run
[code]

I see
[code]

Actually executing
[code]
results in
[code]

[2018-06-05 14:02] #1463 closed, assigned to nobody

[2018-06-06 15:50] missing-semicolon commented on #1459
Another literal issue:

[code]

Timestamp literals are not compiled as timestamps / datetimes in BQ.

[2018-06-06 17:33] #1455 closed

[2018-06-06 18:29] cpcloud opened #1476 "BigQuery UDFs: Builtins"
Carryover from #1470.

This issue is to track the list of Python builtins that should ship out of the box with the JavaScript UDF translator in ibis. Ideally we can implement all of them, but that might not be possible. We should track the various builtins and see what's within scope.

As of Python 3.6.5 here are all the [builtin functions](https://docs.python.org/3/library/functions.html):

- [ ]

[2018-06-06 18:37] #1465 closed

[2018-06-06 18:42] cpcloud commented on #1459
Yep, I'm working on a patch for this.

[2018-06-06 20:50] cpcloud commented on #1462
Instead of an operation that would be exposed to all backends, what about adding a `rowid` column to the schema of every `MapDTable`?

[2018-06-06 20:58] kszucs commented on #1462
Does any of the existing backends support this?

[2018-06-06 21:10] cpcloud commented on #1462
SQLite does:

[code]

[2018-06-06 21:31] tsdlovell commented on #1476
Things that would be most useful: `enumerate`, `zip`, `range`, `set`, `dict`, `list`
Things that would be nice and hopefully not that much work: `all`, `any`, `min`, `max`, `sum`
Other nice to haves: `sorted`, `reversed`

[2018-06-06 21:48] xmnlab commented on #1462
does the rowid will always be showed on the table graphic? if yes, I think it could be a little bit confuse ...

[2018-06-06 22:16] cpcloud opened #1479 "Timestamp, date and time literals do not compile correctly in BigQuery"
From [this comment](https://github.com/ibis-project/ibis/issues/1459#issuecomment-395118571) on #1459:

[code]

[2018-06-07 15:07] #1470 closed

[2018-06-07 15:17] #1461 closed

[2018-06-07 18:19] #1459 closed

[2018-06-07 18:20] #1472 closed

[2018-06-07 22:05] cpcloud commented on #1349
For sure

[2018-06-07 23:18] tswast commented on #1469
Yeah, it does cast to strings. Annoying to deal with in JavaScript, but it's the only way not to drop precision for 64-bit integers.

[2018-06-08 03:22] oyamin opened #1483 "AttributeError: 'NoneType' object has no attribute 'lower' when using partition tables"
Following the tutorial with partition tables, but unable to get anywhere as soon as I am trying to select the table.

Code:

[code]

It seems that when it runs description on the table, it is trying to parse the whole output of the description output. Output (after adding "print names, types" in client.py line 722):

[code]

The error is:

[code]

Ibis version:
[code]

Hadoop:
[code]

Hive:
[code]

[2018-06-08 14:41] #1469 closed

[2018-06-09 15:37] #1449 closed

[2018-06-09 16:08] cpcloud opened #1486 "Support component accessors on time type: e.g., hour, minute, second"

[2018-06-10 20:00] xmnlab opened #1488 "Create Distances operations"
Create operations for distances like Euclidean distance and WSG84.

[2018-06-11 20:47] #1486 closed

[2018-06-12 17:15] #1479 closed

[2018-06-14 13:52] cpcloud opened #1490 "Implement Interval arithmetic on one or more backends"
After subtraction is in from #1489, we'll want to implement this on at least one backend.

[2018-06-18 15:35] xmnlab opened #1491 "Add tests for radians, degrees, covariance, correlation and ilike operations"
Add tests on ibis/tests/all for the operations:

- [x] radians
- [x] degrees
- [x] covariance
- [x] correlation
- [x] ilike

References on mapd/tests/tests_operations.py

[2018-06-18 15:45] xmnlab opened #1492 "Add tests for MapD DDL operations, user operations (create, alter, drop) and load data"
Add tests for MapD DDL operations:

- [x] create database
- [x] drop database
- [x] create_table
- [x] drop_table
- [x] truncate_table
- [x] create view
- [x] drop view
- [x] create user
- [x] alter user
- [x] drop user
- [x] load data

[2018-06-18 15:52] xmnlab opened #1493 "Add `user` operations (create, alter, drop) for backends that support that."
Add `user` operations (create, alter, drop) for backends that support that

- [ ] postgres
- [ ] mysql
- [ ] impala
- [ ] clickhouse
- [ ] bigquery
- [ ] ...

[2018-06-18 21:55] #893 closed

[2018-06-18 21:55] #1418 closed

[2018-06-18 21:55] #1431 closed

[2018-06-19 17:04] missing-semicolon opened #1494 "Implement day_of_week for BigQuery"
Extend support for extraction logic to BQ where currently lacking.

Here's some code: https://github.com/ibis-project/ibis/blob/master/ibis/expr/types.py#L735-L743

[2018-06-19 20:18] cpcloud commented on #1494
Looks like BigQuery itself doesn't have a named day of week function, but does support the indexed version. We could construct a case statement to generate the days for that.

[2018-06-19 20:20] cpcloud commented on #1494
So, `a.date().day_of_week.full_name()` would generate code like:

[code]

[2018-06-20 01:05] missing-semicolon commented on #1494
It looks like we have a decision to make: The implementation of `day_of_week.index` is probably returning different values on different backends. Here's what I've found so far:

* Pandas: The day of the week with Monday=0, Sunday=6
* Impala: The range of return values is 1 (Sunday) to 7 (Saturday).
* BigQuery: Returns values in the range [1,7] with Sunday as the first day of the week.
* Postgres:

[2018-06-20 20:49] seibs opened #1496 "Invalid query generated after series of filters/mutates"
When a series of mutates/filters are moved to "WITH" statements, the compiled statement sometimes includes incorrect table references.

**Expression**
[code]

**Compiled**
[code]

[2018-06-21 12:58] randyzwitch opened #1497 "Docker-Compose: MySQL and MapD don't start after 10m OSX 10.13.4"
I tried following the directions at the following link:

http://docs.ibis-project.org/getting-started.html#running-ibis-queries-using-docker

The directions work for the most part up to `docker-compose run waiter`, starting postgres, impala, and clickhouse, but fail for MySQL and MapD.

[code]

Trying to add data fails, even for Impala which Docker does start up:

[code]

[2018-06-21 12:58] seibs commented on #1496
@cpcloud Sorry, the issue is a little hidden.  In the `t2` definition, the `t0` in the select should be `t1`.

[2018-06-21 13:12] randyzwitch commented on #1497
The all-in-one build here does seem to work:

http://docs.ibis-project.org/developer.html#all-in-one-command

`bash build.sh`

[2018-06-21 14:34] xmnlab commented on #1497
Thanks @randyzwitch

I think we should change doc to include mapd and mysql as we are using on build.sh:

`docker-compose up -d --no-build mapd postgres mysql clickhouse impala`

[2018-06-21 15:08] xmnlab commented on #1497
@cpcloud sure! I will do it :+1:

[2018-06-21 17:13] cpcloud commented on #1497
@randyzwitch Thanks for reporting this!

[2018-06-21 18:06] #1349 closed

[2018-06-21 18:12] cpcloud opened #1499 "feat: Make DayOfWeek implementations conform to pandas semantics"
@missing-semicolon has taken care of impala and bigquery in https://github.com/ibis-project/ibis/pull/1495, but we need to implement and/or wrangle the others as well:

To partially quote @missing-semicolon from https://github.com/ibis-project/ibis/issues/1494#issuecomment-398592007, here's what pandas does:

- [x] impala
- [x] bigquery
- [x] Postgres
- [ ] mysql
- [x] sqlite
- [ ] clickhouse
- [x

[2018-06-21 18:53] randyzwitch commented on #1497
np, looking forward to checking out the MapD backend!

[2018-06-21 20:03] randyzwitch opened #1500 "MapD: ~/ibis/ci/ibis-testing-data/functional_alltypes.csv does not exist"
When following the [conda setup instructions](http://docs.ibis-project.org/developer.html#conda-environment-setup), part 2, running `ci/datamgr.py mapd` gives the following error:

[code]

During the setup.py process, those files appear to be getting written to `/tmp/`:

[code]

So it just appears that the MapD python code is looking at the wrong place for the files.

[2018-06-21 20:13] randyzwitch commented on #1500
Moving the files to the `/Users/randyzwitch/ibis/ci/` allows the build script to work.

Tangent: installing the tables into a custom `ibis_testing` database is valid, but non-canonical, especially given that our Immerse interface (http://localhost:9092/) with auto-login goes to the 'mapd' database. If it's not too late to switch, I'd suggest switching to the `mapd` database, since your build code

[2018-06-22 08:37] Tiepies opened #1501 "CTEs not completely extracted from successive UNION expressions"
When creating a query that contains more than one UNION expression, CTEs do not get fully extracted to the start of the generated SQL query, resulting in a syntax error:

[code]
[code]

[2018-06-22 14:13] #1494 closed

[2018-06-22 15:01] randyzwitch opened #1502 "MapD: Calculate count for table.info() method incrementally"
The generated SQL for the `t.info()` method becomes similar to the following (the columns are unimportant for the example):

[code]

For a table with size > GPU RAM in MapD, a query like this will fail as MapD tries to load all data into GPU RAM first, then do the calculation. MapD does not currently store table statistics, so a query like this will actually be calculated, instead of reading off o

[2018-06-22 15:15] xmnlab commented on #1500
@randyzwitch

I think the main propose of these scripts is for CI tasks. these instructions is for developer not for end-user. So I think keep ibis_testing is better because will keep uniformity with other backends.

about the problem you reported. I don't know why this is happening .. in principle all the other backend use the same data. maybe you could try just `ci/datamgr.py download` and figur

[2018-06-22 15:20] randyzwitch commented on #1500
That's fair, just wanted to point it out.

The process already works to load the data into other backends, just for MapD it looks like the wrong location. So I think there is just something about the MapD install script that needs a quick change to also look in the `/tmp` directory. Otherwise, the load process works.

[2018-06-22 15:41] xmnlab commented on #1499
@cpcloud great I will add this to the list here. thanks!

[2018-06-22 15:56] xmnlab commented on #1433
done
https://github.com/ibis-project/ibis/blob/master/ibis/expr/api.py#L2054

[2018-06-22 15:56] #1433 closed

[2018-06-22 15:57] xmnlab commented on #1432
Added on PR #1419

[2018-06-22 15:57] #1432 closed

[2018-06-22 15:58] xmnlab commented on #1433
Added on PR #1419

[2018-06-22 16:00] #1411 closed

[2018-06-22 16:45] cpcloud commented on #1500
We should get rid of any documentation that suggests development can be easily done without using the docker setup, which means you need to use `./build.sh` to setup services and load data, and `./test.sh` to run tests.

It *is* possible to do run tests with the docker-compose setup, but you can only work on things that run against backends that are either local or can be executed against complete

[2018-06-22 17:03] randyzwitch commented on #1500
That's perfectly fine with me, I'm just trying to get up to speed.

[2018-06-22 17:12] randyzwitch opened #1504 "day_of_week method TypeError, asks for pipe"
When projecting on a timestamp column, I'm getting an error:

[code]

A similar syntax with `.hour()` works as expected:

`hour_calc = taxi['pickup_datetime'].hour().name('hour_calc')`

[2018-06-22 17:43] cpcloud commented on #1504
The issue here is that `day_of_week` cannot itself be evaluated. It has the methods `full_name()` and `index()` to get the day of the week as a human readable name, and the index of the date in the week, respectively.

I will put up some documentation for this API

[2018-06-22 19:07] randyzwitch commented on #1504
Thanks. Once I use the proper syntax, it provides the incorrect SQL for MapD:

incorrect:
[code]

The proper MapD SQL syntax for this is:

`SELECT extract(DOW from pickup_datetime) AS dw_calc FROM taxi_factual_closestbuilding LIMIT 5`

Optionally, the argument can be `ISODOW`: Day of week based on ISO 8601 Monday (1) to Saturday (7).

[2018-06-22 20:52] cpcloud opened #1505 "Add support for map types in the pandas backend"

[2018-06-22 20:52] cpcloud opened #1506 "Add support for case statements in the pandas backend"

[2018-06-23 13:30] cpcloud commented on #1501
Thanks for the report. Marked as a bug for 0.14.0.

[2018-06-29 13:45] jeffgortmaker opened #1509 "ValueError when creating a table expression for a Kudu-backed Impala table"
I believe the issue I'm experiencing is that `DESCRIBE` returns more than just three columns for Kudu-backed tables (see "Kudu Considerations" [on this page](https://www.cloudera.com/documentation/enterprise/5-11-x/topics/impala_describe.html)). The issue seems to be

https://github.com/ibis-project/ibis/blob/3276d3713c3497021e547e10102f917f7762414d/ibis/impala/client.py#L1060

which assumes there

[2018-07-01 21:53] #1505 closed

[2018-07-01 21:53] #1506 closed

[2018-07-02 15:49] cpcloud opened #1511 "pyarrow 0.9.0 causes a segfault on importing ibis under python2.7"

[2018-07-02 16:43] cpcloud commented on #1511
Relevant JIRA: https://issues.apache.org/jira/browse/ARROW-2783

[2018-07-03 20:35] cpcloud commented on #1511
I will close this after reenabling the Python 2.7 conda build job.

[2018-07-04 16:42] #1511 closed

[2018-07-04 16:46] #1444 closed

[2018-07-05 19:57] missing-semicolon opened #1516 "Reduction of Boolean Columns Not Supported in BQ"
Unlike Impala, BigQuery does not support aggregations of boolean columns, leading column methods such as `summary()` to fail for all columns in BQ.

[2018-07-06 14:06] cpcloud commented on #1502
Interesting. For bigquery the per column approach is pretty untenable as it is about 30x slower than computing them all at once.

I think a better solution would be to let backends override what user-facing APIs they want.

[2018-07-06 14:08] cpcloud commented on #1500
@randyzwitch Can this be closed? The [contributing docs](http://docs.ibis-project.org/contributing.html) now reflect the preferred workflow.

[2018-07-06 14:11] #1500 closed

[2018-07-06 14:11] cpcloud commented on #1497
@randyzwitch @xmnlab Can this be closed in light of the PR?

[2018-07-06 14:12] #1497 closed

[2018-07-06 14:18] randyzwitch commented on #1502
Agreed, letting the backends override the user-facing APIs does sound like the best solution. We are also exploring keeping table statistics, but no telling when that might be prioritized.

[2018-07-06 14:19] randyzwitch commented on #1493
With the release of v4.0, MapD can be added to the list:

https://www.mapd.com/docs/latest/5_usersanddatabases.html

[2018-07-06 15:10] cpcloud commented on #1496
@seibs Finally got around to fixing this. The issue here is that we're fusing across projections without considering the immediate parent table. What happens is that when we're looking for fusion opportunities in a project we look for common expressions in the deepest base table in the tree and assume that we can substitute in the matching columns from that in whatever query we're projecting. This

[2018-07-06 15:23] cpcloud commented on #1504
@randyzwitch #1499 will address the bug you've found here in the code generation

[2018-07-06 19:14] #1496 closed

[2018-07-06 19:23] cpcloud opened #1520 "Consider using multipledispatch for rewrites/compiles overrides"
After some discussion with @missing-semicolon about this, it might be interesting to explore using multiple dispatch for `rewrites` and `compiles` overrides to reduce code duplication.

[2018-07-06 19:36] jeffgortmaker commented on #1509
Sure! First here's the test table that I'm using:

    CREATE TABLE kudu_backed_table (a STRING, PRIMARY KEY(a)) STORED AS KUDU;

With an initialized ImpalaClient, replicating the code above the problematic line gives:

    In [8]: client.con.fetchall('describe kudu_backed_table')
    Out[8]:
    [('a',
      'string',
      '',
      'true',
      'false',
      '',
      'AUTO_ENCODING',
      '

[2018-07-06 20:23] cpcloud commented on #1483
@oyamin Thanks for the report. Marking as a bug for 0.14.

[2018-07-06 20:48] #1460 closed

[2018-07-10 00:27] cpcloud opened #1526 "Consolidate Dockerfiles from https://github.com/kszucs/godeny into an ibis-project/docker-files repo"
We have a couple of Dockerfiles in different places. We should consolidate them all in a repo inside the ibis-project org.

[2018-07-10 00:28] cpcloud opened #1527 "Add kudu Dockerfile to the ibis-project organization"

[2018-07-10 00:30] cpcloud commented on #1526
Ideally we also build and push those images to the ibisproject dockerhub org whenever there's a change.

[2018-07-10 00:49] #1516 closed

[2018-07-10 14:46] missing-semicolon opened #1528 "Enable BQ Client to accept OAuth Credentials"
Need to create a pass through from `ibis.bigquery.connect` method to instantiate a bigquery client with credentials. Should default to None.

This is how it works:
[code]

This is how it could work:
[code]

[2018-07-10 21:15] cpcloud opened #1530 "Reenable kudu-python tests on CI"
After #1525 we'll have reenabled testing for kudu-backed impala tables, but we still don't have tests running with the kudu python client. We should fix that.

[2018-07-11 14:20] cpcloud opened #1532 "Fix as many warnings as possible"
We have a lot of `PerformanceWarning`s showing up in CI (e.g., https://circleci.com/gh/missing-semicolon/ibis/848?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link). We should address as many of these as possible. It looks like most of these warnings are from using APIs that we shouldn't be so it shouldn't be too much work to get this done.

[2018-07-11 19:30] gabomgp opened #1533 "Efficiency of the pandas backend on large joins?"
First, great project. I'm trying in using it to abstract some joins and filters from PostgreSQL and Pandas and it's great.

So, when i try to join using as comparison columns, some column from the index of a dataframe, the column is not found. It appears as if columns in indexes in dataframes are not visible from joins operations. So,  i imagine that the left join works without a binary search ove

[2018-07-11 20:34] cpcloud opened #1534 "Add support for NUMERIC types to the BigQuery backend"
Looks like BigQuery now [supports a `NUMERIC` type (in beta)](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#numeric-type). We should get on top of this before it becomes generally available.

[2018-07-13 16:04] cpcloud opened #1536 "Pandas backend should conform to schema using schema.apply_to(result)"

[2018-07-14 13:09] jeffgortmaker opened #1537 "bug: cumulative window vanishes when grouping"
The `RANGE BETWEEN` statement created by `cumulative_window` seems to be lost in a `group_by`:

    In [1]: import ibis

    In [2]: print(ibis.__version__)
    0.13.0

    In [3]: t = ibis.table([('one', 'string'), ('two', 'double'), ('three', 'int32')], 'my_data')

    In [4]: w = ibis.cumulative_window(order_by=t.one)

    In [5]: print(ibis.impala.compile(t.mutate(four=t.two.sum().over(w))))

[2018-07-15 18:42] kszucs opened #1538 "CI: Test against python 3.7"

[2018-07-15 18:43] cpcloud opened #1539 "Add support for Python 3.7"
Ideally we can get this in before the next release, but that's not essential.

[2018-07-15 18:45] kszucs commented on #1539
resolves #1538

[2018-07-15 18:46] kszucs commented on #1538
duplicate of https://github.com/ibis-project/ibis/issues/1539

[2018-07-15 18:46] #1538 closed

[2018-07-15 20:10] cpcloud commented on #1533
@gabomgp Thanks for asking this question. Can you provide a concrete example of what you're asking. I think it will be easier for us to hash out the details of your question.

[2018-07-15 21:11] cpcloud opened #1542 "Clients are casting None to False in boolean columns with missing values"
The google Client is return the correct data, ibis is casting to boolean, where it should actually be leaving any boolean column alone (and in object mode).

[code]

[2018-07-15 21:23] tsdlovell commented on #1542
The problem is not specific to groupby, it applies to all boolean columns
[code]

[2018-07-16 14:32] gabomgp commented on #1533
@cpcloud Sure, thanks you.

There are more details in [MWE](https://github.com/gabomgp/questionInNotebooks/blob/master/MWE%20-%20eficency%20of%20pandas%20backend%20on%20large%20joins%20-%20ibis.1533.ipynb)

[2018-07-16 15:05] cpcloud opened #1545 "Consider caching ibis.expr.datatypes.highest_precedence"
Possibly using [`functools.lru_cache`](https://github.com/ibis-project/ibis/pull/1541#discussion_r202715694)

[2018-07-16 16:18] tsdlovell opened #1546 "Truncation for date on unsupported unit gives error that references timestamp truncate"
Exception raised should probably use `kind` available from [_truncate](https://github.com/ibis-project/ibis/blob/0442c12df2a6adc23215933b03b94931d11b7caf/ibis/bigquery/compiler.py#L323) in place of "timestamp"

[code]

[2018-07-16 16:29] cpcloud commented on #1546
Want to take a crack at fixing this?

[2018-07-16 16:35] cpcloud opened #1547 "Move kudu testing image underneath ibisproject on dockerhub"

[2018-07-16 16:44] cpcloud commented on #1227
This is working in master.

[2018-07-16 16:44] #1227 closed

[2018-07-16 16:46] cpcloud commented on #1289
@kszucs This was fixed by the PR that added `Argument` right?

[2018-07-16 16:47] cpcloud commented on #1289
Ah yes, looks like it does.

[2018-07-16 16:47] #1289 closed

[2018-07-16 16:48] cpcloud commented on #1192
@dlovell is this still a problem for you?

[2018-07-16 16:49] cpcloud commented on #1319
@tsdlovell Is this still an issue for you? Or was it solved by upgrading to >= 1.0.0?

[2018-07-16 16:51] cpcloud commented on #1236
Closed by #1377

[2018-07-16 16:51] #1236 closed

[2018-07-16 16:55] cpcloud commented on #1483
@oyamin It looks like you're using Hive, which we do not explicitly support. Are you using an impala connection and you just happened to call the variable `hive_conn`?

[2018-07-16 17:29] tsdlovell commented on #1192
@cpcloud , I have not seen this in a while, though I don't use `.execute` on really large results much any more.

Feel free to close this.

[2018-07-16 17:50] tsdlovell commented on #1319
@cpcloud, last I checked this was still an issue for me.  IIRC, its because I couldn't make our internal proxified HTTPAdapter work with it.

Now that I understand this issue a little better, it's probably something more appropriate for our internal people and not ibis.  Feel free to close.

[2018-07-16 22:31] cpcloud commented on #1192
Cool. Please reopen or create a new issue if you experience this again.

[2018-07-16 22:31] #1192 closed

[2018-07-16 22:32] #1384 closed

[2018-07-16 22:39] cpcloud commented on #1319
Cool. If there's anything we can do in ibis to make this easier, please reopen or create another issue if anything comes to mind.

[2018-07-16 22:39] #1319 closed

[2018-07-16 22:41] #1509 closed

[2018-07-16 22:41] #1547 closed

[2018-07-16 22:42] cpcloud commented on #1509
@jeffgortmaker give this a go when you have a chance, make sure to install from master! let us know how it goes.

[2018-07-16 22:46] cpcloud commented on #1499
@xmnlab any chance I could get you to implement this for the mapd backend?

[2018-07-16 23:49] xmnlab commented on #1499
cc @tonyfast

[2018-07-17 14:48] cpcloud opened #1548 "Remove async keyword from execute"
This is now a syntax error in Python 3.7.

Let's change this to be a method `execute_async`.

[2018-07-17 16:19] #1534 closed

[2018-07-25 13:58] cpcloud opened #1550 "Consider implementing support for interval floor division in the pandas backend with pandas < 0.23.0"
See comment [here](https://github.com/ibis-project/ibis/pull/1549#discussion_r205094220)

[2018-07-25 14:01] cpcloud opened #1551 "Add support for rolling aggregations of array types in the pandas backend"
For example:

[code]

[2018-07-25 15:19] cpcloud opened #1552 "Move `resolve_name` into Node"

[2018-07-25 15:20] cpcloud commented on #1552
See https://github.com/ibis-project/ibis/pull/1549#discussion_r205151942

[2018-07-28 18:24] cpcloud opened #1553 "Experiment with using topological sort instead of recursion in the pandas backend"
Right now, we execute ibis expressions in the pandas backend using recursion. It's fairly difficult to debug this, and I suspect that we're executing some expressions multiple times when we don't need to be. At the very least we are incurring the overhead of a function call when we don't need to.

By topologically sorting the expression graph, and then iterating through nodes from the leaves to th

[2018-07-30 13:55] cpcloud opened #1554 "Rename context argument in pandas backend to aggcontext"

[2018-07-30 15:10] cpcloud opened #1555 "methodcaller call in aggcontext.py is broken for user defined agg functions"

[2018-07-30 15:22] cpcloud commented on #1446
Closing as not relevant anymore. After #1549 we aren't resetting the index except where absolutely necessary.

[2018-07-30 15:22] #1446 closed

[2018-07-30 16:09] cpcloud commented on #1077
I'm moving this to 0.15, not sure this will make it into 0.14

[2018-07-30 16:11] cpcloud commented on #1063
we now have the ability to use kudu through impala in our CI. @tarungog any interest in submit a patch to fix this?

[2018-07-30 16:32] cpcloud commented on #311
The way forward here is to add a property like `supports_limit_without_order_by` to the backend's dialect and fail if it doesn't with an appropriate error messages, since Impala appears to be the only SQL engine we support that actually enforces that limit + offset queries contain an `ORDER BY` clause.

Moving to 0.15.

[2018-07-30 16:33] cpcloud commented on #1450
If someone wants to add this, feel free to do so. I won't be able to get to this until 0.15 or later.

[2018-08-01 14:32] #1554 closed

[2018-08-01 14:32] #1555 closed

[2018-08-01 15:24] cpcloud commented on #1533
One implicit goal (which perhaps should be made explicit) of the pandas backend is that it should be not systematically slower than--and in some cases much faster than--pandas itself.

[2018-08-02 10:03] kszucs opened #1558 "TST: Mounting localtime and timezone for kudu is not possible on OSX docker host"
[code]

[2018-08-02 12:57] cpcloud commented on #1558
Doesn't running on docker for Mac preclude being able to run any of the stuff in our docker compose file?

[2018-08-02 13:54] cpcloud opened #1559 "Consider not resetting the index after execute in pandas"
One might want to compute a single column like

[code]
and get back the `group_by` column as an index level on the series (along with a row index).

Right now we're resetting things that can be reset, but I'm not sure we should make that choice for users, since they can always reset the index themselves afterward.

[2018-08-02 14:55] cpcloud opened #1560 "CircleCI runs are flaky on Python 3.x test teardown"
See https://circleci.com/workflow-run/a1503534-b17c-4f00-b815-4f573c0a9ca1

It looks like this related to Hive or Impala connection issues.

@kszucs If you have a chance, can you take a look?

[2018-08-02 21:59] kszucs opened #1561 "Optionally omit backends from ci/build.sh"
On OSX I need to compile kudu client and pip install `kudu-python` to test kudu support. However using `ci/build.sh` is a convenient way to spin up the development environment, having kudu locally more complicated without conda forge feedstocks.

[2018-08-02 22:07] kszucs commented on #1560
@cpcloud sure, I'm trying to reproduce it locally.

[2018-08-03 23:48] tswast opened #1563 "GROUP BY in the BigQuery backend"
I'm still learning Ibis, so I may be doing something wrong. I didn't find any examples of `group_by()` / `aggregate(by=...)` in the BigQuery tests.

[code]

This prints the following SQL:
[code]

I'd have expected `GROUP BY year` rather than `GROUP BY 1`. If "group by" isn't supported or it couldn't find the "year" column for some reason, I would have expected an error.

[2018-08-04 14:08] cpcloud commented on #1563
@tswast The `GROUP BY 1` syntax is valid BigQuery SQL.

[code]

Ibis generates code this way to avoid repeated the `GROUP BY` key if the key is a non-trivial expression. If you rewrite your expression to directly compute the `year` grouping key rather than computing it in subquery first you can see what I'm talking about:

[code]

If we put the whole expression into the compiled output, it becomes

[2018-08-04 15:49] tswast commented on #1563
Thanks for the explanation! I didn’t realize 1 in this context refers to the first column in the select. I always repeated the expression or used the column name when writing SQL by hand. I’ll close this issue as working-as-intended.

[2018-08-04 15:49] #1563 closed

[2018-08-05 18:24] kszucs opened #1564 "CI: Setup codecov PR bot"
@cpcloud it probably requires proper permissions

[2018-08-05 20:56] kszucs commented on #1560
It's not an easy one to reproduce locally, although it looks like a timeout error.

[2018-08-05 21:00] cpcloud commented on #1560
Ok, is there a way we can increase that?

[2018-08-05 21:09] kszucs commented on #1560
Perhaps with this [timeout](https://github.com/cloudera/impyla/blob/328ea33089e89daad8bd7a8037a2376e8bc52ed8/impala/dbapi.py#L40) argument

[2018-08-05 21:15] cpcloud commented on #1560
Looks like we are already [setting that to `45` seconds](https://github.com/ibis-project/ibis/blob/master/ibis/impala/api.py#L35)

[2018-08-05 21:35] kszucs commented on #1548
How about removing async support for now and pass?
Currently only impala backend supports async queries which also has `async` in it's [signature](https://github.com/ibis-project/ibis/blob/master/ibis/impala/client.py#L104)

IMHO An asyncio interface would be more interesting.

[2018-08-05 21:39] kszucs opened #1566 "Specify a standard for backend implementations"
Like module names (datatypes, udf, compiler etc), naming conventions

[2018-08-05 21:39] kszucs opened #1567 "Host ASV benchmarks somewhere"
What options do We have?

[2018-08-05 21:40] cpcloud commented on #1548
Indeed. I think that removing this is the way forward.

[2018-08-05 21:42] kszucs commented on #1548
Ok, doing that. How much experience do You have with asyncio?

[2018-08-05 21:53] cpcloud commented on #1548
Not much, honestly.

[2018-08-05 21:54] kszucs commented on #1548
Are You interested? :)

[2018-08-06 00:07] cpcloud commented on #1567
We might be able to run them under the `ibis-gbq` project on a long running VM, and host the reports on GCS. Won't be super reliable, but probably better than running them inside of a docker image (which is running on a VM) on CircleCI.

[2018-08-06 00:10] kszucs commented on #1567
GH pages? https://asv.readthedocs.io/en/stable/commands.html#asv-gh-pages

[2018-08-06 00:15] cpcloud commented on #1567
There's that as well. I vaguely remember trying that and it being very difficult to set up. We should try again.

[2018-08-06 01:15] #1548 closed

[2018-08-06 19:09] cpcloud opened #1575 "BigQuery doesn't have a now() function"
BigQuery uses `CURRENT_TIMESTAMP()` for this.

[2018-08-06 19:12] #1546 closed

[2018-08-06 19:14] cpcloud commented on #1575
@kszucs Do you want to take this one? It's pretty straightforward.

[2018-08-06 19:29] kszucs commented on #1575
Sure, right after the arrow forge packages!

[2018-08-06 19:29] cpcloud commented on #1575
Great, thanks!

[2018-08-06 21:31] cpcloud commented on #1575
@kszucs Went ahead and did this.

[2018-08-06 21:43] kszucs commented on #1575
Ehh, forge is slow :)

[2018-08-06 22:09] kszucs opened #1577 "TST: Create ALL test for ibis.now()"

[2018-08-06 22:44] cpcloud commented on #1386
Moving to 0.15, as this is a cosmetic issue, not a stop-the-world bug.

[2018-08-06 22:47] cpcloud commented on #1159
@John-Boik Closing this for now. If this is still an issue, please reopen with a reproducible example. Is there a specific version of pandas that's causing this issue for you?

[2018-08-06 22:47] #1159 closed

[2018-08-06 22:47] kszucs commented on #1285
This doesnt's seem like a release blocker.

[2018-08-06 22:49] cpcloud commented on #1483
@oyamin Can you show me the SQL output of `DESCRIBE new_table`? It looks like that is returning something different than what ibis expects. It looks like that is doing something more like `DESCRIBE EXTENDED new_table`.

Was this a change made in a version of Hive later than 1.1.0?

[2018-08-07 16:13] #1575 closed

[2018-08-07 17:14] cpcloud commented on #1160
This is working on master:

[code]

[2018-08-07 17:14] #1160 closed

[2018-08-07 18:26] cpcloud commented on #1483
@oyamin Right, so you're using actual Hive and not impala. Hive is not a backend that we support at the moment, though we would be extremely happy to have someone work on such a thing. Therefore, there's no guarantee that using ibis with hive will behave in any kind of reasonable way.

I'll move your issue to the Future milestone.

Just out of curiosity, does everything *except* this work? For exa

[2018-08-07 19:30] znwilkins commented on #886
Hello, I am running into the same problem as @gloopy .
My environment is:
- Windows 10 Enterprise
- Python 3.6 using Conda
- Ibis 0.12.0 and 0.13.0

This minimal example reproduces the problem I'm encountering:
[code]

Putting breakpoints everywhere, I can see the [original request being acknowledged, and the 307 redirect being handled](https://hadoop.apache.org/docs/r1.0.4/webhdfs.html#File+and+D

[2018-08-07 20:20] cpcloud opened #1580 "BUG: now() implementations return different timestamps with different timezones"
| **Backend**     | **Apparent time zone of `now()`** | **Has distinct time zone type?** |
|-----------------|-----------------------------------|----------------------------------|
| SQLite          | UTC                               | No                               |
| Pandas          | Local                             | Yes                              |
| PostgreSQL      | UTC

[2018-08-07 20:42] #1577 closed

[2018-08-08 00:49] oyamin commented on #1483
Surprisingly, the basic functionality works. My need was mostly for the creation table part in Hive using Dataframe column types, which was generated from Oracle. If there is no partitioning, then create_table works flawlessly in Hive. There is no other library currently that does this out there.

The Hive alter and load queries I executed with raw_sql. Only thing that would make this better is if

[2018-08-08 18:26] cpcloud commented on #1333
Closing this out per @kszucs's comment.

[2018-08-08 18:26] #1333 closed

[2018-08-08 20:01] cpcloud commented on #1226
This might be a thing that we defer to backends. Some backends let you compare naive and non-naive timestamps.

[2018-08-09 22:39] kszucs commented on #1226
Should We raise during the compilation on each backend?

[2018-08-10 19:04] tswast opened #1583 "User credentials for BigQuery"
Now that https://github.com/ibis-project/ibis/issues/1528 is implemented, it's possible to send any kind of credentials to use with BigQuery. 🎉 But, it's still a bit difficult to use user credentials for BigQuery.

The "application default credentials" used by the BigQuery client library use:

1. The metadata server to get credentials on App Engine, Compute Engine, ...
2. A service account key fil

[2018-08-10 20:29] tswast opened #1584 "Ibis logo proposal"
Does Ibis have a logo? I haven't seen one when browsing the docs.

The bird on a rhino in the current profile photo for ibis-project doesn't actually look like an ibis to me.

![image](https://user-images.githubusercontent.com/247555/43979891-11a11650-9ca1-11e8-969d-c91afdc956d4.png)

Per [Wikipedia](https://en.wikipedia.org/wiki/Ibis) "All ibises have long, down-curved bills, and usually feed as

[2018-08-10 20:40] kszucs commented on #1584
I'm not aware of one, so it's a definitely great initiative. How about a flying one?

[2018-08-10 22:10] tswast commented on #1584
A flying option:

![flying-ibis](https://user-images.githubusercontent.com/247555/43983426-5254a9ec-9caf-11e8-9532-629cbebf4774.png)

This one is inspired by https://en.wikipedia.org/wiki/File:Eudocimus_albus_-Huntington_Beach_State_Park,_South_Carolina,_USA_-flying-8.jpg by Bill Majoros (Creative Commons-licensed)

[2018-08-10 22:35] kszucs commented on #1584
Something like [these](https://www.google.com/search?tbm=isch&q=ibis&backchip=online_chips:drawing&chips=q:ibis&sa=X&ved=0ahUKEwj_rs6QxOPcAhUGZVAKHakuDpwQ3VYIJCgA&biw=1680&bih=966&dpr=2#imgrc=FivPT1wMsBw0dM:)? Might be better with water though :)

[2018-08-10 23:08] kszucs commented on #890
Do You have something in mind how could We resolve that conflict?

[2018-08-10 23:28] kszucs commented on #1157
@cpcloud should `0.15` aim for a functional Spark backend?

[2018-08-11 10:02] kszucs opened #1585 "Initialize clickhouse with nullable columns"
In the backends test suite, clickhouse is the only one which columns' are non-nullable.

[2018-08-12 02:47] tswast commented on #1584
Some more options. I went with a simple outline this time to maybe be more logo-like.

Flying without water.

![ibis-logo](https://user-images.githubusercontent.com/247555/43997950-36c32366-9d9f-11e8-8a9f-6814783321d5.png)

Standing, with water.

![ibis-mikes-birds](https://user-images.githubusercontent.com/247555/43997953-5121159c-9d9f-11e8-9871-c5db1343494e.png)

Flying, with water.

![ibis-logo

[2018-08-12 21:37] #1388 closed

[2018-08-12 21:41] #1532 closed

[2018-08-12 22:10] cpcloud commented on #1584
@tswast do you have a "standing without water" version?

[2018-08-12 22:17] tswast commented on #1584
@cpcloud Not yet, but I can make one. I'll need to draw some feet. :-)

[2018-08-12 22:18] cpcloud commented on #1584
@tswast Great, thanks! I think a black ibis with no water with feet is the way to go, thoughts? @kszucs What do you think about that?

[2018-08-12 22:26] cpcloud commented on #890
I have a branch that I've been slowly working on. I would like to get it merged in tomorrow by EOD. I'll try to put it up tonight.

[2018-08-12 23:25] tswast commented on #1584
Black with feet:

![ibis-logo-standing](https://user-images.githubusercontent.com/247555/44007449-75b0e9b8-9e4a-11e8-915e-3ecdb7f2cd8b.png)

I got one [vote for "standing with water" on Twitter](https://twitter.com/TimSwast/status/1028505602840911872), but I don't have one with feet in that tweet.

[2018-08-12 23:37] cpcloud commented on #1584
@tswast Actually, I'm coming around to your initial logo: https://github.com/ibis-project/ibis/issues/1584#issue-349647769 I looked at it in the credentials API dialog box viewer and it looked good.

[2018-08-12 23:38] cpcloud commented on #1584
Let me give it a whirl on le GitHub.

[2018-08-12 23:41] tswast commented on #1584
Yeah, the fact that I needed a logo for the credentials box is why I got started on this whole thing. Still, one of the solid color ones might be better for a favicon on the Sphinx docs.

[2018-08-12 23:45] tswast commented on #1583
Realistic. If I make it, then it'll be a bit of red tape per Google's OSS policies, but still doable. Alternatively, someone could seed a repo with an appropriate LICENSE file and we can move the user auth code over.

[2018-08-13 15:17] kszucs commented on #1558
Resolved by https://github.com/ibis-project/docker-kudu/commit/5904a45a49f134a4bcb068683131a0d3bceafb73

[2018-08-13 15:17] #1558 closed

[2018-08-13 15:37] #1294 closed

[2018-08-13 17:00] kszucs opened #1589 "TST: Backend tests to ensure type correctness"

[2018-08-13 17:42] kszucs commented on #1542
I've written a backend test case for it, but realized that the foundations are missing, so implementing https://github.com/ibis-project/ibis/pull/1590 first

[2018-08-13 17:51] kszucs opened #1592 "TST: Move impalamgr to datamgr"
In `ci/setup_env.sh` we call the commands for loading data into the testing instances. All them are consistent, using `ci/datamgr.py`, but not impala, which has its own script, requiring the setup script to have an extra `if`, and making things confusing.

We should move the impalamgr code to the datamgr script, having all backends consistent.

[2018-08-13 18:11] cpcloud opened #1593 "DOC/ENH: Publish the Ibis roadmap"
Here's the working draft of some of my thoughts on longish-term plans for ibis: https://docs.google.com/document/d/10PWskqWnAHj9FMFd-l0LBqp0SJpyBjrR6JFL4cBhO50/edit?usp=sharing

@tswast @kszucs @tsdlovell

Interested to get your thoughts on that doc before publishing to the main repo in markdown form.

[2018-08-13 18:29] kszucs commented on #1593
Commented. Do You want to extend the userbase? We might prioritize a couple of popular backends to attract more users and hopefully contributors.

[2018-08-13 19:10] #1584 closed

[2018-08-13 21:15] cpcloud commented on #1593
Yep, that's definitely part of that goal, if not explicit. I will spell out some of the details there.

[2018-08-14 00:47] tswast commented on #1583
I think this would best fit in the PyData org rather than under Google's umbrella, so I've put in a request at https://groups.google.com/d/topic/pydata/A0tPgegh9og/discussion If that doesn't go through, I'll go through the Google internal channels to create a repo in the GCP org.

[2018-08-14 01:01] cpcloud commented on #890
This isn't going to make it into 0.14.

[2018-08-14 14:27] cpcloud commented on #1045
@John-Boik This is now giving an error from postgres itself. Since there's a workaround available and this is a particularly thorny thing to fix I'm going to push it to the next release.

The main issue here is related to optimization.

The `t4` query is problematic:

[code]

The problematic part is the join:

[code]

`id3` is being taken from `ref_1`, when it should really be coming from `ref_2`.

[2018-08-14 14:28] cpcloud opened #1594 "Selection of renamed columns is optimizing incorrectly"
See the discussion here: https://github.com/ibis-project/ibis/issues/1045

[2018-08-14 14:44] cpcloud commented on #1295
@kszucs I'm not able to reproduce that

[2018-08-14 19:06] kszucs commented on #1542
This involves the general issue of representing `None/Null` in pandas dataframes.
For floating types We have `NaN` everything else We need to use `object` dtype to represent Nullable ibis columns containing `None/Null` values. Here is a datatype matrix We should fill-out:

|              | Non-nullable                 | Nullable with Null values | Nullable without Null values |
|--------------|---

[2018-08-14 19:08] scopatz commented on #1593
The text here looks great! Are these items sorted in order of importance (at least within the long- and short-term goals)? That is, are the most important items at the top?

[2018-08-14 19:43] kszucs opened #1595 "ENH: Pandas representation of Nullable types"
For floating types We have `NaN`, for datetime We have `NaT` everything else We need to use `object` dtype to represent Nullable ibis columns containing `None/Null` values. Here is a datatype matrix We should fill-out:

It's also not trivial whether We should distinguish between nullable columns with and without actual null values - that check could be expensive unless We use smart tricks.

This c

[2018-08-14 19:48] kszucs commented on #1585
Initializing `functional_alltypes`' columns as `Nullable` brakes a couple of clickhouse test cases.
I'll report them to the `clickhouse` developers to find out whether these are clickhouse bugs or ibis should handle them.

[2018-08-14 20:59] tswast commented on #1583
I've started the auth-only fork of pandas-gbq over at https://github.com/pydata/pydata-google-auth

I'm making some adjustments to pandas-gbq auth over at https://github.com/pydata/pandas-gbq/issues/161 so I'll use this as an opportunity to do it right for both Ibis & Pandas at the same time.

Currently I'm thinking we'll still want each package to have it's own client ID and secret. The reason be

[2018-08-14 22:34] cpcloud commented on #1593
@scopatz Not necessarily, though I could arrange them that way if it's useful.

[2018-08-15 12:17] scopatz commented on #1593
That would be great!

[2018-08-16 00:31] westurner opened #1596 "DOC: HTTPS by default"
ReadTheDocs now supports HTTPS on custom domains.

https://github.com/rtfd/readthedocs.org/issues/2652

[2018-08-16 00:33] westurner opened #1597 "ENH: SQLite window functions"
SQLite 3.25.0 (latest) now supports window functions.

https://www.sqlite.org/draft/releaselog/current.html

https://www.sqlite.org/draft/windowfunctions.html

[2018-08-16 19:34] cpcloud commented on #1597
Excellent. I'm glad that finally landed!

[2018-08-16 20:45] cpcloud opened #1599 "BUG: Expression equality is broken and was never correct"
In trying to track down the root cause of #1295, I found that the `all_equal` function here: https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations.py#L142-L143 is not correct and looking through the history it doesn't look like it ever was.

The current implementation is only comparing the first N arguments of `left` and `right`, where

[code]

[code]

That is incorrect because it

[2018-08-16 22:49] #1542 closed

[2018-08-16 22:59] cpcloud commented on #1295
Moving to the next release #1599. See that issue for more details.

[2018-08-22 13:31] cpcloud commented on #1596
All sites under the `ibis-project` project are now using https.

@westurner Thanks for opening the issue!

[2018-08-22 13:31] #1596 closed

[2018-08-22 15:15] johnma2006 opened #1604 "Implementing approx_quantile, approx_median for BQ"
approx_quantile is BQ function that does not exist in IBIS
approx_median is an IBIS function that is not implemented for BQ

Can we implement the ibis function approx_median on BQ using the approx_quantile function?

[2018-08-22 15:42] westurner commented on #1596
Thanks!

On Wednesday, August 22, 2018, Phillip Cloud <notifications@github.com>
wrote:

[2018-08-22 21:41] cpcloud opened #1606 "SUPP: Generate release notes in future releases"
We have enough information to generate release notes using a script. We should implement this for the next release.

[2018-08-23 02:30] missing-semicolon commented on #1604
I'm taking a run at this. It's a little awkward given how APPROX_QUANTILES returns an array.

[2018-08-27 03:32] lzhmhznr opened #1610 "Error : Backend=MapD , client.create_table(partition=['yyyy', 'mm']) error!!"
Backend=MapD  Python=3.6  MapD=4.1  ibis=0.14

import ibis

client = ibis.mapd.connect(host='127.0.0.1', user='user_test', password='123456',port=9091, database='db_test')

struct = ibis.schema([('txt', 'string'),
                                 ('yyyy', 'int32'),
                                 ('mm', 'int16')])

client.create_table('table_0', schema=struct, partition=['yyyy', 'mm'])
Return : T

[2018-09-05 22:48] kszucs opened #1612 "Lineage flatten function"
Factor out these [lines](https://github.com/ibis-project/ibis/pull/1600/files/e83a5ea08ce1aec7d68e52301354f398438d42b7#diff-5c0647fa9cbffffb3da821b8f2e7dfdeR188)

[2018-09-06 19:30] scopatz commented on #1593
Is there anything I can do to help push this forward?

[2018-09-06 21:12] #1599 closed

[2018-09-07 02:55] lzhmhznr opened #1613 "Exception MapD : No match found for function signature toDateTime(<CHARACTER>)"
table[table.timestamp_col  < '2000-03-01'].execute()

return error :
mapd.ttypes.TMapDException: TMapDException(error_msg='Exception: Exception occurred: org.apache.calcite.runtime.CalciteContextException: From line 3, column 21 to line 3, column 46: No match found for function signature toDateTime(<CHARACTER>)')

Backend=MapD  MapD=4.1.1  ibis=0.14  Python=3.6
Ubuntu_18.04  Anaconda_5.1

[2018-09-07 13:44] kszucs opened #1614 "Try to use lin.traverse in visualize.to_graph"
Most of the expression tree traversals are more expressive and easier with [lin.traverse](https://github.com/ibis-project/ibis/blob/master/ibis/expr/lineage.py#L179), so We should try to refactor [visualize.to_graph](https://github.com/ibis-project/ibis/blob/master/ibis/expr/visualize.py#L138) to use it.

[2018-09-07 13:51] kszucs opened #1615 "Repository ibis-notebooks seems obsolete"
We have them under the ibis docs now.
I suggest to delete the https://github.com/ibis-project/ibis-notebooks repository.

[2018-09-07 13:54] kszucs opened #1616 "Beginner-friendly github issue label"
Hopefully ibis will gain some popularity in the near future. We should make it easier to start contributing to the project.
@cpcloud What do You think about labeling the easy and/or straightforward issues?

[2018-09-07 14:00] kszucs opened #1617 "Document the ROADMAP"
Once We have a specified roadmap, We should share it on github and/or sphinx.
I'm not what is the best practice for this, but transparency always helps.

[2018-09-09 20:30] cpcloud commented on #1615
Agree. I'll delete the notebooks repo

[2018-09-09 20:31] cpcloud commented on #1616
+1. I will try to do a pass over existing issues to see what is beginner friendly

[2018-09-09 20:36] kszucs commented on #1616
I can help with that

[2018-09-10 21:29] cpcloud commented on #1615
Done, the ibis-notebooks repo is no more. RIP :coffin:

[2018-09-10 21:29] #1615 closed

[2018-09-10 21:31] cpcloud commented on #1613
@xmnlab Any chance you could take a look at this?

[2018-09-10 21:55] cpcloud commented on #1593
@scopatz A PR is up, please review if you'd like. I'll merge in the next day or two.

[2018-09-10 22:41] xmnlab commented on #1613
@tonyfast ^^^

[2018-09-10 22:55] xmnlab commented on #1613
@cpcloud I will take a look! thanks for point me that.

[2018-09-11 05:14] lzhmhznr opened #1619 "MapD : ibis.common.TranslationError: Joining on different column names is not supported"
[code]
[code]

Backend=MapD    MapD=4.1.1    ibis=0.14    Python=3.6
Ubuntu=18.04    Anaconda=5.1

[2018-09-11 06:32] lzhmhznr opened #1620 "MapD bucket() : MapD backend doesn't support <class 'ibis.expr.operations.NullLiteral'> operation!"
`>>> buckets = [0, 1, 3]`
`>>> bucketed = table.price_col.bucket(buckets).name('bucket')`
`>>> bucketed.value_counts().execute()`
return error :
  File "/home/sw/anaconda3/lib/python3.6/site-packages/ibis/mapd/operations.py", line 365, in raise_unsupported_op_error
    raise com.UnsupportedOperationError(msg.format(type(op)))
ibis.common.UnsupportedOperationError: MapD backend doesn't support <cla

[2018-09-11 06:50] lzhmhznr opened #1621 "MapD histogram() : KeyError: <class 'ibis.expr.operations.CrossJoin'>"
https://docs.ibis-project.org/notebooks/tutorial/8-More-Analytics-Helpers.html
In [11]:
`t = con.table('functional_alltypes')

d = t.double_col

tier = d.histogram(10).name('hist_bin')
expr = (t.group_by(tier)
        .aggregate([d.min(), d.max(), t.count()])
        .sort_by('hist_bin'))
expr.execute()`

return error :
  File "/home/sw/anaconda3/lib/python3.6/site-packages/ibis/sql/compiler.py",

[2018-09-12 09:17] kszucs commented on #1617
Duplicate of https://github.com/ibis-project/ibis/pull/1618

[2018-09-12 09:17] #1617 closed

[2018-09-12 18:31] #1604 closed

[2018-09-12 18:31] #1593 closed

[2018-09-12 18:34] scopatz commented on #1593
Thanks @cpcloud! I really appreciate it.  Sorry for not getting a chance to review it, as I was out Monday.  Looks great though!

[2018-09-14 13:38] randyzwitch opened #1622 "conda install missing google-cloud-bigquery"
When installing Ibis version 0.14.0, `conda install ibis-framework -c conda-forge` will give an error that google-cloud-bigquery required.

`conda install google-cloud-bigquery` fixes issue

[2018-09-14 15:32] cpcloud commented on #1622
@randyzwitch Can you show the error you're getting? `conda` should install `google-cloud-bigquery` if it's required by a package? Are you installing ibis into a Python 3.7 environment?

[2018-09-14 15:52] randyzwitch commented on #1622
No, it's a 3.6.6 environment. Unfortunately, I added the package and re-ran my code, then thought to open this issue. I could've done something weird though, so I'll close this issue

[2018-09-14 15:52] #1622 closed

[2018-09-14 16:06] cpcloud commented on #1622
Can you show how you created the environment?

[2018-09-15 07:44] lzhmhznr opened #1623 "MapD where() : No match found for function signature if(<BOOLEAN>, <NUMERIC>, <NUMERIC>)')"
`expr = ibis.where(table.num > 1, table.num + 10, table.num)`
`expr.execute()`
return error :
mapd.ttypes.TMapDException: TMapDException(error_msg='Exception: Exception occurred: org.apache.calcite.runtime.CalciteContextException: From line 1, column 8 to line 1, column 41: No match found for function signature if(<BOOLEAN>, <NUMERIC>, <NUMERIC>)')

Backend=MapD MapD=4.1.1 ibis=0.14 Python=3.6
Ubu

[2018-09-15 09:19] tyyzqmf opened #1624 "How to do join with filter and aggregate, like this SQL"
[code]

[2018-09-15 19:11] randyzwitch commented on #1622
Unfortunately, I didn't really think about what I was doing, I was just building an environment as I went along. I used conda for all of the installs, then it was some combination of installing/uninstalling pymapd, pygdf, jupyterlab and ibis.

[2018-09-16 03:57] zdog234 opened #1625 "Taking on PyHive as a dependency for Hive support?"
Hi y'all, sorry if this has already been mentioned/considered, but would it make sense to take on [PyHive](https://github.com/dropbox/PyHive) as a dependency in order to bring Hive support to Ibis? (I think it's also Apache licensed).

[2018-09-17 19:17] cpcloud opened #1626 "ENH/BUG: Support string slicing with other expressions"
[code]

This currently fails with a `ValueError` because we're assuming slice inputs to `__getitem__` are integers.

[2018-09-17 19:18] cpcloud commented on #1626
This is marked as a bug because the error message is misleading.

[2018-09-19 18:59] cpcloud commented on #1625
@zdog234 Are you interested in working on hive support? You could reuse a lot of the existing sqlalchemy machinery for this. If you're interested, I can help with setting up our CI to spin up a hive service and load testing data into the database. We're already running a metastore for Impala so I don't think there's much beyond installing the service, starting it, and loading data that we'd need t

[2018-09-19 19:13] cpcloud commented on #1624
Hi @tyyzqmf, this should be pretty close to what you want:

[code]

[2018-09-19 19:16] cpcloud commented on #1624
@tyyzqmf If you have any more questions, please direct them to stack overflow and paste a link here and I will answer it there. It's better for the community overall to move Q and A there since that exactly what is was designed for. Thanks!

[2018-09-19 19:16] #1624 closed

[2018-09-19 19:18] kszucs commented on #1624
Questions are gooood! :)

[2018-09-19 20:07] #1626 closed

[2018-09-19 20:32] cpcloud opened #1628 "Support negative slice indices in string columns"

[2018-09-19 20:34] cpcloud commented on #1619
@lzhmhznr It looks like MapD itself might not support that (I'm assuming that was why this choice was made).

@xmnlab Can you comment on this?

[2018-09-19 20:35] cpcloud commented on #1620
cc @xmnlab

[2018-09-19 20:36] cpcloud commented on #1621
cc @xmnlab

[2018-09-19 20:36] cpcloud commented on #1623
cc @xmnlab

[2018-09-19 20:37] cpcloud commented on #1610
cc @xmnlab

[2018-09-19 20:39] kszucs commented on #1619
@cpcloud That's suspiciously similar to clickhouse's [join compilation](https://github.com/ibis-project/ibis/blob/master/ibis/clickhouse/compiler.py#L132). It might be a wrong copy&paste issue.

[2018-09-19 20:40] cpcloud commented on #1619
@kszucs Okay. I'm wondering if @xmnlab can take a look since he contributed the original patch.

[2018-09-19 20:43] kszucs commented on #1619
According to MapD's documentation it [supports](https://www.mapd.com/docs/latest/5_dml.html#table-expression-and-join-support-1) joining on different column names (the latest version at least).

[2018-09-19 22:00] xmnlab commented on #1619
@kszucs @cpcloud

thanks for point me that.

cc @tonyfast

[2018-09-20 01:01] zdog234 commented on #1625
I can definitely try it out. Hopefully I can do a lot of copy-paste.

Sent from Astro <https://www.astro.ai> for iOS

On Sep 19, 2018 at 2:59 PM, Phillip Cloud <notifications@github.com> wrote:

@zdog234 <https://github.com/zdog234> Are you interested in working on hive
support? You could reuse a lot of the existing sqlalchemy machinery for
this. If you're interested, I can help with setting up ou

[2018-09-20 02:16] cpcloud commented on #1625
Ideally there isn't much copy paste, and the only thing you'd need to provide is hive specific versions of whatever functions don't work out of the box for whatever reason (different spelling, different semantics, etc)

[2018-09-20 20:58] tsdlovell opened #1629 "bigquery compilation of `substr` should check for negative values passed for `length`"
Else, it will begin executing but complain when it finally gets the substr operation like

[2018-09-21 07:20] lzhmhznr opened #1630 "MapD union() : mapd.ttypes.TMapDException: TMapDException(error_msg='Exception: Parse failed"
[code]

[2018-09-21 17:40] tsdlovell opened #1631 "struct creation in ibis for bigquery"
per our IRL convo, does not currently exist.

[2018-09-21 17:56] cpcloud opened #1632 "docs: add API docs for complex data types: arrays and maps"
cc @missing-semicolon

[2018-09-21 20:20] zdog234 commented on #1625
Okay, in that case, I'd love to give it a try!

[2018-09-21 20:50] zdog234 commented on #1625
Which linter (if any) should I be using?

[2018-09-21 20:51] cpcloud commented on #1625
@zdog234 We use `flake8`

[2018-09-24 18:49] cpcloud opened #1633 "ENH: Enable Pandas UDFs that must be computed over a window, but are not strictly aggregates"
Many databases call these "analytic" functions. The unifying theme here seems to be functions that are composed of at least one aggregate function and one non-aggregate function.

An example that comes to mind is Z-score:

[code]

Parts of this expression (the mean and standard deviation) are sensitive to windows, but the remaining piece is not.

This issue is to enable per group user-defined func

[2018-09-24 20:27] cpcloud opened #1634 "WRN/CLN: Address warnings coming from later versions of multipledispatch"

[2018-09-24 21:32] DiegoAlbertoTorres commented on #1633
:+1:

[2018-09-26 05:56] lzhmhznr opened #1635 "MapD lag() : MapD backend doesn't support <class 'ibis.expr.operations.WindowOp'> operation!"
ibis.common.UnsupportedOperationError: MapD backend doesn't support <class 'ibis.expr.operations.WindowOp'> operation!

Backend=MapD_4.1.1    ibis=0.14    Python=3.6
Ubuntu=18.04    Anaconda=5.1

[2018-09-26 06:37] lzhmhznr opened #1636 "PostgreSQL lag() : should not sorted"
[code]

[2018-09-27 06:34] lzhmhznr opened #1638 "MapD str.to_timestamp() : No translation rule for <class 'ibis.expr.operations.StringToTimestamp'>"
expr = ibis.literal('20170206').to_timestamp('%Y%m%d')
client.execute(expr)

ibis.common.OperationNotDefinedError: No translation rule for <class 'ibis.expr.operations.StringToTimestamp'>

Backend=MapD_4.1.1    ibis=0.14    Python=3.6  Ubuntu=18.04    Anaconda=5.1

[2018-09-27 20:29] cpcloud opened #1639 "DSGN: Allow functional definitions of custom nodes"
In https://github.com/ibis-project/ibis/pull/1637, the idea of being able to define your own nodes using decorators came up.

For example (and I'm speculating here),

[code]

We should think through what this would look like and discuss any relevant details.

[2018-09-28 19:15] xmnlab commented on #1638
thanks @lzhmhznr for point us that

I am checking the issues related to MapD and we are planing to add new futures to ibis-mapd also.

@cpcloud could you add a "MapD" flag to this issue?

[2018-09-28 19:38] xmnlab commented on #1635
It seems MapD doesn't support Window operation, is that right @randyzwitch ?

should we add `lag` as unsupported?

[2018-09-28 19:40] xmnlab commented on #1610
it seems there is no partition in MapD [1]

could you confirm that @randyzwitch ?

@cpcloud if it is not supported, should we add a specific error message for that?

[1] https://community.mapd.com/t/partition-by-support/616

[2018-09-28 19:46] xmnlab commented on #1621
It seems MapD doesn't have a cross join .. but maybe we could add this using a workaround like this:

[code]

What do you think @cpcloud ?

[2018-09-28 19:57] randyzwitch commented on #1635
That is correct @xmnlab, MapD doesn't support window functions at this time

[2018-09-28 19:58] randyzwitch commented on #1610
That is correct @xmnlab, there aren't user-specified partitions (or other indexing) in MapD.

[2018-09-28 20:08] xmnlab commented on #1623
there is no IF function in MapD, but here I think we should translate to `when statement`. thanks for point that.

[2018-09-28 20:36] cpcloud commented on #1621
As long as that query is equivalent, I'm okay with that.

[2018-09-28 22:30] xmnlab commented on #1635
@cpcloud should we add as `unsupported` all window operation or we could just leave WindowOp as unsupported?

[2018-09-28 22:30] xmnlab commented on #1630
it seems union is not supported yet. is it right @randyzwitch ?

[2018-09-28 22:31] cpcloud commented on #1635
This seems like a reasonable error message to me. @xmnlab What do you mean when you say "add as `unsupported`"?

[2018-09-28 22:36] xmnlab commented on #1635
@cpcloud I mean add the operation inside the `_unsupported_ops` dictionary in the operations.py

`_unsupported_ops = {k: raise_unsupported_op_error for k in _unsupported_ops}`

[2018-09-28 22:38] xmnlab commented on #1635
if the current message is reasonable I think this issue could be closed.

[2018-09-28 22:40] randyzwitch commented on #1630
That is correct, Union is not supported

[2018-09-28 22:40] xmnlab commented on #1610
@cpcloud should we add a specific error message when the user uses the partition arg?

[2018-09-28 22:44] xmnlab commented on #1619
yes it works:

[code]

I will take a look to fix that. I am also planing to update MapD image in CI.

[2018-09-28 22:50] xmnlab commented on #1613
related topic: https://community.mapd.com/t/exception-mapd-no-match-found-for-function-signature-todatetime-character/1532/3

[2018-09-28 22:52] xmnlab commented on #1613
I added this to my backlog. thanks!

[2018-09-28 22:54] xmnlab commented on #1620
@randyzwitch it seems MapD doesn't allow Null literal, is it right?

ex:

[code]

[2018-09-28 23:07] xmnlab commented on #1630
thanks @randyzwitch ! I will add union operation to the `unsupported_op`

[2018-09-28 23:10] xmnlab commented on #1635
actually lag is already in this dictionary: https://github.com/ibis-project/ibis/blob/master/ibis/mapd/operations.py#L628

[2018-09-29 08:00] kszucs commented on #1610
I don't think so, if MapD doesn't support user specified partitions, it's simply a misuse of the API.

Only ImpalaClient's `create_table` has the `partition` keyword, see the [documentation](https://github.com/ibis-project/ibis/blob/8a5085ed3fd70409acde8cf5b17cdb3f82b0d987/docs/source/impala.rst#creating-a-partitioned-table).

[2018-09-30 17:11] cpcloud commented on #1526
@kszucs I think this can be closed. We've migrated our images to docker-impala and docker-kudu under the ibis-project org. Please reopen if there's still something to do here.

[2018-09-30 17:11] #1526 closed

[2018-09-30 17:12] cpcloud commented on #1527
This is also done.

[2018-09-30 17:12] #1527 closed

[2018-09-30 21:51] xmnlab commented on #1610
I see ... thanks @kszucs and thanks @randyzwitch  for the explanation!
so I think this issue could be close :)

[2018-09-30 23:05] xmnlab commented on #1620
@cpcloud so this error is expected? should we add some operations in our unsupported_op dictionary?

[2018-10-01 16:12] cpcloud commented on #1635
I think the current message is reasonable. Closing.

@xmnlab @randyzwitch Is MapD going to grow `lead`/`lag` functions at some point in the future?

[2018-10-01 16:12] #1635 closed

[2018-10-01 16:17] cpcloud commented on #1620
This isn't totally crazy and isn't very different from something like `select *, 1 as "t" from tb10;`. Does MapD plan to support `NULL` literals in the future?

[2018-10-01 17:12] randyzwitch commented on #1620
I can't comment on whether we'd ever support `NULL` as a literal, as I don't manage the product development. Personally, I suspect we wouldn't, 1) as it doesn't seem to have a whole lot of value and 2) what type is a column of constant `NULL`? I suspect that's would be the bigger reason we wouldn't support it; while supporting a constant like `1 as "t"` in a query might be memory inefficient, we a

[2018-10-01 17:14] randyzwitch commented on #1635
At some unknown time (to me) in the future, we do plan to support window functions. So lead/lag would be part of that

[2018-10-01 17:21] cpcloud commented on #1620
Often a database will require a cast when using a null literal.

[2018-10-01 17:43] randyzwitch commented on #1620
If it's the case that this is really a desirable operation, my suggestion would be to submit an issue and someone with the proper background (either product or engineering) can comment on the specifics:

https://github.com/omnisci/mapd-core/issues

[2018-10-01 18:30] xmnlab commented on #1620
done! https://github.com/omnisci/mapd-core/issues/269 :)

[2018-10-01 18:32] xmnlab commented on #1620
@cpcloud should we change anything in the code related to this issue? or could this issue be closed?

[2018-10-01 18:35] cpcloud commented on #1620
@xmnlab If you write `CAST(NULL AS FLOAT64)` does that work? Or whatever the syntax is for a double precision floating point value is.

[2018-10-01 19:03] xmnlab commented on #1620
awesome! very good idea!

[code]

[2018-10-01 21:09] cpcloud commented on #1620
@xmnlab Can you dig into what the generated code here is and see if it's reasonable to cast? I suspect that it is.

[2018-10-01 21:56] cpcloud opened #1644 "DOC: Add TableExpr.drop to the API documentation"

[2018-10-02 20:34] xmnlab commented on #1610
could be closed this issue?

[2018-10-02 20:57] cpcloud commented on #1610
@xmnlab I think this keyword argument should be removed in the MapD backend. Can you submit a PR to address that? Then we can close this issue.

[2018-10-02 21:04] xmnlab commented on #1610
got it! thanks! I will do it :)

[2018-10-02 22:43] xmnlab commented on #1620
sure! I am working on that :)

[2018-10-02 23:44] xmnlab commented on #1610
@cpcloud

it seems there is no partition keyword argument in the create_table method.

there is a `partitions` keyword argument and this is related to this [1]:

[code]

[1] https://www.omnisci.com/docs/latest/5_tables.html

[2018-10-02 23:58] randyzwitch commented on #1610
I’d argue that the partitions property for MapD shouldn’t be called from Ibis, so removing it probably best IMO. Or at least, noting in the documentation that it’s really not meant for ad hoc usage

[2018-10-03 00:04] xmnlab commented on #1610
@randyzwitch currently we have these parameters in the method:

[code]

should we remove all these arguments? or just partitions?

[2018-10-03 17:06] randyzwitch commented on #1610
I would remove everything except for `max_rows`, as a user needing these functionally should probably be more thoughtful about doing this as part of a data engineering workflow than an analytics one.

`max_rows` is useful, as it allows for a rolling updated table.

[2018-10-03 21:46] #1633 closed

[2018-10-04 17:12] xmnlab commented on #1610
got it! thanks @randyzwitch

[2018-10-08 18:52] DiegoAlbertoTorres opened #1649 "Pandas udf.reduction broadcasts list return types wrong"
I wrote a pandas.udf.reduction function that returns a series:

[code]

This returns a series for a column input, which seems reasonable:
[code]

However, when used in a projection, I get unexpected results:
[code]

Changing the original udf to the following makes it return something more reasonable for the projection, but makes the output for a column input a list instead of a series:
[code]

[2018-10-10 21:16] #1649 closed

[2018-10-11 10:26] kszucs opened #1652 "ENH: Clickhouse Decimal type support"
Clickhouse has experimental support for decimal types: https://github.com/yandex/ClickHouse/blob/master/CHANGELOG.md#new-features

[2018-10-12 18:14] #1620 closed

[2018-10-14 11:36] kszucs opened #1656 "Unpin clickhouse-driver version"

[2018-10-15 11:51] tyyzqmf commented on #815
refer to:
https://www.cloudera.com/documentation/enterprise/5-8-x/topics/cdh_hag_hdfs_ha_enabling.html#concept_p3p_55p_bp__section_d1v_r25_mj

[2018-10-16 17:22] #1610 closed

[2018-10-17 00:28] xmnlab commented on #1499
@cpcloud  could you add the mapd label for this issue?

[2018-10-17 00:38] xmnlab commented on #1504
@cpcloud could you add a label `mapd` here?

[2018-10-20 15:13] #1656 closed

[2018-10-20 17:23] dsaxton opened #1661 "BUG: PostgreSQL interval type not recognized"
I believe this would actually be an issue with `sqlalchemy`, but I noticed that a warning is issued when one tries to reference a Postgres table with a column of interval data type (the warning says that the type isn't recognized).

Here is the DDL for such a table from the Postgres documentation (https://www.postgresql.org/docs/9.1/static/sql-createtable.html):

[code]

If we then try to refer to

[2018-10-20 18:08] cpcloud commented on #1661
I just prototyped support for this and I think we can get this in for the next release.

[2018-10-24 12:55] ispmarin opened #1663 "How to use pandas as a backend?"
How can I use Ibis with pandas as the backend? I searched the documentation but couldn't find how.

[2018-10-25 17:15] xmnlab opened #1665 "Add Ibis support for geospatial data types"
@cpcloud @kszucs

we are planning to add support for geospatial data types and functions into ibis [1].

it seems it should be put inside the common interface. so if anyone is interested in this implementation we can work together.

we will check geopandas and shapely to check name and signature standard

cc @tonyfast

[1] https://github.com/Quansight/mapd/issues/21#issue-366146234

[2018-10-26 16:07] #1623 closed

[2018-10-28 14:16] #1621 closed

[2018-10-29 19:47] xw393 opened #1668 "Implement approx_top_count() for BQ"
approx_top_count() is a BQ functionm which is very useful to get top elements, but it does not exist in ibis.

Can We implement approx_top_count() function on BQ in ibis?

This is the docs for approx_top_count() in BQ.
https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#approx_top_count

Thanks!

[2018-10-30 19:11] #1619 closed

[2018-11-07 20:30] tonyfast commented on #1663
You can create an ibis pandas backend by supplying a dictionary of DataFrames.  The keys become the table names.

[code]
[code]

[2018-11-10 16:55] kszucs opened #1672 "MySQL testing on Azure Pipelines has been disabled temporarily"
Because chocolatey was failing to install MariaDB

[2018-11-10 16:59] cpcloud commented on #1672
Thanks for creating the issue!

[2018-11-10 17:53] kszucs opened #1673 "Add pre-commit hooks"
Use https://github.com/pre-commit

[2018-11-13 13:18] saulshanabrook opened #1674 "Can't select all in mapd"
When I try to select all columns from the `tweets_nov_feb` table, I get an IndexError.

[code]

[code]

[code]

[code]

cc @xmnlab

[2018-11-20 01:33] xmnlab commented on #1674
not sure why, but there is a issue with hashtags and tweek_tokens field:

[code]

if you try just using pymapd fetchall method with cursor it will raise the same error.

do you have any idea @randyzwitch?

[2018-11-20 15:38] xmnlab commented on #1674
mm interesting! thanks @randyzwitch!

[2018-11-25 17:27] saulshanabrook opened #1676 "Add expression method that returns empty Pandas DF for"
It would be helpful to have a method that returns an empty Pandas dataframe from an expression with the correct types of each column. It seems like it should be able to do this without executing any queries.

I am looking for this feature to support creating Altair charts more easily from Ibis expressions. Altair requires a DataFrame to infer column types, but I would like to do this while avoidin

[2018-11-25 20:56] cpcloud commented on #1676
Does this work for your use case?

[code]

[2018-11-26 13:28] #1676 closed, assigned to nobody

[2018-12-11 07:25] lzhmhznr opened #1677 "Question :how delete row ?"
[code]

[2018-12-19 22:10] scottcode commented on #716
I stumbled across this issue when playing with ibis and Postgres. Here are the steps I followed and the problem that occurred.

1. created a `test` table in Postgres
2. created an ibis table object via `con.table('test')`
3. changed the schema of `test` in Postgres
4. re-instantiated a table object pointing to that table: `con.table('test')`

**Problem:** The re-instantiated table object doesn't k

[2018-12-27 22:22] saulshanabrook opened #1679 "Can't Bin in OmniSci/MapD"
I am trying to implement some binning on top of the MapD backend. For example, here I try to bin the `goog_x` column into 10 equally sized bins:

[code]

![download](https://user-images.githubusercontent.com/1186124/50496130-af0fcb80-09fb-11e9-8ac7-0ac0e44bb63c.png)

However, this gives me an error when I try to compile it:

[code]

If instead, I compute the size of the bins beforehand and then tr

[2018-12-28 00:11] saulshanabrook commented on #1679
By looking at how Ibis compiles the [histogram](https://github.com/ibis-project/ibis/blob/c382cba2be496e26802022954e7b1c66de770a42/ibis/sql/compiler.py#L211-L238) I was able to make this work!

Here is how we would get counts per bucket:

[code]

[code]

[2018-12-28 00:11] #1679 closed

[2018-12-28 00:13] saulshanabrook opened #1680 "Support OmniSci Sample method"
OmniSci [supports](https://www.omnisci.com/docs/latest/5_math.html) the `SAMPLE` aggregate method that:

I don't believe this is implemented in the Ibis wrapper.

[2018-12-28 15:13] saulshanabrook opened #1682 "Cast to float in OmniSci"
For using `floor` with omnisci, sometimes we need to cast literals to `float` in omnisci, see https://github.com/omnisci/mapd-core/issues/305#issuecomment-450295257

However I can figure out how to get ibis to produce SQL like `CAST(-124.39000000000038 AS FLOAT)`.

If I use `ibis.literal(x_min, 'float32').cast('float64')` I get `CAST(-124.39000000000038 AS NUMERIC)`.

And if I use the opposite `ib

[2018-12-28 15:13] saulshanabrook commented on #1682
cc @xmnlab

[2018-12-28 15:20] xmnlab commented on #1682
the problem probably is related to the mapd dtype map:

[code]

I will take a look into that.

thanks for reporting that @saulshanabrook !

[2018-12-28 15:20] saulshanabrook commented on #1680
I think `Arbitrary` could be the right operation: https://github.com/ibis-project/ibis/issues/1230

So we would just have to add a mapping to OmniSci to map this to `sample`

[2018-12-28 15:31] saulshanabrook commented on #1680
I am working on adding this.

[2018-12-28 15:33] xmnlab commented on #1680
in the documentation:

[code]

(https://www.omnisci.com/docs/latest/5_math.html#aggregate-function-support-1)

so a translation from arbitrary last to sample should works fine

[2018-12-31 15:31] xmnlab commented on #1663
maybe would be good to add some information on the docs.

[2018-12-31 15:53] xmnlab commented on #1672
@kszucs do you have the detail of this error? should we open a issue on chocolatey?

[2018-12-31 15:55] kszucs commented on #1673
Hey @xmnlab !

Agree, for starting I think flake8 would be enough, see the available hooks here: https://pre-commit.com/hooks.html

[2018-12-31 16:46] kszucs commented on #1672
@xmnlab First try to re-enable it in a PR, hopefully they resolved it already. Otherwise We should report it. (We could also switch to mysql, but mariadb was working previously)

[2018-12-31 16:49] kszucs commented on #1663
@xmnlab definitely, a short section to https://docs.ibis-project.org/getting-started.html would be great. MapD and MySQL are also missing.

[2018-12-31 16:56] xmnlab commented on #1663
@kszucs thanks! I will create a PR for that.

[2018-12-31 16:57] xmnlab commented on #1672
@kszucs sounds good! I will create a PR to try that! thanks!

[2019-01-04 04:36] thalesmello opened #1687 "Suggestion: PonyORM-like pythonic data manipulation using generators"
I come from an R background with dplyr, but I use Python daily at work, and mostly rely on Pandas to manipulate dataframes. As much as I like it, I think there's a lot of room for improvement regarding its API.

Regarding pythonic ways of dealing with the database, the one I like the most is [PonyORM](https://github.com/ponyorm/pony/), which manages to [generate SQL queries using Python generators

[2019-01-12 12:18] #1672 closed

[2019-01-12 12:19] #1663 closed

[2019-01-14 02:16] xmnlab commented on #1673
@kszucs it seems this issue can be closed (https://github.com/ibis-project/ibis/pull/1685)

[2019-01-14 03:12] xmnlab commented on #1677
@lzhmhznr what backend are you using?

[2019-01-14 11:36] cpcloud commented on #1673
Closed by #1685

[2019-01-14 11:36] #1673 closed

[2019-01-15 08:31] ryan-pip commented on #1157
Is anyone working on this, is there a branch or fork somewhere?

[2019-01-16 10:36] rdeteix opened #1690 "Postgres JSONB"
Hello,

I'm trying to open a postgres table using Ibis which has some jsonb data type.

I got the error:

KeyError: (<class 'sqlalchemy.dialects.postgresql.psycopg2.PGDialect_psycopg2'>, <class 'sqlalchemy.dialects.postgresql.json.JSONB'>)

NotImplementedError: Could not find signature for dtype: <PGDialect_psycopg2, JSONB>

I can open it with sqlalchemy/psycopg but it failed when I used Ibis.

Is

[2019-01-16 16:31] wesm commented on #1157
Not that I'm aware of. We'd welcome the help, of course

[2019-01-21 11:14] kszucs opened #1691 "Remove deprecated interval properties"
Along with the tests:

[code]

[2019-01-21 11:16] kszucs opened #1692 "Resolve FutureWarnings raised by pandas 0.24"
The builds are filled with warnings because of the recent pandas release:

[code]

This is how pyarrow resolved it: https://github.com/apache/arrow/blob/3e97ca1c207cacfb5340940bc86f95107849cbcc/python/pyarrow/pandas_compat.py#L739

[2019-01-25 07:30] rdeteix commented on #1690
Thanks,

I'll try it

[2019-01-27 15:54] niviksha opened #1693 "[MapD] gpu dataframe output not working as of pymapd >= 0.7.0 in ibis-mapd"
With pymapd=>0.7.0, there is support for ability to output query results as cudf DataFrames (cudf.dataframe.dataframe.DataFrame, ugh). The ibis client for mapd raises a `NotImplementedError` when I attempt to call the `select_ipc_gpu` method by setting the `execution_type` parameter = `EXECUTION_TYPE_ICP_GPU` on the connection, although executing the same query directly with pymapd works fine

[2019-01-28 02:00] xmnlab commented on #1693
hey @niviksha thanks for reporting that.

it seems cudf dataframe is obsolete on ibis: https://github.com/ibis-project/ibis/blob/a6b1957231419d005b51ad505d2867cac9c4862d/ibis/mapd/client.py#L10

I will create a PR to fix that.

@kszucs @cpcloud could this issue be labelled as a bug?

[2019-01-28 03:32] xmnlab opened #1695 "test: investigate clickhouse test_insert fail"
#1696  adds skip decorator on  clickhouse test_insert temporarily

[2019-01-30 11:54] schosser opened #1697 "Upload to HDFS not working for large files"
We have a problem when uploading large files to hdfs using the following code (using Cloudera 6.1):

`hdfs = ibis.hdfs_connect(host=hdfs_host, port=hdfs_port)
client = ibis.impala.connect(host=impala_host, port=impala_port, hdfs_client=hdfs, timeout=10000)
db = client.database(self.database)
db.create_table(self.table, df)`

The code works finde for small files but fails for larger files.

Any hel

[2019-01-30 15:48] kszucs opened #1698 "Cannot write parquet file on windows with pyarrow 0.12"
[code]
See build: https://dev.azure.com/ibis-project/ibis/_build/results?buildId=403

Disabled the tests in https://github.com/ibis-project/ibis/pull/1696

If this is reproducible, it should be reported to Arrow's JIRA.

[2019-01-30 15:54] kszucs opened #1699 "Strftime quoting error with postgres backend on python 3.7"
[code]
See build https://circleci.com/gh/ibis-project/ibis/6453

Didn't have the time to debug it, so I've just disabled in https://github.com/ibis-project/ibis/pull/1696

[2019-01-30 15:57] kszucs opened #1700 "Re-enable conda-forge CI build steps"
Had to disable conda build steps in #1696 until We update the recipe in the conda forge feedstock.
There were a lot of changes around conda-forge lately: compiler migration, dropped python3.5 support and ibis also dropped python2.7.

[2019-01-31 17:35] #1613 closed

[2019-02-01 18:52] ispmarin opened #1702 "Export data to disk"
Is is possible to export a table to the local disk, in whatever format? I'm reading a very large partitioned dataset from Impala and would like to manipulate this dataset in Pandas, but to make things fit into memory, I create a query in Ibis filtering the data and execute it. The problem is that this query fails because of the HiveServer2 connection reset, so I would like to export it first to th

[2019-02-01 21:05] xmnlab commented on #1697
@kszucs could you add a bug label to this issue? I will investigate this problem.

[2019-02-01 22:55] xmnlab opened #1703 "[question] Empty structure for Hive"
Hey everyone! is there a reason that Hive structure doesn't have any code there?
https://github.com/ibis-project/ibis/tree/master/ibis/hive

[2019-02-01 23:15] xmnlab commented on #1697
@schosser maybe on `hdfs = ibis.hdfs_connect(host=hdfs_host, port=hdfs_port)` you should specify a timeout parameter

see

- https://hdfscli.readthedocs.io/en/latest/api.html#hdfs.ext.kerberos.KerberosClient

if I understood correctly `hdfs_connect` uses `KerberosClient` or `InsecureClient` .. both extends from `Client` and the requests made be `Client` uses `timeout` attributed define on client i

[2019-02-04 07:12] schosser commented on #1697
@xmnlab thank you very much for your fast response.

Before describing the issue, I have tried several (larger) values for the timeout, both for hdfs_connect and impala.connect (see bellow). No matter how large the values I specify, the response I get is the same. After about 10 Seconds (the delay does not change), I get the error above.

(I used the following code, varying the timeout from 100, 1

[2019-02-04 15:57] xmnlab commented on #1697
@schosser could you try `timeout=None` to `hdfs_connect` and maybe also to `ibis.impala.connect`?

[2019-02-05 16:36] schosser commented on #1697
@xmnlab unfortunately, timeout=None does not influence the outcome. The described behaviour occurs, when you put timeout=None to hdfs_connect or to ibis.impala.connect or both.

[2019-02-05 17:04] xmnlab commented on #1697
@schosser

I am investigating where is the problem (https://github.com/mtth/hdfs/issues/113)

when I find something I will report it here.

[2019-02-07 15:14] joolius commented on #197
Any progress on this yet? I'm also querying some data from impala, and I need a way to store it back.

[2019-02-10 21:56] xmnlab opened #1706 "[DOC] Fix credentials settings URL for BigQuery"
On BigQuery section, item 1 at https://github.com/ibis-project/ibis/blob/master/docs/source/developer.rst#bigquery

1. Set up application default credentials by following the `getting started with GCP authentication guide <https://cloud.google.com/docs/authentication/getting-started>`_.

the URL is pointing to `https://cloud.google.com/docs/authentication/getting-started%3E%60_`

[2019-02-11 02:50] xmnlab commented on #1693
hey @niviksha !

I am trying to setup a linux+gpu environment to try that (on colab) but without success yet.

but if you want to try you can install from Quansight repo:

[code]

my first guess was changing from pygdf to cudf .. but actually it seems it is not necessary also .. so I have just removed that. but it seems you will need cudf in your environment to make it works.

let me know if I can

[2019-02-21 14:56] kszucs opened #1707 "Update the datamgr.py script to download the testing data from github"
https://github.com/ibis-project/testing-data

[2019-02-21 20:32] #1630 closed

[2019-02-21 21:29] #1693 closed

[2019-03-06 09:32] ryan-pip opened #1709 "Impala Test env crashing on tests"
I am trying to contribute to the impala backend but when i try to run the tests it crashed impala.  I can run the test_client.py fine but as soon as i run any of the tests from test_udf.py the impala daemon crashes.

I am using OSx Mojave 10.4.3 running Docker for Mac Engine 18.09.3

This is the error that is get out of the impalad logs:
[root@impala /]# tail -n 50 /var/log/impala/impalad.ERROR
Lo

[2019-03-06 14:26] kszucs commented on #1709
@ryan-pip I suggest to skip `udf` tests if You're not developing them until it is resolved. Run pytest with `-m "not udf"`:

`pytest ibis -m "not udf"`

[2019-03-06 17:39] ryan-pip commented on #1709
@kszucs the code for type conversion is sitting in the udf code which is what i am working with to allow me to deal with tables with complex column types. Is this tested somewhere else?

[2019-03-06 19:10] xmnlab commented on #1709
hey @ryan-pip . maybe you could open a WIP PR so we can take a look if we can figure out what could be fixed. could you send here the result of your `conda list` ?

[2019-03-06 19:14] ryan-pip commented on #1709
hey @xmnlab i thought it was my changes so i tried this on master and am getting the exact same results.

(ibis36) LA-C02WF1CBHV2Q:ibis 744697$ conda list
# packages in environment at /anaconda2/envs/ibis36:
#
# Name                    Version                   Build  Channel
apipkg                    1.5                        py_0    conda-forge
arrow-cpp                 0.9.0            py36ha5

[2019-03-06 19:43] xmnlab commented on #1709
@ryan-pip thanks for the response. are you using the impala docker from ibis?

[2019-03-06 22:20] kszucs commented on #1707
resolved by #1678

[2019-03-06 22:20] #1707 closed

[2019-03-06 22:21] kszucs commented on #1665
resolved by #1678 and #1666

[2019-03-06 22:21] #1665 closed

[2019-03-06 22:23] xmnlab commented on #1700
maybe now we can enable this again. if it is correct I can open a PR to enable that.

[2019-03-06 23:08] kszucs commented on #1700
That'd be great!

[2019-03-06 23:36] ryan-pip commented on #1709
Yes, I am setting up all the test dbs with make init but doing the testing from a local env through the VS Code integration.

An interesting point on that I had to add impala to my hosts file as webhdfs does a redirect when creating a file.  This means the second api call times out as it is to impala not localhost.  This means that test impala env fails to create impala from outside the docker net

[2019-03-07 08:38] ryan-pip commented on #1709
I have also just checked purely using the provided docker images for dbs and test.
1. ci/test.sh ibis/impala/tests/test_client.py all passed
2. ci/test.sh ibis/impala/tests/test_udf.py started passing and then failed
3. ci/test.sh ibis/impala/tests/test_client.py all failed 35 error in 10.25 seconds

Checked the logs on the impalad and they are the same.

[2019-03-07 14:27] xmnlab commented on #1709
thanks @ryan-pip for the feedback ... I will check this today.

[2019-03-07 15:39] xmnlab commented on #1703
@kszucs any thoughts?

[2019-03-07 18:02] toryhaavik opened #1711 "refactor: remove .distinct method from ColumnExpr"
Given an expression like:
`expr[expr.column.distinct().name('thing'), ibis.literal(1).name('dummy')]`
you'd expect to have a table with N rows per distinct values in `expr.column`, each with a value of `1` in the `dummy` column.

This is similar to `SELECT DISTINCT column, 1 AS 'dummy' FROM table` in SQL.

With the pandas backend, you get the same number of rows as `expr` would generate, with `nan

[2019-03-07 18:03] toryhaavik opened #1712 "`ibis.timestamp` should accept a timezone argument"
`ibis.timestamp('2017-01-01', timezone='UTC')`, similar to the signature of `dt.Timestamp`

[2019-03-07 18:09] toryhaavik opened #1713 "refactor: interval handling in pandas backend is inconsistent w.r.t units"
Default interval unit in ibis is seconds, but pandas only handles intervals in nanoseconds.

[2019-03-10 00:12] cpcloud opened #1715 "Table distinct is not implemented for the pandas backend"
[code]

[2019-03-10 16:31] kszucs opened #1717 "Properly define all validators instead of using rlz.noop in operations.py"
All occurences of `rlz.noop` like [this](https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations.py#L290) should be replaced by proper validators. Noop is just a placeholder.

[2019-03-10 19:34] ryan-pip commented on #1709
I have created a pull request with the changes #1718.  It is currently passing all the tests I can test against.

[2019-03-10 21:11] #1715 closed

[2019-03-11 09:00] kszucs opened #1720 "refactor: Clickhouse now supports standard SQL joins, update the compiler"

[2019-03-11 09:05] kszucs opened #1721 "Clickhouse now supports Parquet input/output format, should try it"

[2019-03-12 17:40] cpcloud opened #1723 "Implement CrossJoin in the pandas backend"

[2019-03-12 17:41] cpcloud opened #1724 "Implement translation of interval values to pandas offsets where appropriate"
For example `ibis.interval(quarters=2)` should translate to `2 * pd.offsets.QuarterOffset()`.

[2019-03-13 20:36] #1712 closed

[2019-03-13 20:51] cpcloud commented on #1539
Resolved by https://github.com/ibis-project/ibis/pull/1544

[2019-03-13 20:51] #1539 closed

[2019-03-13 20:55] cpcloud commented on #1634
We require a later version and therefore were able to remove calls to `halt_ordering` so this is no longer warning.

[2019-03-13 20:55] #1634 closed

[2019-03-13 21:39] cpcloud commented on #1583
Going to get this in for 1.0.0, which we are shooting to release next week.

[2019-03-14 14:23] #1706 closed

[2019-03-14 15:43] cpcloud opened #1729 "Passing the raw argument to rolling operations fails in earlier pandas versions than 0.23"

[2019-03-14 15:43] cpcloud commented on #1729
PR coming shortly

[2019-03-14 17:31] #1729 closed

[2019-03-15 22:49] xmnlab commented on #1430
hey everyone, what do you think about generic extraction? eg `t['timestamp'].extract('year')`

[2019-03-15 23:37] niviksha opened #1731 "(Enhancement) Use a sql query as an expression"
Is there a way for ibis to have an expression simply be a static, pre-existing SQL query? e.g. today, the primary workflow for ibis (in our omnisci/mapd backend) is to generate sql via the compilation path, and i get that the primary use case is as a deferred expression system, e.g. the typical flow is

[code]

however, there are several cases where we find ourselves wanting a pre-existing SQL que

[2019-03-17 13:59] #1583 closed

[2019-03-17 15:40] cpcloud commented on #1580
I'm not sure that we should actually try to make this uniform. We *should* make sure that we return a `pandas.Series` or `pandas.Timestamp` with the right timezone though.

[2019-03-17 15:41] cpcloud commented on #1580
@xmnlab What is the default timezone for `now` in MapD?

[2019-03-17 17:11] xmnlab commented on #1580
Do you know that @randyzwitch ?

[2019-03-17 17:44] randyzwitch commented on #1580
It returns UTC.

[2019-03-18 04:40] xmnlab commented on #1731
not sure if it is what `SQLClient.sql` does. I am going to investigate that.

[2019-03-18 15:44] cpcloud commented on #1560
@kszucs Was this ever addressed? Build seem generally not flaky anymore, but I don't know if this issue was explicitly addressed or just went away.

[2019-03-18 15:54] kszucs commented on #1560
@cpcloud I can't recall it.

[2019-03-18 16:52] cpcloud opened #1734 "ENH: Implement DistinctColumn for the BigQuery backend"

[2019-03-19 17:40] cpcloud opened #1739 "CI: Window Python 3.7 build is failing"
For some reason windows python 3.7 builds are failing to import numpy (through importing pandas). I'm not sure why, but we started picking up a different build of numpy that didn't include the `[blas_openblas]` feature and the build started failing. I'm going to disable that build for now until we can work out what's happening.

[2019-03-20 13:50] toryhaavik opened #1740 "NullIf seems broken"
I think the API and (at least) pandas implementation of NullIf is not working correctly.

There seem to be two ways to call the function. Using the expr API:

    import ibis.expr.api as ir
    table.mutate(col=ir.nullif(table.col.abs() == np.inf, table.col))

But I would expect to actually call this like:

    table.mutate(col=ir.nullif(table.col.abs() == np.inf))

There's also a way to call it o

[2019-03-20 17:10] #1723 closed

[2019-03-21 15:31] #1682 closed

[2019-03-21 18:07] toryhaavik opened #1743 "ENH: is_computable_arg dispatcher"
The list of computable args is fixed right now, but a specialized client may want to define their own notion of a computable arg. A dispatcher would solve this.

[2019-03-21 21:05] cpcloud commented on #1739
This was fixed in #1738 by removing the use of tasks for conda environments on Azure.

[2019-03-21 21:06] cpcloud commented on #1560
Closing for now, I'll reopen if it shows up again.

[2019-03-21 21:06] #1560 closed

[2019-03-22 12:48] randyzwitch commented on #1674
This has been fixed in pymapd master, will become part of pymapd 0.9 shortly (probably today):

Cell 5 shows @saulshanabrook original error has been fixed

[code]

[2019-03-22 12:52] randyzwitch commented on #1674
Columns returned as arrays of strings

[code]

[2019-03-22 12:54] #1740 closed

[2019-03-22 16:16] xmnlab commented on #1674
awesome @randyzwitch ! thanks for the update!

[2019-03-22 16:41] randyzwitch commented on #1674
pymapd 0.9 is on PyPI, conda to come

[2019-03-22 18:03] xmnlab commented on #1674
the conda pkg recipe was updated on conda-forge .. it could be available soon.

[2019-03-22 18:04] xmnlab commented on #1674
hey @saulshanabrook I am closing this issue. feel free to re-open that if you have any problem there.

[2019-03-22 18:04] #1674 closed

[2019-03-22 18:04] saulshanabrook commented on #1674
@xmnlab Thank you!

[2019-03-22 21:32] #1731 closed

[2019-03-23 08:43] #1680 closed

[2019-03-26 17:18] toryhaavik opened #1750 "Syntax errors in Python 3.5"
I had an old conda environment running Python 3.5, and I pulled to get the latest 1.0.0 commits. When I try to run any pytests, I get the pytest config errors that have this in the stack trace:

[code]

I think the addition of `black` has made incompatible changes for Python 3.5. This example is an extra comma at the end of an argument list that contains `**kwargs`.

If I build a new conda env wit

[2019-03-26 19:15] cpcloud commented on #1750
Yep sounds right. Seems like we'll need a bug fix release fairly soon then.

[2019-03-26 23:35] xmnlab commented on #1750
probably related to this: https://github.com/ambv/black/issues/419

[2019-03-27 19:34] cpcloud commented on #1750
We'll need to officially support 3.5 (not in conda-forge, though) for a little while. I'll add some jobs to the CI to test 3.5.

[2019-03-27 19:35] #1700 closed

[2019-03-28 20:38] toryhaavik commented on #1122
You can get the table filter by doing `t[t.B.notnull()].execute()` but `t.B.notnull().execute()` returns a Series of `bool`. You can't really express "drop any rows that have NULL in any column in SQL", can you?

[2019-03-30 08:37] cpcloud commented on #1750
This is fixed in black master: https://github.com/ambv/black/commit/cea13f498418784e22f8fbd78db3f9240a2bad11

[2019-03-30 09:48] cpcloud commented on #1122
`dropna` on a `TableExpr` is probably out of scope.

`dropna` on a column is tricky because it requires a table operation (the filter). I'm not sure how `dropna` is that useful then since you are limited to using the column expression that results from calling `dropna` (because of the filter on the table) unless you perform some sort of join.

The dropna behavior is currently possible, and it's mo

[2019-04-02 01:35] xmnlab commented on #1462
is it ok to create a new operation `RowId`  that would be exposed to all backends?

[2019-04-02 01:38] xmnlab commented on #1430
hey everyone, any thoughts about my last comment? https://github.com/ibis-project/ibis/issues/1430#issuecomment-473465033

[2019-04-02 20:25] manotasce opened #1752 "Error on Login into Hive on Kerberized Cluster"
I have a Kerberized Hadoop Cluster and I want to interact with Hive through ibis-framework. I executed this command

UserWarning: locale specific date formats (%c, %x, %X) are not yet implemented for Windows
  'for %s' % platform.system()

I got this error:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\hadoop3.6\lib\site-packages\ibis\impala\client.py", line 131, in _ge

[2019-04-02 20:38] cpcloud commented on #923
Closing for now. This isn't high priority enough to keep getting pushed to the next release.

[2019-04-02 20:38] #923 closed

[2019-04-02 20:44] xmnlab commented on #1752
hey @manotasce what is the version of thrift_sasl you are using?

it seems you will need to downgrade thrift to 0.9.3 and thrift_sasl to 0.2.1 ... you can see the discussion on https://github.com/cloudera/impyla/issues/268

but not sure if it will have side effects

[2019-04-03 14:50] #1750 closed

[2019-04-04 14:09] xmnlab opened #1753 "[MapD] Missing entry for `float32` in `_sql_type_names` at operations.py"
In `_sql_type_names` at https://github.com/ibis-project/ibis/blob/master/ibis/mapd/operations.py#L18 , it is missing a entry for `'float32': 'float'`

[2019-04-04 19:05] cpcloud opened #1756 "ENH: Properly support year, month, and quarter intervals"
It looks like we're going to need support for these units in the form of object arrays of `dateutil.relativedelta.relativedelta` objects.

For the postgres backend that will also need a custom `psycopg2` converter for postgres's interval types.

This is technically a breaking change, so I'm marking it as part of the next major release milestone.

[2019-04-04 20:57] #1661 closed

[2019-04-04 21:12] cpcloud commented on #1530
Apparently kudu only does source releases, and it's quite an involved process to build it. Building an entire project like kudu from source just for testing purposes is out of scope IMO.

This leaves an open question about what to do with the existing code that relies on `kudu-python`. I think it's probably safe to remove at this point. I'll post to the pydata mailing list about it and see if anyo

[2019-04-04 21:31] xmnlab commented on #1530
Agreed. If you think kudu is an important backend and if you know anyone how could guide me to create a conda-forge package I can spend sometime on that.

[2019-04-05 01:06] cpcloud commented on #1530
You could probably synthesize the material here: https://kudu.apache.org/docs/installation.html#build_cpp_client enough to make a conda-forge package. I'm not sure what the maintenance burden for such a package would be.

[2019-04-05 13:43] cpcloud commented on #1530
@xmnlab Moved this to future, as this shouldn't block the next bugfix release.

[2019-04-05 14:03] xmnlab commented on #1530
sounds good. thanks @cpcloud !

[2019-04-05 17:05] #1753 closed

[2019-04-07 18:56] cpcloud commented on #1711
So, I implemented a "fix" for this which involved adding a an analysis pass and spending some time thinking about the `DistinctColumn` operation.

I'm now really against keeping this operation around as leads to expressions that are very confusing to read and whose semantics are difficult to reason about, negating any convenience provided by having this method. Moreover, no backends appear to impl

[2019-04-09 01:11] xmnlab commented on #1530
PR WIP https://github.com/conda-forge/staged-recipes/pull/8103

[2019-04-09 19:40] xmnlab commented on #1752
hey @manotasce do you have any update about this?

[2019-04-09 19:44] xmnlab commented on #1567
let me know if I can help on this issue.

[2019-04-12 17:04] FedericoV opened #1757 "Partition by failure on postgres backend"
I am working with Ibis version: '1.0.0+5.g80db366'

Trying to execute the following code:

[code]

Gives this long traceback:

[code]

The generated SQL looks like this:

[code]

[2019-04-15 22:23] xmnlab commented on #1638
@lzhmhznr at this moment this operation is not supported by mapd database. I will change to this function to raise Unsupported Exception.

[2019-04-16 16:24] cpcloud opened #1762 "DOC: Document the pandas backend protocols"
Mentioned in #1743, we should document how to customize and hook into the pandas backend.

[2019-04-16 16:48] #1743 closed

[2019-04-16 17:43] cpcloud commented on #1757
@FedericoV Thanks for the report. I'm going to release 1.1.0 in the next couple of weeks which will contain a fix for this issue.

[2019-04-16 18:58] #1638 closed

[2019-04-17 02:40] xmnlab commented on #1320
@cpcloud could you provide more information?

[2019-04-17 14:25] tswast opened #1764 "BigQuery: support for the BigQuery Storage API for faster reads of large query results"
See: https://cloud.google.com/bigquery/docs/bigquery-storage-python-pandas

There is now an optional parameter on `to_dataframe` to pass in a BigQuery Storage client for faster reads of large query results. In pandas-gbq, we pass this client in when `use_bqstorage_api=True` (added in https://github.com/pydata/pandas-gbq/pull/270). I imagine in Ibis, we'd want to set this option at the initial conn

[2019-04-22 19:27] cpcloud opened #1766 "ENH: Casting to interval should call the to_interval method"

[2019-04-22 20:25] cpcloud opened #1767 "feat: add the ability to control ROWS vs RANGE in a window frame specification"

[2019-04-22 20:31] ash32 commented on #1767
For future reference (`impala/compiler.py:_format_window`):

[code]

[2019-04-22 20:33] cpcloud commented on #1767
I was thinking that we would expose this as an attribute on `ibis.window` (as opposed to passing `'rows'` and `'range'` around):

[code]

[2019-04-24 15:59] scottcode opened #1768 "ADD REFRESH capability to Postgres Client"
When using the Postgres client, if a table is added to the database/schema after I create a connection, then when trying to refer to that new table I get a `NoSuchTableError`. If I browse the database via a well-established IDE (pgAdmin or DBeaver), then I see that the table is clearly present.

There should be a way to refresh (manually or automatically) ibis's cached understanding of what schema

[2019-04-24 16:31] scottcode commented on #1768
Oops, I just realized a mistake in my code, and when I properly tried `client.table()` on a table that was created after the connection was created, it worked. Looks like the Postgres client does refresh the metadata.

[2019-04-26 04:34] Posnet opened #1769 "Dremio support"
I am interested in adding Dremio support to ibis.

However it is not clear to me which is the best way to do this.

Dremio is accessed via ODBC or JDBC so I was planning to use ODBC w/ pyodbc or turbodbc (though I did notice someone is already working on this #999)
It is SQL based but I'm not sure if it should go in the sql subdirectory or have it's own root directory like impala/bigquery/clickhou

[2019-04-30 14:37] scottcode commented on #1768
Before I thought I had a problem with newly-created tables (which turned out not a problem), but now I have an issue with a table whose schema changed since the first time I created an ibis table object. Even if I recreate the ibis table object (`ibis_connection.table('table_that_changes')`), it thinks that the schema is still the original one, and it errors out when I try to select new columns.

[2019-05-07 21:42] xmnlab opened #1770 "window operation test"
hey everyone! I have stated the implementation of window operation for MapD/OmniSci and I have a question related to tests.

is this parameter working?

[code]

locally it is raising the follow error:

[code]

[2019-05-10 14:19] scottcode opened #1772 "Bug: `outer_join` generates LEFT join instead of full outer"
When trying to create a full outer join using the `outer_join` method on a `TableExpr`, the resulting SQL is actually a `LEFT OUTER JOIN`.

[code]

The root cause of it is that the method in `ibis.sql.alchemy._AlchemyTableSet.get_result()` uses `sqlalchemy.sql.selectable.FromClause.outerjoin()` with just `result.outerjoin(table, onclause)`. However, starting in sqlalchemy version `1.1.0` (circa 20

[2019-05-10 14:38] scottcode commented on #1772
I submitted my fix. I'm new to contributing to projects like this, so if there are any formalities or technicalities that I need to tweak to make this contribution possible, please let me know. I am open to guidance. Thanks to the community for how awesome `ibis` already is, and I hope to become part of your community.

[2019-05-10 14:49] scottcode opened #1774 "DOC: conda create command listed no longer works"
The following command in `developer.rst` no longer works for two reasons. One, the YAML file no longer exists. Two, creating a conda environment from YAML needs to be done with `conda env create` instead of `conda create`.

Failing instruction:
`conda create -n ibis36 -c conda-forge --file=ci/requirements-dev.yml python=3.6`

Should now be:
`conda env create -n ibis36 -f ci/requirements-3.6-dev.ym

[2019-05-13 16:28] BaranOrnarli opened #1780 "Join overlapping column names (no immediate relabel) causes subqueries"
I've found that for whatever reason, whenever you join two tables and it has even a single overlapping column name, it will demand that you `materialize()` it, then if you materialize it, it will demand that you don't have any overlapping column names. If you use `relabel()` function or `key.name('new_name')` it will then try to do a subquery which is not how you would write the raw SQL.

The idea

[2019-05-14 19:47] cpcloud opened #1782 "NullIf should enforce that its arguments are castable to a common type"

[2019-05-14 19:48] cpcloud opened #1783 "t['a', 'b'] and t.select(['a', 'b']) behave differently in the presence of a join"

[2019-05-14 20:11] cpcloud commented on #1774
Closed by #1775

[2019-05-14 20:11] #1774 closed

[2019-05-14 20:15] cpcloud commented on #1769
We'd love to have support for Dremio!

The `sql` subdirectory is for `sqlalchemy`-based backends. If there's a SQLAlchemy API for Dremio then you could use that and look at the other backends under `sql` for examples of what to do.

If you're implementing a string-based backend then yes, looking at impala/bigquery/clickhouse/mapd would be the way to go. You probably don't want to do a full copy pa

[2019-05-14 20:16] cpcloud commented on #1769
Creation of tables is definitely something that should be in ibis, and if there are clean mappings from Dremio concepts to SQL concepts then those can live in ibis as well.

[2019-05-14 20:20] cpcloud commented on #1768
Interesting. We're actually attempting to make this possible when you mutate tables from ibis itself, e.g., `create_table`, using [this code](https://github.com/ibis-project/ibis/blob/8dd12de317bb9deabbb7edd1d77e8c79c4d932a4/ibis/sql/alchemy.py#L892).

[2019-05-14 20:21] cpcloud commented on #1768
It sounds like there should still be an additional method--`refresh()`--that reloads metadata at the request of the user.

@scottcode Any interest in adding this feature?

[2019-05-14 20:43] cpcloud opened #1785 "Allow strings for types in pandas UDFs"

[2019-05-15 12:24] #1782 closed

[2019-05-15 17:35] ian-r-rose opened #1786 "Possible PostGIS support"
Has there been much discussion around supporting PostGIS databases with ibis? @xmnlab did some great work adding geotypes in #1678 and #1666, and it would be nice to use those in other contexts.

I am not super familiar with ibis internals, but it looks like the PostgreSQL backend generates SQLAlchemy expressions. PostGIS support in SQLAlchemy is usually handled by [GeoAlchemy2](https://geoalchemy

[2019-05-15 18:53] xmnlab commented on #1786
that sounds awesome!

I mapd backend, the lines that is related to geo spatial functions support are:

- https://github.com/ibis-project/ibis/blob/4a4cc8f056aa2208a11d06852aa12f7aef562d30/ibis/mapd/operations.py#L367
- https://github.com/ibis-project/ibis/blob/4a4cc8f056aa2208a11d06852aa12f7aef562d30/ibis/mapd/operations.py#L389-L401
- https://github.com/ibis-project/ibis/blob/4a4cc8f056aa2208a11d

[2019-05-16 00:21] cpcloud commented on #1786
I'm also interested in helping out here. Happy to guide. I would suggest by starting with a test for some postgis specific functionality in `ibis/sql/postgres/tests/test_functions.py`, and taking a look at the translation of one of the simpler operations in the postgres backend.

Fire away with any questions!

[2019-05-16 00:33] cpcloud commented on #1770
This was closed by #1778 and #1779

[2019-05-16 00:33] #1770 closed

[2019-05-16 02:11] xmnlab commented on #1770
thanks @cpcloud !

[2019-05-16 15:35] ian-r-rose commented on #1786
Cool, thanks for the tips @xmnlab and @cpcloud. I may do some experimentation open up a WIP version in a couple of days.

One general question: with these geospatial databases, a more natural container to return upon execution would be a GeoDataFrame, so the user could continue to do geospatial operations in memory. Is there currently any way to customize the container type that is returned upon c

[2019-05-16 16:13] xmnlab commented on #1786
good question. `MapD` returns pandas DataFrame or cuDF dataframe (when it works with GPU, I never properly test that because the server and the client should be the same machine and I didn't have GPU to test in that time)

I think GeoDataFrame would be a good additional (optional) here, maybe we could add an option to `execute` method, maybe `geospatial: bool = False` and the cursor class could re

[2019-05-16 23:19] cpcloud commented on #1786
I think we could make the case that a backend can return whatever container type it wants. The backend author can decide what type of container that is. Whether this is currently easily doable I'm not sure. We probably have a fair amount of code in some parts of execution that expects DataFrames.

[2019-05-16 23:20] cpcloud commented on #1786
Accidentally closed!

[2019-05-16 23:33] ian-r-rose commented on #1786
Fortunately, GeoDataFrames are a subclass of DataFrames and are mostly API compatible, so I don't think it should be *too* difficult to support. This PR already kind-of-works for that.

[2019-05-19 19:03] scottcode commented on #1772
Fixed by PR #1788

[2019-05-19 19:03] #1772 closed

[2019-05-19 19:07] scottcode commented on #1768
@cpcloud I think a `refresh()` method would be good. I'll take a crack at it.

[2019-05-20 13:08] #1785 closed

[2019-05-23 16:30] cpcloud opened #1793 "Add pep8speaks integration"

[2019-05-24 13:47] #1793 closed

[2019-05-25 20:37] saulshanabrook commented on #386
Just noting that this would be useful in order to represent something similar to Vega's [`datetime`](https://vega.github.io/vega/docs/expressions/#datetime) function, which we need when compiling vega expression to ibis.

[2019-05-27 15:30] ayushi04 opened #1799 "BUG: Chained mutate operations give wrong results"
Mutate function is giving wrong output. Please check below sample example.

[code]
For the above program output is :
`SELECT isnull(`a`, 'Short Term') AS `a`, `b`
FROM t0`

instead of
`SELECT isnull(`a`, 'Short Term') AS `a`, isnull(`b`, 'Short Term') AS `b`
FROM t0`

Let me know if anything is wrong in my understanding.

[2019-05-28 14:08] xmnlab commented on #1616
@cpcloud @kszucs I can also help with that. I just created a `good first issue` label.

[2019-05-28 14:31] xmnlab commented on #1358
https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations.py#L1623

@kszucs  is `table1` and `table2` a fixed text?

[2019-05-28 14:38] xmnlab commented on #1275
some information: - https://github.com/ibis-project/ibis/blob/master/ibis/expr/api.py#L2957

some doc files that have information about join ops:

- ./docs/source/api.rst
- ./docs/source/sql.rst

[2019-05-28 14:44] xmnlab commented on #1145
is there any update related to `Governance structure for Ibis`?

[2019-05-28 14:45] xmnlab commented on #984
any update related to this ? or should we close that?

[2019-05-28 16:22] cpcloud commented on #984
Let's close it for now

[2019-05-28 16:22] #984 closed

[2019-05-29 15:26] cpcloud opened #1801 "Fix log example in design doc to use Arg et al"

[2019-05-29 15:27] cpcloud opened #1802 "Make sure output shows up in Expr class section of design.rst"

[2019-05-29 16:06] cpcloud opened #1803 "Dedup contributing section of the docs"

[2019-05-29 20:02] jp-harvey opened #1804 "Ability to pass an existing pymapd connection"
Currently it's necessary to build a connection object manually when connecting with Ibis. In situations where the user already has an existing pymapd connection it would be useful to be able to reuse the connection object instead of connecting again. Originally mentioned in https://github.com/ibis-project/ibis/pull/1796

[2019-05-29 20:52] xmnlab commented on #1804
from @cpcloud comment:

@cpcloud what do you think about something more generic? maybe something like `ibis.mapd.reuse_connection` ?

[2019-05-29 21:33] jp-harvey commented on #1804
@xmnlab yep that would work, or `set_connection` would be another option, since we're setting the `con` property of the object. I like the idea of something more generic since `pymapd` will become `omniscipy` at some point in the not too distant future.

[2019-05-30 19:59] #1783 closed

[2019-05-31 15:29] #1766 closed

[2019-06-05 21:19] cpcloud opened #1808 "Newer pytest warns about unknown marks (4.5.0)"

[2019-06-06 16:36] cpcloud opened #1810 "Sphinx v2.1.0 breaks doc build"
Pinning to 2.0.1 should fix the issue.

[2019-06-06 18:05] #1810 closed

[2019-06-06 18:54] ZebulonPi opened #1813 "AttributeError: 'TSSLSocket' object has no attribute 'isOpen'"
Trying to get Ibis set up (after having issues with impyla/sasl/thrift-sasl/Python 3.7... please kill me now), and I'm running into this error:

Traceback (most recent call last):
  File "/Users/jasongreenwood/anaconda3/envs/ibis_test/lib/python3.6/site-packages/ibis/impala/client.py", line 131, in _get_cursor
    cursor = self.connection_pool.popleft()
IndexError: pop from an empty deque

During

[2019-06-06 19:01] cpcloud commented on #1813
@ZebulonPi Can you try with an older version of `thrift_sasl`? Looks like 0.2.1 might be viable given this issue: https://github.com/cloudera/impyla/issues/268

[2019-06-06 19:08] ZebulonPi commented on #1813
I'll give it a shot and let you know, though thrift-sasl-0.2.1 uses thriftpy, and thriftpy does not support Python 3.7, so we'll be locked into 3.6 until this gets resolved. As its a venv it should be fine (if it works), I'll try ASAP and let you know. Thanks for the quick reply!

[2019-06-06 19:14] ZebulonPi commented on #1813
Darn it...

Traceback (most recent call last):
  File "/Users/jasongreenwood/anaconda3/envs/ibis_test/lib/python3.6/site-packages/ibis/impala/client.py", line 131, in _get_cursor
    cursor = self.connection_pool.popleft()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "ibis_test.py", line 19, in <

[2019-06-06 19:17] ZebulonPi commented on #1813
A quick pip freeze gives me this, if it helps:

bitarray==0.9.3
certifi==2019.3.9
chardet==3.0.4
docopt==0.6.2
hdfs==2.5.2
ibis-framework==1.0.0
idna==2.8
impyla==0.15.0
multipledispatch==0.6.0
numpy==1.16.4
pandas==0.24.2
ply==3.11
pure-sasl==0.6.1
python-dateutil==2.8.0
pytz==2019.1
regex==2019.6.5
requests==2.22.0
six==1.12.0
SQLAlchemy==1.3.4
thrift==0.11.0
thrift-sasl==0.2.1
thriftpy==0.3.9
t

[2019-06-06 20:58] cpcloud opened #1814 "PKG: Add pre-commit, black and isort to setup.py"

[2019-06-06 22:04] #1801 closed

[2019-06-06 22:04] #1802 closed

[2019-06-06 22:04] #1803 closed

[2019-06-07 14:49] cpcloud opened #1815 "BUG: Impala regex functions translate to zero-based indexing for capture groups"

[2019-06-07 15:01] cpcloud commented on #1815
This is working correctly.

[2019-06-07 15:01] #1815 closed

[2019-06-07 16:02] #1799 closed

[2019-06-07 17:55] cpcloud commented on #1757
@FedericoV What version of postgres are you using?

[2019-06-07 18:39] FedericoV commented on #1757
I'm using the postgres backend to work with Redshift, which usually works
very well.

On Fri, Jun 7, 2019, 10:55 AM Phillip Cloud <notifications@github.com>
wrote:

[2019-06-07 18:43] cpcloud commented on #1757
Interesting, using postgres proper (not redshift) doesn't raise an error when specifying a frame. We should be able to remove them with no effect except to allow redshift to work.

[2019-06-07 22:42] xmnlab commented on #1780
@BaranOrnarli interesting point. maybe it could use the same idea of rsuffix or lsuffix used by pandas: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html

I am not pretty familiar with Join operation .. but maybe you can start to check this out: https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations.py#L1594

[2019-06-08 17:24] cpcloud commented on #1813
@ZebulonPi It looks like the `isOpen` issue has been fixed in master, but there hasn't been a release of `thrift_sasl` since that fix was merged. Can you try installing from `thrift_sasl` master using `pip install https://github.com/cloudera/thrift_sasl/archive/master.zip` and see if that resolves the issue? If so, we'll close this issue and we can request that the maintainers of `thrift_sasl` cut

[2019-06-08 18:34] #1814 closed

[2019-06-09 14:22] #1757 closed

[2019-06-09 19:50] cpcloud opened #1821 "Fix typo in UDF signature specification"
Closed by f6220bb29ea05035ebeb44437c7db36ce0ba8562

[2019-06-09 19:50] cpcloud commented on #1821
Closed by f6220bb29ea05035ebeb44437c7db36ce0ba8562

[2019-06-09 19:50] #1821 closed

[2019-06-09 19:51] cpcloud commented on #1821
One-off issue that I fixed using the GitHub UI rather than going through the pull request mechanism. This issue is here for referenced in the release notes.

[2019-06-10 00:42] #1699 closed

[2019-06-10 00:42] #1808 closed

[2019-06-10 13:22] ZebulonPi commented on #1813
@cpcloud I'll give that a shot, and report back! Thanks!

[2019-06-10 14:23] ZebulonPi commented on #1813
Making the connection to the lake now (yay!), but running into a different error further downstream.

  File "/Users/jasongreenwood/anaconda3/envs/ibis_test/lib/python3.6/site-packages/impala/hiveserver2.py", line 876, in __init__
    is_null.frombytes(nulls)
TypeError: byte string expected

Interestingly, I ALSO get that error when running impyla in that same venv. This seems to say that they fix

[2019-06-10 15:51] amroid opened #1823 "BUG: Expression formatting not working for nested lists"
[code]
gives `TypeError: unhashable type: 'list'`

[2019-06-10 19:13] amroid opened #1824 "test: test_join is marked skip"
The only test in `ibis/tests/all/test_join.py`, `test_join_project_left_table`, is marked skip unconditionally

[2019-06-12 14:30] cpcloud commented on #1606
The plan here is to inspect commit messages (generated from issue titles) and looks for one of three prefixes: `FEAT:`, `BUG:`, `SUPP:` (feature, bug, or support) corresponding to the tags for sphinx-releases and generate releases notes from that information.

[2019-06-12 14:35] xmnlab commented on #1606
sounds pretty good. let me know if I can help in any way :)

[2019-06-12 22:19] cpcloud opened #1827 "Make locale warning less annoying on windows"
See here: https://gist.github.com/ian-r-rose/255295a5a98ca59259b55aee9a7cfdae

I wonder if we should only raise an error on usage instead.

[2019-06-14 15:08] amroid opened #1828 "test_integer_to_interval_date_failure should be moved"
`test_integer_to_interval_date_failure` in `ibis/tests/all/test_temporal.py` seems like more a test of Ibis types than of backends

[2019-06-14 16:39] amroid opened #1829 "Time interval with integer seconds seems to have decimal values of seconds"
In `ibis/tests/all/test_temporal.py`, `test_temporal_binop` with parameter `timestamp_subtract_timestamp` and Pandas backend gives `expr` that is `TimestampDiff[interval<int32>(unit='s')*]` yet when executed has entries like `-2893 days +10:47:55.650000`.

Run test:
`pytest ibis/tests/all/test_temporal.py::test_temporal_binop -k 'timestamp-subtract-timestamp' -m pandas`

[2019-06-17 19:08] cpcloud opened #1831 "FEAT: Geospatial functions for BigQuery"
BigQuery supports [geospatial features](https://cloud.google.com/bigquery/docs/gis-intro). We should look into adding support for this to ibis.

cc @tswast

[2019-06-17 19:16] cpcloud opened #1832 "FEAT: Allow pd.Timedelta in rows_with_max_lookback"
Follow up from https://github.com/ibis-project/ibis/pull/1825.

[2019-06-17 19:17] cpcloud opened #1833 "SUPP: Raise exception on backends where rows_with_max_lookback can't be implemented"
Follow up from https://github.com/ibis-project/ibis/pull/1825

[2019-06-17 19:30] cpcloud opened #1834 "feat: reconsider ibis's window API"
I'd like to propose a new and more compact API for window frame specification that is heavily inspired by the SQLAlchemy way of spelling these:

[code]

The convenience functions `trailing_window` and `cumulative_window` would be turned into methods on scalar expressions called `trailing` and `cumulative` and those methods would take the corresponding arguments that their current counterparts take

[2019-06-17 19:45] xmnlab opened #1835 "TST: Add tests for new geospatial operators added for postgis"
Add smoke tests for new geospatial operations included by #1787

the tests should be added into ibis/expr/tests/test_geospatial.py

maybe would be good to parametrize the tests.

[2019-06-18 14:38] cpcloud commented on #727
We've been using `pytest-xdist` for some time now.

[2019-06-18 14:38] #727 closed

[2019-06-18 14:39] cpcloud opened #1839 "SUPP: Tighter version spec for pytest"
See comment here: https://github.com/ibis-project/ibis/commit/ec138f056fad95728a305c971d4f708fe4c858f7#commitcomment-33980739

[2019-06-18 20:51] cpcloud opened #1841 "SUPP: Verify requirements for rows_with_max_lookback"
When `rows_with_max_lookback` is used in a window, we should verify that the window contains exactly one `order_by` column and that the `.type()` of that column is `timestamp`.

[2019-06-18 22:19] emilyreff7 opened #1842 "BUG: Add max_lookback to window replace and combine functions"
Rows with max lookback adds a new attribute to Window, but was not accounted for in window functions that return a new Window by either combining two windows' attributes or replacing some existing attributes.

[2019-06-19 11:08] #1839 closed

[2019-06-19 18:54] cpcloud commented on #1813
Closing per comment above.

[2019-06-19 18:54] #1813 closed

[2019-06-19 18:55] cpcloud commented on #1734
Closing this until we decide what to do with `DistinctColumn`.

[2019-06-19 18:55] #1734 closed

[2019-06-19 18:55] cpcloud commented on #1703
I have a branch I'm working on to remove all of these empty dirs we have lying around.

[2019-06-19 19:14] xmnlab commented on #1703
Great! Thanks @cpcloud for the feedback!

[2019-06-19 20:27] #1842 closed

[2019-06-20 14:44] #1833 closed

[2019-06-20 15:09] cpcloud opened #1846 "SUPP: Skip SQLAlchemy backend tests in connect method in backends.py"
See https://github.com/ibis-project/ibis/pull/1836#discussion_r295853256

[2019-06-20 19:41] cpcloud opened #1849 "BUG: Empty schema fails on repr"
[code]

[2019-06-20 21:28] #1849 closed

[2019-06-20 21:42] #1841 closed

[2019-06-21 14:29] cpcloud opened #1852 "SUPP: Move all CI to Azure pipelines"
The main win here is reduced CI times.

[Build insights from CircleCI](https://circleci.com/build-insights/gh/ibis-project) shows a median queue time of 30 minutes for builds of `ibis-project/master`. I believe we can reduce that to close to zero (once we drop support for Python 3.5) due to the fact that Azure pipelines gives public projects 10 free concurrent build workers.

I've already got [a b

[2019-06-21 22:11] scottcode commented on #1639
I independently started work on this type of functionality. I didn't follow that API pattern, but I like the decorator style you showed, @cpcloud. If you or anyone else gets a chance, please take a look at my feature branch below and let me know what you think.

https://github.com/scottcode/ibis/tree/pg_udf

One thing that is lacking in the CI suite to make Postgres UDF testing feasible is that th

[2019-06-21 22:14] scottcode opened #1853 "ENH: Change Postgres image to support PL/Python UDFs"
One thing that is lacking in the CI suite to make Postgres UDF testing feasible is that the current Postgres image being used doesn't have PL/Python installed. It's using an image that is a much slimmed-down version of Postgres.

The easiest fix I think is to use the standard full version of Postgres. I'm working on creating a new Dockerfile that achieves that, but I haven't got it working yet and

[2019-06-21 22:15] scottcode commented on #1639
I broke out the Docker image for Postgres supporting PL/Python as a separate issue: #1853

[2019-06-21 22:26] xmnlab commented on #1853
Great! Also it would be good to  keep the support to GIS

[2019-06-22 02:53] scottcode commented on #1853
@xmnlab I’ll work on keeping postgis in the image.

[2019-06-22 13:19] #1823 closed

[2019-06-24 02:32] #1846 closed

[2019-06-24 10:32] cpcloud commented on #1832
Closed by #1838.

[2019-06-24 10:32] #1832 closed

[2019-06-25 17:41] #1852 closed

[2019-06-27 16:21] cpcloud commented on #1157
@amroid Is now working on this.

[2019-06-27 16:22] cpcloud commented on #1157
Closing this out, going to make a bunch of issues and tie them to the Spark project.

[2019-06-27 16:22] #1157 closed

[2019-06-27 16:22] cpcloud opened #1861 "FEAT: Spark Client"

[2019-06-27 16:25] cpcloud opened #1862 "SUPP: Add backend tests for Spark operations"

[2019-06-27 16:26] cpcloud opened #1863 "SUPP: Add any necessary Spark specific tests"

[2019-06-27 16:27] cpcloud opened #1864 "DOC: Add 1 or more Spark notebooks"

[2019-06-27 16:28] cpcloud opened #1865 "DOC: Document the Spark backend"
This includes making users aware of any specific deficiencies or sweet additional features supported by Spark when using ibis.

[2019-07-02 20:24] scottcode opened #1870 "FEAT: Support Postgres UDFs"
As a user of PostgreSQL, I would like (in ibis):
* to be able to use user-defined functions (UDFs)
* to be able to use UDFs that are already defined in the database (I just want to refer to them and use them)
* to wrap a python function, automatically define it as a PL/Python function in the database, and be able to use it with ibis objects
* to be able to test Postgres UDF functionality in the ib

[2019-07-02 20:29] scottcode commented on #1870
I just created a PR (#1871) that provides all the above features. Feedback would be much appreciated.

[2019-07-02 20:41] scottcode commented on #1853
I created a revised Docker image that supports PL/Python as well as PostGIS (see PR #1871).

The image I use is [shajekpivotal/postgres-9.5-postgis-2.5](https://cloud.docker.com/u/shajekpivotal/repository/docker/shajekpivotal/postgres-9.5-postgis-2.5), which is based on the [mdillon/postgis](https://hub.docker.com/r/mdillon/postgis/dockerfile) that we used to rely on, but substituting slightly mod

[2019-07-03 15:12] cpcloud opened #1873 "ENH: Allow struct of primitives as map key in datatypes"
[code]

[2019-07-08 15:33] amroid opened #1874 "UDF examples in docs have incorrect import statement"
They say
`from ibis.pandas import udf`
but I think it should be
`from ibis.pandas.udf import udf`

Similarly `from ibis.bigquery import udf` should be `from ibis.bigquery.udf import udf`

https://docs.ibis-project.org/udf.html

[2019-07-08 15:39] amroid opened #1875 "Pandas UDFs can be called with extra arguments and doesn't error"
`add_one` takes 1 argument, but 2 args can be passed in and it ignores the second arg

[code]
output of `x`:
[code]

[2019-07-10 19:53] amroid opened #1877 "Spark truncation to week truncates to different days than Pandas"
See `ibis/tests/all/test_temporal.py::test_timestamp_truncate`

[2019-07-10 19:57] amroid opened #1878 "Spark takes Java SimpleDateFormat instead of strftime for date/timestamp formatting"
Relevant code is function `spark_rewrites_day_of_week_name` in `ibis/spark/compiler.py`

[2019-07-10 20:01] amroid opened #1879 "Spark can't read 0/1 as boolean value"
Relevant code: in `Spark` class in `ibis/tests/backends.py`, a workaround `df_functional_alltypes["bool_col"].cast("boolean")` is used to correctly load the `functional_alltypes` table.

[2019-07-11 14:13] amroid opened #1880 "Investigate cast from date/timestamp to integer for different backends"
`ibis.literal('2017-01-01').cast('timestamp').cast('int64'))`

[2019-07-12 00:49] xmnlab opened #1881 "Add Ibis as an numfocus affiliated project"
NumFOCUS Affiliated Projects are:
- focused on open source data science,
- make meaningful use of NumFOCUS-sponsored tools,
- have an active community of contributors (must have more than one active contributor), and
- have a Code of Conduct, either adopted from our own or similar in spirit.
- If your project meets the above criteria and you would like to become a NumFOCUS Affiliated Project, plea

[2019-07-12 00:49] xmnlab commented on #1881
What do you think @cpcloud?

[2019-07-18 15:05] costrouc commented on #806
What would be necissary to add sql server support? It looks like sqlalchemy already supports sql server via pyodbc.

[2019-07-18 15:51] cpcloud commented on #806
You'd have to do something similar to what's being done in the postgresql backend. Most of the work lies in a few key areas:

#. Writing the initial client
#. Implementing the translation rules where they don't already exist or the defaults don't work for MSSQL's dialect
#. Setting up a reproducible test harness
#. Getting the CI to pass

Happy to help you get started. I would suggest looking at `

[2019-07-18 18:31] amroid opened #1886 "Spark SQL add_months has nonstandard behavior for end-of-month days"
Special behavior for last day of month: If start_date is the last day of the month or if the resulting month has fewer days than the day component of start_date, then the result is the last day of the resulting month.
-  Other backends do this only if the resulting month has fewer days than the day component of start_date (i.e. March 31 + 1 month = April 30).
- They don't do this if the resulting

[2019-07-18 18:42] cpcloud commented on #1886
Thanks @amroid. This does appear to stray from many other systems including postgres and bigquery.

[2019-07-18 19:51] mpeaton opened #1887 "Ibis for SQL Programmers doc update"
I'm new to Ibis, but it appears that the following patch to the docs may be in order?

--- a/docs/source/sql.rst
+++ b/docs/source/sql.rst
@@ -68,7 +68,7 @@ This generates the expected SQL:

.. ipython:: python

print(ibis.impala.compile(proj))
print(ibis.impala.compiler.to_sql(proj))

[2019-07-18 20:04] mpeaton commented on #1887
I'm new to Ibis, but it appears that the following patch to the docs may be in order?

--- a/docs/source/sql.rst
+++ b/docs/source/sql.rst
@@ -68,7 +68,7 @@ This generates the expected SQL:

 .. ipython:: python

-   print(ibis.impala.compile(proj))
+   print(ibis.impala.compiler.to_sql(proj))

[2019-07-18 21:08] #1862 closed

[2019-07-18 21:09] #1270 closed

[2019-07-18 21:09] #1861 closed

[2019-07-18 21:09] cpcloud commented on #1861
Closed by #1807

[2019-07-18 21:10] cpcloud commented on #1862
Closed by #1830

[2019-07-18 21:11] cpcloud commented on #1270
Closed by #1807

[2019-07-18 21:12] cpcloud opened #1889 "FEAT: Add UDF support to spark"

[2019-07-19 23:19] scottcode opened #1890 "Create SQLAlchemy-native construct for compiling UDF signatures"
This is a follow-on issue related to #1871.

We should ultimately make a SQLAlchemy construct to represent Postgres UDF signatures and go through its compiler rather than stringifying SQLAlchemy types and formatting them (see implementation of `ibis.sql.postgres.udf.api.func_to_udf`).

Eventually that might actually be a nice upstream contribution as well.

(Suggestion made by @cpcloud)

[2019-07-23 14:15] amroid opened #1892 "feat: spark doesn't support pandas_udf GROUPED_AGG in spark.sql()"
See SPARK-28422. Upstream bug in Spark.

If I define a GROUPED_AGG function like:
[code]
Then with a table `t`:
[code]
We can use our aggregation `mean_udf_0` on the result of a `group by`:
[code]
But we CAN'T use `mean_udf_0` on a whole column to get a scalar:
[code]
However, this behavior is possible with the pyspark api, it works. Making `t` a pyspark `DataFrame[id: string, val: bigint]`, we ca

[2019-07-24 00:33] xmnlab commented on #1881
@cpcloud any feedback here? If it is OK for you I can try to apply. for instance, you can find the link to apply here: https://numfocus.org/sponsored-projects/affiliated-projects

[2019-07-25 18:51] scottcode opened #1897 "Lint failing in Windows Azure pipelines"
All the Azure pipelines for Windows Python 3.6 and 3.7 have been failing recently at the `Lint` step, regardless of whose pull request it is. The error/log doesn't give any indication of what happened, and when I run the linter locally it passes.

Since it is only two of the Windows environments and not the Windows Python 3.5 one, I wonder if it has something to do with the environment configurati

[2019-07-25 18:56] cpcloud commented on #1897
All of the pipelines are using the same vm image. See https://github.com/ibis-project/ibis/blob/master/azure-pipelines.yml#L11, which is used here: https://github.com/ibis-project/ibis/blob/master/ci/azure/windows.yml#L9.

I don't think it's the VM image, since they are all the same. The python 3.5 environment is created using a different version of conda from 3.6/3.7 so something there might expl

[2019-07-25 19:10] cpcloud opened #1898 "FEAT: Add ability to load data into Spark client"

[2019-07-25 19:10] cpcloud commented on #1898
@amroid

[2019-07-25 19:27] scottcode commented on #1897
@cpcloud I see that you removed linting from Windows in #1896. That's reasonable, because it still gets done in the Linux environments. I don't think there's a concern about linting behaving differently between OSs. I'll close this, but feel free to re-open it if you feel like linting should be re-added later and want to keep a reminder.

[2019-07-25 19:27] #1897 closed

[2019-07-25 19:41] cpcloud commented on #1897
Thanks!

[2019-07-27 16:46] niviksha opened #1900 "Bug - OmniSci/Mapd: CAST from boolean causes summary() op to fail"
On the MapD backend, we can't do this today:
[code]

as we get
[code]

or
[code]

[code]

Mapd(Calcite) doesn't support casts on booleans, but this could be fixed via a CASE, like `case when boolean then 1 else 0 end`

For reference, similar to postgres compiler - `https://github.com/ibis-project/ibis/blob/fbed2caf1b93e248bb2209588fd99444605a10e6/ibis/sql/postgres/compiler.py#L389`

[2019-07-28 18:16] costrouc commented on #806
@cpcloud thank you for the help. It looks like our client has significant interest in this feature so I will be working to add sql server support. For now I will be testing with a local docker sql server provided by microsoft. Looks like this will be easy enough to integrate with your existing docker-compose.yml with azure pipelines.

[2019-07-29 18:30] scottcode commented on #1853
To make the image more maintainable I created a single repo that derives from a single upstream official image. It is ready to migrate to an `ibis-project` owned code repo and DockerHub image. I just need someone to give me access to those accounts or migrate it themselves.

The current image is [shajekpivotal/ibis-docker-postgres-9.5](https://hub.docker.com/r/shajekpivotal/ibis-docker-postgres-9.

[2019-07-29 18:37] cpcloud commented on #1853
Sweet, appreciate all your efforts here. I will do the migration after your PR is merged.

[2019-07-31 14:49] amroid opened #1904 "One SparkContext can have multiple SparkSessions"
See `SparkSession.newSession()` in https://spark.apache.org/docs/preview/api/python/pyspark.sql.html#pyspark.sql.SparkSession

[2019-07-31 15:16] amroid opened #1905 "Spark cannot write tables in parquet format if a column name contains a space"
The `functional_alltypes` table has a column named `Unnamed: 0`. The default format for `create_table` is parquet.

Try: `client.create_table(tbl_name, con.table('functional_alltypes'))`
Result: `pyspark.sql.utils.AnalysisException: 'Attribute name "Unnamed: 0" contains invalid character(s) among " ,;{}()\\n\\t=". Please use alias to rename it.;'`

[2019-07-31 18:42] rkdixit76 opened #1906 "Can i use Ibis with Arrow table"
Assuming Arrow tables are columnar and faster for analytical processing, was wondering if we can use Ibis to run on an Arrow table.

[2019-07-31 19:13] cpcloud commented on #1906
Arrow is in the process of growing the set of operations that can be performed on its arrays, so in theory it might be possible but I'd like to wait until more operations are available before implementing such a backend.

[2019-07-31 21:13] #1905 closed

[2019-08-01 16:54] rkdixit76 commented on #1906
Cool. Thanks for responding. Will be interesting to see how Arrow develops.

[2019-08-01 16:54] #1906 closed

[2019-08-02 18:24] #1889 closed

[2019-08-02 18:26] #1900 closed

[2019-08-02 19:20] amroid opened #1907 "Spark rename DDL doesn't support moving tables across databases"
https://docs.databricks.com/spark/latest/spark-sql/language-manual/alter-table-or-view.html#rename-table-or-view

[2019-08-02 19:20] amroid commented on #1907
https://docs.databricks.com/spark/latest/spark-sql/language-manual/alter-table-or-view.html#id2

[2019-08-05 18:48] toryhaavik opened #1909 "Union is broken in pandas backend"
[code]

raises an exception
`NotImplementedError: Could not find signature for execute_node: <Union, DataFrame, DataFrame, bool>`
because the `distinct` `Arg` of `Union` isn't part of the execute_node signature.

[2019-08-05 20:27] xmnlab opened #1911 "SUPP: Deprecate Python 3.5 support"
@cpcloud
is there any reason to keep python 3.5 support?

as in ibis there are some version check and support things in different way when python is < py36 I think it would be good to deprecate Python 3.5 support.

what do you think about it?

[2019-08-07 19:28] #1909 closed

[2019-08-11 00:22] xmnlab opened #1914 "DOC: Add notes install ibis-framework[mapd] inside google colab"
Currently inside google colab, after `pip install ibis-framework[mapd], this error shows up when the user tries to import ibis:

[code]

@scottcode reported that if the user restart the kernel it should work.

[code]

maybe pinning `pyarrow>=0.12.0,<0.14` at https://github.com/ibis-project/ibis/blob/master/setup.py#L41 would fix the problem?

[2019-08-11 00:26] xmnlab commented on #1914
In the installation it shows up the following message:

[code]

is this enough for a end-user? or should we try to fix this conflict?

[2019-08-11 18:25] scottcode commented on #1914
I think the restart is only relevant when trying to install ibis within a Google Colab notebook itself and then use the same environment without restarting. It looks like other libraries have this same problem: [https://github.com/ray-project/ray/issues/5033](https://github.com/ray-project/ray/issues/5033). Colab apparently automatically preloads certain packages (including `pyarrow`). Might be be

[2019-08-12 00:04] xmnlab commented on #1914
the note in ibis documentation sounds a good option.

[2019-08-12 01:23] xmnlab opened #1915 "BUG: OmniSciDB/MapD aggregate with where param doesn't work"
Similar error reported https://github.com/ibis-project/ibis/issues/1620

Solution:

Add `ops.NullLiteral: lambda *args: 'CAST(NULL AS FLOAT)'`

[2019-08-12 08:10] niviksha opened #1916 "FEAT: Need to add Ibis support for various timestamp component operations in OmniSci"
The Ibis OmniSci backend (and other backends, it appears) dont support a variety of EXTRACT operations on `**TimeStamp**` Expressions.

Specifically, Ibis lists
[code]
as supported operators, which translate typically into `EXTRACT` operations in OmniSci's SQL implementation. However, OmniSci supports a wide variety of these operations - see https://docs.omnisci.com/latest/5_math.html#date-time-fu

[2019-08-12 14:30] xmnlab commented on #1916
related to https://github.com/ibis-project/ibis/issues/1430

[2019-08-12 16:01] xmnlab opened #1918 "BUG: TopK used as filter is not working on OmniSciDB backend"
TopK is not working on OmniSciDB/MapD backend. eg.:

[code]

[2019-08-12 19:55] xmnlab opened #1919 "Add `execution_type` inside omniscidb.execute"
request from @niviksha

[2019-08-13 06:52] mikehinchey opened #1920 "OmniSciDB: Could not find signature for convert: <CategoricalDtype, String, Series>"
Selecting a string column with GPU results gives an error.

Connect with `execution_type=2` for GPU/cudf results.

[code]

[code]

[code]

[code]

[code]

[code]

For contrast, this succeeds using the pymapd connection:

[code]

[2019-08-13 07:04] mikehinchey opened #1921 "OmniSciDB explain: OmniSciIbisClient object has no attribute _get_list"
Ibis version 1.2.0.

[code]

[code]

[2019-08-13 15:22] emilyreff7 opened #1922 "ENH: Support Arrow timezone-aware timestamps"
Ibis does not currently recognize timezone-aware Arrow timestamps

[2019-08-13 15:50] xmnlab commented on #1920
@mikehinchey does the error occur just after `x.execute()`?

[2019-08-13 17:05] mikehinchey commented on #1920
@xmnlab yes, after `execute()` when it's converting the results.

[2019-08-13 20:25] #1922 closed

[2019-08-14 14:28] xmnlab opened #1924 "FEAT: Add new geospatial operations into OmniSciDB/MapD backend"
The follow operations is already available in OmniSciDB and should be added into ibis.omniscidb backend.

- [x] ST_INTERSECTS
- [x] ST_DWITHIN
- [x] ST_DISJOINT
- [ ] ST_DFULLYWITHIN
- [ ] ST_POINT
- [ ] ST_WITHIN

[2019-08-14 19:06] #1915 closed

[2019-08-15 14:56] #1875 closed

[2019-08-15 15:05] amroid commented on #1886
Also occurs with the interval-arithmetic way of adding dates/times:
`select to_timestamp('2010-04-30') + interval 1 month` returns `2010-05-31 00:00:00`

[2019-08-19 20:46] chinthanishanth opened #1927 "How to divide IntervalValue expression with number for impala backend?"
consider the following scenario:

`drug_beneficiary = conn.table('analysis_table')`

in the above line of code i am referencing the impala table

`drug_beneficiary_days_diff= drug_beneficiary.mutate(days_diff = drug_beneficiary['index_date'] - drug_beneficiary['bene_birth_dt'])
`

In the above line of code i am subtracting ```index_date``` with ```bene_birth_dt```  columns both are of type timesta

[2019-08-19 23:14] xmnlab opened #1929 "Fix smoke test for geo spatial operations"
Improve smoke test for geospatial operations:

- [ ]  change the backend used by GeoMockConnection from omniscid to postgresql https://github.com/ibis-project/ibis/blob/master/ibis/expr/tests/mocks.py#L423
- [ ]  fix and improve smoke tests for geo spatial expressions https://github.com/ibis-project/ibis/blob/master/ibis/expr/tests/test_geospatial.py

[2019-08-19 23:43] xmnlab commented on #1927
did you tried ibis.interval? https://github.com/ibis-project/ibis/blob/master/ibis/tests/all/test_temporal.py#L201

let me know if it helped

[2019-08-19 23:58] xmnlab opened #1930 "BUG: Fix issue with the sqlalchemy 1.3.7"
Tests are failing due the sqlachemy 1.3.7.

A workaround for that is pinning sqlalchemy to 1.3.6

[code]

[2019-08-19 23:59] xmnlab commented on #1930
cc @ian-r-rose

[2019-08-20 00:11] xmnlab opened #1931 "BUG: Black git pre-commit hook doesn't reformat the code"
Using this flag https://github.com/ibis-project/ibis/blob/master/.pre-commit-config.yaml#L22 , black is not reformatting files in pre-commit hook

If I removed this flag, it works again.

[2019-08-20 05:48] chinthanishanth commented on #1927
i tried as per above link but i still got same error

here how i modified my lines of code

`drug_beneficiary = conn.table('analysis_table')`

`drug_beneficiary_days_diff= drug_beneficiary.mutate(days_diff = drug_beneficiary['index_date'] - drug_beneficiary['bene_birth_dt'])`

`drug_beneficiary_age_calc= drug_beneficiary_days_diff.mutate(age = drug_beneficiary_days_diff.days_diff / ibis.interval(d

[2019-08-20 08:09] chinthanishanth opened #1932 "unable to convert string to timestamp for impala back-end"
when i execute following lines of code

[code]
i got the following error

[code]

backend database engine = KUDU - v1.4.0, query engine = impala - v2.1.0, hdfs - v2.6

[2019-08-20 14:09] xmnlab commented on #1927
@cpcloud do you have any idea about this?

[2019-08-20 14:18] xmnlab commented on #1932
I found 2 ways to work with timestamp:

- https://github.com/ibis-project/ibis/blob/master/ibis/tests/all/test_temporal.py#L320
- https://github.com/ibis-project/ibis/blob/master/ibis/expr/tests/test_timestamp.py#L24

let me know if it helps

[2019-08-20 15:08] cpcloud commented on #1932
Can you show `type(con)`?

[2019-08-20 19:20] chinthanishanth commented on #1932
@xmnlab thanks for your quick replay i was able to get convert literal to timestamp here is my code

`ibis.literal('2000-01-01').cast('timestamp').execute()`

returns output

`Timestamp('2000-01-01 00:00:00')`

@cpcloud  here is what i got when i  ran `type(con)`

`ibis.impala.client.ImpalaClient`

[2019-08-20 22:20] xmnlab commented on #1932
probably the best way to handle that is change your string to a acceptable format.

example casting to date (from tests):

[code]

I think `to_timestamp` works different than you expect. the parameter there accept just this units: `{'ms', 'ns', 's', 'us'}`

so probably you should use literal + casting

[2019-08-21 08:06] chinthanishanth commented on #1932
thanks for your replay it solved my problem

[2019-08-21 08:06] #1932 closed

[2019-08-21 10:19] chinthanishanth commented on #1927
i solved calculating age from days_diff by casting `intervalColumn` to `int64` which gives seconds of type` int64`, now  `seconds/60(min)/60(hours)/24(1 day)/365(1 year)` gives number of years

modified code as show below

`drug_beneficiary_age_calc= drug_beneficiary_days_diff.mutate(age = drug_beneficiary_days_diff.days_diff.cast('int64')/60/60/24/365).execute()`

[2019-08-21 10:19] #1927 closed

[2019-08-21 15:52] xmnlab commented on #1930
it seems the problem is related to the connection.
creating a connection and engine manually sa.Table works well.
I am investigating how to fix this problem.

[2019-08-21 16:31] xmnlab commented on #1930
not sure if it could help .. just adding that as reference: https://github.com/sqlalchemy/sqlalchemy/issues/4311#issuecomment-441942406

[2019-08-21 19:09] xmnlab commented on #1930
it seems attach is not working any more .. but I am wondering how it is different from this test: https://github.com/sqlalchemy/sqlalchemy/blob/master/test/ext/test_horizontal_shard.py#L445

[2019-08-21 19:21] saulshanabrook opened #1934 "OmniSci Histogram not working"
I am trying to do a histogram, to replicate [this geospatial analysis](https://docs.omnisci.com/latest/6_VegaAtaGlance.html):

[code]

However it fails with:

[code]

[2019-08-21 19:27] saulshanabrook commented on #1934
This is the code that histogram generates: https://github.com/ibis-project/ibis/blob/b3d0400d092fcd93bc8da6bfe214afd9b88d4a29/ibis/sql/compiler.py#L218-L246

[2019-08-21 19:29] saulshanabrook commented on #1934
Instead of subtracting `EPS` can we just cast to a float? https://github.com/ibis-project/ibis/blob/b3d0400d092fcd93bc8da6bfe214afd9b88d4a29/ibis/sql/compiler.py#L235

[2019-08-21 19:32] saulshanabrook commented on #1934
OK it looks like that isn't it. If I specify the base, the EPS isn't used, but I get the same error:

[code]
[code]

[2019-08-21 19:33] saulshanabrook commented on #1934
It looks like this issue is relevant https://github.com/omnisci/omniscidb/issues/305

[2019-08-21 19:37] saulshanabrook commented on #1934
Ah I was able to get it working:

[code]

The key is to get the constant to cast to a `FLOAT`, which you have to do `ibis.literal(X_DOMAIN[0], 'float64').cast('float32')` to get.

Maybe it would be good to do this auto cast somehow for omnisci when it is calling things on floor?

[2019-08-21 19:41] saulshanabrook commented on #1934
Now I am getting another error when trying to group by both axis:

[code]

[code]

[2019-08-21 19:43] saulshanabrook commented on #1934
Now I am getting another failure when I try to groupby both axis:

[code]

[code]

[2019-08-21 19:57] saulshanabrook commented on #1934
OK fixed that one by specifying `binwidth` manually:

[code]

[2019-08-21 19:59] saulshanabrook commented on #1934
So I think what would be nice on ibis's side would be to do this `cast` stuff for me.

[2019-08-21 21:44] cpcloud commented on #1930
Just spent a few hours looking into this. I'm not entirely sure why this issue is appearing as of 1.3.7, but it looks like we weren't being strict enough about passing around the database we're attaching a file to. I'll put up a PR to address the issue, and add more details as I spelunk some more.

[2019-08-21 22:30] xmnlab opened #1936 "BUG: CI is failing due the new continuumio/miniconda3:latest"
[code]

[2019-08-22 01:40] zzzeek commented on #1930
the bug in SQLAlchemy was:

you ATTACH DATABASE foo

then you ask for the columns / foreign keys / whatever in a table, "get_columns("some_table")"

it would give you the columns in the local database "some_table", but if it didn't exist, but *did* exist in the "foo" database, it gives you the columns for "foo.some_table".

the fix is, it doesnt do that.   you have to ask for get_columns("some_tab

[2019-08-22 03:11] cpcloud commented on #1930
@zzzeek Thanks for the explanation, very much appreciated. I believe my PR in #1937 addresses the issue in the way you've described here.

[2019-08-22 13:35] #1936 closed

[2019-08-22 19:45] tdsmith opened #1939 "Operating on arrays of struct<int64, int64> in BigQuery"
As a substitute for a map type, which is missing in BigQuery, we've implemented maps as arrays of \<key, value\> structs. Some of these keys and values are int64-typed.

Using Ibis, we can't flatten these arrays (#1146) and we can't write UDFs that accept these arrays as inputs (#1478; discussion in #1469) to access members, because Ibis rejects int64s appearing anywhere in a BigQuery UDF signatur

[2019-08-22 20:00] cpcloud commented on #1939
Interesting. I wasn't aware that BigQuery supported integer return types. In any case, we could re-enable `int64` usage, with the expectation that users know about the pitfalls of using them with BQ UDFs, which I will happily document and call out in a large red box.

[2019-08-22 20:56] #1921 closed

[2019-08-26 13:41] cpcloud commented on #1930
Closed by #1937.

[2019-08-26 13:41] #1930 closed

[2019-09-03 16:47] ian-r-rose opened #1944 "Degrees of support for new types (JSON, JSONB, UUID)"
There is a large zoo of data types out there, some of which are not supported by ibis. I have been doing some work recently with table schemas that use Postgres UUID, JSON, and JSONB types. Currently, if you try to connect to such tables using ibis it errors out, as these types are not supported (c.f. #1690, #782, #992). This is pretty unfortunate, since columns of these types are fairly common, a

[2019-09-03 17:02] ian-r-rose commented on #1273
I also ran into this error recently. The postgres documentation for [numeric](https://www.postgresql.org/docs/9.0/datatype-numeric.html) states:

The SQLAlchemy numeric type seems to interpret both precision and scale as `None` when not specified. I'm unsure as to whether we should select defaults for these values in that case at the SQLAlchemy layer, or whether `dt.Decimal` should allow for `None

[2019-09-03 23:41] jreback commented on #1944
this would be good to supoort as a good compatibility measure

[2019-09-04 11:24] jreback commented on #1606
in theory this is nice, but just as easy to have PRs include a release note. cc @toryhaavik @DiegoAlbertoTorres we should start this for next PRs and catchup since 1.2 for current notes.

[2019-09-04 13:35] xmnlab commented on #1606
just to be clear, `SUPP` is related to CI/Tests/DevOps stuff? or what should be tagged as SUPP?

[2019-09-04 13:40] toryhaavik commented on #1606
yes, that's what SUPP is meant for

[2019-09-04 14:22] xmnlab commented on #1606
nice. thanks for the quick response @toryhaavik !

[2019-09-05 10:22] cpcloud commented on #1606
This is already done.

[2019-09-05 10:22] #1606 closed

[2019-09-05 14:17] toryhaavik commented on #1616
There is a label created, and ~~10 issues marked as such, so I'll close this as I'm doing some housekeeping on the Issue backlog.

[2019-09-05 14:17] #1616 closed

[2019-09-05 14:20] toryhaavik commented on #1426
@cpcloud can you provide a bit more description here?

[2019-09-05 14:26] toryhaavik commented on #1246
Let's try to recreate this, i have a feeling it's since been implemented

[2019-09-06 13:30] toryhaavik commented on #1383
Hi, is this still an issue? If not, I'd like to close it

[2019-09-06 14:06] toryhaavik commented on #1314
I just tested this on 1.2 and it works, so I'm closing this.

[2019-09-06 14:06] #1314 closed

[2019-09-06 14:07] toryhaavik commented on #969
This has been resolved by #1366

[2019-09-06 14:07] #969 closed

[2019-09-06 14:08] toryhaavik commented on #968
Resolved by #1366

[2019-09-06 14:08] #968 closed

[2019-09-06 14:11] toryhaavik commented on #912
I don't see a `StringOptions` class anymore. This may not be relevant anymore. @cpcloud any ideas?

[2019-09-06 14:19] toryhaavik opened #1946 "Resolve deprecation warnings"
We use deprecated parts of the `abc` and `imp` modules:

[code]

[2019-09-06 14:22] toryhaavik opened #1947 "psycopg2.OperationalError when running tests on master"
On a fresh conda environment after running `conda env create -n ibis-dev --file ci/requirements-3.7-dev.yml` there are postgres/psycopg2 errors:

[code]

[2019-09-06 14:28] toryhaavik commented on #1946
Ha, well, I didn't look close enough that all of these are generated from packages we depend on. So there may be nothing to do here.

[2019-09-06 15:10] toryhaavik commented on #1947
We were concerned this would be blocking a release, but when the tests are executed using the `docker-compose` workflow, this issue doesn't surface.

[2019-09-06 15:14] toryhaavik commented on #1946
There are some that we can fix:

[code]

[code]

[2019-09-06 19:08] #1359 closed

[2019-09-06 19:10] toryhaavik opened #1953 "DEV: merge-pr script doesn't work with two-factor auth"
Or at least I couldn't figure it out. We should enhance the script to be able to support that.

[2019-09-06 19:14] toryhaavik opened #1954 "CI: consider disabling codecov"
It fails too often to be useful, wastes our time debugging spurious failures. Pandas has recently disabled it as well: https://github.com/pandas-dev/pandas/pull/28065

[2019-09-06 19:28] toryhaavik opened #1956 "Developer doc enhancements"
I'm just keeping a running list of things that will be helpful to add to the developer docs:

- pre-commit hooks (how to install)
- formatting/style "philosophy". ideally we'd like to enforce that the pre-commit hooks are run
- how to write commit messages
- we prefer rebases over over merge commits
- merge/maintainer docs
  - how to merge PRs
  - how to do releases

what else?

[2019-09-06 19:59] hjoo opened #1957 "ENH: implement sort_keys for PySpark backend selection operation"
Currently, `sort_keys` is not handled for the selection operation in the PySpark backend. Sort keys needs to be implemented to handle all selection cases.

https://github.com/ibis-project/ibis/blob/master/ibis/pyspark/compiler.py#L74

[2019-09-07 05:06] cpcloud commented on #1953
It does, you have to generate an application specific password.

[2019-09-07 17:38] xmnlab commented on #1956
recently I started a draft document that has some tips about how to create a new backend: https://gist.github.com/xmnlab/eb1cd362566ef8d0705519dc1932fe2e

[2019-09-07 17:51] xmnlab commented on #1947
probably the default workflow for tests should be:

 `docker-compose up postgrel`

and

`python ci/datamgr.py postgres`

and the tests for postgresql should work

[2019-09-07 18:07] #1946 closed

[2019-09-07 18:13] #1490 closed

[2019-09-07 21:22] xmnlab commented on #1924
partial resolved by #1958

[2019-09-09 02:23] niviksha opened #1959 "OmniSci backend - bucket operator not working"
When i try the very useful-looking [bucket](https://docs.ibis-project.org/notebooks/tutorial/8-More-Analytics-Helpers.html?highlight=histogram#Binning-and-histograms) operator with the MapD backend,

[code]

I get an error

[code]