[2015-09-17 17:23] Hamster9 opened #682 "ibis.__version__ is wrong in 0.5.{1,2}"
https://github.com/cloudera/ibis/blob/026b32bec9/ibis/__init__.py#L18

Automate all the things...

[2015-09-17 22:28] earino opened #683 "feat: handling of Postgres 9.3 Lateral Joins"
Lateral joins are a new feature in Postgres 9.3, from the [docs](https://wiki.postgresql.org/wiki/What's_new_in_PostgreSQL_9.3#LATERAL_JOIN):

And an example query:

[code]

[2015-09-17 22:36] earino opened #684 "Handling of Postgress 9.4 WITH ORDINALITY"
WITH ORDINALITY is a new feature in Postgres 9.4, from the [docs](https://wiki.postgresql.org/wiki/What's_new_in_PostgreSQL_9.4#WITH_ORDINALITY):

For example:

[code]

[2015-09-18 20:38] wesm commented on #682
Mea culpa. I'll add versioneer or whatever the kids are using nowadays to automate this (or just use the pandas `write_version_py` function in setup.py)

[2015-09-19 21:51] ogrisel opened #685 "fillna error when passing a DoubleScalar expression (with SQLite)"
[code]

yields:

[code]

while computing the mean eagerly works:

[code]

[2015-09-30 05:33] wesm commented on #685
Yes — the SQLite backend needs to workaround the lack of window functions using joins on inline views containing the aggregations. It's a bit complicated because aggregates are being converted to window operations at the DSL stage, which is not correct. The window function conversion should happen during the Ibis AST -> SQL AST translation step (see `ibis/sql/compiler.py`).

[2015-10-01 18:26] wesm opened #686 "Convenience for specifying join keys that are shared in left and right tables"
From the mailing list

[code]

[2015-10-05 21:42] wesm opened #687 "Use async API to make Impala expression execution cancel on KeyboardInterrupt"
Requested by user

[2015-10-05 21:48] wesm opened #688 "Have TableExpr.__len__ return result of TableExpr.count"

[2015-10-07 00:18] wesm commented on #267
Working document http://docs.ibis-project.org/sql.html

[2015-10-07 00:20] wesm commented on #203
@laserson can you let me know when you try out impyla against a table with nested types?

[2015-10-07 00:27] #8 closed

[2015-10-07 00:43] wesm commented on #405
@laserson can you take a look at this one?

[2015-10-07 03:45] #688 closed

[2015-10-07 03:45] wesm commented on #688
`__len__` is required to return an integer, so I added a nicer error message

[2015-10-07 04:06] #686 closed

[2015-10-07 04:53] #663 closed

[2015-10-07 04:54] #267 closed

[2015-10-07 05:24] wesm commented on #671
Note: Impala is true division by default, unlike SQLite and other databases. Floor division can be achieved by a rewrite rule (call `floor`).

[2015-10-07 15:23] robert-lucente opened #691 "Performance issue when doing 1 record at a time - Perhaps use bulk bind techniques?"
During Strata - 2015 - NYC, I had a hall way conversation w/ Wes McKinney. One of the things that we chit/chatted about was the performance issue of doing 1 record at a time. I suggested that he consider using "bulk bind" techniques which conventional databases have used to solve the problem. He liked the idea. I am sure that he was busier than normal and wanted to open an issue so that the idea d

[2015-10-08 00:33] wesm commented on #691
Thank you for the reference. The equivalent concept that is related to our plans with Ibis is the "vectorized UDF interface" as described on slide 28 in http://www.slideshare.net/wesm/ibis-scaling-python-analytics-on-hadoop-and-impala. Indeed, where interpreted languages are involved, operating on one batch of rows at a time versus 1 row at a time is essential for achieving good performance.

[2015-10-08 00:33] #691 closed

[2015-10-08 01:59] #671 closed

[2015-10-08 03:42] #675 closed

[2015-10-08 03:52] #664 closed

[2015-10-08 04:18] #682 closed

[2015-10-08 04:27] #615 closed

[2015-10-09 06:01] #681 closed

[2015-10-10 02:12] robert-lucente opened #695 "Window (also known as analytic) functions"
I found the blog at http://blog.ibis-project.org/sql-window-functions/.

You are probably aware of how conventional databases handle this type of thing. Just in case, check out the following reference

http://docs.oracle.com/cd/E11882_01/server.112/e41084/functions004.htm#SQLRF06174

For an example of a good write up on analytic fcns, check out Chapter 12 of the book Expert Oracle - Signaure Editi

[2015-10-12 20:34] Hamster9 opened #696 "Imputation operations"
From today's [Planet Postgres](https://planet.postgresql.org/):
http://www.joyofdata.de/blog/locf-linear-imputation-postgresql-tutorial/

Is this higher-order than what Ibis is aiming for?

[2015-10-13 21:46] wesm opened #697 "gd"

[2015-10-13 21:46] wesm opened #698 "Add CHAR and VARCHAR Impala type handling"

[2015-10-13 21:47] #697 closed

[2015-10-14 07:29] wesm opened #699 "Add section about overlapping join keys in "Ibis for SQL programmers""

[2015-10-14 07:31] wesm commented on #259
Here was an example from the mailing list

[code]

[2015-10-16 19:16] summerela opened #700 "ibis_table.execute(limit=None) does not set limit to None"
Hi-

The limit for table.execute() states that it is set by default to 'None'. However, the limit seems to be set at 10,000 by default, and remains set at 10,000 even when I expressly type 'limit=None' as a parameter.

However if I expressly change the limit to a certain number, such as 200,000,000,000 it does successfully download all the rows of my ginormous table.

For example, with verbose mod

[2015-10-18 21:50] wesm commented on #700
Thanks -- I shall investigate

[2015-10-20 03:40] laserson opened #701 "Reattempt kerberos tests on Python 3"
Thanks to https://github.com/requests/requests-kerberos/issues/58

[2015-10-20 14:35] wesm opened #702 "Add support for modifying table properties with ALTER TABLE"

[2015-10-20 19:06] laserson commented on #203
It's good to go.  All result-set schemas must be flat, so there is no way to get back nested Thrift objects.  (This is not true for Hive, but should be all good with Impala.)

[2015-10-21 17:25] wesm opened #703 "Reporting details about Impala errors"
Impyla doesn't provide much information about errors. @laserson is it possible to get at the details?

[code]

[2015-10-21 18:01] laserson commented on #703
I think in this case all I get back is "ERROR_STATE" from HS2.

https://github.com/cloudera/impyla/blob/master/impala/thrift/TCLIService.thrift#L444

[2015-10-21 18:23] wesm commented on #703
yes but looks like you can get the error message from `TStatus`

https://github.com/cloudera/impyla/blob/master/impala/thrift/TCLIService.thrift#L409

[2015-10-21 22:50] laserson commented on #703
My understanding is that the `TStatus` object encodes the status of the RPC itself, not the query.  I.e., if the `TStatus` object was showing an error, it should've been caught here:

https://github.com/cloudera/impyla/blob/master/impala/hiveserver2.py#L871

Either way, just to make sure, can you reproduce the error above with debug-logging enabled?  It should spit out all the Thrift objects and w

[2015-10-22 23:57] #700 closed

[2015-10-22 23:57] wesm commented on #700
This is no wfixed in upstream

[2015-10-23 00:04] #699 closed

[2015-10-23 00:15] #698 closed

[2015-10-23 00:16] wesm commented on #698
@summerela this is fixed in upstream. I'm targeting 0.6 release sometime next week

[2015-10-23 00:47] wesm commented on #680
Putting this off until it's more urgent. Forming a projection with nested joins is not difficult, but tedious.

[2015-10-23 01:00] wesm opened #704 "Passing single expression to TableExpr.__getitem__ fails"

[2015-10-23 01:13] #687 closed

[2015-10-23 01:18] #704 closed

[2015-10-28 02:04] wesm opened #706 "Support writing pandas DataFrame objects to Impala with strings having embedded new lines"
I worked on this a bit and couldn't figure out the right incantation, so tabling until needed.

[2015-10-29 00:23] wesm opened #708 "Add INVALIDATE METADATA command for Impala"

[2015-10-29 00:24] wesm opened #709 "Add REFRESH command API for Impala"

[2015-10-29 00:25] wesm opened #710 "Add DESCRIBE FORMATTED Impala API wrapper"

[2015-10-29 01:17] wesm opened #711 "Add async option to more time consuming Impala DDL commands"
E.g. things like `drop_database` can be quite time consuming.
- [ ] drop_database
- [ ] avro_table / parquet_file / delimited_file
- [ ] insert / create table as select
- [ ] compute_stats (cancellable)

[2015-10-29 19:42] wesm opened #713 "Expose SHOW FILES for Impala"

[2015-10-29 22:32] wesm commented on #661
I will defer this to after 0.6 to prioritize Impala DDL/partition functionality

[2015-10-30 00:13] #713 closed

[2015-10-30 00:13] #710 closed

[2015-10-30 00:13] #709 closed

[2015-10-30 00:13] #708 closed

[2015-10-30 22:02] #197 closed

[2015-10-30 22:14] wesm opened #715 "Add option to enable SYNC_DDL for Impala"
See http://www.cloudera.com/content/www/en-us/documentation/archive/impala/2-x/2-0-x/topics/impala_sync_ddl.html?scroll=sync_ddl

[2015-10-30 23:21] wesm opened #716 "Client metadata caching and staleness"
Like Impala nodes, it would be useful, to improve performance and reduce excess cluster chatter, to cache table metadata (e.g. the results of `DESCRIBE` or `SHOW PARTITIONS`) within Ibis and to either set some staleness threshold (after which the cache will be invalidated) or add the option for explicit invalidation.

It would make sense to do this at the client level, and to have metadata caching

[2015-10-30 23:33] wesm opened #717 "Impala: Use DESCRIBE instead of SELECT * LIMIT 0 for table schemas"
This will be required to support nested types

[2015-10-31 00:17] wesm commented on #701
@laserson added this to the release after 0.6

[2015-11-02 01:34] wesm opened #719 "Implement INSERT VALUES for Impala testing"

[2015-11-03 02:23] #489 closed

[2015-11-03 18:01] mariusvniekerk opened #723 "Pegged version dep to something that seems old"
Version dependency pegged in meta.yaml

- psutil ==0.6.1

The latest version of psutil as reported by conda search is  3.2.2

Should we try and move this up?

[2015-11-03 18:49] summerela commented on #698
Thank you, eagerly awaiting this fix!

[2015-11-03 18:52] wesm commented on #698
I'm still trying up a few loose ends for the release. If you need the fix more urgently, you can install directly from git master

[2015-11-03 19:08] summerela commented on #698
Works like a charm, thank you so much!

On Tue, Nov 3, 2015 at 10:53 AM, Wes McKinney <notifications@github.com>
wrote:

--
Thanks,
Summer Rae
summerrae78@gmail.com

[2015-11-05 20:33] wesm commented on #723
Unfortunately all of the Python in Impala requires psutil 0.6.1. I am going to remove the requirement altogether as it is not needed in Ibis at the moment. Marked for 0.6

[2015-11-05 20:44] wesm commented on #711
Moved to 0.7. I'll make a pass through and add the generic notion of an `AsyncAction` (which may or may not be cancellable, depending on the underying DDL)

[2015-11-06 05:13] mariusvniekerk commented on #723
Curious about the  issues that it could cause? .   I've been using ibis and impyla for months now with a more recent version without any apparent problems on legacy python with some master build of thrift

[2015-11-06 18:15] wesm commented on #723
I actually mean the Impala system scripts itself (cloudera/impala). It's laziness on my part as I should be using a virtualenv or conda environment for all my interactions with Impala (which depends on a number of older libraries because they have been supporting Python 2.4 until recently).

[2015-11-06 18:35] mariusvniekerk commented on #723
Ah right. That explains it.
On Fri, Nov 6, 2015 at 13:15 Wes McKinney <notifications@github.com> wrote:

[2015-11-09 22:23] wesm opened #727 "Test suite fails with pytest-xdist"
I'm not going to spend time fixing this right now but would be good to do at some point. It's unclear if load-balance-testing saves significant enough time, though, but it ought to work anyhow.

[2015-11-09 22:30] #723 closed

[2015-11-09 22:39] #717 closed

[2015-11-09 22:42] wesm opened #728 "Add SHOW {TABLE STATS, COLUMN STATS} APIs to ImpalaTable"

[2015-11-09 22:43] wesm commented on #696
Seems perfectly reasonable if a sufficiently general API can be developed for it.

[2015-11-09 23:41] #728 closed

[2015-11-10 00:20] #259 closed

[2015-11-10 00:21] wesm commented on #259
this now looks like

[code]

[2015-11-10 00:24] wesm opened #731 "Add support for ALTER VIEW command on Impala"

[2015-11-10 01:35] wesm opened #732 "Create a workflow builder API for multi-step queries"
As a basic Impala example: INSERT followed by COMPUTE STATS. It would be nice to be able to build "action chains" or "workflows" involving multiple steps that can be monitored (or have a progress bar) and cancelled at will.

[2015-11-10 02:05] hammer commented on #732
Seems like scope creep. Why not send people to [luigi](https://github.com/spotify/luigi) or one of the dozens of other Python workflow libraries?

[2015-11-10 02:29] wesm commented on #732
A good chance. I'm not planning to build anything yet.

Hearing about cases where folks are assembling metadata management / ETL workflows with bash scripts and the Impala shell. Want to make sure these can be moved to Ibis or some combination of Ibis and a workflow manager like luigi

[2015-11-10 02:46] hammer commented on #732
Yeah the problem with ETL libraries/frameworks is the cost of learning the library/framework. Most people will reach for bash when that's what they know and they don't bear the burden of maintenance or they don't have an environment with hundreds of workflows to manage. I don't think adding another workflow library will solve that problem.

[2015-11-10 22:05] wesm commented on #732
Makes sense. My only near term plan with Ibis is enable any DDL action to be executed asynchronously. Currently you can do `expr.execute(async=True)` and get an `AsyncQuery` result from a data expression (that can also be cancelled), but it would be useful to have that be consistent with any Ibis actions causing queries to be sent to Impala — in some cases they can be cancelled and others not depe

[2015-11-12 21:08] wesm opened #733 "Add option to set Parquet compression codec"
Will prioritize for 0.6

[2015-11-12 23:33] wesm opened #734 "Assisting with UDF/UDA persistence for Impala < 2.5"
Per https://issues.cloudera.org/browse/IMPALA-1748, it would be nice if Ibis had some mechanism to automatically register UDFs used when executing expressions if they are not already present in the metastore. Currently running the `CREATE FUNCTION` statements (via `ibis.impala.udf`) are up to the user.

[2015-11-17 20:26] hamedhsn commented on #597
@wesm as far as I am checking all the metrics are working fine with sqlite except the last one. in code it falls into the else part since exact_unique is false by default.
[code]
not sure the differences between those two?
 but for exact_nunique of true summary works fine for sqlite as well.

[2015-11-18 20:47] wesm opened #736 "All DDL functions to return a list of "Action" objects"
This will facilitate asynchronous DDL workflows. As an example, modifying multiple attributes of a table or partition requires one `ALTER TABLE` statement for each attribute modified.

[2015-11-18 21:32] wesm opened #737 "Add schema modification DDL support via ALTER TABLE"

[2015-11-18 22:19] wesm opened #738 "Parse output of DESCRIBE FORMATTED and create a TableInfo class"
Unit testing `ALTER TABLE` for partitioned and unpartitioned tables is proving difficult because the metadata being modified is embedded in the results of `DESCRIBE FORMATTED`. I'll parse the output and render a `__repr__` display that is useful.

One annoying thing is if the output of `DESCRIBE FORMATTED` changed in future Impala versions, but we can cross that bridge when we come to it.

[2015-11-19 19:43] wesm opened #740 "Scalar expressions involving filtered tables can yield incorrect SQL queries"
[code]

There is an implicit join between inline views; will be tricky to make work but an important use case.

[2015-11-22 06:42] #335 closed

[2015-11-22 06:42] #490 closed

[2015-11-22 06:42] #702 closed

[2015-11-22 06:42] #738 closed

[2015-11-22 23:42] #733 closed

[2015-11-22 23:44] wesm opened #743 "Documentation updates for 0.6"
- "Ibis for Impala Users"
- pandas integration

[2015-11-23 00:26] wesm opened #744 "Implement partition dropping"
To round out partition functionality in 0.6

[2015-11-23 02:58] napjon opened #745 "SQL Syntax Error when performing parse_url"
From [parse_url](http://docs.ibis-project.org/generated/ibis.expr.api.StringValue.parse_url.html) example,

[code]

Result in

[code]

which will gives Syntax Error because `LITERAL[string]` in the query.

[2015-11-24 23:24] wesm commented on #745
Thanks, I will fix. Note that `ibis.expr.api.StringValue.parse_url` is not an intended use. The intended way to use this function is by:

[code]

[2015-11-25 15:32] #745 closed

[2015-11-25 15:39] wesm commented on #745
This is fixed in master

[2015-11-25 22:33] napjon commented on #745
Got it. thank you for the quick fix!

[2015-11-29 20:48] wesm opened #746 "Create humanized interface to the result of SHOW PARTITIONS for Impala"
Some methods on top of an appropriately-indexed DataFrame should do

[2015-11-29 21:59] wesm commented on #744
Done in #747 (made a typo in the commit message)

[2015-11-29 21:59] #744 closed

[2015-11-30 08:22] wesm opened #749 "ImpalaTable.rename needs to return a new object"
I improperly broke the immutability contract when initially implementing this. I will fix to make it return a renamed, new table object before use becomes too widespread.

[2015-11-30 08:23] wesm opened #750 "Implement AsyncQuery.wait for Impala"

[2015-11-30 08:24] wesm opened #751 "ImpalaAsyncQuery.status raises exception"
Not urgent, but noting

[2015-11-30 08:33] wesm commented on #740
I'm punting this to a 0.6.x bugfix release since I want to investigate the general issue (extracting scalar aggregates to inline views) more thoroughly.

[2015-11-30 08:35] wesm opened #752 "Add truncate convenience method to ImpalaTable"

[2015-11-30 08:45] #743 closed

[2015-11-30 09:40] #749 closed

[2015-12-05 04:20] wesm opened #754 "Baseline Kudu-on-Impala support"
- [x] list_tables (provided by Kudu client)
- [x] get schema (provided by the Kudu client)
- [x] `ImpalaClient.kudu_table` API
- [x] CTAS for Kudu

[2015-12-05 04:22] wesm opened #755 "Wrapper API to add HDFS connection to ImpalaClient"

[2015-12-05 04:22] wesm opened #756 "Wrapper API to add Kudu connection to ImpalaClient"

[2015-12-05 06:26] wesm opened #757 "Add streaming results from execute"

[2015-12-05 09:17] summerela commented on #757
Thank you!

[2015-12-07 21:45] laserson opened #758 "tmp dirs created during testing should have names that reflect who created them"
Many of the temporary directories are just uuids, which makes it more confusing to figure out who "owns" the directories.

[2015-12-08 03:24] laserson opened #760 "Re-enable pandas-related tests after IMPALA-2750 is resolved"
There are issues with `DataFrame` roundtrips that are causing failed tests.  This appears to be a non-Ibis problem, so waiting on resolution of IMPALA-2750.

https://issues.cloudera.org/browse/IMPALA-2750

[2015-12-08 04:40] wesm opened #761 "The user cannot connect to Impala without passing an HDFS connection"
This goes into the "oops" bucket.

[2015-12-08 07:51] laserson opened #762 "Re-enable partition test after resolution of HIVE-12613"
There is some problem when partitions are dropped.  It is being tracked at HIVE-12613.

[2015-12-08 10:18] laserson opened #764 "Re-enable concurrent Jenkins builds for different Python versions"
For some reason, running concurrent builds on nightly for the different Python version is causing problems like

[code]

sporadically in different tests.  Seems to go away if I run the tests sequentially.

[2015-12-08 17:22] wesm opened #765 "Add ImpalaTable option to toggle EXTERNAL setting"
This can be done manually via altering `tblproperties` but would be nicer to have a convenience method

[2015-12-08 17:27] wesm opened #766 "DOCS: Indicate which ports should be used for both HDFS and Impala connections"
And maybe where to find them in the various web UIs

[2015-12-09 01:50] wesm opened #767 "Add a "head" method to TableExpr"

[2015-12-09 01:51] wesm opened #768 "Add keywords to TableExpr.group_by"
Often find myself writing group keys inline requiring naming and don't much care about the ordering

[2015-12-09 22:18] cpcloud opened #769 "Regression: Field access after sort_by is broken"
The following code used to work in 0.5.2:

[code]

`git bisect` revealed that 2224dcc was the culprit and after playing around a bit, it looks like this change is the specific code that breaks the above computation:

[code]

Upon inspection of the issue that this fixed it looks like selecting fields after a group by was generating code that appears to be incorrect, however in interactive mode the

[2015-12-09 22:21] cpcloud commented on #769
It looks like the `op.table[[op.name]]` is generating code that doesn't account for the subquery that's being generated.

I would expect the generated code to look like something this:

[code]

[2015-12-11 00:11] wesm commented on #769
Thanks -- I have marked for 0.6.1 and will investigate when I can

[2015-12-11 07:10] #754 closed

[2015-12-11 07:11] #756 closed

[2015-12-11 07:11] wesm commented on #765
This was done in 1da1910

[2015-12-11 07:11] #765 closed

[2015-12-15 03:57] wesm opened #770 "Test inserting into non-Parquet Impala tables"

[2015-12-18 20:36] raderaj commented on #467
+1; We're having trouble installing ibis because of the dependencies on request-kerberos. Don't know if this is related or not.

[2015-12-31 05:53] bendichter commented on #766
I'm struggling with this right now. I am trying to connect but all I get is

[code]

I can get to Hue through ssh, but I don't know how to translate that command into these connections. A little more documentation here might really help.

[2015-12-31 05:56] wesm commented on #766
Are you able to make a HiveServer2 (or Beeswax via the impala-shell) connection to this server from anyplace? Are you able to reach the Impala web UI? I agree that instructions about finding the right ports through the web UI is necessary as it can be tricky if the ports are not the standard ones.

[2015-12-31 05:58] bendichter commented on #766
not sure about the first one, but I am able to reach the Impala web UI

[2015-12-31 21:03] wesm commented on #766
I believe you need to set up SSH tunnels to the Impala and HDFS ports to be able to use Ibis on your local machine. So in Python you would be connecting to localhost and using the tunneled ports. I'm not an expert in this but found some helpful instructions here

http://blog.trackets.com/2014/05/17/ssh-tunnel-local-and-remote-port-forwarding-explained-with-examples.html

I would personally create

[2015-12-31 21:07] bendichter commented on #766
Oh, I see! I thought Ibis did the ssh as well as the Impala interfacing. This is really helpful, thank you. I'll let you know if I come up with a good solution.

[2016-01-03 17:03] dlovell opened #771 "ImpalaClient.create_table doesn't always respect `format` kwarg"
ImpalaClient.create_table accepts `format` kwarg but [hard codes](https://github.com/cloudera/ibis/blob/master/ibis/impala/client.py#L847) `ddl.NoFormat` when `schema` arg is used in place of `obj` (`TableExpr` or `DataFrame`)

[2016-01-03 17:43] dlovell commented on #771
if `HOST` is set properly in the code below
[code]
it prints

[2016-01-04 15:21] tsdlovell commented on #771
Since `CreateTableWithSchema`'s `table_format` arg is hardcoded anyways, maybe best temporary solution is to define `ParquetFormat` in ddl.py and hardcode the `table_format` arg to that.  At least that way its in line with the default `format` arg of 'parquet'

[code]

[2016-01-04 19:47] wesm commented on #771
Thanks! Slating for 0.6.1

[2016-01-04 23:06] tsdlovell opened #772 "timestamp truncation switches 'J' and 'D'"
In a way that probably violates expectations of users of impala and oracle

ibis.impala.compiler._truncate does [this](https://github.com/cloudera/ibis/blob/master/ibis/impala/compiler.py#L946-L947)

[code]

If I execute against an impala client I see

[code]

[2016-01-04 23:19] tsdlovell opened #773 "ImpalaCursor cursor attribute sensitive to how (quickly?) its accessed"
[code]

[2016-01-05 15:23] tsdlovell commented on #772
Incidentally, I prefer ibis' convention since an obtuse shorthand like 'J' seems like it should do something obtuse like 'start of the week' and 'D' should be something straightforward like 'start of the day'.

[2016-01-05 21:41] statmatt opened #774 "partition insert fails when partition key is a string"
For partition keys that are string, table.insert() does not appropriately wrap the static partition value of the string in quotes, in particular where the static partition value is contained within a Python variable. The documentation example uses integer partition values and thus does not address this case.

Example:

tblSchema = ibis.schema(
    [
        ('a': int32),
        ('b': 'string')

[2016-01-06 16:30] wesm commented on #774
Thanks, will fix soon

[2016-01-06 17:54] statmatt commented on #774
Thanks Wes -

also found this morning that in interactive mode, table.info() does not
print a newline after the final line of the output, so you get the line
cursor on the same line as the last row of the table description.

Thanks!

Matt

On Wednesday, January 6, 2016, Wes McKinney <notifications@github.com>
wrote:

https://ci6.googleusercontent.com/proxy/G2jFhI71Jda-iMFvdGSSJLIAfBGHBVR5Fdo36kwiX

[2016-01-07 03:16] wesm commented on #773
This is very strange. I'm investigating

[2016-01-07 03:25] wesm commented on #773
@tsdlovell Using the `cursor` attribute of the result of `raw_sql` is not supported -- it is intended to be a managed cursor which is automatically closed on garbage collection of the parent `ImpalaCursor` class. Pull request coming shortly, and I'm making the `.cursor` a `._cursor` attribute to make thsi more clear

[2016-01-07 03:30] #773 closed

[2016-01-07 03:30] wesm commented on #773
thanks for the report!

[2016-01-07 03:31] wesm opened #776 "TableExpr.info formatting"
Mentioned in #774

[2016-01-07 03:45] #774 closed

[2016-01-07 03:48] wesm commented on #776
@statmatt could you clarify? I am seeing

[code]

[2016-01-07 03:50] statmatt commented on #776
Yes ... And then when doing that in interactive mode, the command line is
presented at the end of that last line (this is raw command line, not
ipython).

I can send you a snippet tmrw if you need one.

Matt

On Wednesday, January 6, 2016, Wes McKinney <notifications@github.com>
wrote:

--
Matt Anthony
statmatt@gmail.com
"Achieving the impossible is merely stringing together a series of the
possib

[2016-01-07 03:54] wesm commented on #776
Got it, fixing now. Here's what I have now:

[code]

[2016-01-07 03:55] statmatt commented on #776
Thanks Wes!

On Wednesday, January 6, 2016, Wes McKinney <notifications@github.com>
wrote:

--
Matt Anthony
statmatt@gmail.com
"Achieving the impossible is merely stringing together a series of the
possible." - GOLF54 teaching mantra
"The best way to predict the future is to create it." - Peter Drucker

[2016-01-07 03:55] #776 closed

[2016-01-08 22:07] mwullink opened #778 "Using http for webhdfs not possible when kerberos is enabled"
The hdfs_connect function has no option to choose http or https protocol when connecting to webhdfs.
We are running CDH 5.5 with kerberos but without ssl enabled for webhdfs.

Could you maybe add an option to signal the use of http when using kerberos?

code snippet.

the hdfs_connect function code in ibis/ibis/__init__.py always uses https when auth_mechanism in ['GSSAPI', 'LDAP']

example:

def

[2016-01-08 22:44] wesm commented on #778
Sure thing. I'll take a look when I can

[2016-01-11 19:30] lav-patel opened #779 "How to write pandas.DataFrame to HBase backed impala table"

[2016-01-12 04:41] wesm commented on #779
This is possible but would require a little work to add support for HBase-related DDL statements. My first Kudu integration patch is a good example of the kind of work that would be required: https://github.com/cloudera/ibis/commit/1da1910d5e8ad6fc4b61ec16da19447c01b0cffa . Since we generally don't recommend heavy analytic workloads on HBase it hasn't been as much of a priority

[2016-01-12 20:27] tsdlovell opened #780 "Use of getattr in _clean_predicates causes table join to fail when string is an attribute name"
such as 'name' or 'files'

[code]

Workaround is to use TableExpr instead of Table
[code]

I'm unsure why, but I don't get the same error when I try to use an attribute name of TableExpr as a column name.

[2016-01-12 20:45] tsdlovell opened #781 "Subquery condition moves to post outer join"
Essentially becoming an inner join

[code]

prints
[code]

Workaround: use identity projection before outer join
[code]

prints
[code]

[2016-01-13 03:16] wesm commented on #781
Thanks for finding this. I'll investigate and sort out a fix for 0.6.1

[2016-01-13 03:17] wesm commented on #780
Thanks, marked for 0.6.1 and will let you know.

[2016-01-13 03:51] wesm commented on #772
In general, I'd like for the spirit of Ibis to be making sensible decisions around the generic expression API without feeling pressure to conform to legacy issues in the database implementations. Impala uses the Oracle convention probably because of legacy code portability. If it becomes an issue we could always add a compatibility API that behaves like Impala or Oracle.

I marked this for 0.6.1 t

[2016-01-20 13:46] andrioni opened #782 "feat: JSON data types"
Hi, I was wondering what would be the best way to treat JSON/JSONB columns from Postgres in Ibis. Currently I'm trying to treat it as a string (although it gets converted to a `dict` whenever I send the data to a pandas dataframe), but I'm not sure if that's the right solution.

[2016-01-22 18:25] andrioni opened #783 "MaterializedJoin NotImplementedError"
Hi, I'm having some issues with table materialization and SQLite: some operations just don't compile on materialized joins.

A relatively small repro code:

[code]

gives the following error:
[code]

This is on version `v0.6.0+11.ga278aea` (i.e. building from HEAD).

Is this WAD? I have to confess I'm still a bit confused about how to work with materialized joins...

[2016-01-25 03:39] wesm commented on #783
A materialized join should behave like the equivalent `select * from JOIN EXPRS`. This looks buggy though, let me have a look and get back to you

[2016-01-26 02:17] halfaleague commented on #771
This makes the format respect what is given (or do something like this ...)
https://github.com/cloudera/ibis/pull/784

[2016-02-05 20:36] laserson opened #785 "Bump required impyla version to latest 0.13.0 release"

[2016-02-05 22:10] wesm commented on #782
Good question! What are you trying to do with the data? I haven't thought through how we could incorporate schema-less JSON into Ibis's data model. For nested data in Hive, Impala, Spark SQL, etc., it's a little more clear what should be done.

[2016-02-09 22:15] statmatt opened #786 "execute() only pulls maximum of 10,000 rows when no parameter is supplied"
Table rows: 251613

Column             Type    Non-null #
------             ----    ----------
sensor_id          int32   251613
dest_ip            string  251613
unique_flow_count  int64   251613
source_bytes       int64   251613
dest_bytes         int64   251613

(10000, 5)

(251613, 5)

The documentation on this function is incorrect, specifying that supplying no parameter will export the enti

[2016-02-21 21:26] wesm opened #787 "ImpalaTable.describe_formatted may throw an exception"
excerpt. Will investigate soon

[code]

[2016-02-21 23:49] wesm opened #788 "Support VARCHAR types in Impala schemas"
Currently not implemented. We also cannot cast to CHAR(K) or VARCHAR(K), even though these semantically are of string expression type in Ibis.

[2016-03-11 16:11] statmatt opened #790 "Left Outer Join execution is incorrect"
In the example below, the expectation is that the left-join of table A should have at least one row per row of table A, and in fact the results does not. As far as I can tell, this is due to predicate pushdown on the filtering keys to outside of the table statements, and this results in incorrect output. Extracting these predicates is improper in outer join, and subsequently the same failure can b

[2016-03-11 17:06] wesm commented on #790
Sorry about this -- I believe this may be the same bug as #781. Let me see if I can find some time this weekend or early next week to fix this -- appreciate the detailed reproduction as it will make fixing much easier.

[2016-03-11 17:07] statmatt commented on #790
It does look to be the same issue.

Thanks for looking into it.

[2016-03-13 01:11] #771 closed

[2016-03-13 01:12] wesm commented on #790
Oops, didn't mean to close this.

[2016-03-13 07:56] #785 closed

[2016-03-13 07:56] wesm commented on #788
Same for CHAR schemas

[2016-03-14 05:21] #790 closed

[2016-03-14 05:21] #781 closed

[2016-03-14 05:21] wesm commented on #790
Take a look at the master branch and let me know if you original use case works, it should now!

[2016-03-14 05:22] wesm commented on #781
hey Dan -- sorry it took me a while to fix, but this is now all set

[2016-03-14 05:30] wesm commented on #786
hi Matt,

Here's what the documentation says currently:

[code]

So to get the whole table, you can pass `expr.execute(limit=None)`. Patches welcome on this and any other documentation issues -- let me know if you found wrong information someplace else

[2016-03-14 05:31] #786 closed

[2016-03-14 05:34] #769 closed

[2016-03-14 05:34] wesm commented on #769
added a test case, thanks for reporting!

[2016-03-14 06:42] #788 closed

[2016-03-14 06:45] wesm opened #796 "Add some kind of physical type metadata so that different string types can be disambiguated in CREATE TABLE statements"
related to #788

[2016-03-14 06:59] #778 closed

[2016-03-14 06:59] wesm commented on #778
Just did this in trunk; will be a part of Ibis 0.7. Let me know if you run into any issues

[2016-03-14 07:12] #761 closed

[2016-03-14 13:50] statmatt commented on #790
Thanks, will try to take a look today.

On Mar 13, 2016, 11:21 PM -0600, Wes McKinney<notifications@github.com>, wrote:

[2016-03-14 15:42] #787 closed

[2016-03-14 15:44] wesm commented on #787
reported this in pydata/pandas#12622

[2016-03-14 16:06] #780 closed

[2016-03-14 16:06] wesm commented on #780
hey Dan -- fixed this in https://github.com/cloudera/ibis/commit/e686cb6a3716b728de76c4d567bf38494ae9fe3b

[2016-03-14 20:29] wesm commented on #783
Fixed this, will release in 0.7. Thanks for the bug report, and sorry it took me a while to fix!

[2016-03-14 20:30] #783 closed

[2016-03-15 06:10] #740 closed

[2016-03-15 22:52] wesm opened #801 "Add a `format` argument to ImpalaTable.add_partition"
This saves having to do multiple statements, like:

[code]

[2016-03-18 20:13] tdhopper opened #803 "Filtering column fails within groupby"
I'm running Ibis 0.7.0 on Python 2.7.11.

I have a `DatabaseTable t` with an integer column called `flags`. I am trying to count how many of the `flags` are greater than 0 within groups, so I ran this:

[code]

However, the SQL generated by Ibis is

[code]

The `flags` column isn't mentioned anywhere in the query.

If this behavior should be support, I think there's a bug. If it shouldn't be suppo

[2016-03-18 20:49] tdhopper commented on #803
I see that

[code]

works nicely.

[2016-03-18 20:49] wesm commented on #803
Are you hoping for `count(CASE WHEN flags > 0 THEN flags ELSE NULL END)` in the generated SQL or perhaps `count(flags > 0)`? Definitely a bug either way.

Note that `(t.flags > 0).sum()` does what you want, and more pandas-like

[2016-03-18 20:51] tdhopper commented on #803
Yeah, `count(CASE WHEN flags > 0 THEN flags ELSE NULL END)` is what I was expecting. I didn't think about the `sum()` option, but that's great.

[2016-03-18 21:04] wesm opened #804 "Add a groupby alias for TableExpr.group_by"

[2016-03-20 15:41] helger commented on #224
Is this now supported?

[2016-03-24 23:35] wesm commented on #224
No, but I'm still interested in this area of functionality

[2016-03-27 18:32] stonebig opened #806 "sql server support ?"

[2016-03-29 08:49] napjon opened #807 "Ibis choose wrong schema"
Hi,

I'm running Ibis 0.7.0 with Python 3.5. Below is the code to reproduce the issue,

[code]

This generates,

[code]

Or many filtering operation on `avg_ratio` will generates same issue I guess.

debugging this, the TabExpr used to detect the field is `joined.schema()` instead of `joined_avg.schema()`

[2016-03-31 16:27] tdhopper opened #808 "Escaping special characters with `contains`"
I'm trying to find rows in a string column in Impala that contain `%` characters. If I do

[code]

Ibis will generate

[code]

However, since `%` is a special character when using `LIKE`, it seems that it should generate

[code]

[2016-03-31 16:28] tdhopper commented on #808
Similarly for `_` in Impala.

[2016-04-03 22:05] wesm commented on #807
Thanks. This is the result of an analysis error -- I have slated it for the next bugfix release (probably the end of April unless someone patches this sooner -- I am unavailable much of this month)

[2016-04-06 14:47] tdhopper opened #810 "Chained comparisons are not handled"
Python permits arbitrarily chained comparisons, e.g. `3 < x < 5`. However, Ibis doesn't handle this case:

[code]

Returns

[code]

The first comparison is ignored.

[2016-04-06 19:42] lordjc opened #811 "hdfs_connect does not support discovery of active namenode through configs"
It looks like in order to connect to hdfs you must know exactly which namenode is active.
Have we thought about referencing hdfs-site.xml for active namenode discovery through the logical name?

[2016-04-09 20:14] wesm commented on #810
How does the Python object API handle this in general? I can look at this in a couple weeks

[2016-04-09 20:27] wesm commented on #811
I would be happy to accept a patch for this if there are some accessible solutions. I have also been looking at using libhdfs (to go through JNI) to talk to HDFS rather than WebHDFS, so that is another option.

[2016-04-11 05:27] napjon commented on #811
For me, I would connect to 1 namenode, test the hdfs status using `hdfs.status('\')`. Catch HDFSError and try to connect with other namenode. Always works for me.

[2016-04-11 15:20] tdhopper commented on #810
No clue, sorry. [Possible helpful?](http://stackoverflow.com/questions/28754726/how-do-chained-comparisons-in-python-actually-work)

[2016-04-14 16:34] Tagar opened #812 "pip install ibis-framework[kerberos] build problem with Anaconda 4.0"
`$ sudo pip install ibis-framework[kerberos]`

Any thoughts?

[code]

[2016-04-14 16:46] Tagar commented on #812
Explicit
`export LD_LIBRARY_PATH=/opt/cloudera/parcels/Anaconda/lib`

does not help..

I noticed Anaconda only has dynamic libraries:
[code]

Does Ibis-framework need static libpython2.7.a to build?

[2016-04-14 16:57] Tagar commented on #812
Also tried adding /opt/cloudera/parcels/Anaconda/lib/
into a new anaconda.conf file in ld.so.conf.d
but build still fails with the same error after ldconfig shows python2.7 lib is cached.

[2016-04-15 13:35] mariusvniekerk opened #813 "Link to conda packages build by conda-forge?"
I've set up some conda-forge feedstocks for ibis and its dependencies.

This provides binary builds for all os platforms automatically via a bunch of CI tools.

https://github.com/conda-forge/ibis-framework-feedstock
https://github.com/conda-forge/impyla-feedstock

If someone wants to assist in being maintainers on these recipes i can add them in.

[2016-04-19 07:33] kskrishnasangeeth opened #814 "Difficulty in connecting to Impala in Kerberos environment"
I am trying to connect to Impala from a CDH 5.5 environment which has implemented kerberos security.
I am referring to the [API docs](http://docs.ibis-project.org/generated/ibis.impala.api.connect.html#ibis.impala.api.connect) for connecting.

My connection string looks like this

`con = ibis.impala.connect(host=host_name, port=port_num, database=db_name,use_ssl=True,auth_mechanism='GSSAPI', kerbe

[2016-04-20 09:55] wesm commented on #814
What version of Thrift-Python are you using? There are some fixes for Python 2.6 and SSL in Thrift but you may not have them with your version:

https://github.com/apache/thrift/blob/master/lib/py/src/transport/TSSLSocket.py#L199

[2016-04-21 10:38] kskrishnasangeeth commented on #814
I am using Python 2.6.6 .

Initially i got an error `ImportError : No module named thrift_sasl`

So , I had pip-installed `thrift_sasl`

I am not sure what is the version that got installed. I can see from the snippet that there is some change in code. Will upgrading the module help me in getting this code.

Also I would have imagined that `thrift_sasl` was installed by default by being a requirem

[2016-04-22 13:58] wesm opened #815 "Add instructions for using Ibis with HDFS clusters with HA namenode"

[2016-04-22 16:40] wesm commented on #812
@mariusvniekerk is it possible the conda-forge builds on anaconda.org will work for this (do they include the Kerberos dependencies)? https://anaconda.org/conda-forge/ibis-framework

[2016-04-22 20:36] wesm commented on #813
Sure, can you make a patch to the docs or README about it?

What's the rationale for having a repo for every project? Versus the homebrew approach: https://github.com/Homebrew/homebrew-core

[2016-04-22 21:57] wesm commented on #814
I recommend that you upgrade to the latest version of Thrift:

https://pypi.python.org/pypi/thrift/0.9.3

`pip install --upgrade thrift`

For Kerberos support you must also install the `sasl` and `thrift_sasl` packages as described here: https://github.com/cloudera/impyla

[2016-04-22 23:30] mariusvniekerk commented on #813
Conda Forge splits it out automatically.  So that's mostly why.

I haven't built kerberos modules for it yet since I don't quite know how to build libsasl for Windows....

I'll send a PR amending the readme

[2016-04-23 15:24] wesm opened #816 "mock must be made optional on Python 2.x"
Needed for testing purposes, but the user get ImportError currently if it is not installed for normal Ibis use

[2016-04-23 15:27] wesm commented on #810
It appears this is not possible to do, but can be solved by making `bool(expr)` fail. See NumPy for example (maybe we can come up with a better error message):

[code]

[2016-04-25 14:51] tdhopper commented on #810
Interesting. Raising would seem be the best option.

[2016-04-29 19:35] Tagar commented on #812
I have the same problem with some other packages under Anaconda 4.0:

`$ sudo pip install thrift_sasl`

gives

the same error.

[2016-04-29 19:54] Tagar commented on #812
I noticed in my first post here 15 days ago for pip install ibis-framework[kerberos]
and the one today for pip install thrift_sasl

In both cases g++ called by pip was trying to use "/tmp/tmpQcQ0Zo/Anaconda-4.0.0/lib"

notice "tmpQcQ0Zo" is the same.. not sure if this is Anaconda's or pip's problem.

Got fixed by creating a symlink:

Now both ibis-framework[kerberos] and thrift_sasl were installed

[2016-04-29 23:38] wesm commented on #812
Sounds like an Anaconda problem, want to raise the issue with them about it?

[2016-04-29 23:54] Tagar commented on #812
https://github.com/ContinuumIO/anaconda-issues/issues/772

[2016-04-30 00:05] mariusvniekerk commented on #812
I haven't tried the kerberos builds on conda -Forge

Guess it's worth a shot.  Do you know what is involved in compiling that on Windows?  Or do we just not target windows initially

[2016-04-30 00:13] wesm commented on #812
I don't know, but it would be nice to get it to work

[2016-05-02 16:25] wesm opened #819 "Timestamp-related test failure on Postgres 9.3"
SQLAlchemy 1.0.12, if that makes a difference. cc @cpcloud

[code]

[2016-05-03 02:58] cpcloud commented on #819
Cool. This is a SQLAlchemy related issue, not related to postgres version.

[2016-05-03 03:04] cpcloud commented on #819
@wesm Can you show me `\d functional_alltypes` from the `psql` command line? I think the types are likely incorrect.

[2016-05-03 03:05] cpcloud commented on #819
Or, `con.table('functional_alltypes')` would probably suffice.

[2016-05-03 23:11] marshall245 opened #821 "Union All/With Syntax Error"
Using union with complex TableExpr can yield syntax such as :

.....
UNION ALL
WITH t1 as (
......

this then yields a syntax error/

[2016-05-04 00:21] wesm commented on #821
Interesting, I will have a look

[2016-05-04 04:31] #819 closed

[2016-05-04 17:39] cpcloud commented on #782
FWIW, Presto has a `JSON` type stored as a string. The main purpose is serves is to indicate that the underlying string is valid JSON. For example,

[code]

fails because it can't be parsed as valid json, whereas

[code]

is converted to json.

[2016-05-06 16:32] cpcloud commented on #821
@marshall245 Can you give an example ibis expression that results in this error?

[2016-05-07 16:53] cpcloud commented on #821
@marshall245 I was able to find one in the test suite and reproduce the problem, but feel free to post one if you have it at the ready.

[2016-05-09 14:24] tdhopper opened #825 "Using multiple boolean filters compile incorrectly"
I'm running Ibis 0.7.1 on Python 3.

I'm writing this:

[code]

The compiled code is:

[code]

and Ibis outputs

[code]

My expectation is

[code]

If my reasoning is correct, it's a bug.

[2016-05-09 21:12] wesm commented on #825
Yep, definitely a bug. I'm marking as a must-do fix for 0.8 which should be coming out soon (with a Postgres backend :tada: )

[2016-05-09 21:15] wesm commented on #661
done in #720

[2016-05-09 21:15] #661 closed

[2016-05-10 04:03] marshall245 commented on #821
Hey guys,

Sorry for the slow turn around. I have attached an example notebook. The
example is a bit contrived. We came by the first honestly while unioning a
query to the data in a partition for the purposes of rewriting the
partition in an updated form. Thanks for having a look.

On Sat, May 7, 2016 at 12:53 PM, Phillip Cloud <notifications@github.com>
wrote:

[2016-05-10 05:58] #810 closed

[2016-05-10 06:11] #808 closed

[2016-05-10 13:23] tdhopper opened #827 "Filtering a TableExpr using one of its columns"
I was trying to filter a `TableExpr` created by a `group_by` operation on one of it's own columns. I get a `KeyError: "'col' is not a field"` exception.

I reproduced it here: https://gist.github.com/tdhopper/f20db628c2e496828bf6afb2c7c2eebd.

If I drop into the stack with pdb, I see that the `if name not in table_expr.schema():` line, I see that `name` corresponds to the named column in the `grou

[2016-05-10 14:30] tdhopper commented on #827
Possibly the same as #807

[2016-05-10 18:49] tdhopper opened #828 "`having()` is ignored when using `.size()"
I'm using Ibis 3 and Ibis 0.7.1.

I create a test table using Pandas:

[code]

If I run this

[code]

I correctly get

[code]

But with this

[code]

I incorrectly get

[code]

[2016-05-10 21:47] tdhopper opened #829 "RelationError when using `having` on a TableExpr"
I'm using Ibis 3 and Ibis 0.7.1.

I create a test table using Pandas:

[code]

I'm creating a table expression by filtering that table

[code]

I can do a `group_by` with a `having` on the filtered table by doing this:

[code]

Note that the `having` uses `table1` not `table1_filtered`.

If I replace `.having(table1.a.max() == 2)` with `.having(table1_filtered.a.max() == 2)`, I get

[code]

Bug?

[2016-05-13 02:21] wesm commented on #828
Marked for 0.8 will have a look when I can

[2016-05-13 04:01] wesm commented on #821
The attachment didn't come through because of github -- feel free to e-mail us the details offline if you prefer

[2016-05-13 15:45] cpcloud commented on #827
I'll add a test for this in #822

[2016-05-13 15:47] cpcloud commented on #827
Actually, this is the same bug so the test should be sufficient to cover this case too.

[2016-05-13 17:36] #807 closed

[2016-05-13 17:38] cpcloud commented on #827
This can be closed now

[2016-05-13 17:44] cpcloud commented on #828
I'll take a look at this this weekend or later tonight.

[2016-05-13 18:24] #827 closed

[2016-05-13 18:36] #825 closed

[2016-05-14 01:09] napjon commented on #807
@cpcloud : Amazing work, thank you!

[2016-05-14 01:30] cpcloud commented on #828
I have a fix for this. Will push in a few

[2016-05-14 01:31] cpcloud commented on #829
I'll look into this

[2016-05-14 18:22] cpcloud commented on #803
What's the bug here? This is now raising a sensible error, indicating that the source relation of the aggregation is not the same as the source relation of the rest of the expression.

[2016-05-14 18:40] wesm commented on #803
For now, I think this should throw an exception. It would be nice (for usability) to be able to have `t[boolean_cond].count()` auto translate to `t.count(where=boolean_cond)`. I may actually have an issue already for this

[2016-05-14 22:19] cpcloud commented on #803
Is there a mechanism for rewriting expressions *before* predicates and columns in the select are separated. I played around with this but it looks like rewrites are happening after the predicates are removed from the aggregate.

[2016-05-15 01:59] wesm commented on #803
It seems like this analysis/expr-transformation would have to happen when the aggregate operation is formed

[2016-05-15 03:20] #828 closed

[2016-05-15 03:20] wesm commented on #828
thanks dudes

[2016-05-15 03:21] #816 closed

[2016-05-15 03:25] wesm commented on #829
cherry-picked in f38880a

[2016-05-15 03:25] #829 closed

[2016-05-15 03:38] #768 closed

[2016-05-15 17:16] cpcloud commented on #782
Additionally Presto uses a subset of [JSONPath](http://goessner.net/articles/JsonPath/) to let users pick out parts of the JSON blob that they want.

An ibis-worthy API might look something like this:

[code]

[2016-05-15 17:21] cpcloud commented on #782
We could also leverage [jsonpath-rw](https://github.com/kennknowles/python-jsonpath-rw) which is a Python DSL that generates JSONPath expressions.

[2016-05-16 01:40] #804 closed

[2016-05-16 01:45] wesm commented on #821
It looks like this might be an issue of putting parentheses around the unioned query

http://www.cloudera.com/documentation/archive/impala/2-x/2-1-x/topics/impala_with.html

I'll try to come up with a test case to reproduce.

[2016-05-16 01:46] cpcloud commented on #821
I think there's a deeper problem here. It's possible to generate a query that contains multiple with statements, e.g., unioning two joins that have a subquery.

[2016-05-16 01:49] wesm commented on #821
I think that may be OK -- obviously it would be better to do subquery factoring through each of the unioned subqueries (so if there is a common subquery between two union components, it gets factored out to a top level WITH clause), but we might be able to work around this for now by adding parenthesis

[2016-05-16 01:50] wesm commented on #821
see #666 (cryptic description, but i think this is a related issue)

[2016-05-16 03:26] cpcloud commented on #821
I have a fix to add the parens. For future reference, at what stage of the compilation pipeline should the factoring out happen? After a few attempts in the last couple of hours I think a sane approach might be to track the common subqueries in the expression, ripping them out of the `left` and `right` fields. Then during compilation of `ImpalaUnion`, build the `WITH`s and the minimized `left` and

[2016-05-16 03:41] cpcloud commented on #581
Is the idea something like this?

Take
[code]

and transform it to

[code]

[2016-05-16 04:10] wesm commented on #581
that's right

[2016-05-16 05:22] wesm commented on #821
@cpcloud that sounds like what I did in #837, take a look and let me know if that wasn't what you were thinking.

I think it may be possible to extract subqueries "above" the union (that's what's referenced in #666), but that will be some more work. This at least gives us working code without a ton of effort

[2016-05-16 07:46] cpcloud commented on #821
This can be closed. Will add more comments after looking at #837 more closely.

[2016-05-16 20:07] #821 closed

[2016-05-16 21:29] wesm opened #838 "Add an API to pass through HDFS data directly to pandas.read_csv"
This will be easier than downloading a file (or reading the bytes into memory) then invoking read_csv on the result

[2016-05-18 19:44] wesm opened #840 "Implement list_databases for Postgres"

[2016-05-19 17:31] pyite1 opened #843 "import ibis throws Postgres error after upgrading to 0.8.0"
[code]

pip install ibis-framework[kerberos] was fine, but throws this error on import

[2016-05-19 17:44] wesm commented on #843
Welp, that's super embarassing. I'm pushing a 0.8.1 release fixing this (forgot to add postgres to the setup.py install targets)

[2016-05-19 17:44] wesm commented on #843
Closed in https://github.com/cloudera/ibis/commit/9f395e60a10a50e8e747a4c421a2138256b9d974

[2016-05-19 17:44] #843 closed

[2016-05-19 17:46] wesm commented on #843
If you install again from PyPI everything should be okay

[2016-05-19 18:04] pyite1 commented on #843
sweet thanks a lot, i thought that it had to do with setup.py

[2016-05-19 20:09] pyite1 opened #844 "locale.nl_langinfo doesn't exist on windows"
[code]

perhaps leveraging locale.getdefaultlocale() could be a workaround?

[2016-05-23 12:12] francescog commented on #844
I stumbled on the same issue. This happens becaunse nl_langinfo is not available on Windows (see [To](http://stackoverflow.com/q/13401587/159684) ). Just be able to at least "import ibis" I commented out those lines and substituted them with a hard-coded format.

[2016-05-25 04:03] cpcloud commented on #782
Should we limit the scope here? E.g., arbitrary JSON is out of scope, but JSON with a well-defined, uniform schema per record (including arbitrary nesting) is in scope.

The [Apache Drill data model](https://drill.apache.org/docs/json-data-model) page is an excellent read and IMO a nice indication of reasonable expectations to set for JSON functionality.

@wesm thoughts?

[2016-05-26 00:47] wesm commented on #782
Makes sense to me. I think one of the challenges will be supporting nested data generally given the diverging semantics of different SQL engines (for example: comparing Hive, Presto, and Impala).

[2016-05-26 01:54] cpcloud commented on #844
Thanks for the report! Will get this fixed ASAP.

[2016-06-01 21:19] jhlch opened #846 "AttributeError: 'DatabaseTable' object has no attribute 'table'"
I'm using Ibis 0.8.1:

[code]

[2016-06-08 21:56] wesm opened #847 "Add async option to create_table"
This is especially important for expensive CTAS statements

[2016-06-13 20:13] tdhopper commented on #846
I've seen this in a number of places too. I haven't been able to create a minimum viable example. Here's my current error:

[code]

[2016-06-13 20:54] wesm commented on #846
This helps -- Tim, is there any way to share a sanitized version of the code where this error occurs (privately / off github is OK)? I can try to come up with a standalone breaking example.

[2016-06-13 21:02] tdhopper commented on #846
Done

[2016-06-15 00:01] cpcloud commented on #782
For the record it looks like each of the systems mentioned by @wesm have three different ways of unnesting for arrays (similar for maps):

Given a table `t`:

[code]

Hive:
[code]

Presto:
[code]

Impala:
[code]

I think we can come up with a reasonable API for doing these operations.

[2016-06-15 11:10] napjon opened #849 "Null Type can't be converted to Array"
I have ibis version 'v0.8.1' and I ran the following,

[code]

I can't select NullArray by column name. Is this expected?

[2016-06-15 16:09] chezou opened #850 "Unable to join with impala"
I'm using ibis v0.8.1 and got `IbisError: Table operation is not yet materialized` for joined TableExp.

[code]

I also put the notebook.
https://gist.github.com/chezou/391f2b485168e28cb12188065f3a9f73

Example data is MovieLens's [ml-100k](http://files.grouplens.org/datasets/movielens/ml-100k.zip)

[2016-06-15 16:44] tdhopper commented on #850
@chezou Can you call `.materialize()` on `joined`?

[2016-06-15 21:09] wesm commented on #782
Cool thanks for looking into this. Might also be good to look at BigQuery for another data point. From the Ibis perspective, it might make the most sense to model this explicitly as a join. Expression analysis/validation may well become more complex, though.

[2016-06-15 21:16] wesm commented on #849
This is definitely a bug. The resolved type of a null scalar may be implementation dependent, so what you can reasonably do with null types may be limited:

[code]

[code]

[2016-06-15 23:39] chezou commented on #850
@tdhopper Thanks! I got results.

[code]

BTW, are there any way to get simple joined result? I want to get result of following query.

[code]

[2016-06-16 00:38] wesm commented on #850
see http://docs.ibis-project.org/sql.html#join-projection

[2016-06-16 00:42] chezou commented on #850
@wesm Thanks for document. Finally, I got the joined and select result.

[2016-06-16 00:42] #850 closed

[2016-06-16 01:37] cpcloud commented on #782
BigQuery:

[code]
or
[code]
The `UNNEST` is optional according to [the docs](https://cloud.google.com/bigquery/sql-reference/query-syntax#unnest)

[2016-06-16 01:43] cpcloud commented on #782
I'll make a new issue for the array API. I've started work on it by way of getting the type system in place and also added an "array_agg" function (called `collect`), indexing/slicing, and length computation. More details in the issue.

[2016-06-16 01:55] cpcloud opened #851 "Array Datatype API and Operations"
We should enable basic operations on `ARRAY<T>` types after #848 is merged.
- `array.length()`: number of elements in each array in a column
- `array[start:stop]` and `array[index]`, i.e., `__getitem__`: element selection
- `array.collect`: collecting scalar values into an `GROUP BY`
- `array.contains(element)`: is `element` in `array`
- `array.concat(*arrays)`: concatenate `array` with `*arrays`

[2016-06-16 02:04] wesm commented on #851
Yeah, I think either Field or Column is a reasonable renaming -- one question is that there are `FooTypeValue` for scalar values so I am not sure the best way to connote a collection (maybe Column). I don't believe users will be impacted by this "API" change, since the class names were never explicitly part of the API.

[2016-06-16 15:48] cpcloud opened #854 "CLN: Remove arithmetic operations from generic value API"
Collection types are on the way and we need to move things like division and subtraction out of the base generic Value API. Additionally the infix operator should remain as concatenation and multiplication infix should also remain as repetition, but I think we should remove the methods with names like add mul, etc from the generic value API

[2016-06-17 05:27] napjon commented on #849
thanks for working on this!

Just want to make sure. One of the use cases that I currently working on is converting tables to common schema so I can union them. Suppose I have two tables,

[code]
t1 has column `b` of StringArray, and t2 doesn't have it. So I create `b` column with null type.

Of course I get error where I tried to union since it required the same schema. I suppose we can't do it l

[2016-06-18 03:56] cpcloud opened #855 "PostgreSQL URL parsing is raising an error"
[code]

[2016-06-18 03:58] cpcloud commented on #855
Whoops, there's a `url` parameter. I swear this used to work.

[2016-06-18 03:58] #855 closed

[2016-06-18 04:13] cpcloud commented on #849
@napjon You can cast null values to any type, so that the union would have the same schema.

I'll be sure to add a test for this to make sure it's possible.

For your convenience, you don't actually need to pass in `ibis.schema()` you can just pass in list of tuples, which saves you a few characters :)

[2016-06-18 04:18] cpcloud commented on #849
@napjon Added tests in the PR. To do what you're talking about using your `t1` and `t2`, here's how you would do it:

[code]

[2016-06-18 12:43] chezou opened #856 "`Multiple backends found` error"
I use ibis 0.8.1 with Impala.

When I use  `isin` with `join`, it returns `Multiple backends found` error as following. How can I avoid it? or is there any wrong usage?

[code]

[code]

[2016-06-18 12:46] chezou commented on #856
I found it is not query depend issue. I will clarify what problem is.

[2016-06-18 12:46] #856 closed

[2016-06-18 13:40] chezou opened #857 "Ambiguous column with `WHERE ... IN`"
I'm using ibis 0.8.1. When I use `WHERE ... IN` with `JOIN` query, specific column becomes ambiguous.

Error message is as following.

input
[code]

output
[code]

[2016-06-20 03:37] napjon commented on #849
Got it, thanks @cpcloud!

[2016-06-22 14:50] maxmzkr opened #859 "Semi complex queries compile slowly"
Hi, I'm currently hoping to switch our code base over to ibis. I'm finding, however, that some semi-complex queries are taking 30+ seconds to compile the sql. I'm hoping maybe I'm doing something wrong?

This is my minimal example of a slow query. The goal is to aggregate five minute data up to 1 hour data and insert new data into the 1 hour table. I know it's failing but it works when I don't use

[2016-06-22 18:06] wesm commented on #859
@maxmzkr thank you for the detailed test case -- there's definitely a bug in the subexpression caching logic in the compiler, here is the profile output (produced using `%prun -s cumulative`):

[code]

The problem is definitely in the `_get_table_key` hotspot. I will take a look and try to fix soon. Problem is still present in 0.8.1.

[2016-06-22 18:09] maxmzkr commented on #859
Cool, thanks for taking a look!

[2016-06-25 17:38] cpcloud opened #861 "SQLAlchemy compile bug"
We can compile literal expressions, but simple table expressions fail:

[code]

[2016-06-25 23:28] #861 closed

[2016-06-27 21:41] #849 closed

[2016-06-27 22:52] #844 closed

[2016-06-30 04:57] ellenpramana opened #863 "[BUG] Insert failed with partition"
Hi,

I'm using Ibis 0.8.1, following is code snippet to generate this error.

[code]

and I received error,

[code]

Apparently, drop() shouldn't take any argument but `partition_schema.names` is given.

[2016-07-05 15:14] tdhopper opened #866 "feat: elementwise bit operations"
As far as I can tell, there's no way to use the Impala [bitand](http://www.cloudera.com/documentation/enterprise/5-5-x/topics/impala_bit_functions.html) function or `&` operator on integer columns. That would be a valuable feature.

[2016-07-07 02:44] #840 closed

[2016-07-07 04:35] cpcloud opened #867 "Default HDFS client port is not consistent"
It appears that the HDFS client port defaults to 50070 in `hdfs_connect`, but the environment variable defaults to 5070. When connecting to the impala docker image, the default port was 5070. I think we should change this to 5070 everywhere.

[code]

[2016-07-07 04:38] cpcloud commented on #867
Unless I'm missing something here and this is intentional.

[2016-07-07 17:15] tdhopper commented on #846
@wesm Have you figured out anything on this? I'm seeing frequently.

[2016-07-07 21:48] cpcloud commented on #846
@tdhopper can you post the repro of this here? or a paste? or email works too.

[2016-07-07 22:24] wesm commented on #867
The Impala dev environment uses 5070 for the webhdfs port. My understanding in normal HDFS deployments is that the default port is 50070. I'm not sure of the exact reason for this, though.

[2016-07-07 23:29] cpcloud commented on #867
Ok, cool. Good to know.

[2016-07-07 23:29] #867 closed

[2016-07-08 00:52] wesm commented on #846
I'm looking at this to see if I can concoct a failing test case

[2016-07-08 18:08] paavanmathur opened #868 "Incorrect SQL with row_number() and arithmetic operation"
Hi, I'm using Ibis with Impala. I'm getting the row numbers in a table like so:

[code]
As expected, this produces:

[code]

However, if I try to perform any arithmetic operation on the row number (e.g. divide by 2), the wrong SQL gets produced because it's not surrounded in parentheses. E.g.:

[code]

produces:

[code]

So here, instead of dividing by 2, it subtracted by 1/2. (I need to do this o

[2016-07-12 00:30] wesm commented on #863
Marked as a bug.

[2016-07-12 03:59] #868 closed

[2016-07-12 03:59] cpcloud commented on #868
@paavanmathur Thanks for the report!

[2016-07-12 16:48] tdhopper commented on #846
@cpcloud: I've only been able to reproduce with fairly complex examples on my work impala cluster. I sent Wes a notebook that can't be shared publicly but I can show you if you want. I can't seem to make it happen on a smaller scale.

[2016-07-15 16:24] maxmzkr opened #870 "BUG: Incorrectly decreasing connection_pool_size"
Impala cursors decrease the connection_pool_size even if they weren't taken from the connetion pool.

[code]

An example of a cursor not coming from the connection pool

[code]

This causes all ImpalaClients to start with a connection_pool_size of -1 which allows the connection pool to increase 1 higher than it's supposed to.

[2016-07-15 17:21] maxmzkr opened #871 "Once released, a cursor is never released again"
When a cursor is obtained from a connection pool, it is released the first time `__exit__` is called. When the cursor is obtained again, `__exit__` does not release the cursor.

relevant logic

[code]

As you can see, when the cursor is made the first time, it sets released to False. When release is called on the cursor, it sets released to True. When the cursor is returned from the connection poo

[2016-07-19 19:54] wesm commented on #870
thanks for catching this, how did you run into this problem?

[2016-07-19 19:55] wesm commented on #871
marked as a bug. i've seen some flakiness around this code path so this is most likely the culprit. we need to fix before making another ibis release

[2016-07-19 20:30] maxmzkr commented on #870
I was tracking down https://github.com/cloudera/ibis/issues/871 and ran into this first

[2016-07-20 17:00] maxmzkr opened #873 "Udf test fail due to bad test environment"
I'm trying to get my test environment setup and I've gotten everything to work other than the udfs.

My tests fail with this

[code]

It looks like my udfs are being compiled incorrectly. I'm not sure how to go about debugging this. Do you think this is a version issue with llvm/clang? Do I have my impala environment setup incorrectly? Or am I just doing something else completely wrong?

[2016-07-20 19:27] wesm commented on #873
You have to have the same LLVM version on your path that was used to compile Impala. I have code in my bash profile that looks like this:

[code]

Impala versions prior to 2.6.0 are using LLVM 3.3 (see IMPALA-775 where the project upgraded to 3.8). You can take advantage of https://github.com/cloudera/native-toolchain if you need to build it from source.

[2016-07-20 19:30] wesm commented on #873
It would be nice to start a developer documentation Markdown document; so far the only docs are for users.

In the interim I would also recommend adding `--skip-udf` to your py.test call to skip over these tests

[2016-07-20 19:58] maxmzkr commented on #873
Thanks! That should help!

[2016-07-20 19:58] #873 closed

[2016-07-25 22:09] schaffino commented on #811
Another option is to use jmx rest query to get the active NN

something along the lines of

[code]

[2016-08-02 00:09] #871 closed

[2016-08-02 19:18] tdhopper opened #876 "'ImpalaDatabase' object has no attribute '_repr_json_'"
In a Jupyter notebook, if I call the `database` method of an `ImpalaConnection` without assigning the output to a variable, I get

[code]

This is a Jupyter-specific thing, but I don't understand exactly what's going on here. Maybe it can be ignored.

This is in Ibis 0.8.1.

[2016-08-03 00:31] wesm commented on #876
Interesting. Probably should fix this

[2016-08-03 00:34] cpcloud commented on #876
What's the function of the `special_attrs` variable in `__getattr__`? Why not just let Python's attribute lookup mechanism take its course? Is there something I'm missing?

[2016-08-03 01:24] cpcloud commented on #876
Ah, nevermind.

[2016-08-04 20:25] wesm opened #879 "Accept boolean expressions in case().when($HERE, result_expr)"
Brought up on the mailing list. Here's a minimal example:

[code]

[2016-08-05 13:22] cgc17 commented on #879
I found the `where()` definition [here](https://github.com/cloudera/ibis/blob/f38880a38a4bc612eabde6039a320395c0084947/ibis/expr/operations.py#L1155-L1186), but where does the actual comparison for the case expression happen?  What's the difference in a SearchedCase and a SimpleCase?

Sorry for the basic questions, I'm just trying to orient myself.

[2016-08-05 16:30] cpcloud commented on #879
`SimpleCase` has this form

[code]

`SearchedCase` has this form

[code]

The first is roughly analogous to a `switch` construct in C, whereas the second is analogous to a series of `if () else if () else if () else ()` statements.

[2016-08-05 16:39] cpcloud commented on #879
@wesm This seems like a correct failure, since the minimal example is mixing the two different types of case statements. My understanding is that `expr.case()` is *always* a simple case statement, and for a searched case statement there's the top-level function `ibis.case()`.

[2016-08-05 17:49] wesm commented on #879
@cpcloud you are probably right. I'm wondering if there's a way to transform the simple case into a searched case to produce a more intuitive user experience?

[2016-08-05 19:33] cpcloud commented on #879
Simple cases can be rewritten from

[code]

to

[code]

But now I'm wondering why a `.case()` method on expressions exists at all, if not to somehow restrict the possible inputs. If `ibis.case()` and `expr.case()` are going to end up being the same it might make sense to either keep the constraint on `expr.case()` (and provide a more useful error message detailed the distinction) or deprecate it.

[2016-08-05 19:44] cpcloud commented on #879
The motivation behind either keeping the current behavior or deprecating it is case expressions that have multiple columns in their cases. I think ibis code that looks like this would be very confusing:

[code]

The `.case()` call looks like it's operating only on `e1`, but then I use `e2` and `e3` in the `.when()`s, so calling it as a method seems to provide very little if any information.

[2016-09-09 02:11] toddlipcon commented on #703
hm, is this still the case? trying to use Impyla in some stress tests and it would be nice to know the error when an error happens

[2016-09-09 03:44] wesm commented on #703
I haven't dug into it, but from the thrift definitions in theory you should be able to return the error message from TStatus with the exception.

[2016-09-15 21:27] tdhopper opened #880 ""Could not resolve path" when creating table"
I sometimes get the following error when I use the `create_table` method. It typically works if [I just run it again](https://twitter.com/DrZeydy/status/776531276237049856).

[code]

[2016-09-19 16:54] ZuluagaSD opened #881 "AttributeError: 'module' object has no attribute 'nl_langinfo'"
I'm getting the AttributeError: 'module' object has no attribute 'nl_langinfo' when I try to import ibis.

I'm currently using a Windows 7 box with a python distribution installed using Anaconda.

![image](https://cloud.githubusercontent.com/assets/1851696/18640894/cb6e1afe-7e5f-11e6-9523-7ae9aa65f072.png)

[2016-09-19 17:07] ZuluagaSD commented on #881
Looks like I "fixed" the error bellow when I do:

`import locale`
`locale.setlocale(locale.LC_ALL, 'english')`

But now I'm getting a similar error:

![image](https://cloud.githubusercontent.com/assets/1851696/18641291/9c2ea7ac-7e61-11e6-86c6-18fcf3a4d20d.png)

[2016-09-19 17:11] cpcloud commented on #881
Are you on the latest version of ibis? This should've been fixed by #845

[2016-09-19 17:12] cpcloud commented on #881
From the traceback it looks like you're not on the latest version. Please update and reopen if you still experience this error. Thanks for reporting!

[2016-09-19 17:12] #881 closed

[2016-09-19 18:28] ZuluagaSD opened #882 "thrift.transport.TTransport.TTransportException: Hostname we connected to "grid.company.corp" doesn't match certificate provided commonName "server.company.corp""
I'm trying to connect to Impala server that uses kerberos using the ibis.impala.connect like so:

[code]

But I keep getting the following error:

[code]

I have the Impala ODBC set up and it works fine.

[2016-09-19 18:39] ZuluagaSD commented on #881
You are right, I just updated from the GitHub repo and it's working now. Thanks!

[2016-09-28 09:16] pteehan commented on #857
+1, I've seen what I think is the same problem.

If I make this expression which joins on a common column, uuid:

    detail = imp.client.table('detail', database='taf')
    counts = detail.group_by(['uuid','keyword']).size()
    max_counts = (detail.group_by(['uuid','keyword']).size()
        .group_by('uuid')
        .aggregate(lambda x: x['count'].max().name('max_count'))
        )
    main_kw=

[2016-09-29 22:54] wesm commented on #882
Do you need to pass a particular CA certificate when connecting?

[2016-09-30 02:28] ZuluagaSD commented on #882
Yes, I have a working connection using the impala ODBC connector. For the ODBC configuration I have to enable SSL and pass the certificate file that I mention above.

[2016-09-30 14:12] ragesz opened #883 "'DoubleArray' object does not support indexing"
I just want to convert ibis table into pandas dataframe. I don't know how to do this basic step. I've tried creating lists from columns with no success. Then I tried to get a single value from a cell:
`table['col_name'][0]`

And I get this error:

How can I do these basic steps in ibis: indexing, converting?

Thank you!

[2016-09-30 17:06] wesm commented on #883
Run `.execute()` on the expression to get the in-memory pandas result

[2016-10-04 19:23] gloopy opened #886 "Create table hangs"
Hi I am attempting to write a pandas dataframe to impala and the process hangs with no result.

[code]

The code freezes at the 2 line and I am unable to even get a result from the  debugger.  The dataframe is only small only 200 lines

[2016-10-11 15:09] ragesz commented on #883
Thank you! It works perfectly!
Actually I started using impyla when I was blocked by this issue. But now I had some time to turn back to ibis. And as I see both has the same runtime performance (at least in my project).

[2016-10-16 03:13] #883 closed

[2016-10-16 19:51] #857 closed

[2016-10-16 20:32] wesm commented on #886
Can you find out on what internal operation it hangs (e.g. is it the CREATE EXTERNAL TABLE ddl statement, or something else)?

[2016-10-16 22:41] chezou commented on #857
thx! @cpcloud

[2016-10-17 00:24] cpcloud commented on #685
Just to expand a bit here: this operation is tricky because the way you combine reduction operations and scalar (column) operations in SQL is not intuitive if you're used to operating with DataFrames or numpy arrays.

To do something as simple as subtract the mean of a column from itself actually requires a window function, or some equivalent.

In pandas it's trivial:

[code]

In SQL you often use

[2016-10-17 13:56] gloopy commented on #886
Hello I have found that the process hangs in pandas_interop.py in the write_temp_dataframe method.

In the write_tempdataframe method I have added two print statements that bracket the hanging method call.
`
def write_temp_dataframe(client, df):
    print("in write frame", flush=True)
    writer = DataFrameWriter(client, df)
    path = writer.write_temp_csv()
    print(path, flush=True)
    return

[2016-10-17 13:58] gloopy commented on #886
Hello I have found that the process hangs in pandas_interop.py in the write_temp_dataframe method.

In the write_tempdataframe method I have added two print statements that bracket the hanging method call.

[code]

The first print statement runs but the second never does however the temp file is created on hdfs and my local system but the write process never releases the thread back to the calling

[2016-10-17 13:58] gloopy commented on #886
Hello I have found that the process hangs in pandas_interop.py in the write_temp_dataframe method.

In the write_tempdataframe method I have added two print statements that bracket the hanging method call.

[code]
The first print statement runs but the second never does however the temp file is created on hdfs and my local system but the write process never releases the thread back to the calling

[2016-10-18 13:53] maxmzkr commented on #859
Hey Wes, I decided to take a look into this. It looks like the slowness is coming from rewalking parts of the ast. I'm looking to add a little bit of caching to speed things up. I'm planning to have a pr out sometime this week. I'm just want to make sure I'm not duplicating work if you're already looking into this

[2016-10-18 13:54] maxmzkr commented on #859
I guess you already said that it's from subquery expressing caching...

[2016-10-24 02:49] cpcloud commented on #662
I'm prototyping out supporting basic window functions in engines that don't support them with the standard `OVER ()` syntax.

The general approach I'm taking is to traverse the expression tree and rewrite `WindowOp`s. More specifically, when we reach a `WindowOp` expression, we rewrite it as a projection and replace the projection that the expression originally came from with the one that contains

[2016-10-27 08:17] Manoj-red-hat commented on #703
Issue reproduced please find attached debug logs.

[debug-log.txt](https://github.com/cloudera/ibis/files/555271/debug-log.txt)

[2016-10-28 13:05] pteehan commented on #256
Hello, I'm looking for concat() in Ibis and the only reference I have found is this issue.  Has this been implemented?

[2016-10-28 13:51] tdhopper commented on #256
@pteehan Pretty sure not.

[2016-10-29 01:09] wesm commented on #256
@pteehan try `sep.join([e1, e2, e3])`, e.g.

[code]

this compiles to

[code]

[2016-10-29 01:30] cpcloud opened #890 "Make expressions hashable"
This would greatly simplify some of the analysis code and make it easier to add new transforms. I'm working on adding an analysis pass that fuses `GROUP BY`s that have identical keys and I'm really hurting for a standard way to map ibis expressions to other expressions.

[2016-10-29 01:32] cpcloud commented on #890
@wesm Are there any use cases that block expressions from being hashable? The only one I can think of off the top of my head that might be challenging is expressions with varargs.

[2016-10-30 19:26] cpcloud commented on #662
Closing, because we've implemented this for PostgreSQL. SQLite and other databases that don't have native support require a different approach. I have some thoughts on this, for which I will create another issue.

[2016-10-30 19:26] #662 closed

[2016-10-30 19:44] cpcloud commented on #803
Thinking about this a bit. I don't think we should pull predicates that filter data into aggregates. Even though the results are often the same between filtering in the `WHERE` clauses versus putting the filter in the aggregation function, I don't think in general it's possible to tell when this matters to the database. For example, often you'll want to pick a single day's data and count things fr

[2016-10-30 22:26] cpcloud opened #892 "RFC/WIP: Window functions for databases that don't have them built in"
Some databases don't have support for window functions.

Two that come to mind are SQLite and MySQL. In SQLite you typically solve the problems that window functions solve using self joins. In MySQL, it's some combination of session variables and self joins.

I think Ibis should solve this problem for users. You should be able to write a window expression and have it return the same results across

[2016-10-31 15:03] pteehan commented on #256
Great, thank you.

On Sat, Oct 29, 2016 at 3:09 AM, Wes McKinney <notifications@github.com>
wrote:

[2016-10-31 16:19] pyite1 commented on #882
I assume grid.company.corp is a load balancer? I've been able to get around this error by using a specific Impala daemon.

[2016-10-31 16:21] ZuluagaSD commented on #882
Hey @pyite1 thanks for your reply.

Yes grid.company.corp is indeed a load balancer.

[2016-11-01 02:29] #859 closed

[2016-11-01 22:28] wesm commented on #890
I don't see why not to make them hashable. It would make a lot of things much easier. Might have to do some gymnastics to use them as a dict key, though (because `__eq__` is overloaded)

[2016-11-03 10:34] pteehan commented on #846
I just hit this issue.  One interesting thing is that it occurred in a notebook which was working yesterday, so the code was unchanged.  I believe the Impala server was restarted overnight.  I re-ran the whole notebook, creating the connection etc, and was still getting the error.  But when I restarted the kernel and ran it again, it worked fine.  Hope that's a useful clue.

[2016-11-03 15:06] pteehan opened #893 "ENH: Trigonometric functions"
I think there is currently no support for trigonometric functions, e.g. sin, cos, acos, atan etc, is that right?

Thank you

[2016-11-04 14:57] pteehan opened #894 "KeyError: 'timestamp' in aggregation with 'where'"
Hello,

Table 'ta' has a column 'ts' which is a timestamp.  This works as expected:

    ta.group_by('uuid').aggregate(min_date=ta.ts.min()).compile()

But the following produces keyError: 'timestamp'.

    ta.group_by('uuid').aggregate(min_date=ta.ts.min(where=ta.search_level==1)).compile()

Casting to a different data type as below works fine, so it seems to be a problem with timestamps?

    (t

[2016-11-06 22:14] wesm commented on #893
Appears not yet, want to take a shot at adding them?

[2016-11-07 07:27] pteehan commented on #893
It will take me a while to figure out how, but I'd be happy to give it a try.  I'll be in touch.

[2016-11-13 17:51] cpcloud commented on #894
@pteehan Thanks for reporting!

[2016-11-16 21:09] #894 closed

[2016-11-24 23:08] arita37 opened #896 "Comparison with Blaze"
It sounds like a re-writing of Blaze project.
What are the differences with Blaze since Blaze performs quite well ?

[2016-11-26 17:11] cpcloud commented on #896
There's a comparison at the end of this blog post: http://www.ibis-project.org/design-types-operations/.

Ibis is more ambitious with respect to SQL (window functions should work no matter what database you're using), and less ambitious with respect to the systems it can successfully operate on (seamless querying of HDF5 files isn't on the list of priorities).

[2016-11-26 18:40] wesm commented on #896
@arita37 I think @cpcloud summarized it fairly well. There is functional overlap but quite different design goals. The Blaze DSL falls short in SQL compatibility, but what you can express can be evaluated on a more diverse set of systems. So we designed for a depth-first use case (Ibis targets SQL-based systems with deeper functionality -- from a SQL point of view) rather than breadth-first (many

[2016-11-26 18:40] #896 closed

[2016-12-06 21:53] tdhopper opened #897 "Error with projection involving aggregate functions"
I've got this code:
[code]
which returns
[code]

If I try to run it on Impala, I get `impala.error.HiveServer2Error: AnalysisException: Aggregate function 'stddev(`y`)' not supported with OVER clause.`

However, it's no problem to just run `t1.y.std().execute()`because that doesn't generate the `OVER ()`.

Why is the `OVER ()` added in the projection? It doesn't need to be. This may be related to

[2016-12-08 21:52] wesm commented on #897
When you use reductions in a projection, ibis thinks you're trying to do a window function. For example:

[code]

this works though:

[code]

[2016-12-31 21:33] cpcloud commented on #897
The behavior here is correct, though the word "projection" doesn't necessarily imply (other than by definition) that it has no effect on the number of rows in a relation (derived or otherwise), only the number of columns.

[2016-12-31 21:33] #897 closed

[2017-01-04 19:43] maxmzkr opened #900 "Analytic function does not originate from dependencies"
I have run into an issue where I am unable to add a fully functioning analytic column to a table expression after filtering on a column not original to the table.

[code]

[code]

I have time to look deeper into this tomorrow. If I'm doing something wrong or if there is a good place to start looking for a fix please let me know!

[2017-01-04 20:18] maxmzkr commented on #900
I actually just pulled master again and I'm getting this error now

[code]

[2017-01-04 20:42] cpcloud commented on #900
I will try to take a look tonight. Shouldn't be too hard to track down.

[2017-01-04 23:06] cpcloud commented on #900
@maxmzkr Did this ever work for you in the past? A regression will be easier to debug.

[2017-01-04 23:09] maxmzkr commented on #900
I haven't tried it in any older versions

[2017-01-04 23:11] cpcloud commented on #900
Cool, thanks.

[2017-01-05 17:59] maxmzkr commented on #900
In the case that anyone else runs into this in the mean time, you can do a projection directly with the string values and everything seems to work, so replace the last line with

[code]

This seems to be enough to "fix up" the table. After doing the projection, everything works as expected.

[2017-01-05 18:25] cpcloud commented on #900
@maxmzkr Very interesting. After I get to the bottom of this we should probably unify the code path here and make these expressions equivalent.

[2017-01-10 19:25] #900 closed

[2017-01-10 19:30] #666 closed

[2017-01-12 19:09] cpcloud commented on #609
One small issue here is that users must have a sqlite extension installed. There are a few to choose from it looks like:
* https://github.com/liteglue/sqlite3-pcre
* https://github.com/ralight/sqlite3-pcre
I suppose we could write our own, but that seems like scope creep.

[2017-01-12 19:14] cpcloud commented on #552
@wrobstory Curious if you'd be willing to throw ibis at redshift with the postgres backend :)

[2017-01-22 20:24] #851 closed

[2017-01-26 20:11] wesm opened #904 "DEV: Make database driver and webhdfs dependencies optional"
Depending on how people are using Ibis, they may not need all of the database drivers (impyla, psycopg2) installed. We can make these optional and document what you should install based on what query engine you're using

[2017-02-03 02:15] seb-at-nzrs commented on #863
Are bugs being actively fixed for Ibis or it's better to find an alternative? Is there a recommended workaround for this bug?

[2017-02-03 02:32] cpcloud commented on #863
I can look into this over the weekend.

[2017-02-03 19:26] wesm opened #905 "ENH: Console formatting for user-defined expression types"
The _get_type_display method in `ibis.expr.format` only recognizes a limited set of built-in expression types. If you define other `Expr` subclasses, these won't be able to be console-formatted properly when `repr` is called

[2017-02-03 19:41] wesm opened #906 "ENH: Case insensitive string options"
The operation input type validators for strings is currently case sensitive. It would be useful to accept case insensitive input, but conforming the validated input to the "preferred" case that's in the type signature.

For example, if we have

`rules.string_options(['FOO', 'BAR', 'BAZ'], case_sensitive=False)`

then we could have

`FooOperator('foo')`

and it would conform the argument to `'FOO'`

[2017-02-03 20:43] wesm opened #907 "flake8 cleanup"
There are a bunch of warnings right now

[2017-02-03 21:47] wesm opened #909 "Make merge-pr script work on Python 3"

[2017-02-03 21:49] cpcloud opened #910 "Drop 2.6 Support"

[2017-02-03 22:03] wesm commented on #905
done in https://github.com/cloudera/ibis/commit/a576be2bd75d3fab446eadf6d6a71404076304b4

[2017-02-03 22:03] #905 closed

[2017-02-03 22:55] wesm opened #911 "ENH: Add custom type __repr__ for ValueOp subclasses that shows type signatures and other interesting data"
For example, it would show the `input_type` type signature

[2017-02-03 22:55] wesm opened #912 "ENH: Nicer repr for expr.rules.StringOptions"
For nicer type signatures

[2017-02-06 18:05] cpcloud opened #913 "Rules for Enums"
We should support type checking rules for `enum.Enum` types.

Something like: `ibis.expr.rules.enum(SubclassOfEnum)`

[2017-02-07 21:19] wesm opened #915 "ENH: Add simpler "instance_of" type validation rule"
Similar to `one_of` and `value_typed_as`, but a shortcut to `AnyTyped` (with a default failure message)

[2017-02-07 21:26] wesm opened #916 "Rename XArray expression types to XColumn"
As discussed on #899 this will help disambiguate array values versus columns containing array values

[2017-02-07 22:26] cpcloud opened #918 "ENH: Support hdfs3.HDFileSystem as a valid argument to hdfs_client in ibis.impala.connect"

[2017-02-07 23:39] #904 closed

[2017-02-07 23:45] wesm commented on #918
We can use `driver='libhdfs'` in the pyarrow driver also, these should be roughly API interchangeable anyway

[2017-02-07 23:48] #909 closed

[2017-02-07 23:51] #916 closed

[2017-02-07 23:56] cpcloud commented on #918
Yeah, been working on it for the last hour or so. There are some differences in `put` that matter, e.g., the `HDFileSystem.put` API requires a path instead of something implement the file protocol.

[2017-02-08 14:25] wesm opened #921 "Add flake8 checks to Circle CI build"
follow up to #907

[2017-02-08 16:13] #907 closed

[2017-02-08 16:15] wesm commented on #915
Done in https://github.com/cloudera/ibis/commit/38f7faedf0b3dba3e8bda32c4af24570b3ce1d0d

[2017-02-08 16:15] #915 closed

[2017-02-13 22:30] wesm opened #923 "ENH: Add method to Argument types to create a copy with a new argument name"
This will require some refactoring to enable arguments to copy themselves (with a new name), but would be nice to be able to have

[code]

[2017-02-14 01:54] wesm opened #925 "Display argument names in default Expr repr"

[2017-02-15 17:31] #921 closed

[2017-02-15 17:54] #863 closed

[2017-02-15 17:59] #913 closed

[2017-02-15 20:14] #910 closed

[2017-02-15 20:15] #925 closed

[2017-02-15 23:41] cpcloud opened #930 "BUG: Enum _validate doesn't return its arguments"
I'll add a test for this.

[2017-02-16 00:23] #930 closed

[2017-02-16 02:04] wesm opened #932 "Enum rule does not conform argument to an enum value"
Enum values pass through unmodified, e.g.

[code]

the validator passes through `'foo'` rather than returning `MyEnum.FOO`

[2017-02-16 02:05] cpcloud commented on #932
ah, right. on it.

[2017-02-16 03:52] #932 closed

[2017-02-16 15:41] cpcloud opened #935 "VarArgs has no attribute types"
Exposed by running impala tests

[2017-02-16 19:36] cpcloud opened #936 "ENH: Ability to document `input_type` elements"
I think it would be great to be able to inspect the arguments of an expression and see a docstring for each argument. This is especially important for custom expressions.

[2017-02-16 19:37] cpcloud commented on #936
Something like

[code]

[2017-02-17 15:29] cpcloud opened #937 "as_value_expr(list) is not the same as literal(list)"

[2017-02-17 15:30] cpcloud commented on #937
Hm, nevermind. I don't think these should be the same.

[2017-02-17 15:32] cpcloud opened #938 "literal([1, 2, 'a']) doesn't fail"

[2017-02-17 16:51] cpcloud commented on #937
Actually, these *should* be the same according to the documentation.

[2017-02-17 17:37] cpcloud commented on #937
Digging in, I see that there are different use cases for a literal array vs a list of values of the same type. For instance, the second argument to `contains`.

[2017-02-17 17:37] #937 closed

[2017-02-17 19:18] #938 closed

[2017-02-17 19:21] #935 closed

[2017-02-18 07:59] djKooks commented on #639
@wesm Hello~This is just a question working on running below.
[code]
What is quick start login ID/PW when running VM?

[2017-02-18 23:51] cpcloud opened #942 "Deprecations"
We have some code that's lying around that looks like it's collecting dust. I think we should remove it, since it's likely not being used.

I think some things should not be supported for the foreseeable future, and some should be rewritten and supported as features.

- [x] Madlib -- It looks like this is providing an API for madlib UDFs. I'd be very surprised if this particular aspect of ibis saw

[2017-02-20 01:38] wesm commented on #639
I'm not aware of the ID/password, see the command-line bootstrap script: https://github.com/cloudera/ibis-notebooks/blob/master/setup/setup-ibis-demo-vm.sh

[2017-02-20 03:12] wesm commented on #942
The comms/server/tasks code was part of a prototype to add embedded UDFs to Impala -- the work did not firm up, and the ad hoc columnar serialization / shared memory IPC preceded my involvement in the (much more general) Apache Arrow project. You can see some of that in https://github.com/cloudera/ibis/blob/master/ibis/comms.pyx#L323

Definitely fine to delete all that cruft. Same for MADLib.

I'm

[2017-02-20 12:37] djKooks opened #943 "Can I access in demo vm?"
Hello,
I'm currently following up running demo, but couldn't access on VM like below.
![2017-02-20 9 35 13](https://cloud.githubusercontent.com/assets/1720209/23125369/b72c898a-f7b4-11e6-8281-a2b395850ad6.png)

Do I need an account for working on demo?

[2017-02-20 14:20] cpcloud commented on #943
This information is available on the cloudera website: https://www.cloudera.com/downloads/quickstart_vms/5-8.html

Please reopen the issue if you're still experiencing problems.

[2017-02-20 14:20] #943 closed

[2017-02-20 14:25] cpcloud commented on #764
We're running circleci tests against all versions of python that we support.

[2017-02-20 14:25] #764 closed

[2017-02-21 13:30] djKooks commented on #943
@cpcloud Thanks! I'll keep look on it.

[2017-02-21 13:51] cpcloud commented on #879
I could see a `lambda` working here, but having an expression like this:

[code]
semantically mean this:

[code]

seems confusing. Marking as a usability enhancement.

[2017-02-21 13:53] cpcloud commented on #751
Pushing to future, since this isn't necessary for the next ibis release.

[2017-02-21 13:55] cpcloud commented on #203
Ibis has supported describing tables with nested data since #848.

[2017-02-21 13:55] #203 closed

[2017-02-21 14:00] cpcloud commented on #229
Pushing to 0.11, since this is quite involved and would need probably a few days of solid work to get a prototype of at least lists going.

The main issue I see is how to describe the `UNNEST(array | map)` operation in ibis land.

[2017-02-21 14:02] cpcloud commented on #177
I think most folks coming to impala will expect aggregations to skip `NULL`s. If it becomes so common to do otherwise that it's inconvenient we should add some API for this, but leave it until then.

[2017-02-21 14:04] cpcloud commented on #838
I think we can do this with `hdfs3.HDFileSystem.open`, since it returns an object that implements the file protocol. Moving to 0.11, in which the PR to close #918 will also close this one.

[2017-02-21 14:06] cpcloud commented on #494
I'm going to assume we're not supporting running on Jenkins anymore.

[2017-02-21 14:06] #494 closed

[2017-02-21 14:10] cpcloud commented on #426
It looks like this was added in #792, though it looks untested.

[2017-02-21 14:11] cpcloud commented on #426
@wesm Can this be closed? Is there something that supersedes this?

[2017-02-21 14:16] cpcloud commented on #752
This is pretty low-hanging. I believe many if not all the currently supported backends have some DDL like `TRUNCATE TABLE foo` that we could easily wrap up.

[2017-02-21 14:18] cpcloud commented on #803
I'm going to remove the bug marker here. It's not clear that this is actually a bug, or just something that needs to be better documented. @wesm @tdhopper Please comment if you feel otherwise.

[2017-02-21 14:20] cpcloud commented on #528
The test data is reloaded on every CI run, and all tests are read only on tables that are used by other tests.

[2017-02-21 14:20] #528 closed

[2017-02-21 14:20] cpcloud commented on #755
@wesm Is this fixed by `ibis.hdfs_connect()`?

[2017-02-21 14:24] cpcloud commented on #746
It's possible that such a thing can be done for partitioned postgres tables as well: http://dba.stackexchange.com/questions/40441/get-all-partition-names-for-a-table

[2017-02-21 14:25] cpcloud commented on #428
Marking for 0.11, I've started doing this incrementally.

[2017-02-21 14:32] cpcloud commented on #501
This could be done for 0.10, since this has been implemented:

[code]

[2017-02-21 14:52] cpcloud commented on #502
Now that we have the ability to test impala, and we can create data using Hive, I'm going to put up a PR and close this out. Marking for 0.11, in case it's not 100% straightforward.

[2017-02-21 14:57] cpcloud commented on #477
I think these operations are rare enough that users can just write the composition of the expressions that they want, e.g., `t.bool_col.all() & (~t.bool_col.isnull()).all()` . So, we can close this. If I turn out to be wrong, let's reopen.

[2017-02-21 14:57] #477 closed

[2017-02-21 15:04] cpcloud commented on #766
We should at least link to this page in the docs: https://www.cloudera.com/documentation/enterprise/latest/topics/cdh_ig_ports_cdh5.html#topic_9_1

I found this very useful when setting up the docker image that we use for testing.

[2017-02-21 15:05] cpcloud commented on #815
HA == High Availability?

[2017-02-21 16:19] #766 closed

[2017-02-21 16:20] cpcloud commented on #678
Pushing to 0.11, as this doesn't seem low hanging, nor is it a critical bug fix.

[2017-02-21 23:54] #587 closed

[2017-02-21 23:58] cpcloud commented on #846
This should be fixed by #901. @tdhopper can you give master a try and see if you can repro? pls reopen if you can.

[2017-02-21 23:58] #846 closed

[2017-02-22 00:10] cpcloud commented on #876
I can't reproduce this. @tdhopper Please reopen if you're still seeing this.

![no-repro](https://cloud.githubusercontent.com/assets/417981/23191010/643bfe12-f869-11e6-97b1-ede7cdc45e9e.png)

[2017-02-22 00:10] #876 closed

[2017-02-22 01:37] wesm commented on #528
Yup, an artifact of running on the Cloudera Jenkins

[2017-02-22 01:38] wesm commented on #815
Yep. Together with this would be good to document HA in `pyarrow.HdfsClient`

[2017-02-22 01:40] wesm commented on #177
The behavior is database dependent, I think, but leaving the default as `skipna=True` in effect is OK

[2017-02-22 01:41] wesm commented on #838
same with `pyarrow.HdfsClient.open` (e.g. see examples in http://wesmckinney.com/blog/python-hdfs-interfaces/). We should aim to deprecate the WebHDFS stuff in Ibis and defer to libhdfs or libhdfs3 based on what's available on the host system

[2017-02-22 01:43] wesm commented on #755
I think I meant post-facto. See e.g. `ImpalaClient.kudu.connect(...)`

[2017-02-22 17:07] cpcloud opened #947 "BUG: Bitwise not operator doesn't work on BooleanScalar or BooleanColumn instances"
Not sure if this ever worked:

[code]

[2017-02-22 18:23] #767 closed

[2017-02-23 01:49] cpcloud commented on #501
Ibis doesn't appear to have the `cume_dist` operation, so I'm going to leave that one out for now and open an issue to implement it for all supported backends.

[2017-02-23 01:50] cpcloud opened #949 "ENH/API: Implement CUME_DIST for supported backends"
xref #501

Supported in Impala and Postgres.

[2017-02-23 14:14] pyite1 opened #951 "hdfs module error: AttributeError: 'module' object has no attribute 'Client'"
I am able to successfully connect through impyla using the string below, but fails on connecting to Ibis.

I have the hdfs package installed (and can successfully call `hdfs.Client`), but this seems to be failing.

Any ideas?

[code]

[2017-02-23 14:22] cpcloud opened #952 "BUG: Negate implementation is incorrect for SQLAlchemy backends"
Right now, `ops.Negate` maps to `sqlalchemy.not_` which inverts a boolean value. For sqlite this will execute (but won't return the correct result), because of its [type affinity](https://sqlite.org/datatype3.html#affinity) feature, but this fails for postgres.

We should preserve the boolean negation behavior and fix the behavior for other types.

[2017-02-23 14:37] cpcloud commented on #951
Do you have a file called `hdfs.py` in the directory you're running in?

[2017-02-23 14:51] cpcloud commented on #951
I'm going to preemptively close this, as I'm able to reproduce the error by trying to connect when there's a file in `$PWD` called `hdfs.py`. Check out [the docs describing how Python finds modules during `import`](https://docs.python.org/2/tutorial/modules.html#the-module-search-path). Additionally, you'll need to remove `hdfs.pyc`.

[2017-02-23 14:51] #951 closed

[2017-02-23 15:20] cpcloud commented on #555
@wesm What did you have in mind for non-literal expressions here? We'd only be to constrain the range of an input if we know its value, which we often do not.

[2017-02-23 15:33] #752 closed

[2017-02-23 15:40] #501 closed

[2017-02-23 16:10] cpcloud commented on #942
Moving this to 0.10 as it looks like we'll be able to get this in.

[2017-02-23 16:36] cpcloud commented on #719
Moving to 0.11. This will need some work and this isn't essential at the moment.

[2017-02-23 16:44] cpcloud commented on #554
Should literals that are expression leaves be valid as well? For example should `literal(1) + literal(2)` be a valid?

[2017-02-23 16:53] #942 closed

[2017-02-23 17:40] #906 closed

[2017-02-23 17:44] #947 closed

[2017-02-23 17:47] cpcloud commented on #952
Closed by #950

[2017-02-23 17:47] #952 closed

[2017-02-23 17:48] wesm commented on #947
Don't think it ever did. Thanks for fixing

[2017-02-23 17:59] wesm commented on #555
A good point. Maybe this is not that useful then

[2017-02-23 18:00] wesm commented on #554
Good question -- since I don't have an immediate use case for this, I'm not sure

[2017-02-23 21:56] cpcloud commented on #554
Pushing to future. If we have a solid use case then we'll implement it.  I think very few if any SQL engines require explicit literal parameters (as opposed to accepting any expression with the proper type).

[2017-02-23 22:49] wesm commented on #426
If the `ParquetFormat` is being used then this can be closed, otherwise we should add a unit test

[2017-02-26 16:38] cpcloud commented on #870
I have a fix for this. I'll put it up when I'm back in NYC.

[2017-02-27 02:20] #870 closed

[2017-02-27 14:58] cpcloud commented on #7
Server stuff is gone now, so this issue isn't necessary.

[2017-02-27 14:58] #7 closed

[2017-02-27 17:23] cpcloud commented on #337
We've removed this.

[2017-02-27 17:23] #337 closed

[2017-02-27 21:28] wesm opened #960 "BUG: ibis.util.cache_readonly decorator does not preserve docstring"

[2017-02-28 15:30] #960 closed

[2017-02-28 15:39] cpcloud commented on #762
I looked into this a few days ago. I'm able to run the following commands in the `beeline` shell, using the `cpcloud86/impala:metastore` docker image:

Start beeline:

[code]

Commands from [HIVE-12613](https://issues.apache.org/jira/browse/HIVE-12613):

[code]
That HiveQL works for me, but when I try to do it from Ibis, I get the error message described in the Hive issue.
Additionally, if you're

[2017-02-28 16:14] cpcloud commented on #762
Ok, this is related to specifying a specific location for the partition. It looks like if you give a specific path, it *must* be owned by the `impala` user.

We can re-enable the current test (and not specify a specific path for the partition), as well as two additional tests: 1) the current test raises as expected because the `impala` user doesn't necessarily own the `/tmp` directory and 2) a new

[2017-03-03 21:31] cpcloud opened #963 "Fix pytest > 2.9.2 compatibility"
We can't build a python 3.6 conda package without this. I could've sworn we had an open issue for this.

[2017-03-04 17:17] #963 closed

[2017-03-10 19:22] cpcloud opened #965 "Test lineage without a database connection"

[2017-03-10 19:35] cpcloud opened #967 "CI/BLD: Update conda-forge recipe for v0.10.0 release"

[2017-03-10 19:57] #965 closed

[2017-03-15 00:21] cpcloud opened #968 "ENH/API: Allow keyword arguments in Node subclasses"
Depends on #969. I'll probably address both in the same PR.

[2017-03-15 00:22] cpcloud opened #969 "ENH: Splat args into Node subclasses instead of requiring a list"

[2017-03-28 16:31] cpcloud opened #971 "BUG: dt.Array.equals gives the wrong answer"
[code]

[2017-03-28 16:32] cpcloud commented on #971
We can use `!=` and `==` for now, since those do the right thing.

[2017-03-28 18:36] #971 closed

[2017-03-29 19:41] pyite1 opened #974 "BUG: Unable to set "value" in set_options() where "." (period) exists in value"
Hello,

I am trying to set request_pool via set_options... and receive an error if the value has a "." in the field.

[code]

[2017-03-31 05:53] sanghunka opened #975 "BUG: [HiveServer2Error] when connecting impala.connect"
[code]
I connected hdfs sucessfully.

After that, I tried connecting hiveserver2 like below
[code]

It returns error like below
[code]

But when i tried without `hdfs_client`, no error occured.
[code]
[code]

Without `hdfs_client`, I can get db, table informations but i cannot insert rows to Table.

[code]
[code]

If possible,,,  'detailed hdfs_connect, impala.connect document' would be great for

[2017-03-31 14:34] cpcloud commented on #974
There's something very strange going on here. I can perform the following operation on the Impala command line, Hive command line, and PyHive, but not in ibis:

[code]
I suspect that there's a bug in impyla, which is the client communicating with thrift.

[2017-03-31 21:34] wesm commented on #974
are you using the beeswax or hs2 protocol?

[2017-04-01 21:06] pyite1 commented on #974
I'm using HS2.

[2017-04-04 19:20] pyite1 commented on #974
I was able to get around this one by escaping the second argument:
[code]

[2017-04-04 20:48] cpcloud commented on #974
Keeping this open until I have an understanding of why this happens.

[2017-04-04 20:50] wesm opened #976 "Shorter/nicer "user" stacktraces for type validation errors"

[2017-04-28 04:43] sheldon66 opened #978 "AttributeError: module 'ibis.impala' has no attribute 'connect'"
I want to create a impala connect by following the doc. This is my code:

`import ibis
con = ibis.impala.connect(host='XXX.XXX.XXX.XXX', port=21050,
                          auth_mechanism='PLAIN',user='XXXXX', password='XXXXX')`

But running it will raise an error:
**`AttributeError: module 'ibis.impala' has no attribute 'connect'`**
Please help!

[2017-04-28 05:01] sheldon66 commented on #978
I figure it out. The location of function connect has been changed.
Now the correct code is:
`import ibis
con = ibis.impala.api.connect(host='XXX.XXX.XXX.XXX', port=21050, auth_mechanism='PLAIN',user='XXXXX', password='XXXXX')`

[2017-04-28 16:17] wesm commented on #978
Hm, I have

[code]

could you let us know more information about how you ran into this?

[2017-04-30 08:30] sheldon66 commented on #978
Now the problem happened again.And this time even with api added, the error still there.
[code]
I am using macbook pro. Could you help me find out where the problem is?

[2017-04-30 15:05] cpcloud commented on #978
@sheldon66 Do you have a file named `impala.py` in the directory you're running this from? If so, you need to name that file something else, and remove `impala.pyc` if it exists.

As per [the Python documentation](https://docs.python.org/3/tutorial/modules.html#the-module-search-path), here's likely why you're getting this error when accessing `ibis.impala`:

1. `import ibis`: Python finds `ibis`

[2017-05-01 00:16] sheldon66 commented on #978
There isn't a file named `impala.py` in my current directory. And the impala module imported correct.
[code]

[2017-05-01 00:59] cpcloud commented on #978
@sheldon66 I'm able to reproduce this now! My apologies for misunderstanding. Fix on the way :)

[2017-05-01 01:00] cpcloud commented on #978
Looks like we have a circular import.

[2017-05-01 01:10] cpcloud commented on #978
@sheldon66 Have you install `impyla`?

[2017-05-01 03:26] sheldon66 commented on #978
Amazing! After I installed `impyla`, the problem solved. I still don't understand why it happened.

[2017-05-01 03:45] cpcloud commented on #978
It's because impyla installs a top level module called `impala` (unrelated to `ibis.impala`). This was not being imported because it wasn't installed.

[2017-05-01 03:45] #978 closed

[2017-05-01 04:04] sheldon66 commented on #978
So that means before I install `Ibis`, I should install `impyla` first? If so , why don't add it to `Ibis`'s dependency?

[2017-05-01 18:12] cpcloud commented on #978
It is a dependency, but only if you want to use the impala backend which isn't a requirement to use the library.

[2017-05-01 18:13] cpcloud commented on #978
Hm, it looks like our docs are not up to date.

[2017-05-01 18:14] cpcloud commented on #978
@wesm How do we update the docs?

[2017-05-01 18:17] cpcloud opened #979 "Add argument to ibis.literal to allow a specific type for the literal"
Something like:

[code]

[2017-05-02 03:25] sheldon66 commented on #978
@cpcloud Thank you so much for helping me out :)

[2017-05-02 14:26] wesm commented on #978
If we update the sphinx docs here I can deploy them

[2017-05-04 20:27] sampathpulukurthi commented on #197
Hi Team,,

I am using impyla to connect python and impala tables and executing bunch of queries to store the results into a python data frame.

Now, I want to push the data frame into impala and create a new table or store the file in hdfs as a csv. Can you post the solution if you have got one? I see lot of discussion above but I could not find the right code for it. I hope to hear from you soon!

[2017-05-16 16:42] cpcloud opened #980 "Add source property to any object that can exist in `.root_tables()`"

[2017-05-16 16:44] cpcloud commented on #53
This will be needed fairly soon. I'll assign myself and likely get to it over the weekend or early next week.

[2017-05-17 07:57] sc0303 commented on #978
I come across the same question, however no matter install or uninstall impyla, I still get the same AttributeError: module 'ibis.impala' has no attribute 'connect' result, could you pls help, the version of ibis is the newest

[2017-05-17 09:12] sc0303 commented on #978
After re-install ibis-framwork, the problem solved, thx

[2017-05-18 22:01] jreback opened #984 "renaming repo"
renaming to pandas-expr @wesm

[2017-05-19 10:38] napjon opened #985 "Using pyodbc to connect to Impala for kerberos problem"
Hi guys,

I've read that there is ongoing connection issue to kerberized clusters, and it's not solved yet even with hs2client.

I've been able to connect to Impala using impala odbc driver, with connection string + pyodbc and successfully returned python  DB API 2.0 object. I was able to use pd.read_sql using the connection object.

With this in mind, can we use ibis to receive connection string?

[2017-05-20 03:52] ENsu commented on #224
I am interested in developing this function. Can someone give me some advices where to start ?

[2017-05-20 04:00] mariusvniekerk commented on #224
I would test against a current install of impala.  Best to verify what the current behavior is.

A less precise version should be possible by casting both timestamps to int64 and then compute the difference.  This will return a delta in seconds if memory serves.

[2017-05-24 11:15] jreback opened #988 "CLN: move pandas_to_ibis_schema"
xref #981

this should live in ``ibis.pandas`` and not ``ibis.impala.pandas_interop``

[2017-05-24 11:17] jreback opened #989 "COMPAT: Support tz-aware timestamp types"
[code]

[code]

[2017-05-24 11:18] jreback opened #990 "BUG: schema for timedelta is incorrect"
[code]

[2017-05-25 00:49] mariusvniekerk commented on #985
You can try to subclass `ibis.impala.client.ImpalaConnection` and override the `_new_cursor` method to use pyodbc instead.

Since ibis's impala client basically, does everything with SQL calls provided that it adheres reasonably to the dbapi it should work

[2017-05-25 00:55] mariusvniekerk opened #992 "ENH: Support dialect specific types for sqlalchemy based clients"
Most sqlalchemy dialects support an additional set of types that can be used.

For example

[code]

We should probably move some of the pieces around converting sqlalchemy metadata into a dialect specific subclass instead of having it all in `ibis.sql.alchemy`

[2017-05-25 03:54] napjon commented on #985
You make it sounds so simple I really want to take a stab at this issue :)

So from user API side, do you think ibis impala should support multiple connection engine?

[2017-05-25 04:48] napjon commented on #985
So I add `odbc_connect` to impala/api.py,

[code]
And add subclass to impala/client.py,

[code]

Testing this I got

[code]

Should we discuss this in PR?

[2017-05-25 13:05] mariusvniekerk commented on #985
Seems reasonable.  Probably need to sub out a weakref.ref for weakref.proxy
though I could be mistaken.

On Thu, May 25, 2017, 00:48 napjon <notifications@github.com> wrote:

--
regards
Marius van Niekerk

[2017-05-31 15:33] chris-b1 opened #1002 "API: multiple column aggregation"
using #981 - setup:

[code]

One piece of API I found cumbersome was doing multiple column aggregations.  E.g., in pandas
[code]

If I understand correctly, in ibis this is (first case isn't implemented yet):
[code]

So maybe there is a nicer way of doing this?  Of course pandas is being a bit magical here by automatically dropping non-numeric columns.

[2017-05-31 17:15] cpcloud commented on #1002
The first (summing all the numeric columns of a table) is not implemented. I'm not sure if we want to implement it. I actually wouldn't be opposed to making it easier to apply a reduction across a set of columns + an API for selecting columns of particular generic types (similar to `select_dtypes` in pandas).

Something like:

[code]

Regard the aggregations, it's hopefully a little less cumbersom

[2017-05-31 17:31] chris-b1 commented on #1002
Seems like a good idea!  I wouldn't mind being explicit selecting numeric columns, it's more the repeated `t.col1.sum(), t.col2.sum() ...`, that felt verbose.

[2017-05-31 17:46] cpcloud commented on #1002
Ah got it.

There's also a slightly simpler way to aggregate a bunch of columns with the same name, which I failed to mention: Tables have an `aggregate` method.

[code]

Still, `t.columns_with_type(dt.number).sum()` might be a nice way to make that more convenient.

[2017-05-31 17:57] cpcloud opened #1003 "API: Unnamed columns should have a default name"
Operations like `t.a.sum()`, and `t.b.sum()` cannot be used without naming in aggregations:

[code]

It's easy to make the default name be the operation's column's name in many cases. Operations with multiple inputs (such as `Add`) are trickier. Here are the cases:

1. `Op(a, a)`. This is simple, the result's name is `a`
1. `Op(a, None)` or `Op(None, a)`. Also simple, the result's name is `a`
1. `

[2017-05-31 17:58] cpcloud commented on #992
Interesting. I'm curious how you might expect to use such a thing. Are you envisioning something like a bridge between ibis types and sqlalchemy types that allows you to easily wrap dialect specific types?

I've been eyeing this library for inspiration: http://sqlalchemy-utils.readthedocs.io

[2017-05-31 18:18] chris-b1 commented on #1003
+1 that reductions carry the name forward, I was surprised this wasn't the case.

I don't feel strong on the multiple inputs cases - I could see in interactive work where it would be nice that expressions don't necessarily need a name assigned, so something like you proposed seem pretty reasonable.

[2017-06-02 18:38] #988 closed

[2017-06-04 06:33] djKooks opened #1004 "DOC: Remove CLA requirement and associated language"
I'm looking on CLA guide, and the mail address to send form are same as Impala(cla@cloudera.com).
Is mail address still same?

[2017-06-04 10:18] djKooks opened #1005 "API: input of 'timestamp'"
Hello.
As I test, code below causes error.

[code]

But inside timestamp API, it looks like it does not ignore string value.
If I'm right, isn't `api.py` needs to be changed like below?
I'm not sure about the concept of this API. Please look on.

[code]

[2017-06-04 15:15] cpcloud commented on #1005
Hi @djKooks. Thanks for raising an issue. I agree this is confusing. This function is calling `pandas.Timestamp`, so its behavior is dependent on the `pandas.Timestamp` constructor. We can't simply convert digit strings to integers, because other strings such `'now'`, and `'2017-04-01'` are also acceptable. Neither of those can be converted to `int`s directly.

I think the solution is here is prob

[2017-06-04 15:29] jreback commented on #1005
@cpcloud i would have additional rules here
Time stamp can convert strings (datetime like), strings like now

ints are only acceptable with a unit (default is ns) so prob don't want that actually in the default rule

[2017-06-04 15:37] cpcloud commented on #1005
@jreback Since we don't allow users to pass in units, `1000` and `'1000'` would have the same meaning. We already allow `1000` as an int, with the default interpretation of the unit as nanoseconds. There's no possible ambiguity with `'1000'`.

[2017-06-04 15:38] cpcloud commented on #1005
Or are you saying that integers shouldn't be allowed at all?

[2017-06-04 15:46] cpcloud commented on #1005
We actually don't have a test for raw `int`s unfortunately.

@wesm Any objections to deprecating passing `int` to `ibis.timestamp` in 0.12.0?

[2017-06-04 17:00] jreback commented on #1005
yeah ints shouldn't be explicit with a unit (fixing this in pd.to_datetime for 0.21) the implicit ns is pretty error prone

[2017-06-04 19:25] wesm commented on #1005
No objections

[2017-06-05 02:45] wesm commented on #1004
Since we moved the repo, I don't think we need to do CLAs anymore. We should revise the documentation about this

[2017-06-07 21:09] cpcloud opened #1016 "Calling year on t.column.cast('date') doesn't work"

[2017-06-08 04:34] djKooks commented on #1004
@wesm Thanks! I'll close this one after document has been updated.

[2017-06-08 15:18] cpcloud commented on #1016
Closed by #1017

[2017-06-08 15:18] #1016 closed

[2017-06-10 12:44] djKooks commented on #1005
I also think it's okay to send int value with unit, or make it to receive only integer and add on document that all integer value will be handled as ns value.

[2017-06-10 15:24] cpcloud commented on #967
Closed by https://github.com/conda-forge/ibis-framework-feedstock/pull/8

[2017-06-10 15:24] #967 closed

[2017-06-12 13:43] cpcloud commented on #160
Closing. Please reopen if this becomes high priority.

[2017-06-12 13:43] #160 closed

[2017-06-12 13:46] cpcloud commented on #284
@wesm Do you remember what the temporary constructs you're referring to here are?

[2017-06-12 13:47] cpcloud commented on #527
Closing, because we're not running on this anymore.

[2017-06-12 13:47] #527 closed

[2017-06-12 14:41] cpcloud commented on #268
We have tests for expressions like `t[t.a == 'bar'].baz.mean()`. Is there something else that was desired here?

[2017-06-12 14:41] #268 closed

[2017-06-12 14:43] wesm commented on #268
Does that expand to the code above in an aggregate expression? I can't remember if I implemented that

[2017-06-12 14:44] wesm commented on #284
Temporary Impala tables and databases. I think it does try to drop everything now. I'm not sure if there's more we could be doing to make it more robust

[2017-06-12 14:53] cpcloud commented on #220
So, the translation would be something like:

[code]
or in the case of sqlite:

[code]

[2017-06-12 14:57] cpcloud commented on #268
Here's how the translation is working right now:

[code]

Is there a meaningful difference between that and

[code]

[2017-06-12 15:04] cpcloud commented on #609
For now we're using Python's UDF API for this. I'd be surprised if the overhead of Python objects was surpassed by slow regex performance. It might be useful to revisit this once there's a more efficient way to get result data into memory via arrow.

[2017-06-12 15:04] #609 closed

[2017-06-12 15:05] cpcloud commented on #609
Added regex function support in #996

[2017-06-12 15:16] cpcloud commented on #772
These should probably accept some kind of readable constant expression named corresponding to what the underlying string means. Something like:

[code]
These could either be something as simple as the underlying strings themselves or instances of some new kind of expression.

[2017-06-12 21:49] wesm commented on #268
Yes, you might want:

[code]

This allows you to produce conditional means within an aggregate expression. this is something that isn't very easy to do in pandas right now. I'd also like to see

[code]

In DataPad we got a pretty huge speed boosts by pushing filters down into aggregations functions

[2017-06-12 22:42] cpcloud commented on #268
You can do the following in master, which gets you conditional means:

[code]

[2017-06-13 00:52] wesm commented on #268
Right, the idea of this JIRA was an expression transform which would convert from a filtered array to the where aggregation

[2017-06-13 15:51] #979 closed

[2017-06-13 16:32] #642 closed

[2017-06-13 18:30] cpcloud commented on #980
Closing. I can't remember what this was for. I'll reopen if it comes up again.

[2017-06-13 18:30] #980 closed

[2017-06-13 18:33] #854 closed

[2017-06-13 19:58] #936 closed

[2017-06-14 14:18] cpcloud commented on #677
This seems unnecessary since we already have `t.column.nullif(x.abs() <= tol)`.

[2017-06-14 16:06] cpcloud opened #1033 "BUG: ibis.NA.fillna(5) is incorrectly typed"
[code]

[2017-06-14 16:15] cpcloud commented on #677
Actually, `nullif` is only equality, not a generic predicate. Repoening and moving to 0.12

[2017-06-14 17:15] #1033 closed

[2017-06-15 19:41] FedericoV opened #1035 "Summary is broken on postgres due to issues summing booleans"
Hi: Ibis is awesome, and I realize the postgres support is highly experimental - but I ran into a limitation that makes a lot of other tasks a lot more cumbersome.

Boolean types on postgres cannot be summed, so quite a bit of functionality is missing and require verbose work around.

The simplest example:

`a.clothing_size.isnull().sum().execute()`

Gives this output:

[code]

Is this something t

[2017-06-15 20:16] chris-b1 opened #1037 "API: Generic namespace thunk"
I'm only about 50% in favor of this, but for consideration.

Operations can get verbose with modestly long table names - for example:
[code]

Strings can help, but only on cases with any operations
[code]

[dplython](https://github.com/dodger487/dplython) and others solve this with a generic magic thunk `X`, which defers lookup to the current context.
[code]
Something like this may fit in ibis?  A

[2017-06-15 22:19] cpcloud commented on #1035
@FedericoV Thanks for reporting this. This is definitely a place where we can polish away some of the inconvenience by automatically casting `BOOLEAN` to `INTEGER`. In the meantime, you can perform this cast yourself:

[code]

[2017-06-15 22:21] cpcloud commented on #1035
Actually, this is more annoying that I originally thought.

[2017-06-15 22:21] cpcloud commented on #1035
I think I can get a fix up pretty quick, let me see what needs to happen here.

[2017-06-15 22:22] FedericoV commented on #1035
Hi!  I actually was able to fix that exactly the way you suggested: where it's annoying is that other functionalities that implicitly rely on summing bools (like, summary) are broken, and those cannot be fixed that easily.

[2017-06-15 22:32] cpcloud commented on #1035
Right! On it. :)

[2017-06-17 00:23] cpcloud commented on #1037
I took a stab at this over at: https://github.com/ibis-project/ibis/pull/1039

[2017-06-19 02:39] John-Boik opened #1041 "troubles with isin()"
skip

[2017-06-19 03:00] #1041 closed

[2017-06-19 16:29] cpcloud opened #1043 "ENH/CLN: Use pandas-compat where possible"

[2017-06-19 16:31] cpcloud commented on #990
I will get this into a bug fix release 0.11.1

[2017-06-19 19:56] #1035 closed

[2017-06-20 04:50] John-Boik opened #1045 "bug: selection of renamed columns is optimized incorrectly"
Hello.
In doing a double join to connect three tables, I've identified behavior of Ibis that I don't understand. I'm hoping that someone can shed light on why it's occurring, or how the error message relates to what is occurring. If I write the script one way, the double join works. If I change a few lines, the second join throws a "More than one base table not implemented" error. I'm using the po

[2017-06-20 05:02] John-Boik commented on #1045
Ah.  It looks like the second alternative works with the following change:
`t3 = t3[ls].mutate(c)`
to:
`t3 = t3[ls].mutate(c).view()`

[2017-06-20 15:01] John-Boik commented on #1045
As a suggestion, it might be helpful to those who run into the "NotImplementedError: More than one base table not implemented" error if the message provided more context, description, or hints as to what the problem is. In my example, the problem was not that a feature was not implemented, it was that a table was not considered a distinct relation for evaluation purposes.

[2017-06-20 16:09] cpcloud commented on #1045
@John-Boik Thanks for the detailed report! I agree with you that we should improve this error message. Slating this for 0.11.1.

[2017-06-20 16:49] cpcloud commented on #1005
@djKooks We decided to deprecate this behavior going forward.

The preferred way going forward is to construct the timestamp literal from a `pandas.Timestamp` like so:

[code]

This works in current ibis, and will be the *only* way going forward to construct ibis timestamp literals from integers.

[2017-06-20 17:49] #1005 closed

[2017-06-21 00:31] djKooks commented on #1005
@cpcloud LGTM~Thanks!

[2017-06-21 16:49] jlsepulveda commented on #814
You need to install kerberos package. It had the same issues

https://github.com/thobbs/pure-sasl/issues/20

[2017-06-26 18:28] cpcloud commented on #39
`cloudpickle` has been removed from ibis.

[2017-06-26 18:28] #39 closed

[2017-06-26 18:35] cpcloud commented on #13
This code has been removed.

[2017-06-26 18:35] #13 closed

[2017-06-26 18:35] cpcloud commented on #12
This code has been removed.

[2017-06-26 18:35] #12 closed

[2017-06-26 18:37] cpcloud commented on #14
This is out of scope for ibis right now, let's reopen if this ever becomes high priority.

[2017-06-26 18:37] #14 closed

[2017-06-26 18:38] cpcloud commented on #15
This is interesting, but I think this is out of scope for ibis right now. Let's revisit if it becomes high priority to support this in ibis. This would require UDA/UDF support as a dependency.

[2017-06-26 18:38] #15 closed

[2017-06-26 18:49] tarungog opened #1052 "BUG: kudu.connect API usage is incorrect in kudu_support.py"
`self.client = kudu.connect(host_or_hosts, port_or_ports,
                                   rpc_timeout=rpc_timeout)`
At line 75 in kudu_support.py

https://github.com/cloudera/kudu/blob/master/python/kudu/__init__.py#L55
But the interface is actually
`connect(host, port=7051, admin_timeout_ms=None, rpc_timeout_ms=None)`
Can someone fix this? I'd PR but it's such a simple fix that someone with wr

[2017-06-26 18:50] tarungog commented on #1052
closed it on accident

[2017-06-28 13:57] cpcloud opened #1054 "CI: Test kudu on CircleCI"

[2017-06-28 13:57] #1052 closed

[2017-06-28 14:01] cpcloud commented on #54
This seems out of scope for ibis. Please reopen if you think otherwise.

[2017-06-28 14:01] #54 closed

[2017-06-28 14:06] cpcloud commented on #6
@wesm Is this issue still relevant?

[2017-06-28 14:09] cpcloud commented on #814
@kskrishnasangeeth Python 2.6 is no longer supported. Can you try with a later version of Python?

@jlsepulveda Marking for 0.11.1, we can certainly notifying users using GSSAPI auth that they don't have the required libraries to do it when they try to connect.

[2017-06-28 14:12] cpcloud commented on #882
@ZuluagaSD Can you try with a more recent version of impyla?

[2017-06-28 14:14] cpcloud commented on #886
@gloopy Slated for 0.11.1. Is this still reproducible on your end?

[2017-06-28 14:14] cpcloud commented on #886
I'm going to try to reproduce.

[2017-06-28 14:21] #1004 closed

[2017-06-28 14:46] #989 closed

[2017-06-28 15:01] gloopy commented on #886
Hi the bug only seems to appear in the windows environment. I have not looked at this for a while I will try and dig up the work I did on debugging it. Thanks

[2017-06-28 15:38] wesm commented on #6
Nope

[2017-06-28 15:38] #6 closed

[2017-06-28 18:37] cpcloud opened #1057 "CI: Test conda build on CircleCI"
This will allow us to catch any errors that don't show up when using only setuptools and `python setup.py develop`. For example, the `scripts` argument to setup.py appears to require a relative path on Windows. This only shows up during `conda build`.

[2017-06-28 23:08] FedericoV opened #1059 "BUG: Memory leak with postgres backend"
I am downloading a big table from redshift (via the postgres driver) and saving it to disk.  The table is too big to fit into RAM, so I'm pulling it in chunks, and saving each chunk.

[code]

Without adding the last two lines the memory massively increased after each cycle eventually causing a crash.  Just adding gc.collect() did not seem to be sufficient - I had to delete the chunk first.  I'm gu

[2017-06-28 23:28] FedericoV commented on #1059
Spoke too soon: even with the last two lines, memory usage continues to increase during the loop.

[2017-06-29 22:09] cpcloud opened #1060 "ENH: Allow like operation to accept a list of conditions to match"
This is convenience for constructing huge `OR` filters.

E.g.:

[code]

[2017-06-30 16:16] cpcloud commented on #758
I don't think this is very useful right now, relative to the work required to add ownership information into the filename. The ownership of directories can be seen with HDFS command line tools for listing files.

[2017-06-30 16:16] #758 closed

[2017-06-30 16:17] cpcloud commented on #1059
@FedericoV Thanks for reporting. The memory leak here is probably due to a pandas DataFrame or Series hanging around longer than it's supposed to. I'll investigate and see if there's something we can do about this.

[2017-07-06 22:38] #1060 closed

[2017-07-08 23:40] tarungog opened #1063 "BUG: Kudu table write is using old impala-shell syntax"
https://github.com/ibis-project/ibis/blob/master/ibis/impala/kudu_support.py#L246

The following syntax is no longer supported by the impala shell when creating kudu tables or kudu-backed external tables:

[code]

Instead use
`STORED AS KUDU`
after the create table expression.

The kudu <-> impala-shell documentation is here:

https://www.cloudera.com/documentation/kudu/latest/topics/kudu_impala.h

[2017-07-09 14:28] cpcloud commented on #1063
@tarungog Thanks for the report. Regard the docker image I mentioned on your previous Kudu issue, here it is: https://hub.docker.com/r/cpcloud86/impala/

[2017-07-09 14:35] cpcloud commented on #1059
@FedericoV I looked into this and it *isn't* related to pandas (I was able to reproduce this without constructing a DataFrame). One of SQLAlchemy or psycopg2 is holding on to previous result sets instead of discarding them, moreover it appears to hold on to the memory from previous result sets, which leads to quadratic behavior. I hope I'm wrong or misinformed somehow about the last part. I'm goin

[2017-07-10 17:47] FedericoV commented on #1059
Hi Philip,

thanks so much for the help.  Let me know if there are some corner cases that you'd like me to test.

[2017-07-11 21:31] cpcloud commented on #1059
@FedericoV I think you might be misunderstanding the semantics of `limit`. The required argument is the number of rows to return and the optional `offset` argument is the row offset to start at. In Python slice syntax it would look like this:

[code]

So, each time in the query you're increasing the result set size because you're increasing the value of `upper_bound` by `chunk_size` in each iterat

[2017-07-11 21:34] cpcloud commented on #1059
So, I don't think there's a memory leak here in ibis nor in any of the mentioned libraries.

[2017-07-11 21:42] #1059 closed

[2017-07-14 13:04] #814 closed

[2017-07-22 01:43] cpcloud opened #1077 "ENH: Add readable truncate constants"
xref: https://github.com/ibis-project/ibis/issues/772

We should make some new expressions that represent these values to make things more readable:

[code]

[2017-07-22 01:43] cpcloud commented on #772
Closing in favor of #1077

[2017-07-22 01:43] #772 closed

[2017-07-22 16:01] wesm commented on #1037
Sweet

[2017-07-24 04:46] djKooks opened #1079 "Error for 'where' in count API"
Hello.
Currently, count API in `api.py` is causing exception when param `where` is not none.
[code]
It looks like it is raises error when `where` has a value while op is DistinctColumn form. But it just returns expression when `where` is None and it looks like because `where` is not needed in this case.
Is there a problem if we just remove exception for this? Because `where` is useless here, it se

[2017-07-25 20:44] jwaligora commented on #975
Yes! Definitely up-voting this one.
HDFS object works as stand-alone. Impala client works as stand alone. Referencing former by the latter results in error:

`auth_mechanism: GSSAPI
host: 172.XXX.XXX.XXX
port: 10000
timeout: 45
use_ssl: False
ca_cert: None
user: None
password: None
Kerberos service name: hive
service: <impala.hiveserver2.HS2Service object at 0x7f0eb68b1310>
auth_mechanism: GSSAPI

[2017-07-25 20:49] cpcloud commented on #975
Interesting. @jwaligora Thanks for the error message. This *looks* like we may be generated the wrong code here, since a `ParseException` is thrown. I'll try to take a look at this within the next week or so.

[2017-07-26 16:38] jwaligora commented on #975
FYI.
Not sure if it's intended, or even related, but just wanted to note that a single call to:
`impala_client = ibis.impala.connect(...)` results in two impala.hiveserver2.HS2Service objects (as per my printout from previous post).
...The parameter/service info comes from some print lines I put into the tail end of the `connect(...)` definition, inside /usr/local/lib/python2.7/dist-packages/impal

[2017-07-27 22:32] cpcloud commented on #1079
@djKooks Why is `where` useless here?

[code]

Seems like something that's reasonable to do, this is just isn't implemented.

[2017-08-01 22:21] toryhaavik opened #1085 "Table join operation validation raises misleading TypeError"
https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations.py#L1335
[code]

should be
 `'right table' % type(right))`

[2017-08-03 12:17] #1085 closed

[2017-08-03 18:23] cpcloud opened #1087 ".time() method for timestamp types"
`timestamp` types have times, and it would be nice to be able to filter without having to pull out `hour`, `minute`, and `second` by "hand" to allow for things like filtering on specific times.

[2017-08-04 09:00] zerteen opened #1088 "is ibis suitable for very large data?"
Hi,

Recently I've been trying to use ibis.
I have noticed that ,by default, when using ibis to query the databases (impala), there is a ' limit 10000 '.
like:

[code]
in the log:
`SELECT `stmt`\nFROM public.`tq31`\nLIMIT 10000`

So I have a question, when facing very large data, when the querying result is larger than the machine's memory, is ibis suitable for that situation? How dose ibis deal w

[2017-08-04 15:22] wesm commented on #1088
I would recommend storing large query results in a new table stored as Parquet and then reading the Parquet files directly (e.g. using `pyarrow.parquet`). That will be substantially faster and more scalable than pulling results through the HiveServer2 interface

[2017-08-04 15:23] cpcloud commented on #1088
Hi @zerteen.

Ibis is suitable for big data. The way ibis works is to turn your expression into a SQL query that can be executed on some database server somewhere.

In your case, that server is impala.

With ibis, you should write as much of your query as possible in ibis's expression language so that the computation is pushed to the server. Ibis isn't going to be very useful to you if you're just

[2017-08-06 00:15] cpcloud opened #1091 "Remove ValueList"
After attempting to implement rule composition, I discovered that constructing an ibis expression from a list of values sometimes returns a `ValueList` and sometimes returns a `Literal[array<T>]` depending on whether `ibis.as_value_expr(list_of_values)` is called or `ir.literal(list_of_values)` is called, respectively.

AFAICT, the motivation here was that SQL dialects distinguish between lists of

[2017-08-06 15:07] cpcloud commented on #1091
Thinking more about this I think we will need to keep `ValueList` because we need to distinguish between these types. However, we still need to make this work transparently with Python sequences. I think the solution is to have the argument validators know which kind of expression sequence type they convert to upon validation.

For example if our expression takes a value list in it's input type th

[2017-08-07 01:58] zerteen commented on #1088
Hi @cpcloud ,

Thank you for your answering my question.

Absolutly, Ibis is an awsome work. I decided to use ibis in our projects, but still, I have some questions.

1. I know the query process of ibis, using ibis expression language , a SQL query is constructed and then sent to impala through HiveServer2. however, after impala finished the computation, How dose the result get back to the machine

[2017-08-07 02:04] zerteen commented on #1088
Hi @wesm ,

Thank you for your suggestion.

Our impala has been modified, and there is no webHDFS avaliable, it's that ok for this situation using `pyarrow.parquet`?

[2017-08-07 19:50] cpcloud opened #1093 "feat: add weight to mean aggregation"
Thinking something like

[code]

[2017-08-07 22:49] jreback commented on #1093
should call this weights

e.g. https://docs.scipy.org/doc/numpy/reference/generated/numpy.average.html

[2017-08-08 05:44] djKooks commented on #1079
@cpcloud Oh, sorry for bad comment.
It means, `where` is not being effected in this case, so it could be ignored whether `where` is defined or not, like below.
[code]
How do you think?

[2017-08-09 00:22] cpcloud commented on #1091
Removing this wasn't necessary to accomplish the original reason for opening this issue. Closing.

[2017-08-09 00:22] #1091 closed

[2017-08-09 00:23] cpcloud opened #1096 "Implement a time type"

[2017-08-09 00:31] cpcloud opened #1097 "Add a desc/asc argument to rank operations"
Since `RANK()` is fully specified by an `ORDER BY` clause in SQL, and ibis has a `rank()` method on columns, there's no reason to make users specify the column twice if they want a descending rank on a column.

For example to rank a column in descending order, we need to do this:

[code]
when the following would fully specify the desired behavior

[code]

[2017-08-09 00:32] cpcloud commented on #1097
Slating this for 0.12 since it's an API change.

[2017-08-09 11:30] jreback opened #1098 ".time().between(...) for time selection"
allow filtering on the .time() of a datetime type (in the local tz)

``t.time().between('10:00', '10:00')``

pandas has additional arg ``include_start=True, include_end=True``, which we could add here, alternatively, could spell this like (or do both of these)

``(t.time() >= '10:00') & (t.time <= '10:00')``

currently this can be accomplished via

``(t.hour()==10) & (t.minute()==0) & (t.second())

[2017-08-09 14:06] cpcloud opened #1099 "Implement array operations for pandas backend"

[2017-08-09 19:07] xhochy commented on #1088
@wesm storing the result as Parquet in HDFS and then loading that sounds not like the final answer.  How complicated would it be to add Arrow to the client server transportation layer?

[2017-08-09 21:38] jreback opened #1103 "support for .median()"

[2017-08-09 23:01] cpcloud opened #1104 "Make support for the step operation backend specific"
So, instead of validating in `api.py`, we validate in the translation rule for this operation, in each backend.

[2017-08-10 01:06] #1099 closed

[2017-08-10 03:11] cpcloud opened #1106 "Look into `now()` failures"
These seem to be occurring frequently within the past week or so. It's possible that development has just been happening around hours that trigger these weird cases, but we should figure it out.

[2017-08-10 16:28] wesm commented on #1088
In theory shouldn't be that difficult. It would be nice to augment the HDFS layer in Ibis to use pyarrow.hdfs and pyarrow.parquet for read and write

[2017-08-10 18:42] #1106 closed

[2017-08-13 15:44] cpcloud opened #1114 "CI: Test conda build on Appveyor"

[2017-08-13 15:45] cpcloud opened #1115 "CI: Use latest impala docker image on CircleCI"
The latest image is `cpcloud86/impala:java8` which contains an upgraded JVM and CDH components.

[2017-08-13 15:48] cpcloud opened #1116 "BUG: Fix postgres cardinality support in 9.3"
`cardinality` doesn't exist in 9.3, so we use `array_length` instead.

[2017-08-13 18:00] #1057 closed

[2017-08-13 18:00] #1115 closed

[2017-08-13 18:00] #1116 closed

[2017-08-14 12:24] #1096 closed

[2017-08-14 12:24] #1098 closed

[2017-08-15 14:59] toryhaavik opened #1118 "merge_asof for Ibis Tables"

[2017-08-15 14:59] toryhaavik opened #1119 "merge_asof for Ibis Tables"

[2017-08-15 15:16] wesm commented on #1118
I think should should be `Table.asof_join`

[code]

[2017-08-15 15:26] cpcloud commented on #1118
Yep, `asof_join` looks good.

[2017-08-15 20:58] kszucs opened #1120 "Clickhouse backend"
Hi!

I'm considering to use ibis with clickhouse, but not sure how to implement it. Lately clickhouse got an [sqlalchemy dialect](https://github.com/xzkostyan/clickhouse-sqlalchemy) and native driver from @xzkostyan .

Most of the abstractions are clear, but how could I handle special cases like [ANY LEFT JOIN](https://clickhouse.yandex/docs/en/query_language/queries.html#join-clause) ?

I've look

[2017-08-16 20:34] wesm commented on #1120
It would be nice to have an Ibis backend for Clickhouse. I suspect we would need to generate SQL strings like we are doing with Impala, and this would enable accounting for the ANY joins, e.g.

`left.any_left_join(...)`

or something like that. Working in the backend is not too bad but the initial learning curve is steep. You would want to look at https://github.com/ibis-project/ibis/blob/master/i

[2017-08-16 20:35] wesm commented on #1120
cc @cpcloud

[2017-08-18 01:13] jreback opened #1122 "ENH: support for .dropna() in pandas backend."
[code]

like this
[code]

[2017-08-18 11:48] jreback commented on #1087
closed by #1105

[2017-08-18 11:48] #1087 closed

[2017-08-18 12:04] jreback opened #1124 "BUG: datetime filter and time() filtering failing"
this exposes a filtering issue with datetimes, seems > is off by one
the actual issue is filtering by a datetime, THEN by .time().between() is failing

[code]

[2017-08-18 14:45] cpcloud commented on #1124
The `expected` value of `df.iloc[1:]` isn't correct because there are no datetimes that have time components between `10:00` and `10:00`:

[code]
The expected output is an empty `DataFrame`.

If there's another bug, can you open a new issue?

[2017-08-18 14:45] #1124 closed

[2017-08-18 15:01] wesm opened #1125 "Improve Table type hierarchy to yield more intuitive display"
pandas tables show as `DatabaseTable` which is misleading.

[2017-08-18 15:20] jreback commented on #1124
simpler.
[code]

[code]

[2017-08-18 16:54] cpcloud commented on #1124
This isn't a bug in ibis, it's just how pandas works:

[code]

[2017-08-18 17:32] #1114 closed

[2017-08-22 12:56] #53 closed

[2017-08-22 13:09] kszucs opened #1128 "Gitter channel"
@cpcloud Can I contact You via instant messaging? I have a couple of short questions.

[2017-08-22 13:31] cpcloud commented on #1128
@kszucs Yep, I'm on gitter.

[2017-08-22 13:35] #1128 closed

[2017-08-23 15:14] cpcloud opened #1131 "Unable to repr ScalarParameter Node subclass"

[2017-08-24 03:53] cpcloud opened #1136 "Filtering on Join giving the wrong result in the pandas backend"

[2017-08-24 13:36] #1125 closed

[2017-08-24 14:41] cpcloud opened #1137 "Allow expressions in pandas join predicates"
Right now we only allow `TableColumn` ops. We should allow any column operation.

[2017-08-24 18:35] jpvelez opened #1139 "BigQuery backend for Ibis?"
Hi folks!

I'm a data engineer at Spotify. We use BigQuery extensively (hundreds of users). We also have tons of pandas users. Being able to talk to BigQuery via a DataFrame abstraction from within a Jupyter notebook would be really powerful. I may get some cycles to hack on a BigQuery backend for Ibis later this fall. I'm curious and interested in Ibis but have little experience using it and zero

[2017-08-24 19:18] wesm commented on #1139
hi @jpvelez, indeed there was a lull with Ibis development in 2016, but we have picked things back on and will be continuing to build out and support the SQL backends. You can see a Clickhouse backend that's in development in an active pull request, for example.

Building a backend for BigQuery has been on our wishlist for a long time, so we would be keen to help you make it happen (including weir

[2017-08-24 20:33] jreback opened #1140 "ENH: add tz syntax to time().between(...) to provide automatic casting"
currently in order to interpret the between times we must cast

e.g.

[code]

add a kwargs ``tz`` to the ``.between(...)`` allows this to be more explicit

[code]

[2017-08-24 21:46] cpcloud commented on #1139
@jpvelez Excited to get started here!

There's definitely momentum. I'm spending a fair amount of my work time building out the pandas backend right now. I'm also happy to spend some of that time guiding you through a BigQuery backend.

This depends on how much control you want over the execution and/or the limitations/features of the client library of your choosing. For example, the impala backen

[2017-08-25 00:46] jpvelez commented on #1139
Hi @wesm,

Many thanks for your speedy and thorough reply, and great to hear. The soonest I'd be able start is in a month or two, depends on internal priorities etc.

If I end up working on this, I'm sure we'd be able to make a GBQ project available.

I'll be in touch in the next month or two. Thanks again!

[2017-08-25 03:23] mariusvniekerk commented on #992
yeah that looks like a good candidate.

[2017-08-25 07:52] kszucs commented on #1120
@wesm @cpcloud

275 tests are passing now, mostly testing operations (functions). Right now I'm porting test cases from `ibis/sql/test_compiler.py` (luckily they've just released `WITH` support).

Also I need help with analytical functions and joins, I don't know (yet) how to represent them with ibis expressions:
- [ARRAY JOIN](https://clickhouse.yandex/docs/en/query_language/queries.html#array-jo

[2017-08-25 13:18] wesm commented on #1139
Since we will probably end up needing to share quite a bit of code amongst different SQL backends, this will probably be best to develop at `ibis/bigquery` rather than as a separate codebase -- we'll be happy to give you commit privileges as you get spun up. This also helps us refactor without breaking any of your tests

[2017-08-25 17:51] cpcloud commented on #1139
@wesm @jpvelez Yep, agreed. Staying in the same codebase is ideal. It's very likely that we'll want to reuse a lot of the impala translation code and generalize it to other backends in the process of writing this backend.

[2017-08-28 15:26] wesm opened #1145 "Governance structure for Ibis"
Since we're acquiring more Ibis contributors, and none of the active maintainers are a part of Cloudera where the project originated, we should discuss how to handle project governance going forward. No urgency to arrive at a final decision.

Some options:

* Considering Ibis part of the pandas "organization" and subject to pandas's governance (https://github.com/pandas-dev/pandas-governance)

* C

[2017-08-28 18:40] cpcloud opened #1146 "feat: support for UNNEST (array flatten operation)"
Each of the following systems has a slightly different way of expressing flattening of arrays:

Given a table `t`:

[code]

Hive:

[code]

Presto and PostgreSQL:

[code]

Impala:

[code]

BigQuery:

[code]

Clickhouse:

[code]

This issue is to track crafting an API for this operation in Ibis.

[2017-08-28 18:44] #1140 closed

[2017-08-29 14:39] jreback opened #1148 "API: add pandas.api compat"
we want to be able to have a single import that adds various spellings in the ibis api for convenience to match the pandas api. These should allow a pandas use to get started really easily.

- [ ] ``.assign`` -> ``.mutate``
- [ ] ``.sort_values`` -> ``.sort_by``

[2017-09-01 17:00] r7ar7a opened #1152 "support for .quantile()"
There exists an issue ( #1103 ) called "support for .median()", which is a special case of this.

[2017-09-13 18:09] cpcloud opened #1153 "Allow empty arrays in functions that take arrays as arguments"

[2017-09-15 14:46] jreback commented on #1152
``.quantile()`` is support in master, will be in the next release, xref https://github.com/ibis-project/ibis/pull/1090

[2017-09-15 14:46] #1152 closed

[2017-09-15 18:55] #1153 closed

[2017-09-21 19:34] jreback opened #1155 "ENH: .from_dataframe() convenience function"
[code]

would be nice to write this like
[code]

makes interop with pandas that much easier

[2017-09-25 18:41] mrocklin opened #1156 "SQL Parser"
Is SQL parsing within scope for Ibis?

I've been asked a few times to support SQL queries with dask.dataframe.  This would require both SQL parsing and high-level query optimization, neither of which dask.dataframe is particularly well suited for.  Ibis seems like a natural place to focus query optimization efforts and, with the Pandas bindings I'm hoping that it would be somewhat straightforward

[2017-09-25 21:09] cpcloud commented on #1156
There are many different flavors of SQL, each of which has a (sometimes drastically) different grammar, how do we decide which one(s) to support? We'd likely need a parser for each one for such a feature to be useful.

I would imagine that people want SQL support because it's costly to rewrite their queries in Dask or Ibis. If that's true, then I would also imagine that those queries are very spec

[2017-09-26 02:54] wesm commented on #1156
It would be possible to use Apache Calcite to handle query parsing and planning, but this would be quite a bit of work

[2017-09-26 03:58] mrocklin commented on #1156
I've gotten the sense that they want to point standard BI tools at it.  I honestly don't have much exposure to this space.  I suspect that @wesm has a better understanding here.

@mariusvniekerk also mentioned Apache Calcite.  This is, I'm sure, a fair amount of work.  To be clear I'm not asking for anything here nor stating any intention to pursue work in this direction myself.  I'm just broachin

[2017-09-27 11:18] jreback opened #1157 "Spark backend"
from https://github.com/ibis-project/ibis/issues/1120#issuecomment-322890973

a module to generate spark sql

[2017-09-27 18:16] FedericoV opened #1158 "'SET LOCAL TIMEZONE = UTC') causes crash on Redshift with postgres driver"
Hi everyone,

quick comment.  Using IBIS to interface with redshift with a postgres driver works very well (especially considering it's not explicitly supported!) - but in one of the last few versions, there was a change that broke all queries.

Specifically, I had to comment out:

     @contextlib.contextmanager
     def begin(self):
         with super(PostgreSQLClient, self).begin() as bind:
-

[2017-09-27 20:51] cpcloud commented on #1158
The problem here is that redshift doesn't support setting a timezone for the duration of a transaction. We can work around this by getting the current timezone -> setting to the new one -> setting back to the original

[2017-09-28 22:01] John-Boik opened #1159 "null timestamp in postgres causes error"
Hello. I have a postgres database in which some timestamp fields contain null values. If I select a block of rows that happen to have all null values for a particular timestamp field, I get the error "data type not understood". For example, suppose the table test has a timestamp column with all nulls. Then

[code]
will raise the error. It does not seem to matter if the field is a timestamp with or

[2017-09-29 01:24] John-Boik commented on #1159
It is a strange and hard to track down problem. Some timestamp columns that are all null work fine, and others throw the error. Not sure what is happening. But, I can say that none of the errors occur if I switch back to release 9c3735d.

[2017-10-02 17:50] John-Boik opened #1160 "timedelta and postgres?"
Hello. I'm using Ibis to interact with a postgres db. Some tables have timestamp fields, and I don't see how to filter using timedelta athmetic. For example, the code:

[code]
produces the error:
`TypeError: Cannot cast ufunc greater_equal input from dtype('<m8[m]') to dtype('<m8') with casting rule 'same_kind'`

I've tried various versions of this code, and can't seem to find anything that works.

[2017-10-02 20:26] cpcloud commented on #1160
We have not implemented this yet. I don't think there's a workaround here. You could potentially turn the `timestamp` columns into integer columns and perform the arithmetic and unit conversion "by hand" but we can't cast `timestamp` columns to integers right now.

[2017-10-05 03:44] John-Boik commented on #1159
I see this is a [pandas bug](https://github.com/pandas-dev/pandas/issues/12513).
My crude and temporary fix was to alter ~/lib/python3.5/site-packages/pandas/core/internals.py, line ~573 to:
[code]

[2017-10-10 14:42] #1118 closed

[2017-10-12 11:18] kszucs opened #1164 "Support external tables for clickhouse"
Clickhouse can receive external tables when executing a query, see [external data](https://clickhouse.yandex/docs/en/table_engines/external_data.html) in the documentation.
The external tables can passed to `clickhouse-driver` in the [following way](https://github.com/mymarilyn/clickhouse-driver/blob/94e083589a83ffc289ef2468ab110c141d8cc241/tests/test_external_tables.py#L6).

Ibis currently doesn'

[2017-10-12 15:30] #1158 closed

[2017-10-12 18:26] jreback opened #1165 "HDF5 & CSV backends"
I have an impl of these. placeholder issue.

[2017-10-13 20:26] cpcloud opened #1168 "Add a method to exprs to get all data leaves"
We have `.op().root_tables()` but that is for a different use case. This would be a method that returns every `PhysicalTable` from which an expression is derived. Maybe `_leaves()`?

[2017-10-13 20:28] cpcloud opened #1169 "Add tie breaking options to `percent_rank()` method"
AFAIK only the pandas backend supports tie-breaking algorithm specification. Still, it's useful to have the ability to specify this behavior.

[2017-10-13 20:28] cpcloud commented on #1169
cc @toryhaavik

[2017-10-15 19:17] wesm commented on #1168
Seems reasonable, or `_data_leaves` if you wanted to be more explicit

[2017-10-16 14:33] cpcloud opened #1171 "Consider simpler integer promotion rules"
Take [Julia's promotion rules](https://docs.julialang.org/en/stable/manual/conversion-and-promotion/#Promotion-1) for example:

[2017-10-16 16:38] wesm commented on #1171
One potential question is that many SQL databases (probably for legacy reasons) prefer int / int32 to bigint / int64 as a default "integer". So if we did:

`df.int_col + 2` then if by default we consider "2" to be bigint, then we may cause an unwanted promotion (maybe we are always promoting here anyway)

[2017-10-16 19:08] #1136 closed

[2017-10-18 10:01] jreback opened #1174 "DOC: revamp the docs"
http://docs.ibis-project.org/

are pretty old at this point. Should create a section on backends as newer ones (pandas, clickhouse, file) missing, and impala pretty highlited here.

[2017-10-18 10:05] jreback opened #1175 "Parquet back end"
once #1167 is in, this should be straightforward

we should directly depends on ``pyarrow``. docs are [here](https://arrow.apache.org/docs/python/parquet.html).

this will nicely support projection and predicate pushdown & writing.

[2017-10-18 10:05] jreback commented on #1175
@wesm, @cpcloud

[2017-10-18 13:11] wesm commented on #1175
Nice. As we get the pieces in place for native predicate pushdown we should make sure it works well early on for Ibis

[2017-10-21 19:03] cpcloud opened #1179 "BUG: Repeated compilation of the same expression gives different results"
This also appears to be due to some global state changing during compilation:

[code]

[2017-10-21 23:54] cpcloud opened #1180 "BUG: table.sort_by().count() generates incorrect code"
[code]

This is incorrect, because `ORDER BY` in an aggregation is meaningless without a `GROUP BY`.

[2017-10-21 23:55] cpcloud commented on #1179
This is due to using `toolz.memoize` as a decorator, which caches the result of every call.

[2017-10-22 16:14] #1139 closed

[2017-10-23 15:59] cpcloud commented on #1137
Closed by #1149

[2017-10-23 15:59] #1137 closed

[2017-10-23 16:01] cpcloud commented on #636
Closing as stale. If someone would like to add this, that's fine, but I'm not going to be able to put time into adding this anytime soon.

[2017-10-23 16:01] #636 closed

[2017-10-23 17:51] cpcloud commented on #813
We link to these in the README now.

[2017-10-23 17:51] #813 closed

[2017-10-23 17:51] cpcloud commented on #880
@tdhopper Are you able to reproduce this? If not, please close.

[2017-10-23 18:01] cpcloud commented on #990
This is going to require support in the type system for timedeltas (called `INTERVAL` in some databases). Pushing to 0.13.

[2017-10-23 18:02] cpcloud commented on #974
I haven't had time to track this down since the last release. Pushing to 0.13.

[2017-10-23 18:03] cpcloud commented on #886
@gloopy Closing for now. If you can reproduce please reopen! Thanks!

[2017-10-23 18:03] #886 closed

[2017-10-23 18:32] cpcloud commented on #975
@sanghkaang @jwaligora Can either or both of you show the versions of `ibis` and `thrift_sasl` that you have installed?

[2017-10-23 21:17] toryhaavik opened #1189 ""pre" execute portions of the Ibis tree"
I have a use case where I need to intercept normal Ibis execution and operator on multiple Nodes within the tree all at once.  This operation will result in a partially-filled `scope` dictionary for the relevant Nodes. This then short-circuits the depth-first traversal of the tree, because `scope` has the data it needs to evaluate a given node.  A `pre_execute` dispatcher would allow me to interce

[2017-10-24 08:14] kszucs opened #1191 "Clickhouse any, anyLast reductions"
Clickhouse have `any` and `anyLast` [aggregation functions](https://clickhouse.yandex/docs/en/agg_functions/index.html).
Ibis supports `first_value` and `last_value` on window operations which is not currently implemented in clickhouse. Also, `any` method already implemented for boolean columns.

How should I name `any` and `anyLast` reductions?
As a fallback I might automatically render columns n

[2017-10-24 13:18] tdhopper commented on #880
I haven't tried since then. ¯\_(ツ)_/¯

[2017-10-24 13:18] #880 closed

[2017-10-24 15:11] cpcloud commented on #1191
@kszucs Thanks for bringing this up. I know @tsdlovell has been thinking about this as well.

How about this:

* `any` -> `first_encountered`
* `anyLast` -> `last_encountered`

I think long term we probably want to have `first_value` and `last_value` here, but that requires a mechanism to translate a `Reduction` subclass differently depending on whether it's used as a window function vs an aggrega

[2017-10-24 15:16] kszucs commented on #1191
Which backends are supporting this kind of aggregations?

[2017-10-24 15:23] cpcloud commented on #1191
Just BigQuery right now, but we could easily ship a postgres UDF/UDAF that does `first_encountered`.

[2017-10-24 15:23] cpcloud commented on #1191
I'm unaware of anything other than clickhouse that supports `anyLast`

[2017-10-24 15:29] kszucs commented on #1164
Twi APIs I have in mind:

A simpler:

[code]

A nicer, but requires cooperation between backends:

[code]

@cpcloud I guess the first one is just enough for now, what do You think?

In that case how should I pass the external tables exactly? Using `params` argument?

[2017-10-24 19:13] kszucs commented on #1191
So should I implement `first|last_encountered` reductions? Maybe a shorter name? :)
How about just `first` and `last`?  Are those too short?

[2017-10-24 21:48] tsdlovell opened #1192 "bigquery result fetching fails depending on size of return"
I can limit the query and get results, but if the [result set is too large](https://cloud.google.com/bigquery/quotas), I see something like this

[code]

This is really the `google.cloud.bigquery.Client` failing, but the Error raised is a bit inscrutable.

[2017-10-24 22:09] #1189 closed

[2017-10-25 01:00] #1179 closed

[2017-10-25 01:00] #1180 closed

[2017-10-25 23:22] toryhaavik opened #1193 "Add configuration option for graphviz repr"
The graphviz repr should be able to be turned on and off.  The only way to turn it off right now is to uninstall `python-graphviz`.  My opinion is that it should be off by default and need to be turned on by the user, but open to discussion.

[2017-10-26 02:15] sanghkaang commented on #975
@cpcloud

`ibis` 0.11.2
`thrift-sasl` 0.2.1

Thanks

[2017-10-27 23:36] jreback opened #1195 "feat: file back end enhancements"
after #1194 and #1167 (csv projection is done via ``pre_execute``)

- [ ] push down filtering to HDF5
- [ ] push down filtering & projection to parquet
- [ ] handle partitioned parquet dirs

[2017-10-29 06:53] collinwo opened #1197 "BUG: RecursionError during unpickle TableExpr"
I think the error handling in getattribute will call self._arg that will trigger getattribute again, which cause
RecursionError....

RecursionError                            Traceback (most recent call last)
<ipython-input-10-5e4e03659367> in <module>()
----> 1 t2 = pickle.loads(s1)

/opt/conda/lib/python3.6/site-packages/ibis/expr/types.py in __getattr__(self, key)
    738             return obj

[2017-10-29 06:54] collinwo commented on #1197
Reproducible code run in notebook:

import ibis
import pickle
schema = [('time', 'timestamp'), ('key', 'string'), ('value', 'double')]
t = ibis.table(schema, name='t')
s1 = pickle.dumps(t)
t2 = pickle.loads(s1)

[2017-10-30 15:11] cpcloud opened #1198 "BUG: Alchemy backends missing NotContains operation"

[2017-10-30 15:12] cpcloud opened #1199 "BUG: graphviz display fails on sort_by operation"
Doesn't affect queries or expressions, just won't display the graphviz repr in the notebook.

[2017-10-30 21:28] cpcloud opened #1201 "ENH/PERF: Add cached_property to get a list of all clients from which an expression is derived"
The most common case is a single client (or no client for an `UnboundTable`), but there are cases where there are multiple clients on which an expression is based.

[2017-10-31 14:22] #1198 closed

[2017-11-01 04:03] collinwo commented on #1197
I actually add a hack to fix this. Not sure the fix is good, but it works....Please let me know whether it is a good fix....

from ibis.expr.types import TableExpr

def asetstate(self, a):
    self.__dict__ = a

TableExpr.__setstate__ = asetstate

[2017-11-01 07:42] collinwo opened #1206 "QA: is there a strategic way to replace UnboundTable with PandasTable in Expr?"
We have a use case that data scientists want to write TableExpr on Dataframe in client side(notebook), but execute it in server side. So, we can avoid to download large dataframe in client side. So, we may have to replace UnboundTable with PandasTable in Expr in server side.

[2017-11-01 14:09] jreback opened #1207 "BUG: mutate with a joined scalar"
# working
t1.mutate(foo=t1.ints.sum()).execute()

# failing
joined.mutate(sum=joined.value.sum()).execute()

[2017-11-01 19:40] #1197 closed

[2017-11-01 21:25] cpcloud commented on #1206
@collinwo It's interesting you bring this up. I was recently discussing something like this with @jreback.

It sounds like you want a way to execute pandas backend expressions on a server, and send the result back to the client.

The biggest missing pieces to do this are a way to serialize/deserialize an ibis expression and a small server implementation.

I think we would also need something like

[2017-11-02 06:54] collinwo commented on #1206
Yes, your example will be ideal! However, before we have it, I want to prove that Ibis can solve our problem. So, I can convince my clients and colleagues;)

Currently, we setup a tornado server to handle dataframe querying. Currently, my workaround will be:
1. Use fake(empty) dataframes to create PandasClient in server side;
2. De-serialize PandasClient in client side;
3. User add filtering, comp

[2017-11-02 13:38] cpcloud opened #1210 "ENH: Support contains/not contains in the pandas backend"
This current doesn't work because computation of `ValueList` isn't implemented yet.

[2017-11-02 13:52] #1199 closed

[2017-11-02 14:24] cpcloud opened #1212 "ENH: Cast on SeriesGroupBy not implemented"

[2017-11-02 14:38] cpcloud opened #1214 "ENH: Allow functions in groupby key"
E.g.:

[code]

[2017-11-02 15:27] cpcloud opened #1216 "ENH/BUG: Add multiplication to Series and SeriesGroupBy"

[2017-11-02 22:00] #1207 closed

[2017-11-03 00:29] cpcloud opened #1218 "Define a method that returns a Selection's used physical columns"

[2017-11-03 02:09] #1210 closed

[2017-11-03 14:14] #1212 closed

[2017-11-06 15:54] #1216 closed

[2017-11-06 18:45] #1214 closed

[2017-11-09 15:40] kszucs opened #1221 "Unified ibis <-> pandas type conversions"
I'd like to implement a method to insert pandas dataframes to clickhouse table.

## Problem

Actually this implementation is quite straightforward, but I'd like a unified way to convert dtypes between pandas, ibis [and clickhouse].

Currently this sort of type mapping logic has been implemented at multiple places:
- https://github.com/ibis-project/ibis/blob/master/ibis/clickhouse/types.py
- https:

[2017-11-10 14:46] wesm commented on #1221
This makes sense. This probably also should be considered together with Arrow types, which need to have a reasonable mapping to Ibis types. cc @jreback

[2017-11-10 14:48] jreback commented on #1221
https://github.com/ibis-project/ibis/pull/1194
maps arrow to ibis types ; could/should be in the same place

[2017-11-13 16:34] CerebralMastication opened #1223 "Getting started with Ibis on Redshift"
Hey team, kudos for hard work on Ibis. I've been trying to start using Ibis against a Redshift DB and the Postgres connectivity seems to work just dandy. However Ibis is not behaving as I would expect, which might be an issue with my expectations rather than Ibis.

let me give you an example of my snag:

I set up a connection to redshift using ibis.sql.postgres.api.connect() and all looks good.

T

[2017-11-13 17:17] kszucs commented on #1221
@jreback what's the status of that PR?

If You agree with my proposal, where should we place that type conversion logic?
- go to `ibis.pandas_interop`
- or just make multipledispatch [mandatory](https://github.com/ibis-project/ibis/blob/master/ibis/__init__.py#L52) and implement in `ibis.pandas`?

Should I go with it, or perhaps You'll implement it?

[2017-11-14 15:43] kszucs opened #1224 "MySQL backend"
I guess mysql would be a nice to have backend.

Should it be based on the alchemy backend or the [sql compiler](https://github.com/ibis-project/ibis/blob/master/ibis/sql/compiler.py) (like impala, clickhouse and bigquery)?

[2017-11-14 15:56] wesm commented on #1224
This would also provide MemSQL support. I will see if anyone from over there would be interested in contributing

[2017-11-14 15:57] kszucs commented on #1224
Sounds great, thanks!

[2017-11-14 16:56] kszucs commented on #1224
@cpcloud BTW what's the advantage of maintaining both sqlalchemy and a custom compiler backends?

[2017-11-14 17:06] wesm commented on #1224
Depends on how well sqlalchemy supports the underlying SQL backend. In the case of Impala and BigQuery there's a lot of stuff that is challenging to support in SQLAlchemy (or maybe it's that we don't know how to use it well enough)

[2017-11-14 17:24] kszucs commented on #1224
I get it, but also bothers me a bit.

When I look at ibis' custom compiler it feels like another sqlalchemy.
When I look at sqlalchemy backends it feels like I have double vision, mapping ibis expr to sa expr.

Couldn't we move away from either one? (I know there are pros&cons for both backend types)

[2017-11-14 17:36] jreback commented on #1221
@kszucs that will merge soon. yes I think we should make a ``ibis.types`` where we can move all types of type conversion code

[2017-11-14 17:37] jreback commented on #1221
yeah I think we should just make ``multipledispatch`` as required, as ``pandas`` already is

[2017-11-14 17:46] kszucs commented on #1221
@jreback Great! Would You mind creating the skeleton of it?

I could help then to implement the `ibis schema` <-> `backend schema` conversions per backend (e.g. to ibis.clickhouse.types)

Should we include [infer_literal_types](https://github.com/ibis-project/ibis/blob/master/ibis/expr/types.py#L512) from `expr` package too?

[2017-11-16 13:02] jreback opened #1226 "bug: join between tz-naive and tz-aware should fail early"
this join should raise on dtype incompat early.

[code]

[2017-11-18 22:27] cpcloud commented on #1223
@CerebralMastication Thanks for raising an issue!

Q1/Q2:
---

If there are overlapping column names then in general it's not possible to disambiguate the columns on their names alone.

This applies to join keys as well.

There's only one case where the value of all the key columns in a join is not ambiguous and it would make sense to choose one and that case is *inner joins where the join compari

[2017-11-20 03:59] #1165 closed

[2017-11-20 03:59] #1175 closed

[2017-11-21 15:50] pteehan opened #1227 "ENH: Union in BigQuery"
Hello,

I noticed Union is not implemented in the BigQuery backend.

t0 and t1 are both expressions with identical schemas:
[code]
I thought maybe BigQuery didn't support Union, but it does, if you use Standard SQL. https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#union  So I guess this just isn't yet supported in Ibis.

Any plans to implement this, and any ideas for a wo

[2017-11-22 09:10] kszucs opened #1228 "ENH: Support timestamp, date, and time arithmetic"
Currently substraction is not supported on timestamp and date fields.

An expression like the following feels really intuitive:

[code]

Clickhouse directly supports minus on date and timestamp fields:

[code]

[code]

[2017-11-22 16:41] cpcloud commented on #1195
@jreback Were any of these done in your recent PR?

[2017-11-22 16:42] cpcloud commented on #1191
I'm going to make a generic issue for this.

[2017-11-22 16:43] jreback commented on #1195
no these are open. I did push down for projection on CSV reading as an example.

[2017-11-22 17:01] cpcloud opened #1230 "ENH: Reduction to get the first non-null value in a column"
Some of the big SQL engines have explicit support for this.

- Presto: `ARBITRARY`
- Clickhouse: `any`/`anyLast`
- BigQuery: `ANY_VALUE`

There are probably others that support this behavior.

Let's start with `arbitrary` and we can see about adding a string option `'first'` or `'last'` or another method `arbitrary_last` for backends that don't explicitly support it possibly using window functions

[2017-11-22 17:01] cpcloud commented on #1191
Closing in favor of #1230

[2017-11-22 17:01] #1191 closed

[2017-11-22 17:02] cpcloud commented on #1195
Ok, cool.

[2017-11-22 17:07] cpcloud opened #1231 "BUG: Some bigquery string operations are incorrectly mapped"
See https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#string-functions for the list of all bigquery string functions.

String join and string concat come to mind here.

I'll have a PR up for this shortly

cc @kszucs

[2017-11-22 17:09] cpcloud opened #1232 "REF: Factor out common code for string generating backends"
Backends that generate strings are very similar, we should try to factor out as much common functionality as possible to make it easier to extend.

cc @kszucs

[2017-11-22 17:11] cpcloud opened #1233 "ENH: Full support for interval (timedelta) types"
We have partial support for this. We should extend this to include an `Interval` type in type system, a rule, and the ability to specify tables with columns of this type.

[2017-11-22 17:12] cpcloud commented on #1228
This will require #1233.

[2017-11-22 17:13] cpcloud commented on #1228
@kszucs What is the type of the `2[d]` value? Is it some kind of `INTERVAL` type?

[2017-11-22 17:14] cpcloud opened #1234 "ENH: generate_sequence function"
Some databases have a "generate sequence" function (postgres: generate_series, bigquery: generate_array/generate_date_array) that can be very useful when you're doing time series operations, for example filling in dates in your date where they are missing in the original table.

For databases that don't have this, we can possibly do this with recursive common table expressions (e.g., sqlite) or no

[2017-11-22 17:15] cpcloud opened #1235 "ENH: Support for pivot table operations"
This is sort of tricky because we actually need to perform some computation to get the column names for the next expression. Crosstab is a special kind of pivoting which we could implement an API for once pivot tables are up and running.

[2017-11-22 17:16] cpcloud opened #1236 "ENH: JavaScript UDFs for BigQuery"
This isn't a Python to JS transpiler :) I'm thinking about an interface where a user writes down the input and output types (maybe as ibis rules) and we generate the UDF scaffolding (https://cloud.google.com/bigquery/docs/reference/standard-sql/user-defined-functions). The user would also provide a string containing JS that is the body of the function.

[2017-11-22 17:17] cpcloud opened #1237 "ENH/TST: Factor out tests that test functionality that every backend implements"
... and make that into one test file that uses a pytest parametrized fixture (https://docs.pytest.org/en/latest/fixture.html#fixture-parametrize). This allows us to use the same set of common-base-functionality tests for every backend.

[2017-11-22 17:18] cpcloud opened #1238 "ENH/DES: Generalize the rule system to tables"
Right now, most of our table operations validate their input directly in the constructor instead of using the rule system.

[2017-11-22 17:19] cpcloud opened #1239 "ENH: Generalize the compiler to not have special cases for table operations"
Right now only non-table operations use the operation registry (from the specific backend) to translate expressions to SQL. It would be nice to bring the table expression translation mechanism into the fold of the operation registry. I haven't thought much about what challenges there are to getting this working. This is low priority right now.

[2017-11-22 17:30] cpcloud opened #1240 "ENH/QUES: Regression operation"
Is this something that would be useful to have in ibis?

Here's one way of modeling this computation in ibis:

An expression with two inputs: `X` (exogenous), `y` (endogenous), that returns a single row table:

[code]

`result` is a table with one row

[2017-11-23 08:25] kszucs commented on #1228
Clickhouse returns integers, day precision in case of dates, second precision in case of datetimes.
BTW they [support interval operations](https://github.com/yandex/ClickHouse/blob/3a1f17ba7dbc3bb7554e800423db3aa923762b19/dbms/tests/queries/0_stateless/00514_interval_operators.sql) in the current master.

[2017-11-23 08:43] kszucs commented on #1233
I guess we should handle `Interval` types like the `Timedelta`, an integer with a unit (or precision) metadata.
AFAIK [bigquery](https://cloud.google.com/bigquery/docs/reference/legacy-sql#datediff), [clickhouse](https://github.com/ibis-project/ibis/issues/1228) and [impala](https://www.cloudera.com/documentation/enterprise/5-8-x/topics/impala_datetime_functions.html) handle single units, only Pos

[2017-11-23 08:58] kszucs commented on #1237
Ideally every backend should be able to compile and execute any ibis expressions.

We could maintain an `expression => expected result` mapping somewhere (e.g. in ibis.expr package) which every backend tries to execute.
In case of unsupported operation the backend should raise the appropriate exception. This way we could even generate an operation support matrix (table) to the docs

[2017-11-24 15:49] cpcloud commented on #1120
Closed by 3324d1f

[2017-11-24 15:49] #1120 closed

[2017-11-24 15:51] cpcloud opened #1241 "ARRAY JOIN operation for clickhouse"
This is how clickhouse spells the `UNNEST` operation in other databases.

[2017-11-24 16:12] cpcloud commented on #21
@wesm This looks unrelated to anything in current ibis. Please reopen if this is still relevant.

[2017-11-24 16:12] #21 closed

[2017-11-24 16:16] cpcloud commented on #20
Closing as stale. Please reopen if this is still relevant.

[2017-11-24 16:16] #20 closed

[2017-11-24 16:19] cpcloud commented on #42
Closing as stale. Please reopen if this is still relevant.

[2017-11-24 16:19] #42 closed

[2017-11-24 16:23] cpcloud commented on #104
I don't think this is a bug since the correctness of queries isn't impacted. Classifying as a usability issue, since the ability to read the generated query is secondary to generating the correct code.

[2017-11-24 16:43] cpcloud commented on #1079
This is implemented as of #1220

[2017-11-24 16:43] #1079 closed

[2017-11-24 18:13] cpcloud commented on #93
The postgres algorithm for deciding the output type looks reasonable here: https://www.postgresql.org/docs/current/static/typeconv-union-case.html

[2017-11-27 22:44] kszucs commented on #1228
[code]

Should I implement generic operations like `TemporalSubtract`, `IntervalSubstract`, `IntervalAdd` with custom upcasting logics, or separate them to more specified operations?

[2017-11-28 16:29] cpcloud commented on #1228
Let's start by *not* allowing different typed temporal arithmetic. Folks can always up or downcast themselves while we don't have it and we can add it after the first round of this functionality is merged into master.

With that out of the way, let's focus on the following operations (leaving out the reversed operand versions):

[code]

Each operator gets its own class: `DateAdd`, `DateSubtract` (

[2017-11-29 01:43] sushant3 commented on #975
check my query on stackflow. I ended up solving this by changing the default location for staging. This seems to be due to the security and structure of the individual hadoop system.

https://stackoverflow.com/questions/47445099/inserting-data-to-impala-table-using-ibis-python/47543691#47543691

Another thing...i'm newbie to hadoop but I was told '__' in begining of table/dbase name is not allowed

[2017-11-29 01:49] sushant3 opened #1244 "Add option to change default staging/temp dbase and hdfs location"

[2017-12-01 08:05] collinwo opened #1245 "Type of GroupedTableExpr is not Expr"
Is it expected?
I will get error when pass a groupExpr into analysis.find_source_table()

IbisTypeError: 'op' is not a field in...

[2017-12-01 16:51] cpcloud commented on #1245
@collinwo What exactly are you trying to do with `GroupedTableExpr`? Are you encountering this bug during "normal" ibis operations?

Happy to try to enable whatever your use case is.

The objects in `ibis/expr/groupby.py` aren't full fledged expressions, and are really just spoofing the API of actual expressions so that they are useful intermediate objects on the way to actual expressions. For exa

[2017-12-03 10:34] collinwo commented on #1245
I am trying to find the backend(e.g. resolve the PandasTable from a expr) from a expr, which the expr may contain GroupedTableExpr. So, I use analysis.find_source_table() to do it.  E.g

import ibis
from ibis.pandas import core, client
t = ibis.table([('a', 'int64'), ('b', 'string')])
g = t.groupby('b')
agged = g.aggregate(a_sum=lambda t: t.a.sum())
core.find_data(g)

BTW, I am developing a plugin

[2017-12-03 18:38] cpcloud commented on #1245
@collinwo Sweet! I think you're looking for `ibis.client.find_backends`. That will yield all instances of `ibis.client.Client` depth-first.

[2017-12-04 07:12] collinwo commented on #1245
Great. Thx! Feel free to close the issue.

[2017-12-04 18:30] #1245 closed

[2017-12-05 03:00] collinwo opened #1246 "Does ibis.pandas support isin ?"
I tried to use expression like dt = t[t.key.isin([1,2,3,4,5,6,7,8])], but got error.

Example
[code]

[2017-12-05 20:34] wesm commented on #1246
Looks like it just has not been implemented

[2017-12-05 20:50] cpcloud commented on #1246
@collinwo Are you running against master? This functionality was added here: 9b76701d.

[2017-12-06 06:23] collinwo commented on #1246
I pick up 0.12.0 version. What is the plan of next release, e.g. 0.13.0?

[2017-12-06 14:29] kszucs opened #1248 "Nan, inf operations"
Currently ibis doesn't provide operations for handling `inf`, `-inf`, `nan` values in `float` and `double` scalars / columns.

We might add `isnan` and `isinf`to those columns. Thoughts?

[2017-12-06 20:21] #1233 closed

[2017-12-06 20:24] cpcloud opened #1249 "Deprecate timedelta API in favor of intervals"

[2017-12-06 20:24] cpcloud opened #1250 "Interval operations in bigquery"

[2017-12-06 20:25] cpcloud opened #1251 "interval operations in postgres"

[2017-12-06 20:26] cpcloud commented on #1246
@collinwo can you show the final multipledispatch error in your report? the last part about which types it cannot find is missing, and that's the most important one :)

[2017-12-06 20:46] cpcloud opened #1252 "Add support for an interval with a quarter period"
cc @kszucs

[2017-12-07 01:32] collinwo commented on #1246
Hmmm.... I can't remember the multipledispatch err. Do you mean unpickle err that I reported?
 https://github.com/ibis-project/ibis/issues/1197
I tested with latest master, which it fixed the err.

[2017-12-07 18:27] cpcloud commented on #1246
No, I mean the last bit of the error message you show here

[2017-12-08 02:04] collinwo commented on #1246
Full error message:

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/opt/conda/lib/python3.6/site-packages/multipledispatch/dispatcher.py in __call__(self, *args, **kwargs)
    154         try:
--> 155             func = self._cache[types]
    156         except KeyError:

KeyError: (<class 'ib

[2017-12-08 21:49] tsdlovell opened #1257 "feat: SQL arbitrary functions without code modification"
For tables, you can do `client.sql(SQL_STRING)` to get an ibis object for an abitrary sql string.  If something like this were possible for columns inside of tables, users could use more of the functionality of their particular backend before that functionality is actually built into ibis.

[2017-12-08 23:18] cpcloud opened #1258 "Subquery flattening optimization"
Ibis does a bit of this already, but there may be more opportunities for this kind of optimization that we are missing. We should investigate.

As an interesting related read, here are the criteria that SQLite uses to decide whether to flatten a subquery or not: https://sqlite.org/optoverview.html#flattening

[2017-12-09 00:14] wesm commented on #1258
I remember spending a good bit of time on this, but the optimizations implement are at best rudimentary

[2017-12-10 18:25] kszucs opened #1260 "Date truncate"
Truncate is only implemented for timestamp whereas date should support that too.

[2017-12-10 19:09] cpcloud commented on #1228
this is fixed in https://github.com/ibis-project/ibis/commit/48306f8cbedcea74dd1466c65f3a8811bd730c00

[2017-12-10 19:09] #1228 closed

[2017-12-11 19:33] cpcloud opened #1262 "isinf/isnan backend implementations"
In no particular order:

- [ ] postgres
- [ ] sqlite
- [ ] clickhouse
- [ ] impala
- [ ] bigquery
- [ ] pandas

[2017-12-11 19:34] #1248 closed

[2017-12-11 20:22] #1252 closed

[2017-12-12 07:12] kszucs opened #1264 "Dead code elimination e.g., ifelse expression pruning"
We should look at doing expr pruning (in conditionals like ifelse) when there is a literal value that makes one condition never executed.

[code]

and it turns out that F.isnan(b) yields the literal False, then this could be rewritten as simply `d` prior to execution

[2017-12-12 07:12] kszucs opened #1265 "feat: isnan, isinf should accept integer typed expressions"
Some DB's may accept integers (and always return false).

[2017-12-15 00:46] jreback opened #1267 "serialize ibis expressions"
xref #1206

We want to take an ibis expression, and serialize to JSON (or other format), send over the wire, then de-serialize back to an ibis expression.

``expr.to_json()``
``ibis.client.Client.from_json()``

might be a suitable interface.

[2017-12-15 00:49] jreback opened #1268 "ibis-server"
xref #1267
xref #1206

in the same vein as [blaze-server](https://blaze.readthedocs.io/en/latest/server.html)

we would like to be able to run a process to evaluate client submitted ibis expressions. It would be nice to return the resulting ``DataFrame`` as an [Apache Arrow](http://arrow.apache.org/docs/python/) table.

[2017-12-18 02:09] collinwo commented on #1267
this will be a very nice feature!

[2017-12-18 16:54] cpcloud commented on #1264
I think this is a special case of dead code elimination.

I think there are two optimizations that would enable more complete DCE

- unary/binary operator reassociation
  - looking through the llvm source here: http://llvm.org/doxygen/Reassociate_8cpp_source.html provides a lot of prior art in this space
- constant folding
  - this would happen after reassociation (and in certain cases could happe

[2017-12-20 18:44] jreback opened #1270 "SUPP/CI: Add spark setup to CI"
supporting #1157

[circleci setup](https://github.com/ibis-project/ibis/blob/master/.circleci/config.yml) will need to have added configuration

[2017-12-20 19:08] jreback commented on #1270
cc @shshe

[2017-12-27 19:12] kszucs commented on #1221
@cpcloud could You give me a proper mapping for implementing`to_pandas` ?
A preliminary attempt was here https://github.com/ibis-project/ibis/pull/1269/commits/93bd2013ca8d6ce18ede6172fcfa8e270ba14330

[2017-12-27 19:20] cpcloud commented on #1221
@kszucs I think if you just glom all of those types into a dict somewhere then you have most of what you need. Let me know if there's something that isn't clear.

[2017-12-27 20:14] kszucs commented on #1221
Ok!

[2018-01-02 15:43] josh-gree opened #1273 "Postgres error - numeric column without precision and scale"
If a postgres table has a column with type `numeric` without a specified precision and scale then on trying to view the table in ibis;

[code]

the following error is given;

[code]

This comes from the `__repr__` method of `datatypes.Schema` object. Somewhere the precision and scale are parsed as `None` rather than some default value and the format fails...

[2018-01-04 19:05] FedericoV commented on #1158
Hi,

apparently the bug returned in the latest version of Ibis:

[code]

This is on version '0.12.0+24.gb531c26'

[2018-01-09 16:58] icexelloss opened #1275 "docs: add docs for asof join"

[2018-01-09 20:06] cpcloud opened #1276 "BUG: Postgres 10 failing on regex_extract"

[2018-01-10 00:22] cpcloud opened #1279 "BUG/CI/TST: SQLite tests are not running in CI"

[2018-01-10 02:04] #1276 closed

[2018-01-10 20:26] #1279 closed

[2018-01-10 22:43] cpcloud opened #1283 "Semantics of date/timestamp arithmetic"
Consider the following generic SQL operation:

[code]
What is the expected result?

PostgreSQL:

[code]

SQLite:

[code]

BigQuery:

[code]

Pandas:

[code]

So, it looks like SQLite has some atypical behavior here.

[2018-01-16 15:44] josh-gree commented on #1273
Anybody got any thoughts on this? I think it's quite important to be able to support numeric types in postgres without a specified precision and scale!?

[2018-01-16 17:13] cpcloud commented on #1273
I should be able to take a look at this over the upcoming weekend.

[2018-01-19 14:11] josh-gree commented on #1273
Thanks! Would be much appreciated.

[2018-01-20 19:46] cpcloud opened #1284 "Fix the PandasClient.dialect property to be not None"
depends on #1256

[2018-01-20 19:47] cpcloud opened #1285 "More thorough testing for PandasDatabase"
depends on #1256

[2018-01-20 19:49] cpcloud opened #1286 "refactor: remove backend execution tests in favor of the full backend test configuration suite"

[2018-01-20 19:59] cpcloud opened #1287 "Implement STRICT mode (a la postgres UDFs) for SQLite UDFs"
The effect of this is to assume that any `NULL` input implies a `NULL` output. This simplifies writing UDF since they don't have to check for null inputs.

[2018-01-20 20:10] cpcloud opened #1288 "Make sure we have execution tests for all backends that run operations on columns"

[2018-01-20 21:16] cpcloud opened #1289 "BUG: The nullable property is not propagated through primitive types"
Because the `type()` method just blindly returns instances of particular types (which are nullable by default).

[2018-01-22 21:39] kszucs commented on #1257
I can imagine that as UDFs for sql backends, like for pandas in https://github.com/ibis-project/ibis/pull/1277

Translator helpers like `sa.func.<name>` could be handy too.

[2018-01-22 21:45] kszucs commented on #1218
Does it depend on https://github.com/ibis-project/ibis/issues/1168 ?
Does a physical column only able to originate from physical table?

For extracting the `PhysicalTable`'s I guees there is already an implementation for that: https://github.com/ibis-project/ibis/blob/master/ibis/expr/lineage.py#L14

[2018-01-23 23:11] cpcloud opened #1291 "add_column has different behavior than mutate"
[code]

@kszucs do you think you could knock this one out? `add_column`  should probably just call `mutate`

[2018-01-24 13:23] kszucs commented on #1291
@cpcloud sure

[2018-01-24 17:40] cpcloud opened #1294 "Add tests for complex typed scalar parameters in backends other than BigQuery"
Things like `ibis.param(dt.Array(dt.int64))`.

[2018-01-24 19:18] cpcloud opened #1295 "Notebook 7 expression no longer works"
[code]

[2018-01-24 19:20] tsdlovell opened #1296 "BUG: can't mutate and then drop"
On current master
[code]

I can't do `table.mutate(b=table.a).drop(['a'])`

[code]

[2018-01-24 19:24] tsdlovell opened #1297 "BigQuery: detect hidden _PARTITIONTIME column for partitioned tables"
would be nice to automagically rename it as well

https://cloud.google.com/bigquery/docs/partitioned-tables

[2018-01-25 17:59] cpcloud opened #1300 "ScalarParameters are not passed to subqueries"
This leads to `KeyError` during translation.

[2018-01-25 19:41] kszucs opened #1301 "feat: Ibis.timestamp('now') shortcut to ibis.now()"
The difference should be highlighted in `timestamp`'s doc.

[2018-01-25 20:05] kszucs commented on #1221
This should be resolved by #1292

[2018-01-26 17:51] #1155 closed

[2018-01-26 17:59] cpcloud commented on #1297
@kszucs can you take a look at this one? you could probably do this by checking the result of `list_partitions()` and then appending an additional field to the bigquery schema and in the client calling

[code]

This would then depend on #1299

[2018-01-28 00:36] #1296 closed

[2018-01-28 14:51] jeffgortmaker opened #1307 "Compiling an expression involving an equality of two isnull statements gives unexpected SQL"
The following code

    t = ibis.table([('a', 'string'), ('b', 'string')], 'table')
    print(ibis.impala.compiler.to_sql(t[t.a.isnull() == t.b.isnull()]))

gives

    SELECT *
    FROM t
    WHERE `a` IS NULL = `b` IS NULL

whereas I would have expected something like

    SELECT *
    FROM t
    WHERE (`a` IS NULL) = (`b` IS NULL)

which isn't logically the same as  the first.

[2018-01-28 15:01] jeffgortmaker opened #1308 "Compiling a join with an OR condition gives unexpected SQL"
The following code

    t1 = ibis.table([('a', 'string'), ('b', 'string')], 't')
    t2 = t1.view()
    print(ibis.impala.compiler.to_sql(t1.join(t2, [t1.a == t2.a, (t1.a != t2.b) | (t1.b != t2.a)])[t1]))

gives

    SELECT t0.*
    FROM t t0
      INNER JOIN t t1
        ON t0.`a` = t1.`a` AND
           (t0.`a` != t1.`b`) OR (t0.`b` != t1.`a`)

whereas I would have expected

    SELECT t0.*

[2018-01-28 15:09] kszucs commented on #1077
I've created an explicit mapping for truncate units [here](https://github.com/kszucs/ibis/blob/656998fb05059563b1f3096f1a6935f3721c8319/ibis/expr/operations.py#L2332)

We might use an enum to support auto completion.

[2018-01-28 17:23] cpcloud commented on #1308
FYI, `to_sql` is an internal function. Use `ibis.impala.compile` instead.

[2018-01-28 17:24] cpcloud commented on #1308
Also, this is correct code because `=` binds tighter than `OR` which binds tighter than `AND` so the parentheses are redundant.

[2018-01-28 17:31] cpcloud commented on #1307
Can you write down how you think the operands associate in the first case?

These are logically equivalent according to the way the parser is written down here: https://github.com/cloudera/Impala/blob/1bfb4cc5277c278459905f5b986f3604d444e669/fe/src/main/cup/sql-parser.cup#L2994

The `IS` keyword has lower precedence than the `=` symbol, but the `expr` nonterminal separates expressions into non-pre

[2018-01-28 19:04] jeffgortmaker commented on #1308
Thanks! Didn't realize that. I think my confusion came from the extra parentheses being added by something like `t1.filter([expression1, expression2 | expression3])`.

[2018-01-28 19:11] cpcloud commented on #1307
Hm, the postgres parser behaves differently here. It parses `a is null = b is null` as `((a is null) = b) is null` which makes sense since both operators are left associative and `=` is parsed before `IS`.

I might be misreading the impala parser. Let me squint at it some more.

[2018-01-28 19:13] jeffgortmaker commented on #1307
Thanks, yes! I just tried out things with SQLite (the same SQL is created by `ibis.sqlite.compile`), and I think it parses things in the same order as postgres. So I'm guessing Impala is doing that too.

[2018-01-29 06:56] collinwo opened #1310 "When will 0.13 happen?"
I raised several improvement and bug, which is fixed in 0.13. Although I built and used a latest version in our platform, it will be great to use a standard version that is released formally...

[2018-01-29 14:34] jeffgortmaker commented on #1308
Am I missing something? Using Impala, `select false and false or true` gives `true` but `select false and (false or true)` gives `false`.

Not sure where to look for Impala, but here's a reference for mysql: https://dev.mysql.com/doc/refman/5.7/en/operator-precedence.html

[2018-01-29 14:40] cpcloud commented on #1308
It's possible I misread the Impala grammar. I'll look into it.

On Mon, Jan 29, 2018, 09:34 Jeff Gortmaker <notifications@github.com> wrote:

[2018-01-29 14:54] cpcloud commented on #1308
Yep I definitely misread. This is a bug in Ibis. Slated for 0.13.

[2018-01-29 14:55] jeffgortmaker commented on #1308
Thanks again -- looking forward to the release.

[2018-01-29 15:40] kszucs opened #1312 "feat(api): isin should support array of scalars"
Array might not be the best idea, but here are the semantics:

[code]

`ids` probably should be a variable length param list

[2018-01-29 16:24] wesm commented on #1310
I should think 0.13 can go out in the next couple of weeks, I will let @cpcloud make the call

[2018-01-29 18:42] cpcloud commented on #1312
There are other interesting cases like BigQuery's struct `IN` syntax: `(42, 'foo') in struct_col` that `isin` should probably also handle.

[2018-01-29 18:44] cpcloud commented on #1284
This is already done and is a spurious issue.

[2018-01-29 18:44] #1284 closed

[2018-01-29 18:51] cpcloud commented on #1310
@collinwo @wesm That's what I was thinking as well. There are a few bugs to close out and a couple more features I'd like to get in.

[2018-01-29 18:55] cpcloud commented on #1231
Closed by #1256

[2018-01-29 18:55] #1231 closed

[2018-01-29 18:57] cpcloud commented on #229
We have type system support here, and backend support in bigquery and postgres. Impala needs a bit of work to paper over some of the syntax here. I'll make an issue.

[2018-01-29 18:57] #229 closed

[2018-01-29 18:58] cpcloud opened #1313 "Implement nested data operations for Impala"
Cloudera reference: https://www.cloudera.com/documentation/enterprise/5-12-x/topics/impala_complex_types.html

[2018-01-29 22:24] jreback opened #1314 "BUG: radd with strings"
[code]

[code]

[2018-01-31 03:13] collinwo commented on #1310
Perfect! Thank you!

[2018-01-31 20:02] tsdlovell opened #1319 "google library versions need to be specified for proxies?"
I find I need to point to particular versions of some of the google libs to negotiate the proxy at my work.  Unclear if this is an issue for people who don't have to deal with a proxy.

When I didn't pip install like below, I got `google-auth==1.3.0` and that didn't work.

This works
[code]

[2018-01-31 21:21] cpcloud opened #1320 "Make sure verbose logging works for string translation backends (Impala, BigQuery, Clickhouse, SQL...)"
Pretty sure this is working for impala, but we need to make sure it works for the other backends that directly  translate to strings as well.

[2018-02-01 07:37] kszucs opened #1323 "Clickhouse table insert"
Probably the schema conversion and argument validation can be generalized to base `SQLClient`

[2018-02-01 07:40] kszucs opened #1324 "Implement AlchemyTable.insert"
The insert method probably should support both pandas dataframe and an executable ibis expression.

[2018-02-01 19:24] cpcloud opened #1325 "Bake Python enums into the ibis type system"
Right now the `enum` rule doesn't convert Python enums to value expressions. We should fix that.

[2018-02-01 23:15] kszucs opened #1326 "Remove python 3.4 builds?"
Main reasons:
- on appveyor it takes 10 minutes from the total 25
- conda-forge doesn't make builds for 3.4 anymore

[2018-02-02 11:06] kszucs opened #1327 "[RFC] ODBC backend connectors"
It's considerable for ibis to use turbodbc[with arrow], however the performance gains are not clear enough.
I'm willing to create conda-forge feedstocks for our currently supported backends, but considering the probable licensing issues and turbodbc's performance [warnings](http://turbodbc.readthedocs.io/en/latest/pages/databases/postgresql.html) it might not worth the effort.

What do You think?

[2018-02-02 13:49] kszucs opened #1328 "[RFC] Multi-backend expressions"
### Problem

Currently an expression must be bound to a single backend, however heterogeneous architectures are pretty common nowadays and it can be really painful to make them work together.

Enabling seamless interoperability between various backends would be a killing feature for ibis.

### Examples

[code]

or

[code]

### Possible Implementation

This could be generalized with pandas backend

[2018-02-02 15:57] cpcloud opened #1330 "Consider adding docker dns to docker-compose setup"
For example using [dns-proxy-server](https://github.com/mageddo/dns-proxy-server):

[code]

This would allow users to refer to containers on the host by their hostname instead of having to deal with IP addresses.

[2018-02-02 16:43] #1291 closed

[2018-02-02 18:31] cpcloud commented on #1319
I don't know if this is related to ibis or just to specific installations of dependencies of the bigquery backend. I'll look into this but probably not before the 0.13 release is cut.