[2021-12-08 03:54] #3147 closed

[2021-12-08 21:12] cpcloud commented on #3145
@gerrymanoim @jreback What's the plan here? What's the urgency?

[2021-12-08 21:33] cpcloud commented on #555
Closing until we have an operation that requires this.

[2021-12-08 21:33] #555 closed

[2021-12-08 21:34] cpcloud commented on #556
Not high priority at the moment, closing.

[2021-12-08 21:34] #556 closed

[2021-12-08 21:35] cpcloud commented on #557
@jacques-n Are there any specific test cases we should be exercising to ensure decimal correctness?

[2021-12-08 21:36] cpcloud commented on #560
Closing.

[2021-12-08 21:36] #560 closed

[2021-12-08 21:37] cpcloud commented on #561
Not totally clear what to do here.

[2021-12-08 21:37] #561 closed

[2021-12-08 21:38] cpcloud commented on #565
Closing.

[2021-12-08 21:38] #565 closed

[2021-12-08 21:39] cpcloud commented on #579
Closing as stale.

[2021-12-08 21:39] #579 closed

[2021-12-08 21:40] cpcloud commented on #581
We can do this if/when someone asks for it.

[2021-12-08 21:40] #581 closed

[2021-12-08 21:43] cpcloud commented on #583
Closing as an upstream bug

[2021-12-08 21:43] #583 closed

[2021-12-08 21:51] cpcloud commented on #588
The information to do this would be in `ibis/backends/base/sql/compiler/translator.py` around like 200:

[code]

[2021-12-08 21:52] cpcloud commented on #612
Closing.

[2021-12-08 21:52] #612 closed

[2021-12-08 21:54] cpcloud commented on #632
[code]

That's the API

[2021-12-08 21:54] #632 closed

[2021-12-08 22:06] cpcloud commented on #589
This already exists in core sqlalchemy for database that that library supports, otherwise upstream drivers need to implement their own types.

The one piece of work that would likely need to be done in ibis is verifying that we correctly map those upstream driver types to an ibis type. This is done already for mysql. The others can be done as needed.

[2021-12-08 22:06] #589 closed

[2021-12-08 22:06] cpcloud commented on #590
Closing until requested, this is pretty esoteric.

[2021-12-08 22:06] #590 closed

[2021-12-08 22:21] cpcloud commented on #597
Another option is to change the default to `True`, which is a breaking API change, but totally in line with our versioning policy.

More databases have count(distinct) than whatever the equivalent approximate version is, so having the default work out of the box even if it's slower is better.

[2021-12-08 22:21] #597 closed

[2021-12-08 22:28] cpcloud commented on #604
To get postgres/impala behavior in sqlite, the workaround is to `coalesce` the argument with the proper identity element for the `max`/`min` binary operation. E.g.,:

[code]

[2021-12-08 22:28] #604 closed

[2021-12-08 22:31] jreback commented on #3145
we are internally updating to ibis 2.0; we were substantially delayed because we needed ibis-bigquery compatibility which is now resolved. It turns out a number of things broke / unintentiallly changed during a lot of the refactorings, this is one of them.

[2021-12-08 22:33] cpcloud commented on #604
#605 is a similar issue.

[2021-12-08 22:38] cpcloud commented on #605
We could unify this, but it's a significant amount of work and would require a champion.

[2021-12-08 22:38] #605 closed

[2021-12-08 23:00] cpcloud commented on #607
I've annotated the list of functions according to implementation plausibility. Closing for now.

[2021-12-08 23:00] #607 closed

[2021-12-08 23:02] cpcloud commented on #610
This exists here: https://github.com/cpcloud/numbsql. Sorry for the shameless self-promotion, but honestly, there's no sane way to get a UDF into sqlite, so why not use an insane way?

[2021-12-08 23:02] #610 closed

[2021-12-08 23:07] cpcloud commented on #3145
Cool. Glad to hear y'all are updating. Happy to squash whatever arises.

[2021-12-08 23:34] #3146 closed

[2021-12-09 00:57] gerrymanoim commented on #3145
@cpcloud - I'll grab this one, wanted to triage our internal stuff first and make all the open source changes at once.

[2021-12-09 01:20] gerrymanoim opened #3150 "Should VectorizedUDF `func_args` accept `ibis.expr.types.TableExpr`"
As best as I can tell this is a behavior change, but I'm not entirely if the change is intentional/behavior should be supported.

If you have a `TableExpr` and perform a selection on it, you get a back a `TableExpr`. If you pass that to `VectorizedUDF`, it fails validation of `func_args` https://github.com/ibis-project/ibis/blob/52fa8a97faf5856e0c7b05f52ad461f117c066b2/ibis/expr/operations/vectori

[2021-12-09 03:31] cpcloud commented on #3150
@gerrymanoim do you have an example of this breaking?

It's certainly possible that this might be a regression. Would be useful to have a breaking example to add to a test

[2021-12-09 16:55] gerrymanoim commented on #3150
Sorry - please ignore this. Bad ibis usage on our part.

[2021-12-09 16:55] #3150 closed

[2021-12-09 18:49] #3145 closed

[2021-12-09 19:11] gerrymanoim opened #3152 "Allow column_from to take `ColumnExpr`"
Right now `rlz.column_from` https://github.com/ibis-project/ibis/blob/master/ibis/expr/rules.py#L426 only allows you to pass `str` and `int`. Given that it is returning the column itself, I'd like to change this to allow it to take a `ColumnExpr` and pass it through unchanged.

cc @jreback

[2021-12-09 19:17] cpcloud commented on #3152
`rlz.column_from` should not accept arbitrary `ColumnExpr`s, it's designed to be a rule that pulls out a column from a child table by name or schema index. Passing `ColumnExpr`s through without validation would allow invalid columns through.

It'd be fine to allow them through if the result of accessing them by name or index equals the input column expression, though that seems redundant.

@gerrym

[2021-12-09 19:21] cpcloud commented on #3152
@gerrymanoim If you just want to allow any column expression, you can use `rlz.column(rlz.any)` for that.

[2021-12-09 19:21] gerrymanoim commented on #3152
We have certain logic that takes ibis nodes and rewrites them, creating a new operation. Because we can't pass a `ColumnExpr`, we can't take the arguments from something like a `DropNa` and pass them in again to a new `DropNa`. This we now need to special case, just to extract the column names from the list of column exprs, so we could pass them back in again.

I'd be fine checking if the root tab

[2021-12-09 19:23] cpcloud commented on #3152
Cool, the latter sounds good to me. Want to PR it? It should be a pretty small change and test.

[2021-12-09 21:31] cpcloud commented on #611
Closing as stale.

[2021-12-09 21:31] #611 closed

[2021-12-09 21:31] cpcloud commented on #611
Needs champion.

[2021-12-09 21:32] cpcloud commented on #620
Workaround is to use the `exists` API, closing for now.

[2021-12-09 21:32] #620 closed

[2021-12-09 21:37] cpcloud opened #3154 "Clarify why EPS == 1e-13"
Found this while closing issues with @gforsyth and @saulpw

https://github.com/ibis-project/ibis/blob/faa2c368bfd56a34813ceba962bf98540f061312/ibis/backends/base/sql/compiler/select_builder.py#L491

[2021-12-09 21:39] cpcloud commented on #631
We're moving towards less logging at the moment, until the need arises

[2021-12-09 21:39] #631 closed

[2021-12-09 21:46] cpcloud commented on #669
One example where the compiled result will return incorrect SQL with overlapping table names is:

[code]

[2021-12-09 21:48] cpcloud commented on #672
We would need significant refactoring to do this and something like a solid rewrite system.

[2021-12-09 21:51] #673 closed

[2021-12-09 21:54] cpcloud commented on #674
This is tantalizingly easy, but incredibly deceptively so. We should not do this. All the backends now implement window functions.

[2021-12-09 21:54] #674 closed

[2021-12-09 21:58] cpcloud commented on #676
We should start with a long-to-wide API that isn't data dependent first, and then see whether it makes sense to do the magic.

[2021-12-09 21:58] #676 closed

[2021-12-10 14:34] gforsyth commented on #3154
It looks like this was first added in 3d4d2b4344f00e492ee486bd6c6801c3c2fd8bdb

[2021-12-10 14:37] gforsyth commented on #3154
Which squashed it from here: 8dac292b0dd7553afe41af16d544d5b391f7504e

[2021-12-10 21:12] cpcloud commented on #3154
Seems reasonably clear.

[2021-12-10 21:12] #3154 closed

[2021-12-10 21:17] cpcloud commented on #677
`CASE` statements are a workaround for this for now. Closing.

[2021-12-10 21:17] #677 closed

[2021-12-10 21:18] cpcloud commented on #678
Closing as unclear what the value is in supporting functions.

[2021-12-10 21:18] #678 closed

[2021-12-10 21:28] cpcloud commented on #680
I think we likely want to remove `materialize`. Closing for now.

[2021-12-10 21:28] #680 closed

[2021-12-10 21:39] cpcloud commented on #683
@earino I know it's been a while, but can you state whether there's something you can't express with ibis that would require `LATERAL join`?

[2021-12-10 21:44] cpcloud commented on #684
Can this be done with a window function?

[2021-12-10 21:46] cpcloud commented on #684
This requires an `unnest` API, so closing for now.

[2021-12-10 21:46] #684 closed

[2021-12-10 21:50] cpcloud commented on #695
https://ibis-project.org/docs/user_guide/sql.html#window-functions

[2021-12-10 21:50] #695 closed

[2021-12-10 21:52] cpcloud commented on #696
This would need a use case.

[2021-12-10 21:52] #696 closed

[2021-12-10 21:53] cpcloud commented on #701
Proactively closing kerberos issues.

[2021-12-10 21:53] #701 closed

[2021-12-10 21:56] cpcloud commented on #703
The impala backend will continue to have subpar error messages until the upstream can provide more information.

[2021-12-10 21:56] #703 closed

[2021-12-10 21:57] cpcloud commented on #706
Closing.

[2021-12-10 21:57] #706 closed

[2021-12-10 21:57] cpcloud commented on #711
Closing.

[2021-12-10 21:57] #711 closed

[2021-12-10 21:57] #715 closed

[2021-12-10 22:00] cpcloud commented on #716
xref: #3127

[2021-12-10 22:00] #716 closed

[2021-12-10 22:01] #719 closed

[2021-12-10 22:01] #731 closed

[2021-12-10 22:03] cpcloud commented on #732
Out of scope.

[2021-12-10 22:03] #732 closed

[2021-12-10 22:03] #734 closed

[2021-12-10 22:03] #736 closed

[2021-12-10 22:04] #737 closed

[2021-12-10 22:04] #746 closed

[2021-12-10 22:05] #750 closed

[2021-12-10 22:05] #751 closed

[2021-12-10 22:05] cpcloud commented on #755
Mutating additions to clients is a dark, unhappy road.

[2021-12-10 22:05] #755 closed

[2021-12-10 22:08] #760 closed

[2021-12-10 22:11] #762 closed

[2021-12-10 22:11] #770 closed

[2021-12-10 22:12] #779 closed

[2021-12-10 22:13] #796 closed

[2021-12-10 22:15] #801 closed

[2021-12-10 22:20] cpcloud commented on #803
Closing.

[2021-12-10 22:20] #803 closed

[2021-12-10 22:21] cpcloud commented on #806
Closing, since there's a backend for this now.

[2021-12-10 22:21] #806 closed

[2021-12-10 22:23] #811 closed

[2021-12-10 22:24] jreback commented on #806
do we have a doc page on available backends that are not in core?

[2021-12-10 22:25] #812 closed

[2021-12-10 22:26] #815 closed

[2021-12-10 22:26] #838 closed

[2021-12-10 22:26] #847 closed

[2021-12-10 22:26] #882 closed

[2021-12-10 22:32] #1223 closed

[2021-12-10 22:53] cpcloud commented on #806
We do not. Definitely in scope to have that.

[2021-12-10 22:55] cpcloud opened #3156 "docs: list external projects related to ibis"
xref: #806

[2021-12-10 23:18] cpcloud commented on #685
Window functions in SQLite work out of the box:

[code]

[2021-12-10 23:18] #685 closed

[2021-12-10 23:22] cpcloud commented on #606
This works now:

[code]

[2021-12-10 23:22] #606 closed

[2021-12-10 23:22] #918 closed

[2021-12-10 23:24] #975 closed

[2021-12-10 23:25] cpcloud commented on #985
I think this would still be accepted, but a PR is needed for that.

[2021-12-10 23:25] #985 closed

[2021-12-10 23:30] cpcloud commented on #1002
Would happily accept a PR for anything discussed here to make it easier.

[2021-12-10 23:30] #1002 closed

[2021-12-10 23:34] #1104 closed

[2021-12-11 00:06] jreback commented on #606
worth adding a test?

[2021-12-11 00:11] cpcloud commented on #606
already there https://github.com/ibis-project/ibis/blob/master/ibis/backends/sqlite/tests/test_functions.py#L426

[2021-12-12 18:31] jacques-n commented on #557
I'd definitely crib [the tests](https://github.com/dremio/dremio-oss/blob/master/sabot/kernel/src/test/java/com/dremio/BaseDecimalFunctionTests.java#L40) from Dremio that are easy to repurpose.

The scale/precision output compromises are always the key pain points when working with Decimal. Having good coverage of the edge cases related to these are important.

For note, the pattern used in the te

[2021-12-12 23:50] cpcloud commented on #1103
Quantile is the way to do this for now. Would happily accept a PR for this.

[2021-12-12 23:50] #1103 closed

[2021-12-12 23:51] cpcloud commented on #1122
@emilyreff7 Can this be closed?

[2021-12-12 23:52] cpcloud commented on #1237
We've had this for a while now.

[2021-12-12 23:52] #1237 closed

[2021-12-12 23:55] cpcloud commented on #1334
This'd be nice, but there are some other refactorings that need to take place to do this in a maintainable way, esp https://github.com/ibis-project/ibis/issues/2919

[2021-12-12 23:55] #1334 closed

[2021-12-12 23:56] cpcloud commented on #1063
I don't think there's a workaround for this unfortunately. Kudu support needs an owner.

[2021-12-12 23:56] #1063 closed

[2021-12-12 23:57] cpcloud commented on #1238
We've got a handful of rules that deal with tables now.

[2021-12-12 23:57] #1238 closed

[2021-12-12 23:57] cpcloud commented on #892
Interesting analysis, but ultimately not necessary or worth the implementation cost.

[2021-12-12 23:57] #892 closed

[2021-12-12 23:58] #1218 closed

[2021-12-12 23:59] cpcloud commented on #1241
Dup of #1146

[2021-12-12 23:59] #1241 closed

[2021-12-13 00:00] cpcloud commented on #1258
This is extremely difficult to get correct, so not doing it for the foreseeable future. With a better optimization framework in place we *might* have a shot at doing this.

[2021-12-13 00:00] #1258 closed

[2021-12-13 00:00] cpcloud commented on #1287
We don't have SQLite UDFs, so this issue is invalid.

[2021-12-13 00:00] #1287 closed

[2021-12-13 00:01] #1285 closed

[2021-12-13 00:01] #1313 closed

[2021-12-13 00:01] #1330 closed

[2021-12-13 00:02] #1367 closed

[2021-12-13 00:02] cpcloud commented on #1171
This was motivated by a sharp edge, but I don't remember what it was, so closing.

[2021-12-13 00:02] #1171 closed

[2021-12-13 00:03] cpcloud commented on #1545
No reason to optimize this without profiling.

[2021-12-13 00:03] #1545 closed

[2021-12-13 00:04] cpcloud commented on #1530
Kudu support is on life-support given the lack of maintainers for it.

[2021-12-13 00:04] #1530 closed

[2021-12-13 00:05] cpcloud commented on #1827
This seems like "done for now".

[2021-12-13 00:05] #1827 closed

[2021-12-13 00:05] #1559 closed

[2021-12-13 00:07] #1628 closed

[2021-12-13 00:07] #1863 closed

[2021-12-13 00:08] #1864 closed

[2021-12-13 00:08] #1873 closed

[2021-12-13 00:08] cpcloud commented on #2944
This is fixed.

[2021-12-13 00:08] #2944 closed

[2021-12-13 00:09] cpcloud commented on #2967
This isn't reproducible.

[2021-12-13 00:09] #2967 closed

[2021-12-13 00:10] #1426 closed

[2021-12-13 00:11] cpcloud commented on #1632
I don't think we have much beyond simple element/field access.

[2021-12-13 12:32] #1077 closed

[2021-12-13 12:32] #1235 closed

[2021-12-13 12:33] cpcloud commented on #1239
Nice to have, but not essential

[2021-12-13 12:33] #1239 closed

[2021-12-13 12:33] cpcloud commented on #1240
This could be interesting, but needs a champion

[2021-12-13 12:33] #1240 closed

[2021-12-13 12:34] cpcloud commented on #1283
Forcing these to all be equivalent is out of scope.

[2021-12-13 12:34] #1283 closed

[2021-12-13 12:34] #1288 closed

[2021-12-13 12:39] cpcloud commented on #1348
This surprising but is non-trivial to come up with a reliable rule to choose when to use aggregates versus not. It's possible that `avoid window functions when all projections are scalar aggregates` is doable, but would need a PR

[2021-12-13 12:39] #1348 closed

[2021-12-13 12:40] cpcloud commented on #1348
We would happily accept a PR for this, with sufficient testing.

[2021-12-13 12:40] cpcloud commented on #1325
Seems pretty low value right now.

[2021-12-13 12:40] #1325 closed

[2021-12-13 13:46] cpcloud commented on #1387
This will be part of The Great Materialize Purge of 2021/2022.

[2021-12-13 13:47] #1536 closed

[2021-12-13 13:48] #1043 closed

[2021-12-13 13:48] #1520 closed

[2021-12-13 13:48] #1552 closed

[2021-12-13 13:48] #1580 closed

[2021-12-13 13:50] cpcloud commented on #1756
There's not enough information to act here.

[2021-12-13 13:50] #1756 closed

[2021-12-13 13:51] #1898 closed

[2021-12-13 13:51] #2920 closed

[2021-12-13 13:52] cpcloud commented on #2920
I don't think this is worth doing independent of a larger refactor.

[2021-12-13 13:53] cpcloud commented on #1168
This would reduce duplication a bit, but not sure it's worth the effort. `lineage.traverse` can be used instead for now.

[2021-12-13 13:53] #1168 closed

[2021-12-13 13:54] cpcloud commented on #1097
This is undoubtedly more concise, but doesn't compose well at all. What if I specify an `order_by` using a `window` and that `order_by` conflicts with the `ascending` parameter?

[2021-12-13 13:54] #1097 closed

[2021-12-13 13:56] #1295 closed

[2021-12-13 14:48] cpcloud commented on #3110
@Abhijnan-Bajpai Sorry for the delay! Feel free to work on the issue without being assigned! I've assigned you now though :)

[2021-12-13 14:51] cpcloud commented on #3006
A new set of issues for a Substrait backend would be needed, since we're not going to use Arrow IR for this.

[2021-12-13 14:51] #3006 closed

[2021-12-13 14:52] cpcloud commented on #1003
I don't know if this is still a reasonable thing to do. The only case where this matters is the root of an expression tree, so giving everything a default name seems overkill.

[2021-12-13 14:52] #1003 closed

[2021-12-13 14:53] cpcloud commented on #1169
Bending over backwards to support this because pandas does is a huge amount of work.

[2021-12-13 14:53] #1169 closed

[2021-12-13 16:57] saulpw commented on #3156
For now, will include ones I find here:

- https://github.com/zbrookle/sql_to_ibis

[2021-12-13 21:30] cpcloud commented on #879
Closing as correct behavior.

[2021-12-13 21:30] #879 closed

[2021-12-13 21:31] #911 closed

[2021-12-13 21:32] #912 closed

[2021-12-13 21:39] cpcloud commented on #949
This would be part of a user-facing API for adding your own window functions.

[2021-12-13 21:39] #949 closed

[2021-12-13 21:52] cpcloud commented on #992
If the type is missing, we'll add it to the next release (and any after that). Let us know if there's still something missing.

[2021-12-13 21:52] #992 closed

[2021-12-13 23:31] saulpw opened #3163 "bug: correlated subquery with join generates incorrect SQL"
This Ibis expression (using the TPC-H database; a simplified version of TPC-H query 2) appears to be valid, but does not generate correct SQL:

[code]

### Expected Result

[code]

### Actual Result

The generated SQL is:

[code]

The subquery above does an extra join with a copy of the outer query, whereas it should just reference the existing value in the outer query.

[2021-12-14 04:37] Abhijnan-Bajpai commented on #3110
Thanks, I'll try getting this done asap.

[2021-12-14 15:58] cpcloud commented on #3163
Possible starting point:

Compare the output of one of the stringish backends like `impala` and see whether the SQL is correct. If not: then it's likely an ibis-wide issue, if it is, then it's likely ibis's use of SQLAlchemy that is buggy.

[2021-12-14 16:10] cpcloud commented on #3163
@gforsyth That looks correct. So then there's probably an issue with out use of sqlalchemy.

[2021-12-14 20:30] kesmit13 commented on #3050
Here is one thing that I've attempted which does get me down the road a ways. The `_translate` method for the MySQL backend will return a string that contains the UDF syntax: `db.func(x, y, ...)`. I added the following code to convert the string to a text literal including an `AS` clause to assign a name to it. This does work in column selections (e.g., `tbl[['column', expr]]`, but it fails when u

[2021-12-14 21:32] cpcloud commented on #1594
Closing in favor of #1045

[2021-12-14 21:37] cpcloud commented on #1088
Closing. Let's open a github discussion for it in the future

[2021-12-14 21:41] cpcloud commented on #1122
Closed by #3097

[2021-12-14 21:50] cpcloud commented on #1148
This could be a separate library, maybe call it `bearbird`?

[2021-12-14 21:50] #1148 closed, assigned to nobody

[2021-12-14 21:57] cpcloud commented on #1201
This might be needed as part of multi backend execution, but I don't think it's very valuable on its own.

[2021-12-14 21:57] #1201 closed

[2021-12-14 22:00] cpcloud commented on #1267
Ultimately we will use Substrait for this, https://substrait.io.

[2021-12-14 22:00] #1267 closed

[2021-12-14 22:02] cpcloud commented on #1206
This is a great use case. It's probably out of scope for ibis itself right now, but stay tuned!

[2021-12-14 22:02] #1206 closed

[2021-12-14 22:05] cpcloud commented on #1226
This can probably be done with a new `rlz` rule, like `if_is_timestamp_both_are_the_same_timezone_awarenessness`

[2021-12-14 22:06] #1232 closed

[2021-12-15 00:57] gerrymanoim opened #3166 "Subclasses of Annotable classes no longer have __slots__"
Pretty sure this was unintentional?

Found while investigating this difference between versions. In old ibis:

[code]

in new ibis:

[code]

In particular this is true for any subclassing of anything that has subclassed Annotable:

Old ibis:
[code]

New ibis:

[code]

Probably came in via https://github.com/ibis-project/ibis/commit/27f1c9168704f9a372124d4b0283aad24f295d9d?

[2021-12-15 11:17] cpcloud commented on #3166
cc @kszucs

[2021-12-15 12:09] kszucs commented on #3166
Correct. This is intentional to avoid having duplicated slots in the class hierarchy.

[code]

instead of the old

[code]

which reduces the memory usage of ibis expressions.

You can access the "fields" in two ways now:

[code]

[2021-12-15 15:08] #3166 closed

[2021-12-15 21:10] cpcloud commented on #1234
Low priority, and depends on unnest.

[2021-12-15 21:10] #1234 closed

[2021-12-15 21:23] #1264 closed

[2021-12-15 21:27] cpcloud commented on #1268
`ibis-sever` would be better outside of ibis

[2021-12-15 21:27] #1268 closed

[2021-12-15 21:32] cpcloud commented on #1273
Closed by #1969

[2021-12-15 21:32] #1273 closed

[2021-12-15 21:38] cpcloud commented on #1275
There are API docs for this: https://ibis-project.org/docs/generated/ibis.expr.api.TableExpr.asof_join.html?highlight=asof_join

[2021-12-15 21:38] #1275 closed

[2021-12-15 21:40] cpcloud commented on #1286
Will accept PRs

[2021-12-15 21:40] #1286 closed

[2021-12-15 21:41] cpcloud commented on #1301
Will accept a PR.

[2021-12-15 21:41] #1301 closed

[2021-12-15 21:46] cpcloud commented on #1324
Low priority, and probably out of scope for the time being.

[2021-12-15 21:46] #1324 closed

[2021-12-15 21:47] #1327 closed

[2021-12-15 21:49] cpcloud commented on #1328
This is the 800 pound gorilla in the SQL room. Pretty big undertaking.

[2021-12-15 21:49] #1328 closed

[2021-12-15 21:52] #1358 closed

[2021-12-15 21:53] #1360 closed

[2021-12-15 21:54] cpcloud commented on #1358
This will go away when we de-`materialize` ourselves

[2021-12-15 21:57] #1370 closed

[2021-12-15 21:57] cpcloud commented on #1370
Pong

[2021-12-16 13:15] cpcloud commented on #1246
This has been implemented and has tests: https://github.com/ibis-project/ibis/blob/master/ibis/backends/pandas/tests/execution/test_operations.py#L531

Locally those tests pass and none are skipped:

[code]

[2021-12-16 13:15] #1246 closed

[2021-12-16 13:15] #1406 closed

[2021-12-16 13:16] cpcloud commented on #1437
This isn't implemented, but we'd happily accept a PR. Please open one if you'd like.

[2021-12-16 13:16] #1437 closed

[2021-12-16 13:17] cpcloud commented on #1434
@xmnlab Would happily accept a PR for this, no need to keep this issue open though.

[2021-12-16 13:17] #1434 closed

[2021-12-16 13:18] cpcloud commented on #1488
Happy to accept PR(s), but going to close this issue.

[2021-12-16 13:18] #1488 closed

[2021-12-16 13:19] #1502 closed

[2021-12-16 13:22] cpcloud commented on #1533
The pandas backend will not currently use `DataFrame` indexes in a join. Would happily accept PRs, or a motivating use case such as "This is unusable without an index-based join". We'd still need to look into whether pandas leverages this information.

[2021-12-16 13:22] #1533 closed

[2021-12-16 13:22] #496 closed

[2021-12-16 13:26] cpcloud commented on #1564
Will accept a PR for this, but no need to keep the issue open.

[2021-12-16 13:26] #1564 closed

[2021-12-16 13:26] cpcloud commented on #1561
`ci/build.sh` no longer exists

[2021-12-16 13:26] #1561 closed

[2021-12-16 13:26] cpcloud commented on #1551
Let's wait until someone asks for this

[2021-12-16 13:26] #1551 closed

[2021-12-16 13:31] cpcloud commented on #1537
Appears to work fine on other backends:

[code]

[2021-12-16 13:34] cpcloud commented on #1537
This appears to be a bug in sqlite and postgres as well, though it manifests a little differently:

[code]

`UNBOUNDED FOLLOWING` is incorrect and should be `CURRENT ROW` for a cumulative window.

[2021-12-16 13:36] cpcloud commented on #1537
The immediate workaround is to pass the partitioning column into the window construction:

[code]

[2021-12-16 13:37] cpcloud commented on #1537
This also works for the impala backend:

[code]

[2021-12-16 13:38] #1567 closed

[2021-12-16 13:39] cpcloud commented on #1612
Will accept PRs.

[2021-12-16 13:39] #1612 closed

[2021-12-16 13:39] cpcloud commented on #1625
This needs a champion. Will accept PRs.

[2021-12-16 13:39] #1625 closed

[2021-12-16 13:40] cpcloud commented on #1687
This would be pretty nice, but is better suited to live outside of the ibis repo.

[2021-12-16 13:40] #1687 closed

[2021-12-16 13:41] cpcloud commented on #1690
Would happily accept a PR for this.

[2021-12-16 13:41] #1690 closed

[2021-12-16 13:42] cpcloud commented on #1703
These dirs are all gone now:

[code]

[2021-12-16 13:42] #1703 closed

[2021-12-16 13:42] #1383 closed

[2021-12-16 13:44] cpcloud commented on #1585
Will accept a PR for this, no need to keep the issue open though.

[2021-12-16 13:44] #1585 closed

[2021-12-16 13:44] #1589 closed

[2021-12-16 13:45] cpcloud commented on #1592
This'd be nice, but needs a PR to move forward.

[2021-12-16 13:45] #1592 closed

[2021-12-16 13:46] cpcloud commented on #1595
We should look into extension types and pyarrow`Table`s if we want do this, and see how comprehensive the support is for the types we care about.

[2021-12-16 13:46] #1595 closed

[2021-12-16 13:46] cpcloud commented on #1597
These work out of the box.

[2021-12-16 13:46] #1597 closed

[2021-12-16 13:47] cpcloud commented on #1692
pandas 0.24 is long gone from ibis.

[2021-12-16 13:47] #1692 closed

[2021-12-16 13:48] cpcloud commented on #1677
Ibis doesn't support mutating row deletion and likely won't until someone motivated enough to implement the feature comes along. It's not out of the question, but it won't be worked on by any core maintainers for the foreseeable future.

[2021-12-16 13:48] #1677 closed

[2021-12-16 13:49] #1697 closed

[2021-12-16 13:50] cpcloud commented on #3041
This works when using `mamba`. Unfortunately, we can't continue to support things that won't get fixed upstream (in conda in this case).

[2021-12-16 13:50] #3041 closed

[2021-12-16 13:51] cpcloud commented on #3026
No real need for an issue here. Fine to just submit a PR to remove them when the urge arises

[2021-12-16 13:51] #3026 closed

[2021-12-16 13:52] cpcloud commented on #2881
This is definitely something we want to implement in the near future. Duplicate of #2929.

[2021-12-16 13:52] #2881 closed

[2021-12-16 13:53] cpcloud commented on #1373
Not sure what this means.

[2021-12-16 13:53] #1373 closed

[2021-12-16 13:55] cpcloud commented on #1374
This isn't correct in general: https://github.com/ibis-project/ibis/issues/1223#issuecomment-345476096

[2021-12-16 13:55] #1374 closed

[2021-12-16 13:55] #1386 closed

[2021-12-16 13:56] cpcloud commented on #1702
See #1088. @saulpw @gforsyth this is at least the issue of this kind and will be addressed in the "return type" epic.

[2021-12-16 13:56] #1702 closed

[2021-12-16 13:57] cpcloud commented on #1721
Indeed we should. PRs welcome :)

[2021-12-16 13:57] #1721 closed

[2021-12-16 13:58] cpcloud commented on #1430
A generic `extract()` is likely very useful for these sorts of cases where the backend has a larger set of units available than is typical. PRs welcome.

[2021-12-16 13:58] #1430 closed

[2021-12-16 13:58] #1709 closed

[2021-12-16 14:01] cpcloud commented on #1668
This should go to ibis-project/ibis-bigquery

[2021-12-16 14:02] cpcloud commented on #1717
This is no longer in use:

[code]

[2021-12-16 14:02] #1717 closed

[2021-12-16 14:03] #1752 closed

[2021-12-16 14:03] cpcloud commented on #1804
PRs welcome

[2021-12-16 14:03] #1804 closed

[2021-12-16 14:04] cpcloud commented on #1769
Will happily accept PRs.

[2021-12-16 14:04] #1769 closed

[2021-12-16 14:05] cpcloud commented on #1780
@saulpw @gforsyth Yet another case of `materialize` being a big UX problem.

@BaranOrnarli @marianoteehan @safrazRampersaud We are planning to remove the `materialize` method in favor of some kind of automatic column name prefix/suffixing (configurable). Stay tuned.

[2021-12-16 14:06] cpcloud commented on #1874
This is fixed.

[2021-12-16 14:06] #1874 closed

[2021-12-16 14:07] cpcloud commented on #1879
The workaround is fine for now.

[2021-12-16 14:08] cpcloud commented on #1877
This is unfortunate, but not something we are prioritizing fixing. Will accept PRs.

[2021-12-16 14:08] #1877 closed

[2021-12-16 14:09] cpcloud commented on #1881
xref: #1145

Please discuss on https://github.com/ibis-project/ibis/discussions/3165

[2021-12-16 14:09] #1881 closed

[2021-12-16 14:22] kszucs commented on #1373
We used to have special treatment for clickhouse joins, but this is outdated now.

[2021-12-16 14:23] kszucs commented on #1721
Will do :) but probably with Arrow IPC instead of Parquet.

[2021-12-16 15:09] #1614 closed

[2021-12-16 15:09] #1639 closed

[2021-12-16 15:10] #1878 closed

[2021-12-16 15:10] #1886 closed

[2021-12-16 15:10] cpcloud commented on #1916
Feel free to open a PR for this at any time!

[2021-12-16 15:10] #1916 closed

[2021-12-16 15:11] cpcloud commented on #1953
We merge using the button now and the script is gone :)

[2021-12-16 15:11] #1953 closed

[2021-12-16 15:11] cpcloud commented on #1968
as @jreback says we would happily accept a PR.

[2021-12-16 15:11] #1968 closed

[2021-12-16 15:12] cpcloud commented on #1980
We are all github actions, all the time now :)

[2021-12-16 15:12] #1980 closed

[2021-12-16 15:13] cpcloud commented on #2033
This has been fixed upstream and in ibis.

[2021-12-16 15:13] #2033 closed

[2021-12-16 15:14] cpcloud commented on #2059
PRs welcome!

[2021-12-16 15:14] #2059 closed

[2021-12-16 15:14] #2063 closed

[2021-12-16 15:14] #2067 closed

[2021-12-16 15:14] #2090 closed

[2021-12-16 15:14] #2091 closed

[2021-12-16 15:14] #2109 closed

[2021-12-16 15:15] #2121 closed

[2021-12-16 15:15] #2180 closed

[2021-12-16 15:15] #2192 closed

[2021-12-16 15:15] #2222 closed

[2021-12-16 15:16] #2240 closed

[2021-12-16 15:16] #2203 closed

[2021-12-16 15:16] cpcloud commented on #2245
This exists.

[2021-12-16 15:16] #2245 closed

[2021-12-16 15:18] cpcloud commented on #2262
PRs welcome

[2021-12-16 15:18] #2262 closed

[2021-12-16 15:19] #2220 closed

[2021-12-16 15:24] #1499 closed

[2021-12-16 17:44] cpcloud commented on #1992
@roveo Can you describe your use case concretely with a simple example of what you're trying to do and at what point ibis gets in the way?

[2021-12-16 18:11] cpcloud commented on #2002
This should be pretty straightforward to do.

[2021-12-16 18:13] cpcloud commented on #2003
Seems pretty straightforward, but not high priority. PRs welcome.

[2021-12-16 18:13] #2003 closed

[2021-12-16 18:14] cpcloud commented on #2013
This could be done but should use GitHub Packages, because dockerhub ... is not great.

[2021-12-16 18:14] cpcloud commented on #2013
PRs welcome

[2021-12-16 18:17] cpcloud commented on #2016
At some point we should think about per-backed minimum versions (the client server split for some makes that a bit more complicated, I suspect we mostly only care about the server version for this issue).

In this case, 8.3 isn't even in the *unsupported* list it's so old (!):
![image](https://user-images.githubusercontent.com/417981/146426694-78336a21-af83-4c6c-b90d-ad604605e1f7.png)

[2021-12-16 18:17] #2016 closed

[2021-12-16 18:19] cpcloud commented on #2019
This would require someone interested in dealing with the complexities of backend specifics, since most SQL databases do not support explicit control over window bound closed/openness.

[2021-12-16 18:19] #2019 closed

[2021-12-16 18:19] cpcloud commented on #2054
PRs welcome, but not high priority for any current maintainers.

[2021-12-16 18:19] #2054 closed

[2021-12-16 18:23] cpcloud commented on #2065
These appear to be running and were fixed a long time ago.

[2021-12-16 18:23] #2065 closed

[2021-12-16 18:39] cpcloud commented on #1456
I think this is correct behavior. Whether `a` is filtered out before or after the aggregation shouldn't matter.

[2021-12-16 18:39] #1456 closed

[2021-12-16 18:40] cpcloud commented on #1448
Redirect to ibis-project/ibis-bigquery if still an issue,

[2021-12-16 18:40] #1448 closed

[2021-12-16 18:41] cpcloud commented on #2204
This is out of date.

[2021-12-16 18:41] #2204 closed

[2021-12-16 18:42] cpcloud commented on #2103
Redirect to https://github.com/omnisci/ibis-omniscidb if this is still a problem

[2021-12-16 18:42] #2103 closed

[2021-12-16 18:43] cpcloud commented on #2124
Please open a PR for this kind of thing. No need to make an issue.

[2021-12-16 18:43] #2124 closed

[2021-12-16 18:44] cpcloud commented on #2118
We'll be switching to near full automation for releases, with the goal of an entirely click-button (or CLI if that's your thing) release done using GitHub actions.

Release notes will be generated from commit messages, capturing only features, performance improvements, fixes and breaking changes that don't fall into the previous categories.

[2021-12-16 18:44] #2118 closed

[2021-12-16 18:45] #2137 closed

[2021-12-16 18:45] #2138 closed

[2021-12-16 18:46] #2144 closed

[2021-12-16 18:46] #2151 closed

[2021-12-16 18:46] cpcloud commented on #2156
PRs welcome, though the value of this isn't clear unless it's a bug in SQLite that we're working around which seems very unlikely.

[2021-12-16 18:46] #2156 closed

[2021-12-16 18:47] cpcloud commented on #2159
My god, this error message is ridiculously long. PRs welcome.

[2021-12-16 18:47] #2159 closed

[2021-12-16 18:48] cpcloud commented on #2200
PRs still welcome!

[2021-12-16 18:48] #2200 closed

[2021-12-16 18:48] cpcloud commented on #2215
Is this still a problem?

[2021-12-16 18:48] #2215 closed

[2021-12-16 18:49] cpcloud commented on #2225
Automating the documentation generation through one of the various tools that do this would be a most welcome PR.

[2021-12-16 18:50] cpcloud commented on #2318
cc @saulpw I know you are interested in this.

[2021-12-16 18:50] cpcloud commented on #2324
It's pretty quick now with mamba

[2021-12-16 18:50] #2324 closed

[2021-12-16 18:51] #2383 closed

[2021-12-16 18:54] cpcloud commented on #2377
This would likely be part of our epic to minimize dependence on pandas and move towards pyarrow/RecordBatches.

[2021-12-16 18:57] #2377 closed

[2021-12-16 18:58] cpcloud commented on #2481
PRs welcome, but needs someone motivated to do the work.

[2021-12-16 18:58] #2481 closed

[2021-12-16 18:58] #2199 closed

[2021-12-16 18:59] cpcloud commented on #2276
Please redirect to the omnisci backend's current repo.

[2021-12-16 18:59] #2276 closed

[2021-12-16 18:59] cpcloud commented on #2286
What would this do? Can you clarify what the semantics of this are?

[2021-12-16 19:02] cpcloud commented on #2358
I think we should remove UDFs in impala altogether and not do any more work on the impala backend.

If someone wants to put up a PR that fixes this, we'd happily accept it.

[2021-12-16 19:02] #2358 closed

[2021-12-16 19:03] cpcloud commented on #2365
Is this possible to do in general without casting everything to `object` dtype? Can we use extension arrays?

[2021-12-16 19:03] cpcloud commented on #2365
Would happily accept a PR for this

[2021-12-16 19:03] #2365 closed

[2021-12-16 19:05] cpcloud commented on #2381
Would happily accept a PR for this. Seems like a bug.

[2021-12-16 19:05] cpcloud commented on #2381
This would also be a breaking change, since it's changing existing (though incorrect) behavior that someone might be depending on.

[2021-12-16 19:06] cpcloud commented on #2289
We've been testing 3.9 for quite a while now.

[2021-12-16 19:06] #2289 closed

[2021-12-16 19:07] cpcloud commented on #2297
Seems interesting. Last I checked this wasn't easily possible with pandas. @jreback Has that changed? Can a window include rows both before *and after* the current row in window computation?

[2021-12-16 19:07] cpcloud commented on #2403
Actually, if we're not using `--strict` that should be really easy to add

[2021-12-16 19:08] cpcloud commented on #2411
We really just need to get our release cadence moving. If we do that then nightlies are effectively useless.

[2021-12-16 19:08] #2411 closed

[2021-12-16 19:08] cpcloud commented on #2460
Sure, PRs welcome!

[2021-12-16 19:08] #2460 closed

[2021-12-16 19:09] cpcloud commented on #2462
Didn't get caught by GitHub in the merge.

[2021-12-16 19:09] #2462 closed

[2021-12-16 19:11] cpcloud commented on #2448
cc @gforsyth

[2021-12-16 19:11] cpcloud commented on #2457
Sounds like you have a really good idea about how to go about fixing this. PRs welcome!

[2021-12-16 19:11] #2457 closed

[2021-12-16 19:12] cpcloud commented on #2465
PRs welcome. No need for an issue.

[2021-12-16 19:12] #2465 closed

[2021-12-16 19:13] cpcloud commented on #2488
It'd be real swell if we could move to a DataFrame composed entirely of extension dtypes with proper null support.

I think a lot of this will be covered in our upcoming epics to make the result type configurable, possibly defaulting to something more sane than a pandas DataFrame.

[2021-12-16 19:13] #2488 closed

[2021-12-16 19:14] #2494 closed

[2021-12-16 19:34] westurner commented on #1597
Thanks!

[2021-12-16 19:34] westurner commented on #2231
Thanks!

[2021-12-16 19:48] cpcloud commented on #2512
Happy to investigate this, but need more clarify on the use case.

[2021-12-16 19:48] #2512 closed

[2021-12-16 19:50] cpcloud commented on #2516
This might be possible to address, depending on:

1) whether there's consistent treatment of `NULL` in a `CASE WHEN`, since AIUI the `switch` style case requires the ability to compare two values for equality.
2) whether pandas can be made to do this.

[2021-12-16 19:53] jreback commented on #2297
yea it could with a custom indexer which .rolling can take directly

cc @mroeschke

[2021-12-16 20:01] cpcloud commented on #2516
Closing for now. PRs welcome.

[2021-12-16 20:01] #2516 closed

[2021-12-16 20:02] cpcloud commented on #1887
PRs welcome. No need to open an issue, just open a PR with the changes, especially for small changes like this.

[2021-12-16 20:02] #1887 closed

[2021-12-16 20:14] gforsyth commented on #2448
Good times.
There's an inherent operational nightmare here because `conda` has no sense of `extras_require` or similar.

I would suggest that we leave the `pypi` package alone, in as as much as it's already possible to select specific backends to install.

For `conda-forge`, we don't want to break everything, but I think we can not break anything but provide extra packages that only target specifi

[2021-12-16 20:14] cpcloud commented on #2438
This is logic that was split out into `Summarize` and `Transform` but never deleted. PR inbound.

[2021-12-16 20:19] cpcloud commented on #2532
Connection string logic seems like a good approach here. There's a lot discussion on this issue, which I appreciate, but it's better to work out the details for something this complex against real code so folks can try it out and collaborate.

[2021-12-16 20:19] #2532 closed

[2021-12-16 20:19] #2507 closed

[2021-12-16 20:20] cpcloud commented on #2571
PRs welcome.

[2021-12-16 20:20] #2571 closed

[2021-12-16 20:20] #2595 closed

[2021-12-16 20:20] #2575 closed

[2021-12-16 20:21] cpcloud commented on #2619
Seems like we should just normalize the types of these as `list` and call it done. PRs welcome

[2021-12-16 20:21] #2619 closed

[2021-12-16 20:25] cpcloud commented on #2448
100% on board with that approach :100:

[2021-12-16 20:32] gerrymanoim opened #3171 "bug: trace.enable() no longer works in pandas/dask backends"
Something with option registration doesn't seem quite right, I haven't dug into why yet:

[code]

[2021-12-16 20:40] cpcloud commented on #3171
Any chance you'd be able to bisect this so we can know if it's a regression or not?

[2021-12-16 20:46] cpcloud commented on #2243
Seems like this works.

[2021-12-16 20:46] #2243 closed

[2021-12-16 20:58] cpcloud commented on #2255
Threading the `allow_overflow` value through seems to break a decent number of test cases, so this requires some more investigation.

[2021-12-16 21:14] cpcloud commented on #1387
workaround is to use `s.c`

[2021-12-16 21:16] cpcloud commented on #1399
Duplicate of #365. Needs a champion.

[2021-12-16 21:16] #1399 closed

[2021-12-16 21:26] #1429 closed

[2021-12-16 21:27] cpcloud commented on #1429
This works in BigQuery, but compilation without execution with multiple clients feels not very useful otherwise.

[2021-12-16 21:29] cpcloud commented on #1454
I think we just need an `asc` function/method to round out `desc`.

[2021-12-16 21:34] cpcloud commented on #1483
This is supported on a best effort basis, since Hive isn't explicitly supported. Happy to accept PRs.

[2021-12-16 21:34] #1483 closed

[2021-12-16 21:36] cpcloud commented on #1492
All the boxes are checked, so closing.

[2021-12-16 21:36] #1492 closed

[2021-12-16 21:36] #1493 closed

[2021-12-16 21:42] cpcloud commented on #1553
xref: #2318

[2021-12-16 21:45] cpcloud commented on #1553
Interesting, but no.

[2021-12-16 21:45] #1553 closed

[2021-12-16 21:46] cpcloud commented on #1566
PRs welcome.

[2021-12-16 21:46] #1566 closed

[2021-12-16 21:49] cpcloud commented on #1652
PRs welcome

[2021-12-16 21:49] #1652 closed

[2021-12-16 21:59] #1713 closed

[2021-12-16 22:00] #1720 closed

[2021-12-16 22:00] cpcloud commented on #1720
PRs welcome

[2021-12-16 22:02] #1724 closed

[2021-12-16 22:03] cpcloud commented on #1762
Yeah, we should do this.

[2021-12-16 22:03] #1762 closed

[2021-12-16 22:03] cpcloud commented on #1762
PRs happily accepted.

[2021-12-16 22:06] cpcloud commented on #1834
xref: #1767

[2021-12-16 23:23] #2337 closed

[2021-12-16 23:27] #2438 closed

[2021-12-17 00:03] gerrymanoim commented on #3171
It works fine in the old version of ibis, so I think it is a regression, but I haven't had a chance to track down where.

[2021-12-17 01:18] cpcloud commented on #2502
PRs welcome

[2021-12-17 01:18] #2502 closed

[2021-12-17 01:20] cpcloud commented on #2475
PRs welcome.

[2021-12-17 01:20] #2475 closed

[2021-12-17 01:22] cpcloud commented on #2384
Ths looks like an upstream issue, unfortunately. We can't really devote time to fix the upstream issue here.

[2021-12-17 01:22] #2384 closed

[2021-12-17 02:03] #1914 closed

[2021-12-17 02:04] #1947 closed

[2021-12-17 02:05] cpcloud commented on #2730
I think we should be moving towards `@compiles`, not away from it. I think it's fine to have both.

[2021-12-17 02:05] #2730 closed

[2021-12-17 14:17] #3093 closed

[2021-12-17 16:17] #3103 closed

[2021-12-17 16:26] kesmit13 commented on #3050
It turns out my primary issue was this line:
[code]
I changed it to this and that solved most of the problems:
[code]

I do still have an issue with applying multiple operations though. I have a UDF to compute greatest common divisor and set up an expression as follows:
[code]
This works fine with a single operation:
[code]
However, if I try to do multiple operations, it creates table joins rather

[2021-12-17 16:26] #3050 closed

[2021-12-17 16:56] cpcloud commented on #3050
This *might* be the same issue as #3163

[2021-12-17 16:57] cpcloud commented on #3094
Hive isn't a supported backend.

[2021-12-17 16:57] #3094 closed

[2021-12-17 18:20] mroeschke commented on #2297
Yup. The `rolling` constructor in pandas accepts a `pandas.api.indexers.BaseIndexer` subclass which will window based on the subclass's defined `get_window_bounds` method

 https://pandas.pydata.org/docs/reference/api/pandas.api.indexers.BaseIndexer.get_window_bounds.html#pandas.api.indexers.BaseIndexer.get_window_bounds

[2021-12-17 21:09] cpcloud commented on #1768
#3127 should address this with the `reconnect()` method on `Backend`

[2021-12-17 21:11] #1824 closed

[2021-12-17 21:12] #1828 closed

[2021-12-17 21:14] #1835 closed

[2021-12-17 21:15] #1865 closed

[2021-12-17 21:16] #1880 closed

[2021-12-17 21:18] cpcloud commented on #1890
This could be useful but needs a champion. PRs welcome.

[2021-12-17 21:18] #1890 closed

[2021-12-17 21:22] #1904 closed

[2021-12-17 21:22] #1907 closed

[2021-12-17 21:23] cpcloud commented on #1959
Looks like this might be fixed, either way the omnisci backend is no longer in this repo. @xmnlab Can you paste a link to the current omnisci backend?

[2021-12-17 21:23] #1959 closed

[2021-12-17 21:26] cpcloud commented on #1970
@icexelloss Is this still an issue?

[2021-12-17 21:29] cpcloud commented on #1975
@xmnlab Can you clarify what might be actionable here? Should we rename `percent_rank` to `cume_dist`?

[2021-12-17 21:43] cpcloud commented on #1994
PRs welcome.

[2021-12-17 21:43] #1994 closed

[2021-12-17 21:48] cpcloud commented on #2011
Feel free to make things conform to pydocstyle, but a wholesale change to enforce this is out of scope.

[2021-12-17 21:48] #2011 closed

[2021-12-17 21:58] cpcloud commented on #2021
xref: #2924

[2021-12-17 21:59] #2021 closed

[2021-12-17 22:01] cpcloud commented on #2025
Any documentation PR will be accepted almost unconditionally! Please submit one!

[2021-12-17 22:01] #2025 closed

[2021-12-17 22:03] cpcloud commented on #2045
Sounds great!

[2021-12-17 22:03] #2045 closed

[2021-12-17 22:04] cpcloud commented on #2058
PRs welcome!

[2021-12-17 22:04] #2058 closed

[2021-12-17 22:13] cpcloud commented on #2087
Will be fixed during The Great Dematerialization of 2022. Stay tuned!

[2021-12-17 22:13] #2087 closed

[2021-12-18 00:39] #64 closed

[2021-12-18 00:39] #1768 closed

[2021-12-18 13:59] xmnlab commented on #1975
hi @cpcloud
I created this PR long time ago: https://github.com/ibis-project/ibis/pull/2224

so basically the percent_rank tests uses pandas df.rank(pct=True) .. but this works as SQL CumeDist.

So, the easiest way would be to rename the operation to CumeDist. and for PercentRank the test should be implemented manually as described in that old PR. also some backend should change the translation to

[2021-12-18 14:00] xmnlab commented on #1959
sure thing! https://github.com/omnisci/ibis-omniscidb

[2021-12-21 19:55] hikitani opened #3179 "feat: support of arrays and tuples for clickhouse"
I have column `score_history` in CH table with type `Tuple(Array(Float32), Array(DateTime))`. But ibis doesn't know what is this type.

I wrote wrapper for `ClickhouseDataType.__init__` and `ClickhouseDataType.to_ibis` outside of this project.  And it worked, but it looks terrible:). This allowed me to make only a simple selection.

[2021-12-21 23:09] cpcloud commented on #3179
Hi @hikitani, thanks for the feature request. I think we could support this by modeling tuples as `struct` types (with generated field names like `_0` or `f0` or similar), and we already have support for arrays.

Would that work?

[2021-12-22 09:06] hikitani commented on #3179
Do you mean to use the expression `select t.1 as t1, t.2 as t2 from table` for the tuple `t`?

[2021-12-22 15:59] cpcloud commented on #3179
@hikitani

Not quite. What I mean is that a `Type(Array(Float32), Array(DateTime))` would show up in ibis as `struct<_0: array<float32>, _1: array<timestamp>>` and you'd be able to access the `N`th element of the tuple as a field with name `_N`.

[2021-12-22 17:28] cpcloud commented on #3156
/take

[2021-12-22 17:44] cpcloud commented on #3156
/take

[2021-12-22 20:43] hikitani commented on #3179
That would look good.

[2021-12-23 19:26] #3152 closed

[2021-12-28 14:26] floriancastelain opened #3208 "How to I use the HiveServer2Error exception in my code ?"
With ibis 2.0.0 and the Impala backend, I need to catch the HiveServer2Error.

My use case is that, when the user does not specify a database when connecting, the HiveServer2Error exception is raised.

How can I import the HiveServer2Error so that I can catch it ?
If this is not the optimal way, how can I catch the fact that the connection failes/failed due to the database missing ?

[2021-12-28 14:37] cpcloud commented on #3208
@floriancastelain Can you show the code that's causing an error? It sounds like `ibis.impala.connect(...)` is raising an exception when you don't specify a database. Can you show the call to `ibis.impala.connect` that fails?

[2021-12-28 14:41] floriancastelain commented on #3208
[code]

output:

`ERROR:root:HiveServer2Error`

[2021-12-28 14:43] cpcloud commented on #3208
@floriancastelain Thanks.

Are you sure that the empty string is a valid database? Ibis use `default` as the default database name. Does that not work for your use case?

[2021-12-28 14:51] floriancastelain commented on #3208
I am sure the empty string is NOT a valid database. But this is exactly what I want to test here. If the `database` string is not valid, `connect` raises `HiveServer2Error`, and I need to catch it.

[2021-12-28 15:12] cpcloud commented on #3208
Ah! Thanks, got it.

You can access `HiveServer2Error` from the `impala` module, which **is not** part of the ibis package. You read that right.

[code]

For some reason, the `impyla` pip package's Python package must be imported as `impala`. I have no idea why they made the incredibly confusing choice to not use the distribution name as the package name.

[2021-12-28 15:21] floriancastelain commented on #3208
That is exactly what I need. Thanks !

Indeed, weird naming choice. But you know what it is said: "Why making it easy when you can make it complicated ?" (word to word translation of a saying from my place.

Have a good day !

[2021-12-28 15:21] #3208 closed

[2021-12-28 18:06] cpcloud commented on #550
`GROUPING SETS` is a useful tool for data scientists and engineers. It allows computing aggregations for different combinations of grouping keys, all in the same query.

PostgreSQL has great docs on the feature: https://www.postgresql.org/docs/current/queries-table-expressions.html#QUERIES-GROUPING-SETS.

I'm not entirely sure what the API should look like, but here are a few requirements and cons

[2021-12-28 18:10] cpcloud commented on #3051
This is fixed, we support 3.10 and test it in CI.

[2021-12-28 18:10] #3051 closed

[2021-12-28 18:15] cpcloud commented on #3000
@kszucs Is this done?

[2021-12-28 18:16] cpcloud commented on #2988
@roveo Do any of my responses answer your question(s)?

[2021-12-28 18:18] cpcloud commented on #2996
I think it would be good to support this in the various backends that do support it, but a PR from an interested party is needed. Currently, I'm not sure there's anyone interested in inequality joins for backends that don't already support them.

Marked as a good first issue, would happily accept a PR, but no reason to keep the issue open for now.

[2021-12-28 18:18] #2996 closed

[2021-12-28 18:20] cpcloud commented on #2935
Without more information this issue isn't actionable.

[2021-12-28 18:20] #2935 closed

[2021-12-28 19:54] cpcloud commented on #2892
I think this needs to be solved in impyla and not in ibis. The workaround is a pretty big maintenance headache.

[2021-12-28 19:54] #2892 closed

[2021-12-28 21:25] goodwanghan opened #3211 "integration: Fugue + Ibis integration"
Hello Ibis,

I am the creator of the [Fugue Project](https://github.com/fugue-project/fugue). I really like the Ibis project. It's very aligned with Fugue, and both are abstraction layers. I have started experimenting with integrating Ibis into Fugue as another pythonic way to express the compute logic. It is in the latest [pre-release](https://pypi.org/project/fugue/0.6.5.dev2), and here is a [sh

[2021-12-28 21:54] cpcloud commented on #3211
Hi @goodwanghan 👋🏻! Thanks for your feedback. I'm glad you're finding ibis useful.

Let's just jump right in.

This is a bit of a thorny subject. Forcing all backends to have the same behavior is pretty tricky business, though we do try to ensure this where the effort required to do so is low.

Please open issues for any consistency problems that you encounter and we can take them on a case by cas

[2021-12-28 22:22] goodwanghan commented on #3211
It is indeed challenging to reach consistency between Pandas and SQL. I think Ibis is leaning towards SQL, so I guess it's a good idea to unify all backends' behaviors to SQL behaviors. Fugue is doing the same, it's a lot of effort. See this [test suite example](https://github.com/fugue-project/slide/blob/master/slide_test/suite.py), and it's ongoing. It is possible to create a new Pandas and Dask

[2021-12-29 13:57] cpcloud commented on #2846
This is no longer relevant because we use poetry in CI for these cases. Using `poetry` in CI is just oodles faster than anything in the conda/mamba ecosystem.

[2021-12-29 13:57] #2846 closed

[2021-12-29 18:16] cpcloud commented on #1632
The docs are available for `StructValue` (https://ibis-project.org/docs/generated/ibis.expr.api.StructValue.__getitem__.html?highlight=__getitem#ibis.expr.api.StructValue.__getitem__) but we don't appear to have the same for `ArrayValue` or `MapValue`.

[2021-12-29 18:20] cpcloud commented on #757
We're going to tackle to this in a bigger effort to refactor the result type of `execute()`.

[2021-12-29 18:20] #757 closed

[2021-12-29 18:20] cpcloud commented on #2780
We're no longer pinning bitarray, so this is fixed.

[2021-12-29 18:20] #2780 closed

[2021-12-29 18:21] #2771 closed

[2021-12-29 18:23] cpcloud commented on #2701
Spark documents their supported java versions here https://spark.apache.org/docs/latest/#downloading, and we test against 8 and 11 in CI, there's nothing else to do here.

[2021-12-29 18:23] #2701 closed

[2021-12-29 18:26] cpcloud commented on #2546
You can do this with the `Backend.insert` method. If the method isn't implemented, PRs are welcome!

[2021-12-29 18:26] #2546 closed

[2021-12-29 18:32] cpcloud commented on #2736
It's better to put up a PR for this sort of thing than to spend a lot of time discussing it. That said, would welcome a PR for this.

[2021-12-29 18:32] #2736 closed

[2021-12-29 18:34] cpcloud commented on #2671
It would be great to see what this would look like in a PR, but we can't keep the issue open forever.

[2021-12-29 18:34] #2671 closed

[2021-12-29 18:36] cpcloud commented on #2715
I thought that SQLAlchemy would abstract away all the SQL dialect differences.

This could be done, but would require some refactoring of the backend. PRs for such things are most welcome. I'm closing this issue out as it's very old and hasn't had any activity for months.

[2021-12-29 18:36] #2715 closed

[2021-12-29 18:43] cpcloud commented on #2733
Factoring out the backend tests into a separate library might be worth the effort if it enables folks to validate third party backends easily. This would also trim the core of the ibis test suite considerably, allow it to focus solely on expressions.

The main downside here is that testing changes to ibis becomes more cumbersome.

I don't think we'd be ready to build this kind of library until we

[2021-12-29 18:43] cpcloud commented on #2723
This is fixed.

[2021-12-29 18:43] #2723 closed

[2021-12-29 18:44] cpcloud commented on #2659
PRs welcome. This would be a nice refactor.

[2021-12-29 18:44] #2659 closed

[2021-12-29 18:45] cpcloud commented on #2585
We're no longer pinning graphviz.

[2021-12-29 18:45] #2585 closed

[2021-12-29 18:47] cpcloud commented on #2569
This is a legitimate bug. You should definitely be able to sort by columns that aren't in the final projection.

[2021-12-29 18:48] cpcloud commented on #2564
Sure, PRs welcome.

[2021-12-29 18:48] #2564 closed

[2021-12-29 18:49] cpcloud commented on #2141
PRs welcome for this!

[2021-12-29 18:49] #2141 closed

[2021-12-29 18:50] cpcloud commented on #2477
This doesn't appear to be a problem any more.

[2021-12-29 18:50] #2477 closed

[2021-12-29 18:50] #2493 closed

[2021-12-29 18:51] #2478 closed

[2021-12-29 18:51] cpcloud commented on #2188
We have `tuple_of` for this.

[2021-12-29 18:51] #2188 closed

[2021-12-29 18:53] cpcloud commented on #2123
Please make a PR if you're still interested in working on this. Such a PR would be most welcome.

[2021-12-29 18:53] #2123 closed

[2021-12-29 18:54] cpcloud commented on #2158
Can you elaborate a bit on the use case?

[2021-12-29 19:00] #2676 closed

[2021-12-29 19:01] cpcloud commented on #2135
PRs welcome. This problem isn't trivial to solve (e.g., using a left semi join).

[2021-12-29 19:01] #2135 closed

[2021-12-29 19:03] cpcloud commented on #2471
General improvement issues aren't actionable. Nearly any documentation improvement PR will be accepted without fuss.

[2021-12-29 19:03] #2471 closed

[2021-12-29 19:04] cpcloud commented on #2217
There's no workaround that I am aware of, and kudu/impala are on life support given the lack of interested maintainers as well as lack of development on the `impyla` package.

[2021-12-29 19:04] #2217 closed

[2021-12-29 19:04] cpcloud commented on #2484
PRs welcome. No need to keep an issue open for over a year for this though.

[2021-12-29 19:04] #2484 closed

[2021-12-29 21:19] emilyreff7 commented on #2158
I believe I ran into this when trying to convert from Arrow to Ibis type via Ibis' ``dt.dtype`` dispatcher. For example, we have [this rule](https://github.com/ibis-project/ibis/blob/a1262410310bb4d638a73e1cdfbe93c2b4089905/ibis/backends/parquet/__init__.py#L38), but if we have an Arrow Date type, there is no corresponding ibis rule for that.

[2021-12-29 21:53] cpcloud commented on #2158
Ah, I see. I wonder if @kszucs is addressing some of this in his datafusion backend PR (#2918).

[2021-12-30 13:33] roveo commented on #2988
@cpcloud yes, thank you

[2021-12-30 13:33] #2988 closed

[2022-01-01 01:06] ibis-squawk-bot[bot] opened #3224 "chore: rotate ibis bot keys"
It's time to rotate the ibis project bots' keys.

[2022-01-03 17:10] saulpw commented on #230
Queries are being added to (ibis-project/tpc-queries](https://github.com/ibis-project/tpc-queries).

[2022-01-03 17:48] cpcloud opened #3232 "docs: add blurb about the datafusion backend"
After #2918 lands, we need to mention it in the docs.

[2022-01-03 20:29] cpcloud opened #3233 "docs: release_notes.html 404s"
Seems our release notes are 404ing 😭

![image](https://user-images.githubusercontent.com/417981/147977042-fc1806af-ff3a-4f04-9705-89d3a79dd383.png)

[2022-01-03 22:43] cpcloud opened #3235 "feat(api): keep nulls in pandas backend in group by"
In #3211, @goodwanghan points out that ibis's behavior for grouping keys with nulls isn't consistent across backends.

I am not aware of any SQL engines that drop nulls in grouping keys.

In fact, it's a hard blocker for a `GROUPING SETS` feature because grouping keys that are null indicate levels of a particular column that are aggregated over.

The idea is to pass `dropna=False` to `.groupby` in

[2022-01-03 22:46] cpcloud opened #3236 "feat(pandas): match SQL semantics in join with NaNs in join keys"
Similarly reported in #3211, join keys with `nan`s do not follow the SQL semantic of dropping join keys where `==` would return NULL.

[2022-01-03 23:16] #3233 closed

[2022-01-04 14:21] cpcloud commented on #2427
This is definitely a bug.

The workaround in this case is to project out all the columns from each table and then filter, or to filter inside the join predicate and then project out what you need.

Solution 1:

[code]

Solution 2:

[code]

[2022-01-04 14:23] cpcloud commented on #2427
A third alternative is to call `materialize` in the filter:

[code]

[2022-01-04 14:26] cpcloud commented on #2427
We are planning to get rid of `materalize` entirely in an upcoming release, it's a really confusing and non-obvious API.

[2022-01-04 15:41] gforsyth commented on #2448
Opened a PR to add a bunch of backend-specific packages -- once that's in I can update the installation documentation to reflect the conda options for single-backend installs

[2022-01-04 21:28] gforsyth commented on #2229
Closed via #2284

[2022-01-04 21:28] #2229 closed

[2022-01-04 21:32] gforsyth commented on #2982
Hey @kancharana !
Impala is not being actively developed right now so I'm going to go ahead and close this out.

[2022-01-04 21:32] #2982 closed

[2022-01-05 14:07] gforsyth commented on #2448
Ok, there are now packages for:
[code]
all handled through the `ibis-framework-feedstock` repo.

There are additionally
[code]

that are handled separately (the `mssql` one is quite old and we might want to adopt it).

Once @cpcloud 's docs PR is merged in, we can add the new install commands.

[2022-01-05 21:14] cpcloud commented on #2076
While this would be really great, this services in github actions windows runners to be maintainable.

[2022-01-05 21:16] cpcloud commented on #2128
I think this is related to #3163.

[2022-01-05 21:33] cpcloud commented on #2132
xref: #3163

[2022-01-05 21:33] cpcloud commented on #2131
xref: #3163

[2022-01-05 21:34] cpcloud commented on #2136
Seems like this was fixed in #2127.

[2022-01-05 21:34] #2136 closed

[2022-01-05 21:38] cpcloud commented on #2158
@emilyreff7 Can you talk a little about what you were using this for?

[2022-01-05 21:54] cpcloud commented on #2286
Sounds like there's not much interest.

[2022-01-05 21:54] #2286 closed

[2022-01-05 21:56] cpcloud commented on #2286
It's not clear what the future of `category` is in ibis. It sits at a lower level of abstraction because it's a way of representing another type. A string for example, can be `category`-ized or not, but the notion of a string is abstract over such representations. That kind physical layout visibility doesn't work well with basically anything in ibis.

[2022-01-05 23:21] jjram20 commented on #3118
\take

[2022-01-05 23:22] jjram20 commented on #3118
/take

[2022-01-05 23:27] jjram20 commented on #3118
I would like to take this issue. /take

[2022-01-05 23:52] #2627 closed

[2022-01-06 00:18] cpcloud commented on #3118
@jjram20 Cool, just write only `/take`!

[2022-01-06 00:19] jjram20 commented on #3118
/take

[2022-01-06 00:20] jjram20 commented on #3118
Hi, did it work now?

[2022-01-06 00:21] jjram20 commented on #3118
```/take```

[2022-01-06 00:40] cpcloud commented on #3118
It might be backed up in the CI queue, give it a few minutes.

[2022-01-06 20:39] edponce commented on #3163
Does this bug occurs with other dataset?

[2022-01-06 22:35] cpcloud commented on #3163
We're pretty deep into this and it appears to be related to mis- or non-use of `.as_scalar()` and `.correlate()` methods in `.where` usage.

[2022-01-06 22:51] goodwanghan commented on #3236
Thank you this is awesome!

[2022-01-06 22:53] goodwanghan commented on #3235
Thank you, and also Dask needs to be tested.

[2022-01-07 21:55] cpcloud commented on #2297
Would happily accept a PR for this.

[2022-01-07 21:55] #2297 closed

[2022-01-07 22:02] saulpw commented on #2307
Needed for this:

- [ ] toplevel architectural prose
- [ ] well-known index page for backend developers
- [ ] explanation of minimal backend (sqlite as reference?)
- [ ] flesh out API docs for backend classes and methods that need to be implemented

[2022-01-07 22:09] cpcloud commented on #2318
@marianoteehan Would something like Fugue work for this? @goodwanghan Thoughts?

[2022-01-07 22:10] #2318 closed

[2022-01-07 22:29] cpcloud commented on #2344
Duplicate.

[2022-01-07 22:29] #2344 closed

[2022-01-07 22:39] #2349 closed

[2022-01-07 22:45] cpcloud commented on #2403
After some discussion, it seems like asv is abandoned and we're going to look into other alternatives for benchmarking like `pytest-benchmark`.

[2022-01-07 22:46] cpcloud commented on #2403
xref https://github.com/airspeed-velocity/asv/issues/982

[2022-01-07 22:46] #2403 closed

[2022-01-07 22:47] cpcloud commented on #2403
Sorry for the issue noise!

[2022-01-07 23:56] jreback commented on #2403
note that @datapythonista is working with a group to refresh asv

[2022-01-08 00:15] datapythonista commented on #2403
Yep, no opinion on whether it could be a good idea to consider pytest-benchmark anyway, but we've got a grant to have two people working in asv part time for two months, and I expect asv will be in good shape and maintained soon.

[2022-01-08 13:03] cpcloud commented on #2448
Docs are in. Closing this out, thanks @gforsyth!

[2022-01-08 13:03] #2448 closed

[2022-01-08 22:51] cpcloud commented on #3224
This is done.

[2022-01-08 22:51] #3224 closed

[2022-01-09 13:57] cpcloud commented on #2872
This issue is stale. No need to keep it open. If you're interesting in creating a PR, let's discuss there.

[2022-01-09 13:57] #2872 closed

[2022-01-09 14:00] cpcloud commented on #3000
Done in #3112

[2022-01-09 14:00] #3000 closed

[2022-01-09 14:08] cpcloud commented on #3090
@tengznaim One workaround here is to change

[code]

to

[code]

`.materialize()` is supposed to have this behavior already, so it's a bug that it doesn't work that way.

On the other hand, we are trying to remove the `materialize()` API altogether because it's confusing, error prone, and doesn't really work like anyone expects it to.

[2022-01-09 16:06] cpcloud commented on #683
It's been about a month, closing.

[2022-01-09 16:06] #683 closed

[2022-01-10 11:12] #3232 closed

[2022-01-10 14:21] waltermaldonado opened #3268 "feat: WebHDFS under an ha-proxy (Impala backend)"
Our Hadoop instance provides WebHDFS under an HA-Proxy with an address like

For what I could see on the docs and the lib code, there is only support for passing in the host and port to the `hdfs_client`.

This is what I do to access our WebHDFS service:
[code]

It looks like there will be the need of changing the lib's code to achieve that, is that right or do you have any suggestions to deal wit

[2022-01-10 21:24] saulpw commented on #3268
@waltermaldonado I think you should be able to pass in your HDFS client directly into the WebHDFS constructor:

[code]

Does that get you what you need?  If you need something more, we will certainly take a PR to improve the Impala backend.

[2022-01-10 21:33] cpcloud commented on #2378
We'll look into this, it seems like a bug in the translation of window frame clauses for Impala and/or Spark

[2022-01-10 21:41] cpcloud commented on #2378
Since the impala backend is currently on life support and the Spark (not Py) backend no longer exists, we're going to close this out. However, PRs are accepted for issues like this.

[2022-01-10 21:41] #2378 closed

[2022-01-10 21:42] cpcloud commented on #2381
Similar to #2378, will happily accept a PR but no current maintainers have the bandwidth to fix this.

[2022-01-10 21:42] #2381 closed

[2022-01-10 21:52] cpcloud commented on #2490
@LeeTZ We'd happily accept a PR! Do you have a test case for this that you can paste here?

[2022-01-10 21:55] cpcloud commented on #2496
PRs welcome! We're trying to keep the issue backlog tidy, so going to close this out. Feel free to submit refactors as PRs directly.

[2022-01-10 21:56] #2496 closed

[2022-01-10 21:57] #2517 closed

[2022-01-10 21:58] cpcloud commented on #2551
PRs welcome for refactors like this! Closing this out to keep the issue backlog tidy.

[2022-01-10 21:58] #2551 closed

[2022-01-10 22:34] #3163 closed

[2022-01-11 10:37] cpcloud opened #3280 "docs: use Makefile to build docs so that SOURCE_DATE_EPOCH is being used"
We're not using the `Makefile` to build our Sphinx docs, so we don't pick up the fix in #3264 just yet.

We're not using the `Makefile` likely because we want to control the output directory, but that can be set with `make -C docs BUILDDIR="web/docs" html` and then adjusting `docs/mkdocs.yml` accordingly:

[code]

[2022-01-11 12:07] waltermaldonado commented on #3268
I believe there is some handling for the Knox gateway made by PyWebHDFS that will not be possible to be done with HDFScli as it is. The gateway handles basic authentication, so it is not necessary to manually `kinit` on the server to create a Kerberos ticket and get access.

https://github.com/pywebhdfs/pywebhdfs/blob/45644b11a460eee237cc7ad5e200ab7fa4162e7e/pywebhdfs/webhdfs.py#L40

[2022-01-11 21:19] #2554 closed

[2022-01-11 21:19] cpcloud commented on #2554
PRs welcome!

[2022-01-11 21:22] cpcloud commented on #2611
PRs welcome!

[2022-01-11 21:22] #2611 closed

[2022-01-11 21:25] cpcloud commented on #2618
PRs welcome!

[2022-01-11 21:25] #2618 closed

[2022-01-11 21:39] cpcloud commented on #2621
@timothydijamco Thanks for the great issue write up. It really warms my heart to get issues with descriptions like this. It makes maintainers lives really easy.

[2022-01-11 21:40] cpcloud commented on #2642
Duplicate of #3135

[2022-01-11 21:40] #2642 closed

[2022-01-11 21:43] cpcloud commented on #2649
@emilyreff7 Is there a behavior change here, or is this an internal refactoring with no user facing API changes?

[2022-01-11 21:45] #2677 closed

[2022-01-11 21:52] cpcloud commented on #2681
This isn't a breaking change, since we can add a shim to preserve the existing API.

[2022-01-11 22:08] cpcloud commented on #2692
Without pandas having the ability to represent a larger range of dates the "best" solution is to cast the column to a string.

In the medium term we'd like to move away from using pandas as the core in-memory representation.

[2022-01-12 02:14] jreback commented on #2618
in pandas this is nlargest/nsmallest

[2022-01-12 12:25] #2552 closed

[2022-01-12 12:27] cpcloud commented on #3280
This isn't strictly needed for the 2.1.0 release since we push docs on every commit.

[2022-01-12 15:08] #3280 closed

[2022-01-12 19:55] cpcloud opened #3291 "tests: pandas and dask backend tests are failing"
These pandas (and derived) backend tests are currently failing on `master` due to the `IBIS_TEST_DATA_DIRECTORY` environment variable not being set:

These are failures to fix (or run) tests, not broken parts of the library:

[code]

These tests never worked because the data never existed for them:

[code]

These tests never worked, so they don't block the release:

[code]

[2022-01-12 20:10] cpcloud commented on #3291
Summary: these are all broken tests, so they don't block the 2.1.0 release!

[2022-01-12 20:47] gerrymanoim opened #3293 "No pre-commit without nix?"
Looks like https://github.com/ibis-project/ibis/commit/1e4c71fa0fe5615bcb8602a99bc07f27120ed8fb#diff-320a046d4946253b4b69d332e2c3ad4f81f1adbb50fd84945d9fcad88f1bccb2 deleted` .pre-commit-config.yaml `.

Unless I'm missing something, that means you can't use pre-commit without setting up everything with `nix` and using `pre-commit.nix`.

Is this correct? The dev instructions claim that we still sup

[2022-01-12 21:17] cpcloud commented on #2703
This might be possible to do, in any event here's a workaround:

[code]

It's totally reasonable to try this initially, because it's pretty natural to use a function that generates a column as a filter!

[2022-01-12 21:26] cpcloud commented on #2708
xref: #2307

[2022-01-12 21:26] #2708 closed

[2022-01-12 21:35] cpcloud commented on #2709
@timothydijamco This is another great issue, thank you for that. This is indeed a problem.

[2022-01-12 21:35] #2713 closed

[2022-01-12 21:38] cpcloud commented on #2733
xref: #2307

[2022-01-12 21:53] jayceslesar opened #3295 "bug: merge asof raises an error when the predicate column(s) are overlapping"
Not sure how this is happening but I keep getting `ibis.common.exceptions.RelationError: Joined tables have overlapping names:`.

Both dataframes have 3 columns, where one column in each is `timestamp`. Unsure how that is happening, and unsure how [this test](https://github.com/ibis-project/ibis/pull/1162/files#diff-dd3a3bc8a96180b07abe227b7f3dd9edf5c5f75ec3d4303fa96755d0bbca07e0R732) even passes

[2022-01-12 21:57] cpcloud commented on #2744
This is definitely a bug! Thanks for posting.

[2022-01-12 22:02] cpcloud commented on #2750
Can you clarify what "auto docs" means here? Where would these docs live? E.g., API reference, prose. Who's the audience? Devs, power users etc.

[2022-01-12 22:03] cpcloud commented on #2788
Closing, but PRs welcome. Can you give a short example for anyone who may want to pick this up later? Thanks!

[2022-01-12 22:03] #2788 closed

[2022-01-12 23:03] cpcloud commented on #3295
Hi @jayceslesar, thanks for the report.

Would you mind sharing the exact failing code?

[2022-01-12 23:07] cpcloud commented on #3293
Hm, yep. `pre-commit` is currently handled by nix.

It might be possible to bring that back into the repo and leave nix out of it (and still work with both nix and conda!).

I will make sure to investigate this before the 3.0.0 release.

[2022-01-12 23:14] jayceslesar commented on #3295
Sure can @cpcloud

[code]

[2022-01-12 23:16] gerrymanoim commented on #3293
Even if we just added the file back for people doing local dev, that would probably be good enough.

[2022-01-13 00:03] #3136 closed

[2022-01-13 00:21] jayceslesar commented on #3295
@cpcloud first idea is that there just needs to be a different case [here for as_of](https://github.com/ibis-project/ibis/blob/db512a89c14edc7e216558f2c051c4a0e905b543/ibis/expr/operations/relations.py#L182)?

[2022-01-13 02:00] jreback commented on #3291
cc @gerrymanoim on the 3rd one

[2022-01-13 15:06] #3293 closed

[2022-01-13 16:30] jayceslesar commented on #3295
Definitely a nontrivial task to get this asof implemented....I am wondering if the above assumes that the tables are of equal size? As in my case they are not. This is something I am willing to work towards, although my SQL chops are far from my pandas ones. `tolerance` seems the most trivial to implement (just have an or clause that takes the difference either way, could ideally specify a positiv

[2022-01-13 17:33] cpcloud commented on #3295
@jayceslesar I've just been tinkering with this and found that this *might* be possible using window functions. Her's the rewrite of the StackOverflow answer using window functions:

[code]

which produces:

[code]

The BigQuery backend is based on the Impala backed (though I don't know if they share any code), so this might work for you as a workaround.

[2022-01-13 17:43] cpcloud opened #3305 "bug(api): windows do not accept expressions for bounds"
Right now the following lines of code do not work:

[code]

with this traceback:

[code]

We have an assumption that the bounds of a window are constants, and that is an incorrect assumption. We need to allow arbitrary expressions in and let the individual backends reject invalid code. There's no feasible, maintainable static analysis we can do here given the need to allow expressions in window bo

[2022-01-13 18:05] jayceslesar commented on #3295
@cpcloud that was pretty awesome, was able to mimic the pandas functionality of `merge_asof` with the above on BigQuery.

It came out unsorted but that was because I did not `order by timestamp_received`.
When comparing the two in a plot we get the exact same graph after ordering.
(can't see the two traces here as they are in the same spot but take my word!)
![image](https://user-images.githubuser

[2022-01-13 18:21] jayceslesar commented on #3295
Also want to document some what I believe to be best practices for a merge_asof (at least with timeseries)

- Should `some_table.left_join where` where `some_table` is the table that has less data, means we are copying less data and are closer to what I believe is the truth
- `tolerance` should be configurable to go backward some tolerance, forward some tolerance, or either way tolerance (whicheve

[2022-01-13 18:39] cpcloud commented on #3295
@jayceslesar You're dangerously close to a PR there. Care to try your hand? Happy to help as much as you need.

[2022-01-13 21:26] jayceslesar commented on #3295
Definitely going to take me some time to figure out where to place this...don't want to introduce any breaking changes and need to familiarize myself with the API...

[2022-01-13 21:26] cpcloud commented on #2798
Closing this out for now, we've got the sweet new datafusion backend in 2.1.0 (thanks @kszucs!).

Let's open up new issues for specific backends.

[2022-01-13 21:32] cpcloud commented on #2803
@tswast Awesome, didn't know this work had been done!

Any update on the status/state of these backends? Would be great to roll them in if we can set up testing.

[2022-01-13 21:37] cpcloud commented on #2815
@gerrymanoim Is this still a problem?

[2022-01-13 21:45] cpcloud commented on #2823
Over the next year or so we should make decision about whether to spend more time adding type annotations and enabling their verification in CI.

There are a number of challenges in either approach, but we should settle the issue this year.

[2022-01-13 21:49] cpcloud commented on #2832
Thanks for disabling that optimization. I actually think we should remove most of the optimizations that happen during expression construction, so I don't think we should put work into bringing this back.

[2022-01-13 21:49] #2832 closed

[2022-01-13 21:51] kszucs opened #3308 "bug: 'PostgreSQLCompiler' has no attribute 'add_operation'"
As turned out during my local refactor, the postgres udf tests are not running, there should be a `test_udf.py` [here](https://github.com/ibis-project/ibis/runs/4808027717?check_suite_focus=true#step:13:43).

There is a valid error, since the `.add_operation()` method has been moved to the `ExpressionTranslator` base class:

[code]

[2022-01-13 21:52] cpcloud commented on #2834
I think this would be good to get into 3.x and help us move away from pandas as required dependency.

[2022-01-13 21:52] #2842 closed

[2022-01-13 21:54] cpcloud commented on #2842
This doesn't appear to be an issue anymore.

[2022-01-13 21:55] cpcloud commented on #2847
Closed by #3297

[2022-01-13 21:55] #2847 closed

[2022-01-13 21:55] jreback commented on #2834
i am. it sure why we care if pandas is a required dep

[2022-01-13 21:58] cpcloud commented on #2852
Rolling this up under #2823. Great job on the progress here @sofide, most of the errors are fixed!

We're down to 22 errors!

[2022-01-13 21:58] #2852 closed

[2022-01-13 21:59] cpcloud commented on #2853
The impala backend needs a champion for issues like this. Adding mypy would be lower on the priority list than bug fixes or features. Of course, a PR of any kind is accepted!

[2022-01-13 21:59] #2853 closed

[2022-01-13 22:01] cpcloud commented on #2854
There's only 1 error left and it's not actually related to ibis per se, which is awesome. Thanks @arielrossanigo.

[2022-01-13 22:01] #2854 closed

[2022-01-13 22:02] cpcloud commented on #2856
Rolling this up into #2823. Thanks @napoles-uach for the PR!

[2022-01-13 22:02] #2856 closed

[2022-01-13 22:10] cpcloud commented on #2863
We have the `@deprecated` decorator now, so it should be straightforward to figure when a thing was deprecated and remove it.

However, we still need to come up with a policy. Let's open up a GitHub Discussion and talk about it.

[2022-01-13 22:10] #2863 closed

[2022-01-13 22:21] saulpw commented on #2877
I think it's a good idea to deprecate `Database.list_tables` and keep only `Client.list_tables`.  It seems like backends want the ability to expose their own filtering mechanisms, and `like` may be either unsupported or insufficient; so we should add an abstract method which takes `**kwargs` instead of any guaranteed arguments.  Then we can leave the existing `Client.list_tables()` as they are.

[2022-01-13 22:21] gerrymanoim commented on #2815
We still have this piece of code: https://github.com/ibis-project/ibis/blob/master/ibis/backends/dask/udf.py#L160. Clearly it hasn't stopped us from updating dask, but I don't know if that's still required. Let me try removing it.

[2022-01-13 22:30] tswast commented on #2803
All working in production last I saw. Stuck on ibis v1, though.

[2022-01-13 22:31] tswast commented on #2803
I've got https://github.com/GoogleCloudPlatform/professional-services-data-validator/issues/317 open to update them to v2, but don't expect to have time to do so.

[2022-01-13 22:31] cpcloud commented on #2834
Because we want to move away from it being the primary way we deal with in-memory results.

[2022-01-13 22:32] cpcloud commented on #2834
At the very least, there needs to be an alternative way to get back something that isn't a DataFrame.

[2022-01-13 22:35] napoles-uach commented on #2856
My pleasure!!

[2022-01-13 23:22] #3308 closed

[2022-01-13 23:29] jreback commented on #2834
sure not averse to that but need a fully workable alternative first

[2022-01-14 11:19] cpcloud opened #3312 "chore: remove spark -> pyspark plugin alias"
We alias the `spark` backend plugin to `pyspark`. Let's remove that in 3.0.0.

[2022-01-14 19:44] saulpw commented on #230
All queries complete and have no diffs with the corresponding raw sqlite queries.
![Screenshot from 2022-01-14 11-42-49](https://user-images.githubusercontent.com/236498/149575741-58aa2328-854e-42c8-a607-ab98116854b8.png)

[2022-01-14 19:44] #230 closed

[2022-01-14 21:15] cpcloud commented on #2133
Thanks for reporting this @xmnlab! We need a champion for this, and PRs are definitely welcome.

[2022-01-14 21:15] #2133 closed

[2022-01-14 21:24] cpcloud commented on #3312
Kicking the can.

[2022-01-14 21:24] #3312 closed

[2022-01-14 21:31] cpcloud commented on #2803
I'm going to remove `ibis-project/ibis-oracle`, there's a 2 line README that hasn't seen changes in almost two years.

I would love for someone from the Google team to move one or more of those repos into ibis-project, but the current set of maintainers doesn't have the bandwidth to do this as part of our roadmap at the moment.

[2022-01-14 21:32] cpcloud commented on #2803
I'm going to close this out for now.

[2022-01-14 21:32] #2803 closed

[2022-01-14 21:33] cpcloud commented on #2815
@gerrymanoim Did you get a chance to look into this?

[2022-01-14 21:47] cpcloud commented on #2880
@gerrymanoim Thanks for opening the issue. I agree this might be an issue, but let's profile first! Look forward to the PR!

[2022-01-14 21:47] #2880 closed

[2022-01-14 21:52] emilyreff7 commented on #2788
This issue would expand our test coverage in [this file](https://github.com/ibis-project/ibis/blob/master/ibis/backends/tests/test_vectorized_udf.py) by creating a new test similar to [test_reduction_udf_array_return_type](https://github.com/ibis-project/ibis/blob/master/ibis/backends/tests/test_vectorized_udf.py#L291), except instead of using the single-column UDF [quantiles](https://github.com/i

[2022-01-14 21:54] cpcloud commented on #2891
This is definitely an issue. Non-nullable types are kind of second-class citizens at the moment.

[2022-01-14 22:27] emilyreff7 commented on #2649
[This is the original PR](https://github.com/ibis-project/ibis/pull/2636) that motivated this follow-up issue, and the overview section there should give sufficient context.

The tldr; is the above PR fixed a bug whereby overwriting an existing column via a multi-column UDF used to fail. The limitation of that PR was that the ordering of the output columns may not be entirely correct, and I give a

[2022-01-14 22:33] emilyreff7 commented on #2158
For example if I have a datasource for which I have the arrow schema, and would like to map that to its corresponding ibis schema - this was one of the arrow types I ran into that did not have an ibis `dtype` rule registered for it.

[2022-01-14 22:41] cpcloud commented on #2158
Happy to accept a PR here!

Is this a thing you're blocked by? Happy to reprioritize it if so.

[2022-01-14 22:43] emilyreff7 commented on #2158
Not blocked, not super high priority, code would just be cleaner as a result - maybe a good starter issue? Or I can tackle if I ever get around to it :D

[2022-01-14 22:45] cpcloud commented on #2158
Sounds good. I'll close it out for now and if it comes up again, happy to revisit!

[2022-01-14 22:45] #2158 closed

[2022-01-14 23:56] gerrymanoim commented on #2815
I put this fix up https://github.com/ibis-project/ibis/pull/3316, but this implementation required basically doing extracting all the pieces of `dd.from_delayed` besides the meta verification. Given that, I'm going to just close this issue and change my PR to simply remove the shim we don't need anymore.

[2022-01-14 23:56] #2815 closed

[2022-01-14 23:57] cpcloud commented on #2815
Awesome, thanks!

[2022-01-15 11:59] cpcloud commented on #1767
We have `ibis.range_window` now for this.

[2022-01-15 11:59] #1767 closed

[2022-01-18 21:09] #2921 closed

[2022-01-18 21:17] cpcloud commented on #2929
One question is whether this should be included in all aggregates, including `Sum`, `Mean` etc.

[2022-01-18 21:55] cpcloud commented on #3008
xref: #2952

[2022-01-18 21:55] #3008 closed

[2022-01-18 21:56] cpcloud commented on #3019
xref: #2307

Thanks @datapythonista! We're going to close this out, and tackle as part of #2307.

[2022-01-18 21:56] #3019 closed

[2022-01-18 22:00] cpcloud commented on #3017
Partially addressed by #3127.

[2022-01-18 22:01] cpcloud commented on #3017
@datapythonista Does #3127 fully address this issue?

[2022-01-18 22:03] cpcloud commented on #3021
xref: #3017

[2022-01-18 22:04] #3021 closed

[2022-01-18 22:07] cpcloud commented on #3028
It looks like there's an aggregation with a `StringConcat` child, which hopefully is enough to produce a test case.

[2022-01-19 09:52] #2947 closed

[2022-01-19 09:53] #3108 closed

[2022-01-19 15:40] emilyreff7 opened #3334 "feat: rethink expr repr"
### Context
By default, `Expr`'s repr does a tree traversal to give a [representation of the full expression tree](https://github.com/ibis-project/ibis/blob/a3583c3ffd711a220d9269d9f13f98ec68b99f8f/ibis/expr/format.py#L68). While this repr can contain useful debugging information, it can also have adverse performance implications that are difficult to catch until after the fact. Performance regres

[2022-01-19 20:50] icexelloss opened #3336 "RFC: Vectorized UDF interface rethink"
In 2020 I introduced the Vectorized UDF API in ibis (currently works on pandas, PySpark and Dask backend). The API for defining UDFs are decorator based, e.g.:

During the past two years of building a time series analysis API internally, we've adopted an UDF API is a bit different. From what we learned from the users, the internal API seems quite more convenient comparing to the ibis API and there

[2022-01-19 22:24] saulpw commented on #3334
I think this is a good idea, @emilyreff7.  How about `.get_repr()` with a kwarg to indicate how much information to display (by default the entire tree), and then `__repr__()` would call something like `.get_repr(depth=None)`?

[2022-01-19 22:39] saulpw commented on #3336
@icexelloss Thanks for the proposal, this is interesting.  In particular, the ability to use existing functions like `ppf` easily would be very convenient.  However, the proposed `map` API is pretty different from existing Ibis APIs (more like Spark than Pandas?).  How does the API look alongside the reduction (like `mean`) and analytic (`row_number`) generators?

[2022-01-19 22:51] #2973 closed

[2022-01-21 11:08] cpcloud commented on #2744
@BenjaminHabert I looked into this yesterday and it's a fairly tricky bug to fix. However, we're still aiming to fix it for 3.0.0.

In the meantime, you can workaround the issue by referring to the columns in the final projection in your example using strings:

[code]

[2022-01-21 18:49] cpcloud commented on #2795
The `docker-compose.yml` file is back, and the CI became simpler because of it. https://github.com/ibis-project/ibis/pull/3323.

[2022-01-21 18:49] #2795 closed

[2022-01-22 10:42] cpcloud commented on #2709
I think at the very least for 3.0.0 we can fail here as opposed to giving incorrect results.

[2022-01-22 15:01] cpcloud commented on #3135
Duplicate of #2891.

[2022-01-22 15:01] #3135 closed

[2022-01-23 04:32] #1970 closed

[2022-01-23 13:15] #2907 closed

[2022-01-23 23:52] jayceslesar opened #3352 "feat(api): pythonic downsampling + limits"
Being able to downsample in a pythonic way would be pretty neat, I am sometimes writing queries on time series data that is billions of rows. Currently to downsample I do a mod over a row number index I create, but would be nice to be able to slice it with the `[::step_size]` syntax for iterables.

Another interesting idea is using a limit sort of like a `np.linspace` where specificying a limit of

[2022-01-24 12:39] cpcloud commented on #3352
@jayceslesar Thanks for making an issue about this.

Indeed, many of the past and current maintainers have worked or currently work extensively with time series and it's an area of the library that is ripe for improvement and expansion!

As you've seen, we have `asof_join` and basic timestamp/date/time operations, but tools like resampling don't exist yet.

My hunch is that resampling can be imple

[2022-01-24 12:40] cpcloud commented on #3352
Regarding the "limit sort" idea, that's interesting.

I think it could probably be done in a similar way as resampling, stopping after the join step.

[2022-01-24 16:28] cpcloud commented on #1537
@jeffgortmaker Sorry it took so long to get around to this, but I've finally put up a PR to address the problem!

[2022-01-24 16:32] jeffgortmaker commented on #1537
Wonderful, thanks!

[2022-01-24 21:25] gerrymanoim opened #3358 "bug: ibis.expr.signature.Parameter is not pickleable"
Minimal repro:

[code]
Raises `TypeError: __init__() takes 2 positional arguments but 3 were given`.

[2022-01-24 22:42] #3358 closed

[2022-01-25 13:14] cpcloud commented on #1045
There's a much smaller reprex here:

[code]

It's the drop + join that is the underlying problem here, and a `drop` is just a special case of a projection.

Ibis is again trying to optimize and fails to account for the fact that you cannot hand sqlalchemy relations at different scopes without it generating undesirable cross joins everywhere.

[2022-01-25 15:48] #1537 closed

[2022-01-25 18:55] gerrymanoim commented on #3171
This seems to now work with pandas, but still not dask.

I suspect dask is missing https://github.com/ibis-project/ibis/blob/5467afaf22ded02bc79efe4c7956957cc1457e96/ibis/backends/pandas/__init__.py#L57-L64 `register_options`, but doing a quick read through of https://github.com/ibis-project/ibis/blob/927d7ced6fda1d6f495da491367f7ba2176e5ced/ibis/__init__.py#L102-L103 I think this should work as i

[2022-01-25 21:42] cpcloud commented on #3033
@kszucs Should we keep this open?

[2022-01-25 21:47] cpcloud commented on #3048
This doesn't really need an issue. Will happily accept a PR.

[2022-01-25 21:47] #3048 closed

[2022-01-25 21:50] cpcloud commented on #3049
This will be addressed as needed. Eventually refactoring for future projects will require removing constructor validation.

[2022-01-25 21:50] #3049 closed

[2022-01-25 21:55] kszucs commented on #3033
Yes, I think we need to find a new place for these routines.

[2022-01-25 22:01] #3095 closed

[2022-01-25 22:04] cpcloud commented on #3109
@timothydijamco Are you planning on tackling this issue any time soon?

[2022-01-25 22:18] cpcloud commented on #3126
The problem is that when comparing expression trees the `Literal` underlying the expression holds a `dtype` argument and that argument is compared when comparing expression trees.

`ibis.literal(1).type()` will be `int8`,  but in the context of a promoting operation such as `t.x + ibis.literal(1)` where `t.x.type() == int64` the `ibis.literal(1).type() == int64` resulting in a `False` comparison.

[2022-01-25 22:24] cpcloud commented on #3126
Here's an example:

[code]

[2022-01-25 22:29] cpcloud commented on #3140
Closing for now. Look out for upcoming IBEPs!

[2022-01-25 22:29] #3140 closed

[2022-01-25 22:36] #3156 closed

[2022-01-25 22:38] cpcloud commented on #3156
These should go here: https://ibis-project.org/docs/backends/index.html

[2022-01-25 22:38] cpcloud commented on #3179
Closed by #3185, thanks @hikitani looking forward to this in 3.0.0!

[2022-01-25 22:38] #3179 closed

[2022-01-25 22:39] cpcloud commented on #3211
Closing this for now! Let's correspond on the issues we opened. Thanks @goodwanghan.

[2022-01-25 22:39] #3211 closed

[2022-01-25 22:42] cpcloud commented on #3235
cc @jreback, curious if this would cause big breakage for y'all

[2022-01-25 22:43] jreback commented on #3235
this prob should be fine as null key grouping is something we don't typically see

[2022-01-25 22:43] goodwanghan commented on #3211
Thank you @cpcloud , I was just about to follow up on this thread. We just released [Fugue 0.6.5](https://github.com/fugue-project/fugue/releases/tag/0.6.5), so although the integration is experimental, it's already in our official release.

I wonder if you have a place to list all collaborating projects? Maybe we should add Fugue project to the list.

[2022-01-25 22:49] goodwanghan commented on #3235
Oh, by the way, when you test on Dask, please make sure you have multiple-group-key test cases. I remember that caused some troubles with my projects.

[2022-01-25 23:19] cpcloud commented on #3211
@goodwanghan Awesome! The best place for Fugue is here https://github.com/ibis-project/ibis/blob/master/docs/web/community/ecosystem.md!

[2022-01-25 23:20] cpcloud commented on #3235
@goodwanghan Makes sense! Thanks.

[2022-01-25 23:35] #1387 closed

[2022-01-25 23:35] #2427 closed

[2022-01-25 23:35] #2997 closed

[2022-01-25 23:35] #3090 closed

[2022-01-25 23:35] #3295 closed

[2022-01-25 23:35] cpcloud commented on #3236
@goodwanghan This is an interesting problem.

Pandas handling of `NaN` here is consistent with the way in which `NaN`s are doubles, but it's not consistent of pandas using `NaN` as the NULL value. NULL values in a join predicate evaluate to `false`, so given the IEEE definition of NaN it's not surprising the semantics differ: NaN and NULL aren't the same thing.

However, since pandas treat `NaN`s

[2022-01-25 23:38] saulpw commented on #3268
Hm, I don't quite understand what you need here.  The Impala backend is not actively maintained, but if you figure out a small patch to support your use case that keeps compatibility with existing Impala usage, we'd be happy to review and merge it!  I'm going to close this issue though as we won't be able to do anything about it ourselves.

[2022-01-25 23:38] #3268 closed

[2022-01-26 00:14] goodwanghan commented on #3236
So look at this code

[code]

And the result:

[code]

I think pandas treats (or tries to treat) nulls and nans in the same way in merge. For example in the string column, nulls are also joined together.

[2022-01-26 03:43] gerrymanoim commented on #3171
This all seems like a consequence of https://github.com/ibis-project/ibis/pull/2833. No options get registered if you  import `from ibis.backends.dask import Backend`. The `__getattr__` in `__init__` (https://github.com/ibis-project/ibis/blob/927d7ced6fda1d6f495da491367f7ba2176e5ced/ibis/__init__.py#L60) only triggers if you specifically exec `ibis.dask` or `ibis.pandas`.

Maybe these options shou

[2022-01-26 19:16] icexelloss commented on #3336
Good point. Let me think about this a bit more. Close this for now.

[2022-01-26 19:16] #3336 closed

[2022-01-28 01:11] #2744 closed

[2022-01-28 10:14] cpcloud commented on #1989
@ian-r-rose I know it's been awhile, but would you mind taking a look at https://ibis-project.org/contribute/backend_test_suite/?

I think that page *should* address your concerns here, and if not please comment here!

Thanks again for raising the issue!

[2022-01-28 11:42] cpcloud commented on #3020
The reason `create_table_from_schema` is failing is unrelated to the presence of nulls.

Again, xfailing tests without understanding why they are failing leads to a bunch of work that has to be done later.

[2022-01-28 17:20] EdAbati commented on #3040
/take

[2022-01-28 18:21] jayceslesar commented on #3352
There are a few ways to do this....One way is to build a uniform index with some mod on the row number which works really well if your data (or you expect your data) to come in consistent steps like every 15 seconds or every x seconds.

[2022-01-28 21:44] saulpw commented on #3118
We're going to keep `ibis.literal()` as it is for constructing plain literal expressions (int, float, string, etc), and add new constructors for compound literal expressions, just like the existing `ibis.array()`:

- `ibis.struct()`
- `ibis.map()`

These new constructors take a Python `dict` as the value, and an optional `type` kwarg like `ibis.literal()` (this `type` kwarg is also added to `ibis.

[2022-01-29 03:10] goodwanghan commented on #3052
I think 3.7 is still widely used, are you sure you want to do it now?

[2022-01-29 03:21] jreback commented on #3052
numpy pandas and the rest of the eco system have dropped 3.7

3.10 is already out and 3.11 is around the corner

supporting more than 3 versions is way too much

[2022-01-29 12:40] cpcloud commented on #3052
@goodwanghan We're planning on adopting [NEP-29](https://numpy.org/neps/nep-0029-deprecation_policy.html) going forward to avoid having to support so many versions.

3.10 still isn't quite there yet for the `conda-forge` ecosystem, for example all of our development dependencies cannot be turned into a conda lock file yet. It's very close though and I don't think it's a blocker for dropping 3.7.

[2022-01-29 12:40] #3020 closed

[2022-01-29 18:38] cpcloud commented on #3171
That seems reasonable. I've got a PR up to replace the existing config with `pydantic` in #3376, I can address this issue as a follow up to that PR.

[2022-01-30 09:46] #3291 closed

[2022-01-30 16:15] #1695 closed

[2022-02-01 09:37] #3040 closed

[2022-02-01 09:42] #3118 closed

[2022-02-01 18:06] EdAbati commented on #3033
\take

[2022-02-01 18:07] EdAbati commented on #3033
/take

[2022-02-02 16:34] #2879 closed

[2022-02-02 21:29] cpcloud commented on #1195
We're planning to remove most of these file based backends and either suggest alternatives to users or recommend backends such as datafusion as the alternative.

[2022-02-02 21:29] #1195 closed

[2022-02-02 21:42] cpcloud commented on #2128
This is apparently no longer a problem. @gforsyth confirmed this independently.

[2022-02-02 21:42] #2128 closed

[2022-02-02 21:42] cpcloud commented on #2128
Related PR: https://github.com/ibis-project/ibis/pull/3261

[2022-02-02 22:35] jmsdnns opened #3390 "docs: bad link on team page"
The [generated URL for the bad volunteers link](https://github.com/ibis-project/ibis-project.org/blob/master/about/team/index.html#L1573) looks like this: `https://github.com/https://github.com/ibis-project/ibis//graphs/contributors`

Just gotta delete the `https://github.com/` in front of `{{ config.repo_url }}` in [the template for the team page](https://github.com/ibis-project/ibis/blob/master/

[2022-02-02 23:02] cpcloud commented on #3390
Thanks, on it.

[2022-02-02 23:06] cpcloud commented on #3390
Really appreciate the report!

[2022-02-02 23:45] #3390 closed

[2022-02-04 13:38] vv111y opened #3399 "Add support for Ray (modin?) and Rapids AI?"
Any plans for this?

_Originally posted by @goodwanghan in https://github.com/ibis-project/ibis/issues/2245#issuecomment-657176380_

[2022-02-04 21:39] cpcloud commented on #3399
@vv111y Thanks for bumping the issue! cc @goodwanghan

There are two issues here: one for modin and one for cudf (assuming this is what you mean by Rapids AI)?.

We'd happily accept a PR and would work with the community on this, but this isn't on the immediate roadmap.

[2022-02-04 21:39] #3399 closed

[2022-02-05 06:08] GrapeBaBa opened #3406 "docs: -f argument is incorrect when setting up conda environment"
[code]

Follow the environment guide, I got this error when build the project.

[2022-02-05 12:00] cpcloud commented on #3406
Can you try `--file=conda-lock/osx-64-3.9.lock`?

[2022-02-05 13:17] cpcloud commented on #3406
I can reproduce this problem on linux and the solution is to pass `--file=conda-lock/linux-64-3.9.lock`. I'll put up a docs fix.

[2022-02-05 13:27] cpcloud commented on #3406
@GrapeBaBa FWIW you don't need to pass `-c conda-forge` when installing from a lock file because the URL to every package is specified in the lock file, and no solve is required. This is the primary reason we provide the dev environment in a lock file: users don't have to deal with conda/mamba's solver and can get a working ibis development environment with just an internet connection.

[2022-02-05 14:14] #3406 closed

[2022-02-07 11:35] #3033 closed

[2022-02-07 21:46] cpcloud commented on #1992
This isn't feasible with SQLite, due to its lack of type information.

[2022-02-07 21:46] #1992 closed

[2022-02-07 22:00] gforsyth commented on #2258
Hey @tswast -- thanks for the convenient test case!

It works if we remove the method call on `seconds`:

[code]

We're going to remove the blanket `__call__` on expressions to avoid these errors moving forward

[2022-02-07 22:44] #622 closed

[2022-02-07 22:58] #2258 closed

[2022-02-10 17:09] #3052 closed, assigned to nobody

[2022-02-21 13:41] kszucs opened #3480 "bug(testing): importorskip swallows valid import errors"
Intentionally making an import error:

[code]

Causes to skip the builds instead of raising an `ImportError`

[code]

I assume this is caused by `pytest.importorskip` in `_get_backend_conf()`.

cc @cpcloud

[2022-02-21 13:42] cpcloud commented on #3480
Yep, definitely a problem.

[2022-02-21 13:53] kszucs commented on #3480
We may have import errors not surfacing on the CI.

Making it mandatory to import `backend.TestConf`?

[2022-02-21 13:54] cpcloud commented on #3480
Ah, yeah you're right.

Yep, I'll look into it.

[2022-02-21 15:24] #3480 closed

[2022-02-22 09:32] kszucs opened #3485 "refactor(expr): reorganize Scope and TimeContext utilities"
Both Scope and TimeContext are execution utilities used for the pandas based backends.

They should be placed under the pandas backend rather than the IR subdirectory.

[2022-02-22 16:23] gforsyth commented on #2642
Duplicate of #2891 (#3135 was closed in favor of #2891)

[2022-02-22 20:55] cpcloud commented on #3485
Sounds great! Looking forward to the PR.

[2022-02-28 17:24] jayceslesar commented on #1437
I think could be easily implemented by creating a new column with `random()` and then filtering on anything less than or greater than some threshold to get that percent/proportion of rows back yeah?

[2022-03-01 07:08] floriancastelain opened #3514 "Inconsistency in documentation"
In [Impala backend](https://ibis-project.org/backends/Impala/), in Connection API>method>do_connect:

- The method listed is called `do_connect`
- However, the examples use `connect`
- I ahve always used `connect`

Question is: Is it then `connect` or `do_connect` ? The incorrect one should be ajusted in the documentation. If both of them are available and doing the same thing, then why is this re

[2022-03-01 09:47] cpcloud opened #3515 "bug: clickhouse and impala semi/anti join code is wrong"
Impala and clickhouse are generating incorrect code in the tests from https://github.com/ibis-project/ibis/pull/3501.

[2022-03-01 11:55] cpcloud commented on #3514
@floriancastelain Thanks for bringing this up.

TL; DR: the user-facing API is `ibis.${backend}.connect` which maps to `do_connect`. `do_connect` shows up in the docs because that's where the explicit connection parameters are listed.

What's currently happening is this:

1. Accessing `ibis.${backend}` loads a entry point for the backend, which is `ibis.backends.${backend}.Backend`.
2. The `Backen

[2022-03-02 11:47] #3514 closed

[2022-03-02 12:13] cpcloud opened #3526 "bug: sqlalchemy backends semi-join generates cartesian product in some cases"
This test:

[code]

generates the following SQL for the sqlalchemy backends (I've removed the explicit columns for brevity). The second `FROM` (sequentially) is followed by an implicit `CROSS JOIN`.

[code]

The expected query is the same as the incorrect query with the left side of the implicit cross join removed:

[code]

[2022-03-02 15:18] gforsyth opened #3529 "bug: sqlalchemy backends create unbound anon column when projecting a mutated column"
A join with `batting` and `awards_players` works as expected:

    con = ibis.sqlite.connect("ci/ibis-testing-data/ibis_testing.db")
    batting = con.table("batting")
    awards_players = con.table("awards_players")
    awards_players
    left = batting
    right = awards_players
    expr = left.join(right, "yearID")
    expr.limit(10).execute()

If I `mutate` to rename a column in `batting` thin

[2022-03-02 22:08] cpcloud commented on #3529
I think the issue may lie in this code https://github.com/ibis-project/ibis/blob/master/ibis/backends/base/sql/alchemy/query_builder.py#L91-L110.

[2022-03-03 10:14] cpcloud commented on #1989
Closing this out. Thanks for the feedback!

[2022-03-03 10:14] #1989 closed

[2022-03-07 16:25] #1632 closed

[2022-03-08 07:02] rtpsw opened #3562 "feat(api): add support for local table"
A local table is like a named table except that it loads data from local files. It corresponds to `ReadRel.LocalFiles`.

[2022-03-08 07:22] rtpsw opened #3564 "feat(api): add clip_lower and clip_upper"
The existing ternary `clip` operation does not map nicely to Arrow Substrait . The proposed `clip_lower` and `clip_upper` operations can be efficiently mapped to binary scalar kernels in Arrow.

[2022-03-08 07:30] rtpsw commented on #3562
https://github.com/ibis-project/ibis/pull/3563

[2022-03-08 07:30] rtpsw commented on #3564
https://github.com/ibis-project/ibis/pull/3565

[2022-03-09 16:38] cpcloud opened #3575 "refactor(ops): add StringContains operation"
Right now all `t.haystack.contains(needle)` calls are implemented using `findstr`, but a number of databases have support for an explicit string contains operation. We should implement `contains` as its own operation and add `@rewrites` for those backends that don't have a specific op.

[2022-03-09 22:11] cpcloud commented on #3562
@rtpsw Can we close this and #3563 out?

[2022-03-09 22:20] rtpsw commented on #3562
Not sure if you mean to cancel this, move the code into ibis-substrait (maybe unify with https://github.com/ibis-project/ibis-substrait/issues/100), or something else. I'd be happy to prepare a commit accordingly.

[2022-03-09 23:25] #3515 closed

[2022-03-09 23:25] #3529 closed

[2022-03-11 12:33] rtpsw commented on #3564
Closing - see #3565 for the rationale.

[2022-03-11 12:33] #3564 closed

[2022-03-11 17:56] #1454 closed

[2022-03-11 21:23] cpcloud commented on #588
We now have `ibis.${backend}.has_operation` as well as a big matrix showing the [operation support matrix](https://ibis-project.org/backends/support_matrix/).

[2022-03-11 21:23] #588 closed

[2022-03-11 21:35] cpcloud commented on #464
Expressions exist for both of these.

[2022-03-11 21:35] #464 closed

[2022-03-11 21:52] cpcloud commented on #3562
@rtpsw Looks like this can be closed.

We're going to tackle this in `ibis-substrait`.

[2022-03-11 21:52] #3562 closed

[2022-03-11 22:09] cpcloud commented on #2735
This is done.

[2022-03-11 22:09] #2735 closed

[2022-03-11 22:15] cpcloud commented on #2553
Thanks for the great issue report. Please open specific issues for anything that's still broken. We've done a bunch of clean up work to address the things in this issue.

[2022-03-11 22:15] #2553 closed

[2022-03-11 22:16] cpcloud commented on #2225
This is very done.

[2022-03-11 22:16] #2225 closed

[2022-03-11 22:17] cpcloud commented on #2076
Would happily accept a PR for this, and we will certainly look into related bug reports. Thanks!

[2022-03-11 22:17] #2076 closed

[2022-03-11 22:19] cpcloud opened #3590 "feat(api): add cume_dist function"
We have `percent_rank` (doesn't include the upper bound) but not `cume_dist` (includes the upper bound).

Let's add it.

xref: #1975

[2022-03-11 22:23] cpcloud opened #3591 "docs: move to Diataxis framework for documentation"
Based on discussion here: https://github.com/ibis-project/ibis/discussions/3579 we should move our docs to the Diataxis setup.

[2022-03-11 22:24] gforsyth commented on #3591
https://diataxis.fr/

[2022-03-12 20:52] gerrymanoim commented on #2553
I think the things marked as broken are still broken? This was just a general tracking issue.

[2022-03-14 20:31] drabastomek opened #3610 "docs: mismatch between backend capabilities and docs"
Speaking mainly about SQLite (but I'd assume this would be true for other backends), there are quite a few methods listed as supported by a specific backend (with an `Inherited` flag in the docs) but cannot be run and throw various errors.

For a specific example, [the documentation lists `.sql`](https://ibis-project.org/backends/SQLite/#ibis.backends.sqlite.Backend.sql) as a supported method for

[2022-03-14 20:43] drabastomek opened #3611 "feat(sqlite): concat nor join does not work on a string column"
This is specific to SQLite. Trying to use

Quick example.

[code]

Neither the above nor this code works, albeit they throw different errors.

[code]

The former code throws `OperationNotDefinedError: No translation rule for <class 'ibis.expr.operations.strings.StringJoin'>` while the latter one complains about `AttributeError: 'StringColumn' object has no attribute 'concat'`.

[2022-03-15 13:41] cpcloud commented on #3611
@drabastomek

The `StringConcat` operator is mapped to `+`, so you should be able to write `test.a + test.b`.

`StringJoin` I believe requires an array input, but we may be able to relax that.

[2022-03-15 20:16] saulpw commented on #3610
xref: #1992

[2022-03-15 21:28] saulpw commented on #3610
Yes, good idea.  @gforsyth annotated all the backend tests to xfail if the backend functionality isn't supported, and I think we should do a similar push for the actual methods on each of the backends.  We can streamline it into a fairly brute-force effort such that we add to each backend a list of the methods that are notimpl/notyet/never.  These functions would then:

- raise a `NotImplementedEr

[2022-03-17 15:58] gforsyth commented on #3610
For the example above, we've merged #3617 so that `sql` no longer appears in the docs for the SQLite backend (and it also raises a `NotImplementedError` if someone tries it) -- but we do need to figure out (ideally) a non-manual way to track existing functionality.

I'm thinking we might be able to use a coverage report to link up xfails against specific backend methods, but this might be overengi

[2022-03-18 16:45] #3611 closed

[2022-03-22 14:15] gforsyth opened #3629 "bug(duckdb): duckdb backend should add in CAST for some bind parameters"
DuckDB casts bind parameters `?` to strings which leads to binder errors with some queries

If we have a small tpch dataset:

[code]

raises

[code]

because our generated SQL doesn't have explicit casts:

[code]

we want to generate

[code]

[2022-03-22 14:27] cpcloud commented on #3629
Interestingly enough, postgres doesn't seem to have a problem with a similar query:

[code]

[2022-03-22 14:31] cpcloud commented on #3629
Ah that's probably because of https://github.com/duckdb/duckdb/issues/2972#issuecomment-1019283797

[2022-03-22 17:34] #3629 closed

[2022-03-25 00:03] #386 closed

[2022-03-25 19:23] pybokeh opened #3652 "Feature Request: Forward and Backward Fill like in Pandas API"
I'm sure there is probably a way to do this using native ibis API which I'm guessing will be a bit more verbose compared to a one-liner functionality that is available in Pandas API.

[2022-03-25 21:08] saulpw commented on #1265
Does anyone ever use this?

[2022-03-28 13:06] cpcloud opened #3662 "chore(dev): enable pre-commit.ci"
`pre-commit.ci` is a convenient way to allow people to clean up their code without having to run `pre-commit` checks locally.

[2022-03-28 17:22] gvwilson commented on #2087
I'm running into the same problem with Ibis 3.2.0 - any hints what the fix is?

[2022-03-28 17:26] saulpw commented on #2087
Hi @gvwilson, there is no version 3.2.0 of Ibis yet; v3.0 should be released in the next month or two.  How did you install Ibis?

[2022-03-28 17:43] cpcloud opened #3668 "bug: repr for interval literals doesn't show unit information"
`interval` literal values don't show any information about their units, so all values show up looking the same:

[code]

[2022-03-28 18:00] gvwilson commented on #2087
Sorry, my bad: I was looking at the version number for Ibis templating, not the ibis-framework. I have Version 2.1.1 of your Ibis, installed with `mamba install ibis-framework`; we're evaluating Ibis as a replacement for SQLAlchemy, but I'm struggling to get a three-table join to work even after renaming columns to ensure they're unique. Would you prefer me to post here or on Stack Overflow? Thank

[2022-03-28 18:14] saulpw commented on #2087
(Posting here or on [gitter.im/ibis-dev](https://gitter.im/ibis-dev/Lobby) is fine.)

People have had trouble with this interface for awhile, so we've deprecated `materialize()` and made it redundant, so this will hopefully work much better.  But this change hasn't been released yet.  Would you be able to try out the current development version (master HEAD) and see if you can get it working that

[2022-03-28 18:38] gvwilson commented on #2087
I am struggling to make a three-table join work in Ibis (with SQLite as a back end). I've tried the workaround mentioned in [this question](https://stackoverflow.com/questions/56082345/ibis-impala-join-problem-with-relabel-name-column-as-newname) and looked at [this issue](https://github.com/ibis-project/ibis/issues/2087) and [this one](https://github.com/ibis-project/ibis/issues/2997).

## Databa

[2022-03-28 22:30] saulpw commented on #2087
@gvwilson Thanks for the detailed information. I haven't dug into your code specifically, but a couple of things that may be helpful:

- The sub-selects are coming from the additional relabels.
- The relabels shouldn't be necessary; does `person.id == survey.person` not work in the join clause?
- In general Ibis is not concerned about extraneous subqueries, as most db engines do a fine job of opti

[2022-03-29 00:40] gvwilson commented on #2087
Thanks for your reply - we're using PostgreSQL in production, but testing ideas is easier with SQLite, and I'm OK with the multi-step join - it's probably easier to read than a five-table single-statement join.

Here's a complete example of the problem that started me down this road:

## The sample data (using SQLite's `.dump` command)

On the command line, `$ sqlite3 temp.db < reconstruct.sql` wi

[2022-03-29 21:00] saulpw opened #3677 "incorrect CROSS JOIN with multiple joins"
From @gvwilson's comments in #2087, using this SQL schema:

[code]

with this Ibis expression:
[code]

it results in this SQL:
[code]

[2022-03-29 21:04] saulpw commented on #2087
Thanks for this, @gvwilson.  We can reproduce this issue and I've opened #3677 to track it.  If this is your core issue, let's add further comments on that new issue.

[2022-03-29 21:37] saulpw commented on #3677
The shared column name `id` is the problem here; if each column (not just join keys) is named uniquely, then it works as expected.

[2022-03-30 12:37] cah-mahesh-kumar01 opened #3685 "NotImplementedError: Could not find signature for dtype: <MSDialect_pyodbc, MONEY> from MSSQL Server"
I am using Google DVT https://github.com/GoogleCloudPlatform/professional-services-data-validator which is based on Ibis framework. I am trying to perform data validation b/w MSSQL Server and BigQuery and I am getting

Traceback (most recent call last):
File "C:\Program Files\Python39\lib\runpy.py", line 197, in run_module_as_main
return run_code(code, main_globals, None,
File "C:\Program Files\Py

[2022-03-30 13:19] cpcloud commented on #3685
@cah-mahesh-kumar01 This is an issue for the DVT repo, since the code that would deal with those types would live here: https://github.com/GoogleCloudPlatform/professional-services-data-validator/tree/develop/third_party/ibis/ibis_mssql

That dispatch function is public, so the authors of DVT can certainly override that to handle the `MONEY` type.

[2022-03-30 13:19] cpcloud commented on #3685
cc @tswast

[2022-03-30 14:05] tswast commented on #3685
Thanks for the report! I'll pass this on to some other DVT developers in our internal Chat.

CC @nehanene15 @renzokuken

[2022-03-30 14:42] #2002 closed

[2022-03-30 16:30] #3685 closed

[2022-03-30 20:58] gforsyth commented on #3677
xref: #3526 maybe?

[2022-03-31 15:18] EricSchles opened #3688 "feat(hive): add HiveQL support"
Hi!

I'd like to add HiveQL support (as a backend) to this project.  Is that something the development team would be interested in?

[2022-03-31 17:18] saulpw commented on #2928
#3437 addresses this, cleaning up the basic data type system in general. The underspecified aliases have not been strictly removed, but are kept around for convenience and are docprecated.  The old `uint_` is now an alias to `int64`; `float` and `double` are now both aliases for `float64`.  But the general recommendation is to use size-specified types in production cases.

[2022-03-31 17:18] #2928 closed

[2022-03-31 20:20] #3652 closed

[2022-03-31 20:27] saulpw commented on #1265
This doesn't seem necessary to me.  If this would help anyone, feel free to reopen.

[2022-03-31 20:27] #1265 closed

[2022-03-31 20:27] #1093 closed

[2022-04-01 01:45] ibis-squawk-bot[bot] opened #3690 "chore: rotate ibis bot keys"
It's time to rotate the ibis project bots' keys.

[2022-04-04 14:20] cpcloud opened #3698 "refactor(sql): remove side-effect from `.sql` method"
_Originally posted by @kszucs in https://github.com/ibis-project/ibis/pull/3642#pullrequestreview-930451607_

Indeed, the `.sql` method does create temporary views in the backends that implement it.

We should implement `.sql` using only CTEs, and avoid creating temporary views.

[2022-04-04 20:19] cpcloud commented on #3171
Moving off of 3.x. @gerrymanoim If you have time to look into this, I think you may need to futz with imports a bit to make this work.

[2022-04-04 20:21] cpcloud commented on #3575
Not a blocker for 3.0.0, could be done in 3.1

[2022-04-04 20:21] cpcloud commented on #3235
We'll tackle this in 3.1

[2022-04-04 20:50] p-a-a-a-trick opened #3702 "SettingWithCopyWarning on table select using pandas backend"
[code]

Yields a SettingWithCopyWarning warning:

[code]

This warning is also blasted when selecting one column in a list:

[code]

This warning, however, is not blasted when selecting by multiple columns in a list:

[code]

[2022-04-04 21:13] gforsyth commented on #3702
Thanks for reporting @p-a-a-a-trick !  Fix incoming

[2022-04-05 03:46] timothydijamco opened #3706 "bug: pandas backend error on `case()` + grouped aggregation"
### `case()` + ungrouped aggregation
This works OK.

[code]

### `case()` + grouped aggregation
This hits an error on the Pandas backend.
[code]

On this line, `whens` and `thens` are both lists containing `SeriesGroupBy`s, which `np.select` does not know how to handle. I think we need to add a new branch to `execute_searched_case` to handle the grouped aggregation case.
https://github.com/ibis-pr

[2022-04-05 11:56] cpcloud commented on #3706
@timothydijamco Thanks for the (as usual!) great report.

If you want to put up a PR to address the issue this week then we can get it into 3.0, otherwise we can get it into 3.0.1.

[2022-04-05 14:29] #3668 closed

[2022-04-05 15:39] gforsyth commented on #3591
xref #3701

[2022-04-05 21:01] saulpw commented on #3677
Hey @gvwilson, the issue you found should be fixed as of #3709.  Can you check out master HEAD and verify if that works as expected?

[2022-04-05 23:30] gvwilson opened #3716 "Name collision with 'import ibis'"
https://github.com/dmulholl/ibis is a Python templating system; it is https://pypi.org/project/ibis/ on PyPI, and is installed with `pip install ibis`. After that, `import ibis` loads the templating system - unless you have run `pip install ibis-framework`, which also creates something that wants to be loaded with `import ibis`. Is this a known problem, and if so, is there a resolution that doesn'

[2022-04-05 23:40] #2709 closed

[2022-04-06 11:02] cpcloud commented on #3716
@gvwilson We're aware of the name collision. I think you're the first person who's come to using both.

I think the only resolution that doesn't involve `importlib` hacks or jettisoning your use of ibis-the-templating-library (neither being desirable) is for one of the projects to change their name.

Change either project's name is going to result in a lot of broken code.

[2022-04-07 09:43] fuxinhao-crypto commented on #1346
@cpcloud may I ask you for help? I'm creating a new Reduction Operation. it works but adding the window clause. do u know how can I remove it? thanks
[code]
and
[code]

[2022-04-07 10:33] cpcloud commented on #1346
@fuxinhao-crypto It looks like [`row_to_json`]() isn't a reduction. Can you try subclassing `ValueOp` instead?

[2022-04-07 12:25] #3702 closed

[2022-04-07 12:33] gforsyth commented on #1346
@fuxinhao-crypto -- would you mind re-posing this question over in https://github.com/ibis-project/ibis/discussions so it's more easily discoverable for other users?

[2022-04-07 16:54] #2131 closed

[2022-04-07 16:54] #2132 closed

[2022-04-07 16:54] #2612 closed

[2022-04-07 16:54] #3526 closed

[2022-04-07 17:03] cpcloud commented on #1045
The reprex was fixed by ba4e5e56f7e0ccd367a270d6d5090f340d610dae, but the join with a join on the right side (`t1.join(t4)`) is still broken. We'll tackle this in 3.x. I'll open an issue now to track that.

[2022-04-07 17:03] #1045 closed

[2022-04-07 17:04] cpcloud opened #3729 "bug: joins with join on the right hand side are not implemented"
Paring down the example from #1045, this test fails:

[code]

[2022-04-07 17:41] gerrymanoim opened #3730 "bug: Wrong parameter order in `AnnotableMeta`."
The following code which was working as of 3ce4f2a8 is now no longer working. Reasonably sure it is because of the changes in https://github.com/ibis-project/ibis/commit/088169ae96c476e0363baaa1fa5f116be5d7aae6 around constructing the `__signature__` in `AnnotableMeta` (https://github.com/ibis-project/ibis/commit/088169ae96c476e0363baaa1fa5f116be5d7aae6#diff-1ba248744f86eb25b4e863648c19353294f34c4

[2022-04-07 17:49] cpcloud commented on #3730
I believe this is intentional so that we conform to Python's signature restrictions. @kszucs would know more.

[2022-04-07 18:42] z7ye opened #3731 "HiveServer2Error: Error while compiling statement: FAILED: SemanticException [Error 10025]: Line 1:7 Expression not in GROUP BY key 'day'"
![image](https://user-images.githubusercontent.com/25996703/162272925-53c6dc23-625c-4aba-bd1e-d0b2d975241b.png)
![image](https://user-images.githubusercontent.com/25996703/162274141-389a3361-f609-4ab9-8b1c-80f7d35977d2.png)
I created a table and when I sql query everything works fine. but when I use ibis, it gives the error above.

[code]

[2022-04-07 18:42] kszucs commented on #3730
That wasn't intentional, so this is a valid issue. Thanks @gerrymanoim for reporting!

[2022-04-07 18:43] cpcloud commented on #3730
Ah, great! Thanks for the quick fix @kszucs.

[2022-04-07 18:50] cpcloud commented on #3731
Hi @z7ye can you answer these questions?

## What backend are you using?
## What version of `ibis-framework` are you using?
## What version of Python are you using?

[2022-04-07 18:50] z7ye commented on #3731
![image](https://user-images.githubusercontent.com/25996703/162275621-54b362c1-ad27-4e6c-a684-02a1cb23d7d8.png)

[2022-04-07 18:52] z7ye commented on #3731
Hi @cpcloud I am using ibis 2.0.0. python 3.7 and operating system is linux.

[2022-04-07 18:52] z7ye commented on #3731
backend is impala

[2022-04-07 18:59] cpcloud commented on #3731
This looks more like a question, let's try and keep that separate from your original issue.

[2022-04-07 18:59] cpcloud commented on #3731
What version of impala?

[2022-04-07 20:16] z7ye commented on #3731
![image](https://user-images.githubusercontent.com/25996703/162288730-d6f9c1a3-3dc2-4536-8613-70eb8fa89f83.png)

[2022-04-07 20:28] cpcloud commented on #3731
@z7ye Can you show the version of impala server?

[2022-04-07 20:40] z7ye commented on #3731
Hi @cpcloud I am actually connecting to Hive server.

[2022-04-07 21:15] #3730 closed

[2022-04-07 23:10] gerrymanoim opened #3735 "bug: Cannot subclass `_dt.Interval`"
Not sure if this is intentional or we are doing something weird. The following works:

[code]

This does not work but used to:

[code]

This raises a `ValueError`:

[code]

If I throw a breakpoint there I see

[code]

[2022-04-07 23:30] gvwilson commented on #3677
Just pulled from `master`, at 868ee86a, the SQL generated from:

[code]

is:

[code]

which looks good to me - thank you.

[2022-04-07 23:57] gerrymanoim opened #3736 "bug: Cannot use `_rlz.instance_of(list)`"
The following code now raises a `TypeError`

[code]

[code]

[2022-04-08 09:37] cpcloud commented on #3736
@kszucs Can you have a look?

[2022-04-08 09:41] cpcloud commented on #3735
@gerrymanoim `DataType` is now a subclass of `Annotable`, so arguments are declared the same way as they are when defining operations. Does that help?

[2022-04-08 09:42] cpcloud commented on #3735
Alternatively, you can define your own constructor, but it needs to accept `**kwargs` and those need to be forwarded to the call to `super().__init__`.

[2022-04-08 09:49] kszucs commented on #3736
All operation nodes must be hashable now, which means that it cannot store any unhashable types like list.

[code]

or coerce the already validated test value to a tuple:

[code]

[2022-04-08 10:07] cpcloud commented on #3731
@z7ye It looks like you need to enable the position alias feature. See [this page](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+GroupBy#LanguageManualGroupBy-GroupBySyntax) for details, but here's the important bit:

You can enable this feature using one of the configuration methods [here](https://cwiki.apache.org/confluence/display/Hive/AdminManual+Configuration#AdminManualConf

[2022-04-08 10:07] #3731 closed

[2022-04-08 10:09] cpcloud commented on #3731
I can confirm that this setting allows `GROUP BY 1` to work using the docker compose setup here: https://github.com/big-data-europe/docker-hive.

[2022-04-08 14:23] gerrymanoim commented on #3735
Yep - makes sense, Thanks.

[2022-04-08 14:23] #3735 closed

[2022-04-08 17:34] wesm commented on #3716
I asked the developer of the "other Ibis" project many years ago asking if they would consider renaming given that it has so many fewer users (https://pypistats.org/packages/ibis — 1673 downloads/month vs https://pypistats.org/packages/ibis-framework — 205k downloads/month)

[2022-04-08 20:31] p-a-a-a-trick opened #3739 "docs(perf): figure out how to stop re-rendering all jupyter notebooks during mkdocs serve"
mkdocs renders all jupyter notebooks during `mkdocs serve`, slowing documentation update/checking to a snail's pace.  It's tedious.  Is there some way to speed it up, have them render concurrently, or allow the user to pick-and-choose if/when notebooks should be re-rendered?

task: speed up mkdocs serve wrt rendering jupyter notebooks

[2022-04-08 20:38] gerrymanoim commented on #3736
Would it make sense to do this internally as part of a new validator? I understand that ops nodes must be hashable, but it is useful from a UX perspective to be able to take list args from users.

[2022-04-08 21:50] kszucs commented on #3736
By 'ibis.common.validators.tuple_of(inner_validator)' any iterable should be accepted but still represented as a tuple internally. Could you please try that?

[2022-04-10 05:53] cocoaway opened #3749 "Issue in docs : Tutorial , Distinct-based operations chapter"
Hi,
in the tutorial, in 'More Value expressions',  chapter Distinct-based operations, the result of the examples are python error messages instead of the results.

[2022-04-10 09:14] cocoaway opened #3750 "feature request : Updating and Deleting data in a row"
I think being able to delete data from a table is just as useful as creating and inserting them.

The same for updating it.

I would like to propose to create:

Delete entire record/row
 `connection.delete ('table_name', idx)` where idx is the table index.

Update columns values in a record/row
 `connection.update ('table_name', idx, data_to_be_updated as dict )` where idx is the table index follo

[2022-04-11 09:23] saulpw commented on #3750
Hi @cocoaway, thanks for the suggestion.  General DDL support for backends is already on the roadmap (#2796), and there's been interest in DDL/update previously (#2123).  The API will probably take an expression as a "where" clause, instead of a table index (by which I think you mean "row number"?) as it's more generally supportable.  We're hoping to get to this in the next few months.

Closing th

[2022-04-11 09:23] #3750 closed

[2022-04-11 15:40] gerrymanoim commented on #3736
Should `_rlz.list_of` be removed then since you can no longer use that?

I was able to get this working:

[code]

However, when I tried the following, I got a hash error:

[code]

[code]

[2022-04-11 17:10] mikegraham opened #3754 "Base SQL backend discards column names"
For a ColumnExpr that isn't a TableColumn, the base SQL backend unconditionally uses the name 'tmp' for the resulting query, rather than retaining the name

[code]

It seems like this should result in `'SELECT `int_col` + 3 AS `foo`\nFROM simple_table'`

[2022-04-11 17:20] kszucs commented on #3736
Yes, it should be removed.

`_rlz.column` requires another validator, please try:

[code]

[2022-04-11 19:16] gerrymanoim commented on #3736
Got it - thanks!

[2022-04-17 08:48] #3749 closed

[2022-04-18 05:04] cpcloud commented on #3736
Closing, please reopen if this is still an issue.

[2022-04-18 05:04] #3736 closed

[2022-04-18 08:51] cpcloud opened #3782 "ci: run `tpc-queries` in ci"
We caught a regression in TPC-H queries before 3.0.0, which is great, but we can catch these in PRs rather than through happenstance. We should run these in CI.

[2022-04-19 07:48] cpcloud commented on #3334
Closing this out, we've got a much improved repr in both UX and speed.

[2022-04-19 07:48] #3334 closed

[2022-04-19 07:52] cpcloud commented on #2703
Removing the bug label, this is working as expected so it's a feature request to make it more convenient to filter based on the value of a window function.

[2022-04-19 07:56] cpcloud commented on #2255
We're no longer passing this argument around. Please reopen this if it's still a problem.

[2022-04-19 07:56] #2255 closed

[2022-04-19 07:57] cpcloud commented on #1711
Closed by #3545.

[2022-04-19 07:57] #1711 closed

[2022-04-19 07:58] cpcloud commented on #1975
We're now correctly implementing `percent_rank` everywhere, and we have #3590 for adding `cume_dist`, closing this out.

[2022-04-19 07:58] #1975 closed

[2022-04-20 03:54] cpcloud commented on #3109
Closing. Feel free to submit a PR!

[2022-04-20 03:54] #3109 closed

[2022-04-20 03:55] cpcloud commented on #3028
I can't reproduce this.

[2022-04-20 03:55] #3028 closed

[2022-04-20 03:57] cpcloud commented on #2681
Feel free to submit a PR!

[2022-04-20 03:57] #2681 closed

[2022-04-20 08:53] cpcloud commented on #1892
Since we're not using `.sql` anywhere except in our own `.sql` method--we're using the pyspark API--there's no reason to keep this issue open.

[2022-04-20 08:53] #1892 closed

[2022-04-21 15:20] Alex-Monahan opened #3799 "question: Ibis Dev Install Failure on Windows"
Hi Folks!

I'm the docs / tutorials guy on the DuckDB Labs team and I was trying to create an Ibis tutorial for DuckDB's docs site. However, it looks like DuckDB isn't in the latest release. So I tried to build a development version of Ibis to test things out and ran into an error. I'm on Windows 10 and using Anaconda and Python 3.9. I'm following your instructions here: https://ibis-project.org/d

[2022-04-25 23:38] astrojuanlu opened #3819 "All cells failing from documentation notebooks"
For example, in https://ibis-project.org/docs/3.0.0/tutorial/02-Aggregates-Joins/, all cells have errors, starting with `No such table`.

Possibly related: https://github.com/ibis-project/ibis/discussions/3738

[2022-04-25 23:47] cpcloud commented on #3819
I think this is just me being a silly goose and not setting TEMPDIR.

[2022-04-26 09:22] #3782 closed

[2022-04-26 10:21] cpcloud commented on #3819
This is fixed.

[2022-04-26 10:21] #3819 closed

[2022-04-26 13:37] gforsyth commented on #3799
Hey @Alex-Monahan -- the `duckdb` backend was released yesterday -- you can install it using either `pip install ibis-framework[duckdb]` or `conda install -c conda-forge ibis-duckdb`

[2022-04-27 20:33] #2130 closed

[2022-04-27 20:42] cpcloud commented on #3688
Hey @EricSchles we're closing this out. Definitely still open to you building out the Hive backend, let us know if you're still interested!

[2022-04-27 20:46] cpcloud commented on #2703
This can be mapped to SQL's `QUALIFY` syntax for example, https://duckdb.org/docs/sql/query_syntax/qualify

[2022-04-27 20:52] EricSchles commented on #3688
I def am.  I caught covid and haven't been able to do anything.  Will
circle back when I'm well.

On Wed, Apr 27, 2022 at 4:42 PM Phillip Cloud ***@***.***>
wrote:

[2022-04-27 20:58] cpcloud commented on #1257
For example:

[code]

[2022-04-27 21:00] #3126 closed

[2022-04-27 21:01] #3017 closed

[2022-04-27 21:04] cpcloud commented on #669
This is fixed, 7 years later:

[code]

[2022-04-27 21:04] #669 closed

[2022-04-27 21:16] cpcloud commented on #2490
Closing. Please reopen if it's still a problem.

[2022-04-27 21:16] #2490 closed

[2022-04-27 21:20] #488 closed

[2022-04-27 21:21] cpcloud commented on #488
Please reopen if nested backticks come up.

[2022-04-27 21:23] cpcloud commented on #2453
@LeeTZ Can you still reproduce this?

[2022-04-27 21:29] cpcloud commented on #3688
Ah sorry to hear that. Will reopen then! Feel better.

[2022-04-28 08:36] #3575 closed

[2022-04-28 16:34] tswast opened #3832 "feat: create a table of literal values"
I'd like to be able to create a table from literal values. This can be handy for small utility tables that I might like to join to. It's also handy for test scripts to avoid having to create physical tables when not needed.

One possible way to implement this would be with the `UNNEST` operator (https://github.com/ibis-project/ibis/issues/1146), though there may be other ways of accomplishing this

[2022-04-28 16:39] cpcloud commented on #3832
@tswast Thanks for the request. I agree this is something that is incredibly useful for examples and testing and something that people expect to be able to do.

What do you think about `ibis.values` as the API, like the SQL construct?

This would be a special kind of `Node`, so dialects would be free to implement however they like, `UNNEST` or otherwise.

[2022-04-28 16:44] tswast commented on #3832
For the project I'm working on, my ideal scenario would be the same kind of node as a table expression, but a special case for literal values wouldn't be so bad.

[2022-04-28 19:11] gforsyth opened #3833 "bug: loss of decimal precision in aggregate in 3.x"
With ibis 2.1.1:

[code]

On 3.x.x
[code]

This is causing some understandable issues when serializing to substrait

[2022-04-28 19:18] cpcloud commented on #3833
Darn.

This is a fun area to work in because of the maximum decimal precision being a backend-dependent type.

We can probably bring back the max precision of `38` without breaking support for arbitrary precision decimal types.

[2022-04-29 14:20] gforsyth commented on #3833
I think I've got a semi-reasonable solution -- defaulting to `None` for `precision` and `scale` on the call to `largest` if `scale` and `precision` are `None`, but if they've been set to a non-`None` value, default to `38` and `2`.  Probably missing some edge cases

[2022-05-01 13:51] #3662 closed

[2022-05-01 14:45] #3833 closed

[2022-05-02 13:49] cpcloud opened #3851 "docs: extending examples fail to execute"
https://ibis-project.org/docs/dev/user_guide/extending/elementwise/

We need to update these to use the new/changed `output_dtype`/`output_shape` APIs.

There's [already a fix upstream to `mkdocs-jupyter`](https://github.com/danielfrg/mkdocs-jupyter/pull/77) to fail the doc build, it's just waiting on a release.

[2022-05-02 15:06] cpcloud commented on #3832
Is there a specific existing node you're thinking of here? `TableExpr`s can have different underlying nodes depending on the operation.

[2022-05-03 12:25] rtpsw commented on #3562
@cpcloud, where is this tracked?

[2022-05-03 15:45] #3851 closed

[2022-05-04 15:07] #3799 closed

[2022-05-04 15:51] toryhaavik opened #3860 "docs: Pin the table header of the Operation Support Matrix"
https://ibis-project.org/docs/dev/backends/support_matrix/

It would be nice if the header was pinned as you scroll down, so you can tell what backends support which operations further down the page

[2022-05-04 16:59] anjakefala commented on #2952
I would like to learn about Ibis, and have a bundle of experience with `pytest`. I would like to pick up this issue, if no one else is currently working on it.

The approach I currently want to take is the one outlined by @cpcloud:

But, this may change after beginning to take a look at it.

I want to evaluate this as part of the work:

[2022-05-04 17:04] cpcloud commented on #2952
Heck yeah!

Welcome @anjakefala.

Right, `download` is very simple and does a `git clone` of `ibis-project/ibis-testing-data`. Feel free to take a look at it, but it's pretty bare bones.

The bulk of the work is going to be in figuring out how to move all the functionality in the `load` subcommands like

[code]

into a `pytest.fixture` (that was my initial thought, not set in stone in any way).

[2022-05-05 15:36] saschahofmann opened #3863 "Overwriting Intersection or Difference operation requires monkey patching"
As described in ibis-project/ibis-bigquery#87 , trying to overwrite the operations used for Intersection or Difference operations requires monkey patching them.

Before ibis 2.0 it was possible to replace the `intersect_class` and `difference_class`, I am not sure why they were removed but `union_class` kept but is there another way to replace the classes or change how differences are compiled.

B

[2022-05-09 17:56] gerrymanoim opened #3879 "Ibis datatype parser doesn't parse "null" string"
I noticed that the following no longer parses correctly:

[code]
Because we're missing a null definition here: https://github.com/ibis-project/ibis/blob/master/ibis/expr/datatypes/core.py#L1060.

Is that intentional?

[2022-05-10 12:44] cpcloud commented on #3879
This looks like a regression. Fix incoming.

[2022-05-10 12:46] cpcloud commented on #3879
@gerrymanoim Can you comment on your use case here a bit? Would love to know how `null` is useful to y'all.

[2022-05-11 14:43] saschahofmann opened #3887 "Where clause does not use truncated timestamp column after aggregation"

[2022-05-11 15:15] cpcloud commented on #3887
This is fixed in ibis 3. You'll need to upgrade to pick up the fix:

[code]

[2022-05-11 16:49] saschahofmann opened #3888 "Ibis 3.0 doesnt export now()"
After updating to ibis 3.0.2 I am getting a `AttributeError: module 'ibis' has no attribute 'now'`. Its still mentioned as a top level function in the docs and I can't find anything in the changelog so I assume it's a bug?

[2022-05-11 17:19] cpcloud commented on #3888
It sounds like your environment is broken or you have [the other ibis](https://github.com/ibis-project/ibis/issues/3716) installed . Here's what I get on the `3.0.2` tag:

[code]

I see the same on `master`.

[2022-05-11 18:13] anjakefala commented on #3888
@saschahofmann One way to check which `ibis` you are loading is through the python interpreter:

[code]

That should give you the location of where the imported ibis is installed. Then you can double-check that it is what you expect.

If you did `pip3 install --upgrade ibis`, that would lead to the installing of [the other ibis](https://github.com/ibis-project/ibis/issues/3716) which does not have

[2022-05-11 18:33] raheems opened #3889 "Writing table to a specific schema"
Hello, I was wondering if it is possible to write to a specific schema within the database?

Suppose, there is a schema named "q_2021" under `q_database` and I want to write a table inside `q_2021` schema.

`create_table(self, name, expr=None, schema=None, database=None, force=False)`

How to specify the schema name here?

The `create_table()` writes to the `q_database` directly.

[2022-05-11 20:52] anjakefala commented on #2952
/take

[2022-05-11 22:21] saschahofmann commented on #3888
🤦 beginners mistake should have realised.

[2022-05-11 22:21] #3888 closed

[2022-05-11 22:37] anjakefala commented on #2952
There are a lot of configurable settings in the `click` `load`s.

For e.g. for the postgres:

[code]

I am making my best guess on reasonable `pytest` defaults based on what is in the conftest.py, and what the default settings are in `click.options`. But, if we actually need some of these loads to be configurable, or different from my guess at the default, that is going to be something to discuss

[2022-05-11 22:48] anjakefala commented on #2952
Found testing defaults in `ibis/backends{backend_name}/tests/conftest.py` !

[2022-05-12 09:11] cpcloud commented on #3888
@saschahofmann No worries! Thanks for opening an issue.

[2022-05-12 10:38] saschahofmann opened #3892 "Extending docs show failing stacktrace and resolve_name error"
The doc page about extending ibis shows a failing stacktrace.
https://ibis-project.org/docs/3.0.2/user_guide/extending/elementwise/#create-and-execute-a-julianday-expression

The fix for the first one is easy and I could do it. I just need to replace the old output_shape with output_dtype and output_shape.

But locally I am also struggling with the apparently new (? I couldnt find much about it in

[2022-05-12 10:43] cpcloud commented on #3892
@saschahofmann This is fixed in the `dev` docs: https://ibis-project.org/docs/dev/user_guide/extending/elementwise/#create-and-execute-a-julianday-expression.

You shouldn't have to define `resolve_name`. Can you show the stack trace from the error you're encountering?

[2022-05-12 10:57] saschahofmann commented on #3892
Sure thing
[code]

Which makes sense since I am inheriting from `ValueOp` which inherits from `Node` which defines that function

[2022-05-12 11:03] cpcloud commented on #3892
Can you show the expression?

[2022-05-12 11:11] saschahofmann commented on #3892
It should be the one from above (sorry I showed the error for endswith but the code is the same)
[code]
```ibis.common.exceptions.ExpressionError: Expression is not named: <class 'apps.base.core.ibis.compiler.StartsWith'>```

[2022-05-12 11:48] cpcloud commented on #3892
@saschahofmann What I mean is: how are you constructing the expression?

For example, the notebook has this code:

[code]

Can you show all of the code you're trying to run, including the method call to construct the expression?

[2022-05-12 11:50] cpcloud commented on #3892
If you're trying to project your custom operation, you must name it. For example:

[code]

[2022-05-12 11:51] cpcloud commented on #3892
If you show the *entire* stack trace, I may be able to help more!

[2022-05-12 12:35] saschahofmann commented on #3892
Ok here a reproducible example together with the code from above (it lives in my *compiler.py* file)

[code]

[code]

[2022-05-12 12:39] saschahofmann commented on #3892
wait a sec I think I made a mistake when replacing the output_dtype

[2022-05-12 12:42] cpcloud commented on #3892
@saschahofmann

[code]

is the source of the failure. A call to `.name(...)` is required here, ibis will not make up names for output columns.

[2022-05-12 12:47] saschahofmann commented on #3892
Yeah ok I mis typed the output_dtype to string instead of bool. I guess there is some logic that makes it a where clause when  the output isnt a string but a bool. in which case it doesnt need to be named.

[2022-05-12 12:47] #3892 closed

[2022-05-12 12:48] cpcloud commented on #3892
Right, expressions in `WHERE` clause don't need to be named, but anything that will be turned into the list of columns in a `SELECT ...` expressions (a projection) must be named.

Thanks for raising the issue!

[2022-05-12 13:08] rtpsw opened #3893 "feat(api): add support for local write"
This is similar to https://github.com/ibis-project/ibis/issues/3562 just for local-writing.

[2022-05-12 13:08] rtpsw commented on #3893
The proposed design can be seen [here](https://github.com/rtpsw/ibis/compare/0eb9bc50..93ac74c9#diff-8f6e03b936fae42459cef36d6bb2691392fb1ed9bd03c9846152ac6ebb6da892R5267-R5284) and [here](https://github.com/rtpsw/ibis-substrait/compare/2e93a1d8..7ea2888d#diff-14bbad08fcc797e6913a5f446547e349f60aefe5b2ede385c32c87826baabdbaR658-R677). If this design is acceptable, I'll set up a corresponding PR.

[2022-05-13 17:03] rcutler-ursa opened #3900 "notin() error when passing an empty sequence"
Filtering in version 3.0.2 based on values in a column "notin" an empty sequence raises a TypeError: Type null is not a primitive or string type.

[code]

This works correctly when `active_values` is not an empty list.

This used to work correctly in version 2.1.1.

[2022-05-13 17:10] cpcloud commented on #3900
Thanks for the report! Fix should be up shortly.

[2022-05-13 19:03] #1146 closed

[2022-05-13 19:43] gforsyth commented on #3900
Hey @rcutler-ursa -- which backend are you using for this?  and what is the type of `data["col"]` in your example?

[2022-05-13 19:44] rcutler-ursa commented on #3900
Postgres backend.  Data["col"] are strings.

[2022-05-13 19:52] gforsyth commented on #3900
Hey @rcutler-ursa -- I can confirm that it's broken on 3.0.2, but I also get an error trying to run this on 2.1.1 with the postgres backend.

Do you have a self-contained example that we can try out on 2.1.1 to try to figure out where the regression happened?

[2022-05-13 20:03] rcutler-ursa commented on #3900
I don't have a self-contained example, unfortunately.  I can try to pull some data and put one together if that would help.

[2022-05-13 20:04] gforsyth commented on #3900
I think we've got it narrowed down, actually.  Thanks!

[2022-05-13 20:04] rcutler-ursa commented on #3900
Cool.  Thanks for the quick response on this!

[2022-05-15 10:45] #3900 closed

[2022-05-15 16:35] #3860 closed

[2022-05-16 03:11] gforsyth commented on #3860
Thanks for the nudge @toryhaavik!  @cpcloud was successfully nerd-sniped and you can now enjoy pinned columns AND rows on https://ibis-project.org/docs/dev/backends/support_matrix/

[2022-05-16 06:24] saschahofmann opened #3914 "Cant pickle TableExpr in 3.0.2"
We are caching table expressions in redis but `table.op().source` (the table connection) isnt pickleable. Before 3.0.2 we were able to set that to `None`
[code]
and vice versa when fetching from cache.

Now the table (inheriting from `Annotable`) is immutable and I can't set that attribute
```TypeError: Attribute 'source' cannot be assigned to immutable instance of type <class 'ibis_bigquery.clien

[2022-05-16 08:33] saschahofmann commented on #3914
I now cache the schema only and construct the table expr from cached schemas. I'd still be curious whether there is a way to achieve the above?

[2022-05-16 14:14] gforsyth commented on #3914
Hey @saschahofmann -- I need to set up a bigquery account so I can test this myself, but does deleting the `source` attribute get the same thing done?

[code]

If not, I think this can be worked around by defining a custom Pickle class and using the `reducer_override` to skip over the `source` attribute

[2022-05-16 15:38] saschahofmann commented on #3914
Hm seems like pickle.dumps is actually working. The error with pickling happens when I try to cache the table in redis. I am trying to find out what call exactly is causing it.

[2022-05-16 16:16] saschahofmann commented on #3914
I am also struggling to get the original error locally but the error for sure was that the source wasnt serialiazable

How would I recover the BiqQueryTable with a connection since I can't set the source on it?

right now I am creating it like this with the schema coming from cache
[code]

[2022-05-16 16:21] saschahofmann commented on #3914
I would also assume that it happens for any backend not only for BigQuery

[2022-05-16 16:30] cpcloud commented on #3914
There are a couple options to consider:

1. You can always call `object.__setattr__(op, "source", new_source)`. This **NOT** recommended, but extremely expedient. `source` is not included in the `__hash__` computation for reasons similar to those for why `source` cannot be pickled, FYI.
2. You can cache `UnboundTable`s and always run `execute` by calling it as a method on the `Backend` instance as

[2022-05-16 16:35] saschahofmann commented on #3914
Thx @cpcloud ! 2. is not really an option and I think I will stick to caching the schema for now since this is the main reason we cache the table anyway. I can then recreate the table as mentioned above!

Just out of curiousity: why is the table object immutable? Maybe my use case is too niche but maybe it'd be nice to have an easy way to create a new object from an existing one with different kwa

[2022-05-16 16:40] cpcloud commented on #3914
The main reason is to allow operations to be hashable. We use dictionaries in many places. One important way in which we use them is to avoid unnecessary (re)computation.

[2022-05-16 16:44] cpcloud commented on #3914
Thanks @saschahofmann, really appreciate your feedback!

[2022-05-17 14:35] raheems commented on #3889
Can we mark it as a feature request, please? And thank you.

[2022-05-17 14:42] cpcloud commented on #3889
Hi @raheems, can you give an minimal working example of how you're currently using the API, that shows what backend you're using, how you're connecting and how you're calling the `create_table` API?

There might already be a way to do what you're asking.

[2022-05-17 15:02] raheems commented on #3889
# Connection

[code]
'3.0.2'

[code]
Define the condition table in `q_2021` schema

[code]

Running the `.execute()` works

[code]

[code]

Checking the type of the object
[code]
ibis.expr.types.relations.TableExpr

[code]

Writing `tbl_sample` as 'tbl_to_write' works but it only writes to the 'q_database'.
I want to write it to the `new_schema` schema. How to do that? The `schema` parameter doesn

[2022-05-17 15:18] cpcloud opened #3925 "refactor(operations): split Any into reduction and non-reduction operation"
`Any` is currently coupled into a `bool_or`-style reduction and an `EXISTS`-style column operation. We should split these into two different operations internally while preserving the user-facing API.

[2022-05-17 18:26] rtpsw opened #3927 "errors in ibis.udf.vectorized.analytic doctest example"
I bumped into errors in ibis.udf.vectorized.analytic doctest example that I managed to work around but would like to know what the right solution for is.

I'm using commit d52a2d (with some minor local changes that shouldn't matter) and got an AssertionError when running the following code, taken from the ibis.udf.vectorized.analytic doctest example:
[code]
This produced an AssertionError:
[code]

[2022-05-17 18:28] rtpsw commented on #3927
cc @icexelloss

[2022-05-17 20:19] icexelloss commented on #3927
The code you had looks similar to this:

https://github.com/ibis-project/ibis/blob/master/ibis/backends/tests/test_vectorized_udf.py#L589

Does this test pass for you?

[2022-05-17 21:08] rtpsw commented on #3927
This code doesn't format the table, which is where I'm seeing the error. As note, I have a workaround, and I'm just wondering what the right (non-workaround) solution should be.

I get a different problem when trying to run ibis tests, but this will be discussed elsewhere, to keep things focused here.

[2022-05-18 18:22] kszucs commented on #3925
Also remove `Reduction._reduction` property and all `getattr(obj, "_reduction", False)` checks across the codebase since this is the only operation where we utilize a dynamic check rather than an `isinstance(obj, Reduction)` which should be the preferred.

[2022-05-18 18:29] raheems commented on #3889
@cpcloud Any suggestions please?

[2022-05-18 18:44] cpcloud commented on #3889
`create_table` doesn't appear to have support for interacting with postgres schemas, but you can always use `con.raw_sql("CREATE TABLE {schema}.{table_name} ...")` for this in a pinch.

[2022-05-19 21:20] helensilva14 opened #3942 "docs: broken link on the tutorial's introduction page"
Hello!

The first link provided on https://ibis-project.org/docs/3.0.2/tutorial/01-Introduction-to-Ibis/#getting-started is the one indicating to follow the SQLite instructions, but the link is broken, it currently is defined like that: `Follow the [installation instructions for SQLite](https://ibis-project.org/backends/SQLite/#install) to setup an environment.`

And it should point to this one ht

[2022-05-20 03:50] cpcloud commented on #3942
Hi Helen!

If you edit the file and push up a PR for the change it'll be pushed to the dev site (https://ibis-project.org/docs/dev/) when merged to `master`.

It would be visible in the next release as well (3.1).

[2022-05-20 12:54] kszucs opened #3945 "test: cover BinaryValue.hashbytes with unittests"
According to coverage that method is untested https://app.codecov.io/gh/ibis-project/ibis/blob/master/ibis/expr/types/binary.py

[2022-05-20 15:09] #3942 closed

[2022-05-20 22:17] tswast opened #3953 "[BigQuery] regression with named parameter values"
In the BigQuery (string-based) backend, we no longer get the parameter names in the generated SQL text. See: https://github.com/ibis-project/ibis-bigquery/issues/132

I suspect this regression is related to https://github.com/ibis-project/ibis/pull/3276

Perhaps the names propogating isn't strictly necessary, but I'm not sure the correct fix in the BigQuery backend. We still get errors like `E

[2022-05-20 23:17] cpcloud commented on #3953
I think this is caused by our unwrapping of `Alias`s: https://github.com/ibis-project/ibis/blame/master/ibis/backends/base/sql/compiler/query_builder.py#L534-L535.

I'm investigating now.

[2022-05-21 00:32] cpcloud commented on #3953
As part of this or as a follow up we should add support for scalar parameters to at least one more backend so that we have some backend tests around them.

[2022-05-21 14:07] cpcloud commented on #3953
It turns out we do support them on other backends, but the BigQuery implementation is different enough that the refactor caused issues there.

[2022-05-22 14:06] cpcloud opened #3961 "refactor: deprecate CMSMedian and HLLCardinality names"
These operations' names are too specific. It's kind of a crap shoot whether a backend implements approximate medians using [count-min sketch](https://en.wikipedia.org/wiki/Count%E2%80%93min_sketch) or something else such as [t-digest](https://arxiv.org/abs/1902.04023).

We should rename `CMSMedian` to `ApproxMedian`.

Similarly, `HLLCardinality` implies a guarantee that the algorithm used to estim

[2022-05-23 08:39] #2651 closed

[2022-05-25 17:47] cpcloud commented on #1312
I think this makes the `isin` API confusing.

What if the right is a column of `array<T>` and the left is type `T`? Does that check if every element of the left side is in the corresponding right side array?

What if the both are columns of `array<T>`?

Stuffing all of these into a single `isin` API seems like it lead to user confusion and complicated code to handle all of these different cases.

[2022-05-25 17:56] icexelloss opened #3987 "feat: support stable semantics hash for ibis expr"
This is something we did with our internal use of ibis and broken recently with the newer ibis version, so I'd like to discuss the possibility of adding this support in ibis itself.

## Semantics Hash
The idea of semantics hash is that we want to compute an hash to present the result of an ibis expr so they can be cached / communicated between different program that uses ibis expr.

Example:
(1) P

[2022-05-25 18:07] saulpw commented on #3987
A stable hash within a single Ibis version makes a lot of sense.  Does it really have to be stable across Ibis versions though?  That seems like it would be unnecessarily restrictive for many changes (and would not be guaranteed stable across major versions anyway).

[2022-05-25 18:16] icexelloss commented on #3987
It doesn't need to be stable across ibis version (at least from our use cases). The hash is usually used for duration of a couple of days to weeks. And even the hash does change it is not a big deal, we can always recompute.

[2022-05-25 18:32] cpcloud commented on #3987
What changes would need to be made to ibis to support this?

[2022-05-25 19:03] icexelloss commented on #3987
I don't think there will be a lot.

I think some changes need to be made do ser/de of ibis expr/operations (basically ignore all cached attrs like `_hash`), making sure things like cached_property on `_safe_name` doesn't affect the pickling and tests.

[2022-05-25 21:58] #3925 closed

[2022-05-25 22:30] cpcloud opened #3989 "bug: comparing bool expr to bool literal generates invalid sql"
It looks like one of the recent refactorings may have broken comparisons of boolean to boolean:

This test:

[code]

produces this SQL:

[code]

[2022-05-25 22:55] anjakefala commented on #3961
/take

[2022-05-26 10:07] #3989 closed

[2022-05-26 23:35] anjakefala opened #3994 "test: move backend-specific backend tests to the larger suite"
Issue rephrased from: https://github.com/ibis-project/ibis/pull/3988#issuecomment-1138599760.

Since https://github.com/ibis-project/ibis/pull/3988, database loading is done automatically by the `pytest` `backend` fixtures. In theory, `ci/datamgr.py load` should not be necessary anymore.

However, we cannot remove `ci/datamgr.py load` from the CI. Some of the backends have tests that run against b

[2022-05-27 16:53] timothydijamco opened #4003 "bug: `mutate` followed by `select` makes mutation disappear"
## Repro

Here's an example on the Pandas backend, but this bug is at the expression level and should show up on all backends:
[code]

**Output**
[code]

## Initial investigation

The two `Selection` nodes are fused in a way such that the mutation is lost.

The expression just after the `mutate`, and before the `select`:
[code]
[code]

The expression after both the `mutate` the `select`:
[code]
[c

[2022-05-27 18:38] timothydijamco opened #4004 "perf: `select` Selections not fused when selections are column expressions"
## Repro

### Setup code
[code]

### Selections are strings ✔️
If the final `select` is passed strings (column names) for its selections, the two selection operations are fused into one node as expected:
[code]
[code]

### Selections are column expressions ❌
If the final `select` is passed column expression(s) for its selections, the two selection operations are _not_ fused (I think this is unexpe

[2022-05-27 18:48] cpcloud commented on #4004
I don't think this is strictly a bug, since it doesn't affect correctness.

SQL will be uglier and the pandas/dask backends will probably do some unnecessary computation, but I don't think we'll prioritize this at the moment.

[2022-05-30 10:59] #4003 closed

[2022-05-30 23:54] evgenygr opened #4021 "Query compiler handles literals incorrectly"
Consider the following code snippet:
[code]
it produces the following query:
`'SELECT t0.a, CAST(:param_1 AS SMALLINT) AS b \nFROM "A" AS t0'`
whereas the following query is expected, according to [documentation](https://ibis-project.org/docs/3.0.2/ibis-for-sql-programmers/#constant-and-literal-expressions):
`'SELECT t0.a, 5 AS b \nFROM "A" AS t0'`

[2022-05-31 14:00] #4021 closed

[2022-05-31 14:10] cpcloud commented on #4021
Hey Evgeny. Thanks for opening this issue.

We do perform casting of literals in the duckdb backend to give duckdb a hand when inferring the types of bind parameters.

Right now the implementation is heavy handed and casts every literal to it's inferred ibis type. This simplifies the code quite a bit since we don't have to special case anything for different types.

Was this casting problematic fo

[2022-05-31 14:10] cpcloud commented on #4021
Hey Evgeny. Thanks for opening this issue.

We do perform casting of literals in the duckdb backend to give duckdb a hand when inferring the types of bind parameters.

Right now the implementation is heavy handed and casts every literal to it's inferred ibis type. This simplifies the code quite a bit since we don't have to special case anything for different types.

Was this casting problematic fo

[2022-05-31 15:11] evgenygr commented on #4021
Hey @cpcloud . Thank you for reaching me out.
Today i realized that there is a sensible idea behind this `CAST(:param_1 AS SMALLINT) AS b` way of handling a literal. And decided to close the issue not to distract developers from really actual problems.
Just for educational purposes in case some beginner will read this, let me condense here what i found recently.
Unlike impala engine which compiles

[2022-06-01 08:12] saschahofmann opened #4027 "bug: Projection ignores mutation"
If you perform a projection after mutation using strings for the columns it will revert the mutation. If I use the column references from the mutated query it works as expected. My expectation was that the string name refers to the latest instance of that column on a query

[code]

[2022-06-01 10:15] cpcloud commented on #4027
@saschahofmann Thanks for creating the issue!

I think this exact bug was reported in https://github.com/ibis-project/ibis/issues/4003 and fixed shortly thereafter in https://github.com/ibis-project/ibis/pull/4005.

Can you give a try against `master`?

[2022-06-01 10:48] rtpsw opened #4028 "feat: Add optional summary and description to VectorizedUDF"
The summary and description of UDFs are useful in Substrait consumers, such as Arrow, that have such fields for other functions.

[2022-06-01 12:31] #4027 closed

[2022-06-02 15:31] gerrymanoim opened #4035 "docs: reduction operation docs broken"
https://ibis-project.org/docs/3.0.2/user_guide/extending/reduction/?h=last#step-1-define-the-operation

I noticed that these seem to be erroring/bad code.
[code]

[2022-06-02 16:00] tswast opened #4036 "perf: "large compile" test failing with some recent commit"
I noticed while working on https://github.com/ibis-project/ibis/pull/4006 that after some recent sync with master that the "large compile" test in the BigQuery backend started failing.

https://github.com/ibis-project/ibis-bigquery/blob/d3acf50de9d8e9015819efe300b4b5f9615c027a/tests/unit/test_compiler.py#L425

I was hoping this was just a misconfiguration with my local machine, but I see now that

[2022-06-02 17:04] tswast commented on #3863
I believe this issue can now be closed by #4006

[2022-06-02 18:20] cpcloud commented on #4036
It looks like this is a performance issue because the test did eventually finish. I can confirm locally that https://github.com/ibis-project/ibis/commit/55a0b356176d8e086c3c3592869bf9c477516a8b is in fact the commit that introduced the performance issue.

[2022-06-02 18:58] tswast commented on #4036
Wow, it did! 51 minutes versus a few seconds before this commit. 😳

[2022-06-03 10:31] #3863 closed

[2022-06-03 18:13] cpcloud commented on #1312
Closing this out for now. If someone asks for it, we can revisit adding an `ir.ArrayValue.contains` or similar API.

[2022-06-03 18:13] #1312 closed

[2022-06-07 10:55] #4036 closed

[2022-06-07 18:00] evgenygr opened #4054 "Milliseconds extraction problem in duckdb (and possibly, postgres)"
Consider the following code snippet:
[code]
The result is the following:
`'SELECT CAST(floor(EXTRACT(millisecond FROM t0.a)) AS SMALLINT) % 1000 AS millisecond \nFROM "A" AS t0'`
Here typecast to SMALLINT cannot be done in general case. For example:
[code]
Here the result is
[code]
This it is ok to do '% 1000' to eventually get milliseconds, since we see here whole seconds as well, but SMALLINT is

[2022-06-07 18:04] evgenygr commented on #4054
Also, i tried to do the same thing with duckdb-engine (`pip install duckdb-engine`). The result is the same:
[code]
the output:
`'SELECT CAST(floor(EXTRACT(millisecond FROM t0.a)) AS SMALLINT) % 1000 AS millisecond \nFROM "A" AS t0'`

[2022-06-07 21:25] cpcloud commented on #4054
@evgenygr Thanks for the bug report. Indeed this looks like a bug. Ibis is assuming that the result of `extract(milliseconds from thing)` which is `seconds * 1000 + milliseconds` is less than the max value of a signed 16-bit integer (`32767`) which is incorrect.

[2022-06-08 01:21] evgenygr opened #4058 "bug(duckdb): int-to-timestamp type cast issue in duckdb backend"
Consider the following code snippet:
[code]
It produces the following expression:
`'SELECT timezone(\'UTC\', to_timestamp(t0.a)) AS "cast(a, timestamp)" \nFROM "A" AS t0'`
Let us try to use this query to coerce int64 column to timestamp in duckdb:
[code]
We get an error:
[code]
It might be worth abolishing `timezone()` call, because `conn.execute('SELECT to_timestamp(t0.a) AS "cast(a, timestamp)"

[2022-06-08 14:15] #4054 closed

[2022-06-08 14:51] cpcloud opened #4062 "bug: pandas and dask interpret cast of integer to timestamps as nanos since epoch"
Every other backend interprets these as seconds since epoch. This is a breaking change.

[2022-06-08 17:41] anjakefala opened #4064 "Docs versioning tool is not building working relative links for ibis-project.org"
E.g. https://ibis-project.org/backends/SQLite/#install linked to from here: https://ibis-project.org/docs/3.0.2/tutorial/01-Introduction-to-Ibis/.

Source code shown: https://github.com/ibis-project/ibis/pull/4038/files#diff-15dc5f0c70736230279998fc98d3472bfe89bed557277c4e5e5640e41898bbc1L26.

From chatting with @cpcloud, when built locally the links are built appropriately, but it is not working

[2022-06-08 17:46] cpcloud commented on #4064
I think it might be an issue with `mkdocs-jupyter`, since we do have relative links elsewhere in the documentation e.g., [here](https://github.com/ibis-project/ibis/blob/master/docs/contribute/02_workflow.md?plain=1#L54).

[2022-06-08 22:32] anjakefala commented on #4064
/take

[2022-06-09 13:19] cpcloud commented on #2692
This appears to be working now by representing out-of-range timestamps with object dtype. I suspect that a recent version of pandas allows this to work.

[2022-06-09 13:19] cpcloud commented on #2692
This appears to be working now by representing out-of-range timestamps with object dtype. I suspect that a recent version of pandas allows this to work.

[2022-06-09 13:19] cpcloud commented on #2692
I will put up a PR to add a test for this and close it out.

[2022-06-09 13:33] #4058 closed

[2022-06-09 16:23] anjakefala commented on #3994
Example here: https://github.com/ibis-project/ibis/pull/4070

[2022-06-10 21:27] anjakefala commented on #4064
/take

[2022-06-10 22:31] anjakefala commented on #4064
I am still exploring this, but initial findings hint that this might be tricky to do: https://github.com/danielfrg/mkdocs-jupyter/issues/27

[2022-06-11 13:54] #3961 closed

[2022-06-13 17:47] anjakefala commented on #3994
/take

[2022-06-13 21:34] cpcloud opened #4083 "refactor: explore merging sort_keys and predicates into existing selections with no sort_keys/predicates"

[2022-06-14 11:47] #2952 closed

[2022-06-17 14:43] cpcloud commented on #3690
Done.

[2022-06-17 14:43] #3690 closed

[2022-06-20 16:57] rtpsw opened #4119 "Add support for data source UDFs"
Currently, Ibis supports UDFs only for vectorized functions - called vectorized UDFs. This issue is for adding support for UDFs for data sources, starting with a discussion about it. A data source UDFs is similar to a `table` node that is implemented by a UDF embedded within it. The user-code implementing a data source might look something like:
[code]
and the code for a node embedding it might lo

[2022-06-20 17:20] cpcloud commented on #4119
I suspect that we want to have a generic table UDF mechanism and not have something specific for data sources. Any function that produces rows should be eligible for use as a table function.

DuckDB has some useful prior art here with `read_parquet` and `read_csv_auto`, it might be worth looking into those for inspiration of the data model for these functions.

[2022-06-20 18:55] rtpsw commented on #4119
Do you mean to extend the `ibis.table` API to support a UDF parameter? Or do you have some other API in mind?

Agreed, this is what I meant in my example code. There are also multiple return-types of a UDF that could be considered valid for this purpose.

I found a page on [parquet](https://duckdb.org/docs/data/parquet) and [CSV loading](https://duckdb.org/docs/data/csv). However, these are pages

[2022-06-21 18:23] icexelloss commented on #4119
@rtpsw Thanks for this - I remember the mailing discussion concluded perhaps a design doc for more detailed discussion, I think what @cpcloud commented here could be good things to look into - Do you mind put together a simple design doc to circulate on the Arrow mailing list and include cpcloud and Weston to review?

[2022-06-21 19:28] rtpsw commented on #4119
@icexelloss, my main goal in this issue is to figure out a design that fits Ibis. I think it would be easier to present an end-to-end (Ibis/Ibis-Substrait-Arrow) design following this. Nevertheless, I'm currently experimenting with potential designs and may be able to use the experience so gained to cook up a design proposal doc like you're asking for.

[2022-06-22 12:09] rtpsw commented on #4119
After some experimentation, I'd propose the Ibis/Ibis-Substrait design shown below. @cpcloud, could you provide some feedback?

In Ibis:
- Add a new `UserDefinedSourceTable` operation derived from `PhysicalTable)` that has similar validating members as `VectorizedUDF` (refactor to reuse code) as well as a schema consistent with its output type.
- Add `class UserDefinedTable` which is similar to `U

[2022-06-22 13:39] icexelloss commented on #4119
This makes sense to me.

[2022-06-22 20:59] prmoore77 opened #4137 "feat(api): Add support for Recursive Common Table Expressions (CTE's)"
Please add support for Recursive CTE's in Ibis as a way to interact with hierarchical data using Python.

Please see repo:
https://github.com/prmoore77/ibis-olap-aggregation - for an example where we use Recursive CTEs to manually create table structures that allow aggregation of fact data along a dimensional hierarchy.

This can help with Business Intelligence workloads in Ibis that need to aggre

[2022-06-25 19:56] evgenygr opened #4149 "feat(api): allow first/last to work in aggregate (non-window) context"
Not sure if it is a bug or i am missing something.
Consider the following code snippet: (here i try to generate expression for "first"-based aggregation)
[code]
It produces the error:
`ibis.common.exceptions.IbisTypeError: argument passes none of the following rules: function_of('table',output_rule=one_of((reduction(), scalar(value(Any(nullable=True),),)),)), reduction(), scalar(value(Any(nullable

[2022-06-28 20:35] cpcloud commented on #4149
@evgenygr Thanks for raising the issue. The API you're looking for is probably `tbl.a.arbitrary('first')`. We will look into making `first`/`last` work as you've written them (they only work as window functions right now, mapping to SQL's `FIRST_VALUE`/`LAST_VALUE`).

[2022-06-29 17:23] evgenygr commented on #4149
Thanks, Phillip!

[2022-06-29 18:01] kesmit13 opened #4159 "create_table in base/sql/alchemy/__init__.py uses the wrong schema function"
There is a suspect function call in the alchemy backend in the `create_table` method. The `schema` parameter of that method is annotated as being a `sch.Schema`. The following code uses that object as a parameter to `ibis.schema` which only accepts pairs of tuples or a dict.
[code]
There is another `schema` function in `ibis.expr.schema` that I believe is the correct one to call in this case. That

[2022-06-29 20:57] saulpw commented on #4159
Hi @kesmit13, thanks for noticing this!  I think you're right, and we'll change this as you suggest, and also think about how we can differentiate them (even though the second one should only be used internally).

[2022-06-30 16:09] p-a-a-a-trick opened #4163 "pandas backend: can't join a join-derived table expression to another table expression"
# Issue
I'm trying to join three table expressions using the pandas backend.
Let `harvest`, `fields`, and `tracts` be table expressions from a pandas backend using three dataframes.

[code]
Expected: `tracted` is a table expression from joining the join-derived table expression `fielded` (`harvest` inner join `fields`) to the table expression `tracts`.

Actual: error, ST:

[code]
# Source
Problem

[2022-06-30 21:14] cpcloud opened #4164 "feat: add `__getattr__` to `StructValue`"
`StructValue` expressions allow access to fields using `__getitem__`, we should add dot attribute access with `__getattr__`.

[2022-06-30 21:16] cpcloud opened #4165 "bug(sqlalchemy): remove String/Primitive restriction on Array type inference for sqlalchemy"
SQLAlchemy type inference fails on arrays where the value type is not a primitive or string prevent use cases like `array<array<int>>` from working.

[2022-07-01 02:08] ibis-squawk-bot[bot] opened #4166 "chore: rotate ibis bot keys"
It's time to rotate the ibis project bots' keys.

[2022-07-01 10:27] cpcloud commented on #4166
I did this fairly recently so I'm closing until the next time.

[2022-07-01 10:27] #4166 closed

[2022-07-01 16:37] cpcloud commented on #2064
To address this is a breaking change, since the results of `.execute()` will change. Moving to 4.0.0.

[2022-07-01 16:46] #2569 closed

[2022-07-01 16:49] cpcloud commented on #3706
@timothydijamco Are you planning to get to this before 3.1? We'd like to release in a week or two.

[2022-07-01 17:00] timothydijamco commented on #3706
I don't expect to get to it by then–thanks for checking!

[2022-07-01 20:59] cpcloud commented on #3171
@gerrymanoim Are you planning on addressing this for 3.1? We're thinking about release in the next week or two.

[2022-07-02 18:30] cpcloud commented on #4035
This is fixed in the `dev` docs: https://ibis-project.org/docs/dev/user_guide/extending/reduction/

[2022-07-02 18:30] #4035 closed

[2022-07-02 19:22] gerrymanoim commented on #3171
Will see if I can look into this next week.

[2022-07-05 09:56] #2891 closed

[2022-07-05 21:31] saulpw commented on #4163
Yes, this looks to be a real bug.  We'll add a generic backend test for multi-table joins.  Thanks for filing it.

[2022-07-05 22:07] #4164 closed

[2022-07-06 10:21] #3171 closed

[2022-07-06 18:19] cpcloud commented on #1365
Closed by https://github.com/ibis-project/ibis/pull/4000.

[2022-07-06 18:19] #1365 closed

[2022-07-06 18:23] apreshill opened #4201 "Fix broken link in "Introduction to Ibis" tutorial"
In this section: https://ibis-project.org/docs/3.0.2/tutorial/01-Introduction-to-Ibis/#getting-started

The link here for the installation instructions is broken:
<img width="728" alt="Screen Shot 2022-07-06 at 11 19 20 AM" src="https://user-images.githubusercontent.com/12160301/177617044-bbf18b40-59f2-4235-9b9c-8b46ba335641.png">

The link that does not work is this one: https://ibis-project.org/

[2022-07-06 18:26] anjakefala commented on #4201
Thanks for opening an issue. =)

We already have an open issue for this problem: https://github.com/ibis-project/ibis/issues/4064. Unfortunately, the fix is a bit tricky, and your intuition was correct on that.

[2022-07-06 21:27] cpcloud opened #4202 "feat(api): support row-based table creation"
`create_table` should support insertion from rows, including list of non-mapping sequences, mappings, and generally anything that behaves like those without modification.

Something similar to this:

[code]

[2022-07-07 13:51] #4163 closed

[2022-07-07 13:57] cpcloud commented on #3352
@jayceslesar Would you mind adding that to the GitHub Wiki as a recipe? It could be helpful to others. In the meantime, I'm going to move this feature out of the 4.0.0 milestone.

[2022-07-07 13:59] cpcloud commented on #2823
I think we're going to go about this incrementally as opposed to a mega-PR that addresses all the code in ibis and runs mypy in CI.

Feel free to submit PRs that add type annotations.

[2022-07-07 13:59] #2823 closed

[2022-07-07 14:54] #2692 closed

[2022-07-07 15:30] p-a-a-a-trick opened #4204 "feat(duckdb): support the ability to load multiple files in a single command"
Request: allow registering multiple tables using glob when connecting to the duckdb backend using `ibis.connect('duckdb://...`

`conn = ibis.connect('duckdb://farmers.csv')` will only give me one table, `farmers`.

To connect to multiple CSVs using one DuckDB connection via the `ibis.connect` function, I instead use `:memory:` and do the following:

[code]
Ideally we'd get something like this inst

[2022-07-08 12:22] cpcloud opened #4208 "ci: poetry lock checking is broken"
This should start working again once https://github.com/python-poetry/poetry/pull/5973 is in a release.

[2022-07-09 18:37] cpcloud commented on #4028
Closing this out for now.

[2022-07-09 18:37] #4028 closed

[2022-07-09 18:38] cpcloud commented on #3927
@rtpsw @icexelloss It would be great if one of y'll submitted a PR to fix this!

[2022-07-09 20:34] rtpsw commented on #3927
@cpcloud, my workaround above is not based on a good understanding of the cause. I was hoping someone else could say what the right solution is. I don't feel confident removing a check that someone coded up for a reason I don't know.

[2022-07-11 16:56] anjakefala commented on #3994
I have some time right now to tackle this issue. Since https://github.com/ibis-project/ibis/pull/4087 `ci/datamgr.py load` is not needed anymore. Do we still want to move the backend-specific tests into the larger suite?

[2022-07-11 17:04] cpcloud commented on #3994
I think we do. I suspect this will need to be tackled in a few PRs, since there are a good number of backend specific tests.

I'll suggest the following order:

1. Move the SQL backend tests
2. Look into moving the pandas tests if they are generalizable
3. ^ same for the dask backend
4. Delete the backend specific test directories with prejudice.

[2022-07-11 19:50] evgenygr opened #4224 "bug(sqlalchemy): unsigned integer produces error at expression compilation"
Unsigned integer types produce error at compilation of expression:
[code]
Produces `KeyError`, while similar snippet with column `'a'` of `'int64'` type works good.

[2022-07-11 19:57] cpcloud commented on #4224
@evgenygr Thanks for raising the issue.

There's a refactoring of the internals that convert ibis types to sqlalchemy types that needs to be done to make this work.

The same refactor will allow support for struct field access in the postgres backend as well.

The issue is that we're converting ibis types to sqlalchemy types without considering the dialect of the SQLAlchemy backend, when in fact t

[2022-07-11 20:38] evgenygr commented on #4224
Thanks, Phillip! Very instructive details.

[2022-07-13 18:23] cpcloud commented on #4208
This is fixed in poetry 1.1.14.

[2022-07-13 18:23] #4208 closed

[2022-07-15 13:58] p-a-a-a-trick opened #4236 "bug(duckdb) reading parquet with multi-dim array yields ParseError: expected 'EOF' on `conn.table(`"
## Issue
Saving a multi-dimensional array to parquet and then attempting to read the table post-register yields a ParseError.
Not sure why.

Expected behavior: able to connect to a table expression (and then subsequently execute on it)

Actual behavior: `ParseError: expected 'EOF' at 0:8` on `conn.table("fields")`.

I think this is an Ibis issue specifically since I can query using `duckdb.connect

[2022-07-15 13:59] cpcloud commented on #4236
Yeah, the duckdb type parser probably doesn't handle repeated `[]`s.

[2022-07-15 16:58] #3590 closed

[2022-07-16 11:51] #4236 closed

[2022-07-18 01:30] rtpsw commented on #3927
Pinging authors to push this forward:

@emilyreff7, since you appear on the commit history for the [above-mentioned test](https://github.com/ibis-project/ibis/blob/e6aee859767d9de5069b8cb5a6f3f6185f0e9850/ibis/expr/analysis.py#L251-L254) that raises the error described here, could you provide some insight about it or refer to someone who can explain its rationale?

@icexelloss, since you appear on

[2022-07-18 17:40] emilyreff7 commented on #3927
From what I can tell, raising an error on a named destruct column has been long-standing logic prior to my commits, with the rationale being that it represents multiple column expressions which each should be named individually. I am wondering why naming the destruct column seems to fix the formatting error, given that the original error hits [here](https://github.com/ibis-project/ibis/blob/master

[2022-07-18 20:39] jcrist opened #4252 "Coverage ignores `__init__.py` but maybe shouldn't?"
Currently our `.coveragerc` file omits coverage for `__init__.py` files. This is usually fine for projects where `__init__.py` just imports functionality that's implemented elsewhere, but ibis's `__init__.py` files contain actual code (e.g. https://github.com/ibis-project/ibis/blob/master/ibis/backends/duckdb/__init__.py). It'd be good to include these files in coverage reports as well.

[2022-07-18 22:23] #4252 closed

[2022-07-21 07:31] yi-you opened #4260 "bug(impala) A delimited table should be explicitly stored as textfile"
https://github.com/ibis-project/ibis/blob/88ffe3367cb6a34936e578f6a9b68dc30d559507/ibis/backends/impala/ddl.py#L67
when the cluster's default format is set as parquet, this will cause an exception. It should be explicitly stored as textfile. such as

[code]

[2022-07-21 12:12] timothydijamco opened #4261 "perf(pandas): `Alias` executes its children twice"
On the Pandas backend, `Alias` executes the expression it is renaming (and the tree under it) twice

See [this notebook](https://gist.github.com/timothydijamco/b3d6e1cceb1e6f3fb9cf7ddb8d1db7eb)

[2022-07-21 14:00] cpcloud commented on #4260
@yi-you Thanks for the issue. Would you mind submitting a pull request for this? Looks like you've already done most of the work!

[2022-07-21 14:03] cpcloud commented on #4261
@timothydijamco We're going to release 3.1 tomorrow (July 22, 2022) so I don't think a fix for this will make it in! However, definitely for 4.0.0 or perhaps a bugfix 3.1.1 in between.

[2022-07-22 21:26] cwisecarver opened #4268 "Pandas Anti-Join does not behave as expected"
Hi ibis-project maintainers!

This is such a great project and I've been trying it out for a new project I'm prototyping. In testing it I've been using pandas and duckdb. I tried to use an anti-join to filter a set of events created by "bad actors" from a much larger set of events. My expectation of an anti-join was that rows where all three columns in the events table matched all three columns in

[2022-07-23 11:16] #4260 closed

[2022-07-25 15:26] gerrymanoim commented on #4261
Given the large changes for 4.0, we'd strongly prefer this in a 3.1.1 patch version if possible.

[2022-07-25 15:30] cpcloud commented on #4261
@gerrymanoim That makes sense! Happy to review PRs for this. Is this something that's high priority for y'all?

[2022-07-25 22:18] ibis-project-bot[bot] opened #4280 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2022-07-25 23:40] cpcloud commented on #4280
Working on this.

[2022-07-25 23:40] #4280 closed

[2022-07-26 20:59] cpcloud opened #4282 "bug(duckdb): newly created tables in an in-memory connection are not accessible"
[code]

[2022-07-26 21:00] cpcloud commented on #4282
This works if you call `.execute()` on the cursor, or if the data are in a file on disk.

[2022-07-26 21:02] gforsyth commented on #4282
Just confirming this isn't an issue on the `sqlite` backend

[code]

[2022-07-26 21:48] kesmit13 opened #4284 "tbl1.intersect(tbl2) fails in MySQL"
I'm trying to do a simple intersect of two tables using the MySQL backend in Ibis 3.0.2 (with Python 3.9), but I'm getting an error.

[code]

Here is the traceback. The issue is that each of the table expressions is still an `sqlalchemy.sql.selectable.Select` object rather than a string. Either they should be converted to strings to make the `join` work, or the wrong compile is happening which wou

[2022-07-27 10:32] cpcloud commented on #4284
@kesmit13 Thanks for the issue! I've put up #4288 to address this issue as part of slightly broader overhaul of set operations.

[2022-07-27 10:48] ams1 opened #4289 "support for pd.MultiIndex on rows and columns"
1. Great piece of software!
2. Is MultiIndex support planned (at least) for the pandas backend?

Below code...
[code]
...yields: `TypeError: Column names must be strings to use the pandas backend`

P.S.: I'd love to see a "universal" multiindex api specification!

[2022-07-27 14:08] timothydijamco commented on #4261
thanks! It's somewhat significant for us. I think I have a fix and can open a PR this week.

I believe this just needs to be changed to `return data` (`data` being the second argument) but I'll check it against the Ibis tests and add a re-execution test
https://github.com/ibis-project/ibis/blob/00c83e6912263d58cbf04d7904bc0e96ccb03af0/ibis/backends/pandas/execution/generic.py#L926-L930

[2022-07-27 14:14] timothydijamco opened #4290 "feat(ir): cast operands of `Comparable` to be the same type"
In 2.1.1, `Comparable` would check if its operands can be cast to the same type, raises an error if not, then performs the cast. This was changed in 3.0.0 in https://github.com/ibis-project/ibis/commit/e929f85b4ffadad432e6d8ee7267c58aea062454. Now we [check if they are castable](https://github.com/ibis-project/ibis/blob/master/ibis/expr/operations/logical.py#L64), raise an error if not, but don't

[2022-07-27 14:39] cpcloud commented on #4290
Thanks @timothydijamco.

@gforsyth @saulpw Curious what y'all think here.

[2022-07-27 14:40] cpcloud commented on #4261
@timothydijamco Sounds good! I'll review the PR as soon as it's up.

[2022-07-27 15:24] gerrymanoim commented on #4261
Thanks! We're doing another round of updates/patches, my main point was that we want to get these fixes relating to 3.0->3.1 in before we try to tackle the breaking changes slated for 4.0.

[2022-07-27 15:41] frproulx opened #4291 "bug(pandas): pandas backend does not support series == datetime.date() operations"
Pandas backend throws a `NotImplementedError` when checking equality of a column/`pd.Series` against a `datetime.date` object. Works with `datetime.datetime`, and works with BigQuery backend.

MWE:
[code]

[2022-07-27 15:43] cpcloud commented on #4291
Thanks for the report and the MWE! Slated for 3.2.0.

[2022-07-27 19:09] gforsyth commented on #4290
I'm in favor of doing the `cast` here as a part of the comparison.

As it stands now (to my reading), if I perform a comparison, it can
1. Fail, because the types are incompatible
2. Succeed, because they are compatible AND the backend in question performs the cast for us
3. Succeed in creating the expression, but fail on execution, because they are compatible but the backend doesn't cast for us.

[2022-07-27 19:11] gforsyth commented on #4291
xref #4290

[2022-07-29 10:45] #4284 closed

[2022-07-29 19:21] kesmit13 commented on #4284
@cpcloud Wow, that was fast. Thanks!

[2022-07-29 20:32] saulpw opened #4294 "duckdb: some parquet files don't load"
This code:

[code]

produces this error:

[code]

~~Renaming the file to `part_0.parquet` causes it to load fine.~~  Actually not.

[2022-07-29 20:43] gforsyth commented on #4294
suspect this may have to do with parquet files that have arrays in them

[2022-07-30 10:48] cpcloud commented on #4294
What's the schema of `part-0.parquet`?

Playing around with some array data and exporting to parquet, things seem to work:

1. Create some data using the DuckDB CLI:

[code]

2. Export it to parquet

[code]

3. Register with ibis in IPython

[code]

[2022-07-31 13:02] cpcloud commented on #4282
This problem occurs without ibis, using just SQLAlchemy:

[code]

I'll open an issue over on `duckdb-engine`.

[2022-07-31 13:33] cpcloud commented on #4282
Opened an issue here: https://github.com/Mause/duckdb_engine/issues/338

[2022-07-31 13:34] #4291 closed

[2022-08-01 11:47] #4064 closed

[2022-08-01 11:47] #4201 closed

[2022-08-01 15:21] anjakefala commented on #4064
For folks in the future:

mkdocs-jupyter cannot find relative links in upper directories with the
standard markdown syntax
(https://github.com/danielfrg/mkdocs-jupyter/issues/27).

The solution is to use html `<a>` tag (e.g. Follow the <a href='../../backends/SQLite#install'>installation instructions for SQLite</a> to setup an environment.\n",)

[2022-08-01 16:56] brendanbikes opened #4300 "bug(pandas): pandas backend does not support aggregation with list-based where condition"
Pandas backend throws a `NotImplementedError` when evaluating an ibis expression that contains a `groupby()` with an `aggregate()` that depends on a list-based `where` condition using `isin()`.

MWE

[code]

The specific error yielded is `NotImplementedError: Could not find signature for execute_node: <Contains, SeriesGroupBy, list>`

[2022-08-01 18:31] cpcloud commented on #4300
@brendanbikes Thanks for the MWE!

Looks like this functionality just isn't implemented.

[2022-08-01 21:03] santind opened #4303 "build: error generating docs in new dev environment"
I'm following the [development environment setup instructions for Conda](https://ibis-project.org/docs/3.0.2/contribute/01_environment/#support-matrix_1) to bootstrap a new environment on an M1 MacBook Pro.  When I attempt to run `mkdocs serve` per the instructions, it reports the error below.  I get the same error under Conda for both Intel and M1 architectures, and it's not completely obvious to

[2022-08-01 22:01] santind commented on #4303
I tested by going back to tag 3.0.0 and the environment seems to be okay.  `pytest -m core` runs successfully on 3.0.0 but is broken on HEAD due to missing sqlite DB files. `mkdocs serve` fails the same way for me all the way back to 1e69def.

[2022-08-01 22:06] anjakefala commented on #4303
I think this is less a problem on the ibis codebase end, and more to do with our recent version pins for the dependencies. With my older environment, `mkdocs serve` builds fine.

A cursory search came upon this: https://github.com/pygments/pygments/issues/2119. `pygments` had an API change.

[2022-08-02 08:13] hengaini2055 opened #4305 "How to set ibis.options.default_backend? I want to set to duckdb."
https://ibis-project.org/docs/3.1.0/ibis-for-sql-programmers/  In [2]
[code]
**When I run this code in ibis 3.1.0, I get the following errors:**

[code]
How to set default backend?

[2022-08-02 09:55] #4300 closed

[2022-08-02 10:28] cpcloud commented on #4305
Hi @hengaini2055! Thanks for the issue.

You can set the option to the result of calling `ibis.$backend.connect()`.

In your case `$backend == duckdb`. Here's an example:

[code]

If there's a particular DuckDB database you want to connect to, pass that in to `ibis.duckdb.connect`:

[code]

[2022-08-02 10:28] #4305 closed

[2022-08-02 10:37] cpcloud commented on #4303
Hm, the CI builds the docs successfully in CI and has pygments 2.12 in the environment. I also am able to run `mkdocs serve` without issue.

Both the CI (for the doc build) and my local environment are using the `nix` setup, which may be an important factor here.

I think the issue is not with pygments, but `mkdocs-jupyter`.

In the poetry lockfile, `mkdocs-jupyter` has version `0.21.0` while in t

[2022-08-02 10:45] cpcloud commented on #4303
PR to update `mkdocs-jupyte-feedstock` is [here](https://github.com/conda-forge/mkdocs-jupyter-feedstock/pull/17).

[2022-08-02 10:52] cpcloud commented on #4303
Alright, I've merged https://github.com/conda-forge/mkdocs-jupyter-feedstock/pull/17. In a couple hours I'll check back to see if the package is available on conda-forge and then run the ibis CI job that regenerates the conda lockfiles to get the latest version.

[2022-08-02 12:46] #4282 closed

[2022-08-02 13:46] anjakefala commented on #4303
Ah, that makes sense! `pygments` had the API change, and that was the version of `mkdocs-jupyter` that updated with it.

`master` builds and serves successfully for me.

[2022-08-02 16:47] brendanbikes opened #4309 "bug(backends): unexpected chained join behavior"
Chained joins in pandas backend don't behave as expected, and yield an error.

MWE:

[code]

Error:
[code]

Does the pandas backend support chained joins / is there a different syntax required than the docs suggest here -> https://ibis-project.org/docs/3.1.0/ibis-for-sql-programmers/?h=left_join#multiple-joins ?

[2022-08-02 17:38] #4268 closed

[2022-08-02 18:33] cpcloud commented on #4294
@saulpw I was able to look into this and with current ibis
10a659d66145403c872ec176b8a739613f0061e7 I cannot reproduce the problem.

Here's an IPython session that shows registering the table and
repr-ing in interactive mode.

[code]

I wonder if this is an environment issue.

Can you show the output of `pip freeze` with the interpreter/environment you
used to run the example?

[2022-08-03 01:26] hengaini2055 opened #4313 "question: ibis.table created table is no such table ?"
Ibis.options.default_backend is <ibis.backends.sqlite.Backend at 0x7f48267728e0>. When I create a table using such code:
[code]
THis is success. But when I check the t2, then I get the following errors:
[code]

What's the problem? Thanks!

https://ibis-project.org/docs/3.1.0/ibis-for-sql-programmers/#select-equivalent In [13]

[2022-08-03 10:53] cpcloud commented on #4294
@saulpw I'm going to close this out for now! Happy to help figure out the issue, but I don't think this is a problem in ibis.

[2022-08-03 10:53] #4294 closed

[2022-08-03 10:57] cpcloud commented on #4313
@hengaini2055 Thanks for the issue!

`ibis.table` doesn't create tables inside of any database, that is, it will not trigger execution of `CREATE TABLE` or similar constructs (e.g., `CREATE VIEW`).

`ibis.table` constructs what are called "unbound tables" which are expressions that represent tables that are not bound to any data source. You can use these unbound tables to build expression trees in

[2022-08-03 10:57] cpcloud commented on #4303
@santind I'm going to close this out for now! If you encounter any more problems, please open another issue. Much appreciated!

[2022-08-03 10:57] #4303 closed

[2022-08-03 10:59] cpcloud commented on #4309
@brendanbikes Thanks for the issue.

I'll take a closer look at this today and see if there's a straightforward way to fix the problem.

Really appreciate the MWE!

[2022-08-03 11:15] cpcloud commented on #4289
@ams1 Thanks for opening an issue!

I remember during my graduate school days being incredibly fond of column multiindexes and their ability to allow convenient and fast subsetting for commonly-subsetted keys 😃.

Unfortunately they don't really fit into ibis's data model right now and it's unlikely that they ever will.

No other relational-ish system that ibis interacts with supports anything like

[2022-08-03 12:07] cpcloud commented on #3927
This looks to be fixed by https://github.com/ibis-project/ibis/pull/4231.

[2022-08-03 12:07] #3927 closed

[2022-08-03 17:18] p-a-a-a-trick commented on #4309
This also fails for the SQLite backend:

[code]

[2022-08-03 18:39] santind commented on #4303
Just wanted to confirm that `master` builds and serves docs for me as well. Thank you @cpcloud and @anjakefala!

[2022-08-03 22:20] hengaini2055 commented on #4313
ibis.table created table such as above t2, should the same as backend table. When I ```t2``` in a jupyter cell, I get the above errors.
[code]

[2022-08-03 22:23] hengaini2055 commented on #4313
[code]

[2022-08-03 22:31] hengaini2055 commented on #4313
I get the point. The ibis.expr.types.relations.Table can't be execute in jupyter cell itself, but It can be referenced by expr as in [ibis doc](https://ibis-project.org/docs/3.1.0/ibis-for-sql-programmers/#non-trivial-grouping-keys)

[2022-08-03 22:39] hengaini2055 commented on #4313
[code]
type(countries) is ```ibis.expr.types.relations.Table```, type(events) is the same as ```ibis.expr.types.relations.Table```.

The code ```countris``` in jupyter cell will display all data, and ```events``` gets errors
``` OperationalError: (sqlite3.OperationalError) no such table: my_data```

[2022-08-04 13:56] gforsyth commented on #4313
Hey @hengaini2055!

When you define `events` above it is an `UnboundTable` -- it might be representative of an actual table in a given database, but that isn't something that `ibis` knows about.

It looks like you have `ibis.options.interactive = True` set.  I would recommend that you set that to `False` instead while you explore a little bit.

When `interactive == True`, then typing `events` is e

[2022-08-04 14:07] p-a-a-a-trick commented on #4309
Funnily enough, the duckdb backend yields a different error:

[code]

block:

[code]

[2022-08-05 01:27] mharrisb1 opened #4316 "feat(clickhouse): add implementations of `create_table`, `create_view`, and `create_database`"
All of these are accomplishable through `raw_sql` method but it would be nice for these to be fully implemented. In addition, it would also be useful to have the inverse methods implemented: `drop_table`, `drop_view`, and `drop_database`.

# Proposal

From my experience with Clickhouse, and some experience with implementing these for my own use cases, I've outlined a brief propsal for implementing